<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<div class="card">
				<form >
					<div class="card-content">
						<h4 class="card-title">Edit Report Group</h4>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label">Name <small>*</small></label> 
									<input class="form-control" ng-model="group.name" type="text" required="true"> 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Description <small>*</small> </label>
									<input class="form-control" name="description" ng-model="group.description" type="text" required="true"> 
								</div>
							</div> 
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<select id="userGroupSelect" data-style="select-with-transition" data-container="body" multiple title="User Group" data-size="7" data-ng-model="group.groupData" data-live-search="true" >
										<option ng-repeat="user in userGroup |orderBy:'name'" value="{{user.id}}">{{user.name}}</option>
									</select>																		
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<select id="sharedViewSelect" data-style="select-with-transition" data-container="body" multiple title="{{type}} list" data-size="7" data-ng-model="group.selectedList" data-live-search="true" >
										<option ng-repeat="sharedView in sharedviewList |orderBy:'name'" value="{{sharedView.id}}">{{sharedView.name}}</option>
									</select>									
								</div>
							</div> 
						</div>
                        <!-- Permission End -->
                        <a href="#/setting/report_group" >
	                        <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="save(group)">Save</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</div>
