<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Company Details</h4>
                    <!-- Company profile -->
                    <form name="profile" ng-submit="CompanyDetails.add()" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Name *</label>
                                    <input type="text" ng-model="profile.name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email ID *</label>
                                    <input type="email" ng-model="profile.email"  class="form-control" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Phone No *</label>
                                    <input type="number" ng-model="profile.phone" class="form-control" maxlength="12" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Description *</label>
                                    <textarea class="form-control" ng-model="profile.description" required></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Logo</label>
                                    <input type="file" class="form-control" file-model="profileImg.logo">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Address *</label>
                                    <textarea class="form-control" ng-model="profile.address" required></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Pincode *</label>
                                    <input type="number" ng-model="profile.pincode" class="form-control" maxlength="10" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">City *</label>
                                    <input type="text" class="form-control" ng-model="profile.city" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">State *</label>
                                    <input type="text" class="form-control" ng-model="profile.state" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Country *</label>
                                    <input type="text" class="form-control" ng-model="profile.country" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">DB Name *</label>
                                    <input type="text" class="form-control" ng-model="profile.dbName" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Start Date *</label>
                                    <input type="text" class="form-control date" ng-model="profile.startdate" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Plan *</label>
                                    <select class="form-control" ng-model="profile.plan_id" required>
                                        <option value="PT101">Basic Plan</option>
                                        <option value="PT102">Premium Plan</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-fill btn-primary pull-right" ng-disabled="profile.$invalid">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
