<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <table class="table table-striped table-no-bordered" id="company">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Email ID</th>
                                <th>Database Name</th>
                                <th>Start Date</th>
                                <th>Status</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in companyList">
                                <td>{{list.name}}</td>
                                <td>{{list.description}}</td>
                                <td>{{list.phone}}</td>
                                <td>{{list.address}},{{list.pincode}},{{list.city}} {{list.state}},{{list.country}}</td>
                                <td>{{list.email_id}}</td>
                                <td>{{list.db_name}}</td>
                                <td>{{list.start_date}}</td>
                                <td>
                                    <div ng-if="list.status_id == 'ST101'">
                                        Active
                                    </div>
                                    <div ng-if="list.status_id != 'ST101'">
                                        Inactive
                                    </div>
                                </td>
                                <td>
                                    <a href="#/company/edit/{{list.id}}">
                                        <button class="btn btn-primary btn-sm" title="Edit">
                                            <i class="fa fa-edit"></i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </a>
                                    <button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', list.id)" title="Delete">
                                        <i class="fa fa-trash"></i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>