<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<div class="card">
				<div class="card-content">
					<h4 class="card-title">Profile</h4>
					   <!-- Company profile -->
                       <form method="#" action="#" ng-if="loggedUserName=='Super Admin'">
							<div class="row">
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
	                                   	 <label class="control-label">Company Name</label>
	                                   	 <input type="text" ng-model="profile.company_name" class="form-control">
                               			 <span class="material-input"></span>
                               		</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group label-floating">
										<label class="control-label">Email ID</label>
										<input type="text" ng-model="profile.email" class="form-control" disabled>
										<span class="material-input"></span>
									</div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
		                                <label class="control-label">Contact No</label>
		                                <input type="text" ng-model="profile.contact_no" class="form-control" maxlength="10">
		                               	<span class="material-input"></span>
		                            </div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
		                               <label class="control-label">Address</label>
		                               <textarea class="form-control" ng-model="profile.address"></textarea>
		                               <span class="material-input"></span>
		                            </div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
										 <label class="control-label">City</label>
										 <input type="text" class="form-control" ng-model="profile.city">
										 <span class="material-input"></span>
		                             </div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
										 <label class="control-label">Country</label>
										 <input type="text" class="form-control" ng-model="profile.country">
										 <span class="material-input"></span>
		                             </div>
								</div>
							</div>
                            <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="saveCompanyProfile(profile)">Save</button>
                      </form>
					<br><br>


                      <!-- User profile -->
                      <form method="#" action="#" ng-if="loggedUserName!='Super Admin'">
							<div class="row">
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
	                                   	 <label class="control-label">User Name</label>
	                                   	 <input type="text" ng-model="userProfile.name" class="form-control">
                               			 <span class="material-input"></span>
                               		</div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
		                                <label class="control-label">Email ID</label>
		                                <input type="text" ng-model="userProfile.email" class="form-control" disabled>
		                               	<span class="material-input"></span>
		                            </div>
								</div>
							</div>
							<div class="row">	
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
		                               <label class="control-label">Contact No</label>
		                               <input type="text" ng-model="userProfile.contact_no" class="form-control" maxlength="10">
		                               <span class="material-input"></span>
		                            </div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
										 <label class="control-label">Address</label>
										 <textarea type="text" ng-model="userProfile.address"  class="form-control"></textarea>
										 <span class="material-input"></span>
		                            </div>
								</div>
							</div>
							<div class="row">		
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
										 <label class="control-label">City</label>
										 <input type="text" ng-model="userProfile.city" class="form-control">
		                            	 <span class="material-input"></span>
									</div>
								</div>
								<div class="col-sm-6">
								 	<div class="form-group label-floating">
										 <label class="control-label">Country</label>
										 <input type="text" ng-model="userProfile.country" class="form-control">
										 <span class="material-input"></span>
									</div>
								</div>
							</div>
                            <button type="button" ng-click="saveUserProfile(userProfile)" class="btn btn-fill btn-primary pull-right">Save</button>
                      </form>  
				</div>
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</div>
