<style>
    .filterBtn{
        margin: 0px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
        margin: 10px 0;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form >
                    <div class="card-content">
                        <h4 class="card-title">Email Send</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Shared View <small>*</small></label>
                                    <select id="sharedViewSelect" class="commonSelect"  data-style="select-with-transition" title="Select Shared View" data-size="7" ng-model="mail.sharedView" ng-change="publicviewSelect(publicview)" data-live-search="true">
                                        <option selected="selected" disabled="disabled" ng-value="" value="">Select Shared View</option>
                                        <option ng-repeat="sharedview in sharedviewList |orderBy:'name' track by $index" ng-if="sharedview.types!='publicview'" value="{{sharedview}}">{{sharedview.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Date <small>*</small></label>
                                    <input type="text" class="form-control datetime" ng-model="mail.date" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email Subject <small>*</small></label>
                                    <input type="text" class="form-control" ng-model="mail.subject" >
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Send Email To<small>*</small></label>
                                    <input type="radio" name="send_email" value="specific" ng-click="emailSelectType('specific')" checked>
                                    <label>Specific Email</label>&nbsp;&nbsp;
                                    <input type="radio" name="send_email" value="group" ng-click="emailSelectType('group')">
                                    <label>Report Group</label>

                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="emailTypeSelect">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email ID <small>*</small></label>
                                    <textarea class="form-control" rows="4" ng-model="mail.emailId" ></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="emailTypeGrp">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email ID <small>*</small></label>
                                    <select id="emailIdGrp" ng-model="mail.emailId" multiple="" data-style="select-with-transition" data-live-search="true" data-container="body" class="ng-pristine ng-untouched ng-valid" tabindex="-98">
                                       <option ng-repeat="user in emailGrpList" class="ng-binding ng-scope" value="{{user.email_id}}">{{user.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6" >
                                <div class="form-group label-floating">
                                    <label class="control-label">Message<small>*</small></label>
                                    <textarea class="form-control" rows="4" ng-model="mail.message"></textarea>
                                </div>
                            </div>
                        </div>
                        <a href="#/setting/email_report" class="btn btn-fill btn-danger pull-right" >Cancel</a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="send_Mail(mail)" >Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
