<nav class="navbar navbar-default navbar-absolute" data-topbar-color="blue">
	<div class="container-fluid">
		<div class="navbar-minimize">
			<button id="minimizeSidebar"
				class="btn btn-round btn-white btn-fill btn-just-icon">
				<i class="material-icons visible-on-sidebar-regular f-26">keyboard_arrow_left</i>
				<i class="material-icons visible-on-sidebar-mini f-26">keyboard_arrow_right</i>
			</button>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
				<span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<h4 style="padding:0px 3px;margin-top: 7px;"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;{{navTitle}}</h4>
			
		</div> 
		<!-- <div class="collapse navbar-collapse">
                 <ul class="nav navbar-nav">
                     <li ng-repeat="navigation in navigation" class="{{navigation.class}}"> 
                         <a href="{{navigation.url}}" class="dropdown-toggle" data-toggle="dropdown">
                             <p>{{navigation.name}}</p>
                         </a>
                     </li> 
                     <li class="separator hidden-lg hidden-md"></li>
                 </ul>
             </div> -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Datasource
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/datasource/add">Add</a>
                        </li>
                        <li>
                            <a href="#/datasource/">View</a>
                        </li>
                    </ul>
                </li> 
                <li class="dropdown"> 
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Metadata
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/metadata/add">Add</a>
                        </li>
                        <li>
                            <a href="#/metadata/">View</a>
                        </li>
                    </ul>
                </li> 
                <li class="dropdown"> 
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Dashboard
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#/dashboard/add">Add</a>
                        </li>
                        <li>
                            <a href="#/dashboard/">View</a>
                        </li>
                    </ul>
                </li> 
                <li class="dropdown"> 
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        Public View
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Add</a>
                        </li>
                        <li>
                            <a href="#">View</a>
                        </li>
                    </ul>
                </li> 
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>     
	</div>
</nav>