<div class="sidebar">
    <div class="sidebar-wrapper">
    	<ul class="nav nav-pills nav-pills-rose nav-pills-icons" style="padding: 0px 15px 15px 15px;">
             <li class="active">
             	<a href="javascript:void(0);" role="tab" data-toggle="tab">
                         <i class="fa fa-line-chart"></i> Charts
                    </a>
             </li>
         </ul>
        <ul class="nav twocolumns" data-columns="2">
             <li>
                 <a href="index.html">
                     <img src="theme/assets/chart_icon/circular-diagram-chart-graph-analytics-303f2178daa8bd0c-48x48.png" style="width: 25px; height: 25px;">
                 </a>
             </li> 
             <li>
                 <a href="index.html">
                     <img src="theme/assets/chart_icon/circular-diagram-chart-graph-analytics-3e3cccd0bb0ed040-48x48.png" style="width: 25px; height: 25px;">
                 </a>
             </li>
             <li>
                 <a href="index.html">
                     <img src="theme/assets/chart_icon/diagram-chart-graph-analytics-300a976bbdfb6be5-48x48.png" style="width: 25px; height: 25px;">
                 </a>
             </li>
             <li>
                 <a href="index.html">
                     <img src="theme/assets/chart_icon/diagram-chart-graph-analytics-30745746d4731c73-48x48.png" style="width: 25px; height: 25px;">
                 </a>
             </li>
         </ul>
   </div>
</div>