<style>
	.card {
		margin: 0px;
	}
	.card .nav-pills,.card .tab-content {
		margin-top: 0px;
	}
	.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
		font-size: 14px;
	}
	@media ( min-width : 992px) {
		.sidebar-mini .sidebar {
			width: 140px;
			position: fixed;
		}
	}
	@media ( min-width : 992px) {
		.sidebar-mini .main-panel {
			width: calc(100% -   0px);
			margin-left: 0px;
		}
	}
	.off-canvas-sidebar .nav i,.sidebar .nav i {
		margin-left: 0px;
	}
	@media ( min-width : 992px) {
		.sideSubBar {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
			position: fixed;
			width: 24%;
			height: 95vh;
		}
		.sideSubBarWidth1 {
			width: 26%;
		}
		.sideSubBarWidth2 {
			position: fixed;
			width: 89%;
			height: 90vh;
		}
	}
	.sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a{
		margin: 5px 0px;
	}
	@media ( min-width : 992px) {
		.sidebar-mini .sidebar .nav {
			margin-top: 10px;
		}
		.resetBtn{
			margin-left: -15%;
		}
	}
	.modal .modal-dialog {
		margin-top: 60px;
	}
	@media ( min-width : 992px) {
		.main-panel>.content {
			margin-left: 145px;
		}
	}
	.sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
		margin: 5px 0px;
	}
	.icon svg path {
		fill: #2196f3 !important;
	}
	.icon svg {
		width: 25px;
		height: 25px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	body {
		overflow: hidden;
	}





	.opHeader{
		margin-left: 7px;
		font-weight: 700;
	}



</style>



<div class="sidebar sideBarShow">
	<div class="sidebar-wrapper">
		<ul class="nav nav-pills nav-pills-rose nav-pills-icons" style="padding: 0px 15px 15px 15px;">
			<li class="active" style="width: 108px;">
				<a href="javascript:void(0);" role="tab" data-toggle="tab">
					<i class="fa fa-cog"></i>
					Machine Operations
					<!--Data Manipulation-->
				</a>
			</li>
		</ul>

		<ul class="nav" data-columns="3" style="height: 70vh; overflow: auto;">
			<li ng-repeat="op in operation" class="opHeader" rel="tooltip" title="{{op.name}}">
				{{op.name | limitTo:15}}{{op.name.length > 15 ? '...' : ''}}
				<ul class="nav twocolumns" style="width: 100% !important;">
					<li ng-repeat="opr in op.child" class="draggableArea" title="{{opr.name}}" style="cursor: pointer;">
						<i class="{{opr.value}} customIconColor"></i>
					</li>
				</ul>
			</li>
		</ul>

		<footer class="chartFooter">
			<ul data-columns="3" style="width: 100%;">
				<li class="draggableArea" title="MetaData">
					<a href="javascript:void(0);" style="padding: 10px !important;">
						<i aria-hidden="true" class="fa fa-database" style="color: yellow;font-size: 25px;"></i>
					</a>
				</li>
				<li  class="draggableArea" title="Process Data">
					<a href="javascript:void(0);" style="padding: 10px !important;">
						<i aria-hidden="true" class="fa fa-gear" style="color: green;font-size: 25px;"></i>
					</a>
				</li>
				<li  class="draggableArea" title="DB Output">
					<a href="javascript:void(0);" style="padding: 10px !important;">
						<i aria-hidden="true" class="fa fa-sign-out" style="color: red;font-size: 25px;"></i>
					</a>
				</li>
			</ul>
		</footer>

	</div>
</div>


<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card mainContainer" >
			<div class="card-header card-header-text" style="width:100%;">
				<div class="col-sm-5 form-group">
					<input type="text" class="form-control" placeholder="M/L Model Name" ng-model="machineModelName">
				</div>
				<div class="col-sm-5"></div>
				<!--<div class="col-sm-5">-->
					<!--<button class="btn btn-success" data-ng-click="ML_Test()">Test</button>-->
				<!--</div>-->
				<div class="col-sm-1">
					<button class="btn btn-info pull-right" data-ng-click="groupTypeModal()">Save</button>
				</div>
				<div class="col-sm-1">
					<button class="btn btn-danger resetBtn" data-ng-click="clearAll()">Reset</button>
				</div>
			</div>

			<div class="card-content">
				<div class="tab-content">
					<div class="droppableArea" style="height: 70vh;overflow: auto;border: 2px dashed;">
						<div style="margin-top: 20px;margin-left: 20px;">
							<div>
								<div id="canvasContainer">Droppable Zone</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<ul class="dropdown-menu opDropDown">
		<li><a href="javascript:void(0);" ng-if="op_MetaData" ng-click="opr_MetaData()">Select MetaData</a></li>
		<li><a href="javascript:void(0);" ng-if="op_ProcessData" ng-click="opr_ProcessData()">View Process Data</a></li>
		<li><a href="javascript:void(0);" ng-if="op_DBOutput" ng-click="opr_DBOutput()">Select DB Output</a></li>
		<li><a href="javascript:void(0);" ng-if="op_DBOutput" ng-click="opr_DBResult()">View Result</a></li>
		<li><a href="javascript:void(0);" ng-if="op_Operation" ng-click="opr_Operation()">Select Operations</a></li>
		<li><a href="javascript:void(0);" ng-if="op_Delete" ng-click="opr_Delete()">Delete</a></li>
		<li><a href="javascript:void(0);" ng-if="op_Operation" ng-click="opr_Update()">Delete and Replace</a></li>
	</ul>

</div>

<div ng-include src="'html/machine/modal.html'" include-replace></div>
<div ng-include src="'html/common/modal.html'" include-replace></div>
