<style>
	.gridImage {
		background: #00bcd4;
		border: 2px solid #999;
		cursor: pointer;
	}
	.customContainer {
		padding-left: 75px;
		padding-top: 90px;
	}
	.img-circle {
		border-radius: 50%;
		max-width: 100px;
		margin: 0px auto 0;
		margin-bottom: 10px !important;
		cursor: pointer;
	}
	.img-circle img {
		width: 40px;
		height: 40px;
		margin-top: 5%;
	}
	.thumbnail {
		padding: 20px;
		margin-bottom: 0px;
	}
	.img-circle {
		border-radius: 50%;
		max-width: 88px;
	}
	.custSearchPadding {
		padding: 20px;
	}
	.leftPadding {
		padding-left: 22px;
	}
	.img-circle:hover {
		border: 2px solid #2196f3;
		background: rgba(33, 150, 243, 0.08);
	}
	.ReportingElement  .form-control {
		background-image: none;
	}
	.thumbnail {
		border: 2px solid #ddd;
	}
	.selectedImage {
		border: 2px solid green !important;
		background: rgba(33, 150, 243, 0.08);
	}
	.card{
		position: fixed;
		height: 100vh;
		width: 50%;
	}
	.cardMainContainer{
		position: fixed;
		height: 100vh;
		width: 65%;
	}
	.picture-container {
		position: relative;
		cursor: pointer;
		text-align: center;
	}
	.picture {
		width: 90px;
		height: 90px;
		background-color: #FFF;
		border: 2px solid #CCCCCC;
		color: #FFFFFF;
		border-radius: 50%;
		margin: 5px auto;
		overflow: hidden;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
	}
	.picture-src {
		width: 100%;
	}
	.picture:hover {
		border-color: #2196F3;
	}
</style>


<div class="row">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-8">
		<div class="card cardMainContainer">
			<div class="card-content">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2; padding: 0px; min-height: 60px;">
						<input type="text" class="form-control" placeholder="Search for any app name" ng-model="search" style="height: 60px; padding: 10px;">
					</div>
					<div class="col-sm-4 ReportingElement" style="padding: 0px; min-height: 60px;">
						<select class="form-control" ng-model="machineList_Order" ng-change="orderMachineList()" style="height: 60px; padding: 10px;">
							<optgroup label="Time Stamp"></optgroup>
							<option value="asc">Ascending</option>
							<option value="desc">Descending</option>
						</select>
					</div>
					<div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top: 2px solid #dadfe2;">
						<div class="loaderImage"></div>
						<div class="col-sm-12 textAlignCenter custHeightCard stepFolder1">
							<div class="loaderImage"></div>
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder" title="{{mView}}" rel="tooltip" ng-repeat="mView in groupFolder|filter:search" >
								<div class="picture-container">
									<div ng-click="Folder.toggleImage($event, mView, $index)">
										<span>
											<img src="assets/img/demo/folder.png">
										</span>
									</div>
								</div>
								<span>{{mView | limitTo:16}}{{ mView.length > 16 ? '...' : ''}}</span>
							</div>
							<div class="stepLoading">
								<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
							</div>
							<h5  ng-hide="(groupFolder|filter:search).length" style="margin-top: 18%;" >No Machine Model</h5>
						</div>
						<div class="col-sm-12 stepFolder2" style="display: none;">
							<div class="loader-overlay ng-scope loadingBar" style="display: none;">
								<div class="loader-content">
									<div class="loader-index">
										<img ng-if="loadingBarDrawer == true" style="width: 70px; " class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" >
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12 textAlignCenter">
								<div class="row">
									<div class="col-sm-2" title="{{machineObj.name}}" ng-repeat="machineObj in machineSelectedFromList | filter:search | orderBy:machine_List_order ">
										<div class="picture-container">
											<div class="picture thumbnail img-circle imageToggle" ng-click="toggle($event, machineObj, $index)">
												<img ng-src="{{getDatasourceIconPath(machineObj)}}">
											</div>
										</div>
										<span>{{machineObj.name | limitTo:10}}{{ machineObj.name.length > 10 ? '...' : ''}}</span>
									</div>
									<h5 ng-hide="(machineSelectedFromList|filter:search).length" style="margin-top: 18%;" >No Machine Model</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="fixed-bottom">
			<div class="col-sm-12 textAlignCenter step1" style="min-height: 40px;" >
				<button data-toggle="tooltip" data-placement="top" class="btn btn-info btn-fill pull-right step1" ng-click="Folder.backToFolderView()" ng-if="backBtn==1" title="Back">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-fill pull-right" ng-click="showSwal('warning-message-and-cancel')" ng-if="permissionCheck('ml-delete') && selectedConfirm==1" title="Delete">
					<i class="fa fa-trash"></i>
				</button>
				<a data-toggle="tooltip" data-placement="top" href="#/machine/edit/{{machineId}}/0" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('ml-edit') && selectedConfirm==1" title="Edit">
					<i class="fa fa-edit"></i>
				</a>
				<a data-toggle="tooltip" data-placement="top" href="#/machine/view/{{machineId}}/1" class="btn btn-info btn-fill pull-right" ng-if="permissionCheck('ml-view') && selectedConfirm==1" title="View">
					<i class="fa fa-eye"></i>
				</a>
			</div>
		</footer>
		
	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>
