<style>
    .selectedOpr{
        border-radius: 3px;
        border: 1px solid #2196f3;
        background-color: #dedede;
        padding: 0px;
    }

    .mlTooltip {
        background: #000c;
        border-radius: 6px;
        color: #FFF;
        padding: 10px;
    }

    table th {
        position: -webkit-sticky; 
        position: sticky;
        top: 0;
        z-index: 5;
        background: #fff;
    }
    
</style>



<!--  Select Metadata Start -->
<div class="modal modal-primary bottom fade stick-up" id="SelectMetadata" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Select Metadata</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="commonSelect" ng-model="querySelector" data-live-search="true" data-container="body" title="Select Metadata" data-size="7" ng-change="selectDataSource(querySelector)" data-style="select-with-transition" style="margin-bottom: 20px;">
                                <option selected="selected" disabled="disabled" ng-value="" value="">Select Metadata</option>
                                <option ng-repeat="list in queryList | orderBy:'name'" value="{{list}}">{{list.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="MesaureDimensionPopUp">
                        <div class="form-group">
                            <label>Select Measure</label>
                            <ul class="list-unstyled example measurePadding" style="height: 40vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="measure in tableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div style="cursor: pointer">
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <input type="checkbox" value="{{measure}}" ng-model="Attributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkMeasureDimension(measure,'measure')" name="optionsCheckboxes">
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="MesaureDimensionPopUp">
                        <div class="form-group">
                            <label>Select Dimension</label>
                            <ul class="list-unstyled example measurePadding" style="height: 40vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in tableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div style="cursor: pointer">
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="Attributes.Dimension[dimension.reName]" ng-false-value='0' ng-true-value='{{dimension}}' ng-click="checkMeasureDimension(dimension,'dimension')" name="optionsCheckboxes">
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="saveMeaDimPopUp()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Select Metadata End -->





<!--  Select Machine Operations Start -->
<div class="modal modal-primary bottom fade stick-up" id="SelectMachineOperation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Machine Operation - {{operationType}}</h4>
            </div>
            <div class="modal-body">

                <div class="row" ng-if="operation_Parent == 'Data Cleansing' ">
                    <div class="col-sm-4" ng-if="child_Measure" >
                        <div class="form-group">
                            <label>Select Measure</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="measure in childTableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div>
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <!--<input type="checkbox" value="{{measure}}" ng-model="childAttributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkChildMeasureDimension(measure,'measure')" >-->
                                            <input type="checkbox" value="{{measure}}" ng-model="childAttributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkChildMeasureDimension(measure,'measure')" >
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="child_Dimension">
                        <div class="form-group">
                            <label>Select Dimension</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in childTableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div>
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="childAttributes.Dimension[dimension.reName]" ng-false-value='0' ng-true-value='{{dimension}}' ng-click="checkChildMeasureDimension(dimension,'dimension')" >
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="operationType != 'Find and Replace' ">
                        <div class="form-group" >
                            <label>Input Parameter</label>
                            <input class="form-control" type="text" placeholder="Enter Input Parameter" ng-model="MachineParameter.Cleansing.input">
                        </div>
                    </div>
                    <div class="col-sm-2" ng-if="operationType == 'Find and Replace' ">
                        <div class="form-group" >
                            <label>Find Value</label>
                            <input class="form-control" type="text" placeholder="Enter Find Value" ng-model="MachineParameter.Cleansing.find">
                        </div>
                    </div>
                    <div class="col-sm-2" ng-if="operationType == 'Find and Replace' ">
                        <div class="form-group" >
                            <label>Replace Value</label>
                            <input class="form-control" type="text" placeholder="Enter Replace Value" ng-model="MachineParameter.Cleansing.replace">
                        </div>
                    </div>
                </div>


                <div class="row" ng-if="operation_Parent == 'Data Regression' ">
                    <div class="col-sm-4" ng-if="child_Measure">
                        <div class="form-group">
                            <label>Select Measure</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="measure in childTableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div>
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <input type="checkbox" value="{{measure}}" ng-model="childAttributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkChildMeasureDimension(measure,'measure')" >
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="child_Dimension">
                        <div class="form-group">
                            <label>Select Dimension</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in childTableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div>
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="childAttributes.Dimension[dimension.reName]" ng-false-value='0' ng-true-value='{{dimension}}' ng-click="checkChildMeasureDimension(dimension,'dimension')" >
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="commonSelect_Reg" ng-model="MachineParameter.Regression.target" data-live-search="true" data-container="body" title="Select Target" data-size="7" data-style="select-with-transition">
                                <option selected="selected" disabled="disabled" ng-value="" value="">Select Target</option>
                                <option ng-selected="MachineParameter.Regression.target == col.reName" ng-repeat="col in tableColumns | orderBy:'name'" value="{{col.columnName}}">{{col.reName}}</option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-bottom: -30px !important;">
                            <div class="checkbox" >
                                <label>
                                    <input type="checkbox" ng-click="chkSplitValue()" id="SplitBasedOnNonTarget" name="SplitBasedOnNonTarget" ng-model="MachineParameter.Regression.SplitNonTarget">
                                    <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    Split Based on Non-Target
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="SplitChkValue">
                            <select class="commonSelect_Split" ng-model="MachineParameter.Regression.splitOn" data-live-search="true" data-container="body" title="Select Split On" data-size="7" data-style="select-with-transition">
                                <option selected="selected" disabled="disabled" ng-value="" value="">Select Split On</option>
                                <option ng-selected="MachineParameter.Regression.splitOn == col.columnName" ng-repeat="col in tableColumns | orderBy:'name'" value="{{col.columnName}}">{{col.reName}}</option>
                            </select>
                        </div>
                        <div class="form-group" ng-if="SplitChkValue">
                            <div class="col-sm-6">
                                <label>Split Train By</label>
                                <input class="form-control" type="text" placeholder="Enter Split Train By" ng-model="MachineParameter.Regression.SplitTrain">
                            </div>
                            <div class="col-sm-6">
                                <label>Split Test By</label>
                                <input class="form-control" type="text" placeholder="Enter Split Test By" ng-model="MachineParameter.Regression.SplitTest">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" ng-if="operation_Parent == 'Data Classification' ">
                    <div class="col-sm-4" ng-if="child_Measure">
                        <div class="form-group">
                            <label>Select Measure</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="measure in childTableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div>
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <input type="checkbox" value="{{measure}}" ng-model="childAttributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkChildMeasureDimension(measure,'measure')" >
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="child_Dimension">
                        <div class="form-group">
                            <label>Select Dimension</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in childTableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div>
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="childAttributes.Dimension[dimension.reName]" ng-false-value='0' ng-true-value='{{dimension}}' ng-click="checkChildMeasureDimension(dimension,'dimension')" >
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select class="commonSelect_Class" ng-model="MachineParameter.Classification.target" data-live-search="true" data-container="body" title="Select Target" data-size="7" data-style="select-with-transition">
                                <option selected="selected" disabled="disabled" ng-value="" value="">Select Target</option>
                                <option ng-selected="MachineParameter.Classification.target == col.reName" ng-repeat="col in tableColumns | orderBy:'name'" value="{{col.reName}}">{{col.reName}}</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row" ng-if="operation_Parent == 'Data Clustering' ">
                    <div class="col-sm-4" ng-if="child_Measure">
                        <div class="form-group">
                            <label>Select Measure</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="measure in childTableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div>
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <input type="checkbox" value="{{measure}}" ng-model="childAttributes.Measure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="checkChildMeasureDimension(measure,'measure')" >
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="child_Dimension">
                        <div class="form-group">
                            <label>Select Dimension</label>
                            <ul class="list-unstyled example measurePadding" style="height: 45vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in childTableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div>
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="childAttributes.Dimension[dimension.reName]" ng-false-value='0' ng-true-value='{{dimension}}' ng-click="checkChildMeasureDimension(dimension,'dimension')" >
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <div class="col-sm-6">
                                <label>Number Of Cluster</label>
                                <input class="form-control" type="text" placeholder="Enter Number Of Cluster" ng-model="MachineParameter.Clustering.numberOfCluster">
                            </div>
                            <div class="col-sm-6" ng-if="operationType == 'Hierarchical Clustering'" >
                                <select class="commonSelect_Cluster" ng-model="MachineParameter.Clustering.linkageType" data-live-search="true" data-container="body" title="Linkage Type" data-size="7" data-style="select-with-transition">
                                    <option selected="selected" disabled="disabled" ng-value="" value="">Linkage Type</option>
                                    <option value="average">Average</option>
                                    <option value="complete">Complete</option>
                                    <option value="single">Single</option>
                                    <option value="ward">Ward</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="saveMachineOperation(operation_Parent)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Select Machine Operations End -->





<!--  Show Table Data Start -->
<div class="modal modal-primary bottom fade stick-up" id="table_Data" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 35px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Top 100 Records</h4>
            </div>
            <div class="modal-body">
                <div ng-if="Load_Process_Res">
                    <img class="image-responsive-height" src="assets/img/demo/progress.svg" alt="Progress" style="width: 5%;margin-left: 45%;">
                </div>
                <div class="row" style="height: 400px;overflow: auto;">
                    <div class="col-sm-12" id="processTableDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Show Table Data End -->





<!--  Show DB Result Start -->
<div class="modal modal-primary bottom fade stick-up" id="DB_Result" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size: 35px;">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>Result</h4>
            </div>
            <div class="modal-body">
                <div ng-if="Load_DB_Res">
                    <img class="image-responsive-height" src="assets/img/demo/progress.svg" alt="Progress" style="width: 10%;margin-left: 45%;">
                </div>
                <div class="row" style="height: 400px;overflow: auto;">
                    <div class="col-sm-12" id="DB_Result_Div"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Show DB Result End -->





<!--  Data Base Output Start -->
<div class="modal modal-primary bottom fade stick-up" id="DB_Output" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <div class="col-sm-9">
                    <h4>Database Details</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 row">
                    <div class="col-sm-4">
                        <select class="commonSelect_DB" ng-model="MachineParameter.DBOutput.databaseType" data-live-search="true" data-container="body" title="Select DataBase Type" data-size="7" data-style="select-with-transition">
                            <option selected="selected" disabled="disabled" ng-value="" value="">Select DataBase Type</option>
                            <option value="mongodb">Mongodb</option>
                            <option value="mssql">Mssql</option>
                            <option value="mysql">Mysql</option>
                            <option value="oracle">Oracle</option>
                            <option value="postgresql">PostgreSQL</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <label>Host</label>
                            <input class="form-control" type="text" placeholder="Enter Host Detail" ng-model="MachineParameter.DBOutput.host">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <label>Port</label>
                            <input class="form-control" type="text" placeholder="Enter Port Number" ng-model="MachineParameter.DBOutput.port">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <label>User Name</label>
                            <input class="form-control" type="text" placeholder="Enter User Name" ng-model="MachineParameter.DBOutput.username">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="Enter Password" ng-model="MachineParameter.DBOutput.password">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 row">
                    <div class="col-sm-4">
                        <div class="form-group" >
                            <div class="checkbox" >
                                <label>
                                    <input type="checkbox" ng-click="chkExistingDataBase()" id="ExistingDataBase" name="ExistingDataBase" ng-model="MachineParameter.DBOutput.ExistingDataBase">
                                    <span class="checkbox-material">
                                        <span class="check"></span>
                                    </span>
                                    Existing DataBase
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 row">
                    <div class="col-sm-4" ng-if="ExistingDataBaseChkValue">
                        <div class="form-group label-floating">
                            <select class="commonSelect_DBName" ng-model="MachineParameter.DBOutput.EDataBaseName" data-live-search="true" data-container="body" title="Select DataBase Name" data-size="7" data-style="select-with-transition">
                                <option selected="selected" disabled="disabled" ng-value="" value="">Select DataBase Name</option>
                                <option	ng-repeat="item in databaselist | orderBy:'schema_name'" ng-value='{{item.schema_name}}'>{{item.schema_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="!ExistingDataBaseChkValue">
                        <div class="form-group">
                            <label>DataBase Name</label>
                            <input class="form-control" type="text" placeholder="Enter DataBase Name" ng-model="MachineParameter.DBOutput.DataBaseName">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Table Name</label>
                            <input class="form-control" type="text" placeholder="Enter Table Name" ng-model="MachineParameter.DBOutput.TableName">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="TestDBOutput('true')">Test</button>
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-disabled="saveDB_Btn == true" ng-click="SendDBOutput()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Data Base Output End -->





<!--  Update Operation Start -->
<div class="modal modal-primary bottom fade stick-up" id="update_Operations" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Insert New Operation</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="op in operation" ng-if="op.name == selected_Opr_Parent" class="opHeader" rel="tooltip" title="{{op.name}}">
                    {{op.name}}
                    <div class="row" style="margin: 1%;">
                        <div ng-repeat="opr in op.child" id="{{opr.key}}" ng-click="selectNewOperation(opr.key)" class="col-sm-1" title="{{opr.name}}" style="cursor: pointer;">
                            <i class="{{opr.value}} customIconColor" style="font-size: 25px;padding: 5px;padding-left: 25px;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="updateOperation()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  Update Operation End -->





<!--Custom Tooltip Start-->
<div  id="toolTipShow" class="tooltip mlTooltip" ></div>
<!--Custom Tooltip End-->


