<style>
	.card {
		margin: 0px;
	}
	.card .nav-pills,.card .tab-content {
		margin-top: 0px;
	}
	.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
		font-size: 14px;
	}
	@media ( min-width : 992px) {
		.sidebar-mini .sidebar {
			width: 140px;
			position: fixed;
		}
	}
	@media ( min-width : 992px) {
		.sidebar-mini .main-panel {
			width: calc(100% -   0px);
			margin-left: 0px;
		}
	}
	.off-canvas-sidebar .nav i,.sidebar .nav i {
		margin-left: 0px;
	}
	@media ( min-width : 992px) {
		.sideSubBar {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
			position: fixed;
			width: 24%;
			height: 95vh;
		}
		.sideSubBarWidth1 {
			width: 26%;
		}
		.sideSubBarWidth2 {
			position: fixed;
			width: 89%;
			height: 90vh;
		}
	}
	.sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a{
		margin: 5px 0px;
	}
	@media ( min-width : 992px) {
		.sidebar-mini .sidebar .nav {
			margin-top: 10px;
		}
	}
	.modal .modal-dialog {
		margin-top: 60px;
	}
	@media ( min-width : 992px) {
		.main-panel>.content {
			margin-left: 5px;
			margin-top: 45px;
		}
	}
	.sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
		margin: 5px 0px;
	}
	.icon svg path {
		fill: #2196f3 !important;
	}
	.icon svg {
		width: 25px;
		height: 25px;
	}
	.nav>li>a {
		padding: 10px 12px;
	}
	body {
		overflow: hidden;
	}

	.opHeader{
		margin-left: 7px;
		font-weight: 700;
	}
</style>




<div class="row">
	<div class="col-lg-9">
		<h4>{{machineModelName}}</h4>
	</div>
	<div class="col-lg-1">
		<!--<button type="button" class="btn btn-info" ng-click="runML()" style="margin-top: -5px;">Run ML Model</button>-->
		<button type="button" class="btn btn-info" ng-click="showSwal('warning-message-and-cancel')" style="margin-top: -5px;">Run ML Model</button>
	</div>
	<div class="col-lg-1"></div>
	<div class="col-lg-1">
		<a href="#/machine/edit/{{machineId}}/0" class="btn btn-primary" style="margin-top: -5px;">Edit</a>
	</div>
</div>


<div class="row">
	<div class="col-lg-12 col-md-12">
		<div class="card mainContainer">
			<div class="card-content">
				<div class="tab-content">
					<div class="droppableArea" style="height: 70vh;overflow: auto;border: 2px dashed;">
						<div style="margin-top: 20px;margin-left: 20px;">
							<div>
								<div id="canvasContainer">Droppable Zone</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<ul class="dropdown-menu opDropDown">
		<li><a href="javascript:void(0);" ng-if="op_ProcessData" ng-click="opr_ProcessData()">View Process Data</a></li>
		<li><a href="javascript:void(0);" ng-if="op_DBOutput" ng-click="opr_DBResult()">View Result</a></li>
	</ul>

</div>


<div ng-include src="'html/machine/modal.html'" include-replace></div>
<!--<div ng-include src="'html/common/modal.html'" include-replace></div>-->
