<link id="lazyload_placeholder">
<link href='custom-css/semantic.min.css' rel="styleSheet"  />
<link href="theme/assets/css/bootstrap.min.css" rel="styleSheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="styleSheet" />
<!--<link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="styleSheet">-->
<!--  Material Dashboard CSS    -->
<link href="theme/assets/css/turbo.css" rel="styleSheet" />
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="theme/assets/css/demo.css" rel="styleSheet" />
<!--     Fonts and icons     -->
<link href="custom-css/font-awesome.min.css" rel="styleSheet">
<!-- <link href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.mobile.all.min.css"> -->
<link href="theme/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="styleSheet">
<link href="custom-css/open_sans.css" rel="styleSheet">
<link rel="stylesheet" type="text/css" href="custom-css/material_icons.css" />
<link href="theme/assets/vendors/dropzone/dropzone.min.css" rel="styleSheet">
<link href="custom-css/common.css" rel="styleSheet">
<link href="custom-css/pivotCustom.css" rel="styleSheet">
<!-- <link href="custom-css/kendo.common-bootstrap.min.css" rel="styleSheet"> -->
<!-- <link href="custom-css/kendo.bootstrap.min.css" rel="styleSheet"> -->
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css" rel="styleSheet">
<link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" rel="styleSheet">
<link href="assets/custom-js/leaflet.tooltip.css" rel="styleSheet">
<link href="../../../assets/css/mapbox.css" rel="styleSheet">
<!--<link href="assets/css/mapbox.css" rel="styleSheet">-->
<link href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css" rel="styleSheet">

<link href="custom-css/datepicker.css" rel="styleSheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="styleSheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="styleSheet">
<style>
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #FFF;
    }

    ::-webkit-scrollbar
    {
        width: 6px;
        background-color: #dedede;
    }

    ::-webkit-scrollbar-thumb
    {
        background-color: #dedede;
    }
    .html2canvas-container { width: 3000px !important; height: 3000px !important; }
    .overflowAuto{
        overflow: auto;
    }
    .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
        top: 15px;
        left: 0px;
        box-sizing: border-box;
        display: inline-block;
        min-width: 40px;
    }
    .noUi-horizontal .noUi-handle-upper .noUi-tooltip {
        top: 15px;
        left: 0px;
        box-sizing: border-box;
        display: inline-block;
        min-width: 40px;
    }
    .noUi-tooltip {
        display: block;
        position: absolute;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #fff;
        padding: 5px;
        text-align: center;
    }
    .picture-container{
        cursor: pointer;
    }
    .dropdown-menu.bootstrap-datetimepicker-widget{
        visibility: visible !important;
        opacity: 1;
    }
    /*.bootstrap-datetimepicker-widget{
        position: fixed;
    }*/
    .bootstrap-datetimepicker-widget.dropdown-menu{
        margin: 60px 0;
    }
    .labelName{
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }
    .reoder_li{
        padding: 7px;
        cursor: move;
        border: 1px solid #ccc;
        padding: 2px 10px 2px 10px;
        background: #FFF;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .dropdown-menu>.active>a {
        color: #fff !important;
        text-decoration: none;
        background-color: #337ab7 !important;
        outline: 0;
    }
</style>

{% raw %}
<style>
    .gridImage{
        background: #00bcd4;
        border: 2px solid #999;
        cursor: pointer;
    }
    .customContainer{
        padding-left: 75px;
        padding-top: 90px;
    }
    .img-circle {
        border-radius: 50%;
        max-width: 100px;
        margin: 0px auto 0;
        margin-bottom: 10px !important;
        cursor: pointer;
    }
    .img-circle img{
        width: 40px;
        height: 40px;
    }
    .thumbnail {
        padding: 20px;
        margin-bottom: 0px;
    }
    .img-circle {
        border-radius: 50%;
        max-width: 88px;
    }
    .custSearchPadding{
        padding: 20px;
    }
    .leftPadding{
        padding-left: 22px;
    }
    .img-circle:hover{
        border: 2px solid #2196f3;
        background: rgba(33, 150, 243, 0.08);
    }
    .ReportingElement  .form-control{
        background-image:none;
    }
    .thumbnail{
        border: 2px solid #ddd;
    }
    .selectedImage{
        border: 2px solid green;
        background: rgba(33, 150, 243, 0.08);
    }
</style>
<div class="row">
    <div class="col-sm-2">&nbsp;</div>

    <div class="col-sm-8">
        <div class="card cardMainContainer">
            <div class="card-content ">
                <div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
                    <div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2;padding: 0px;min-height: 60px;">
                        <input type="text" class="form-control" placeholder="Search for any app name" ng-model="searchSource" style="height: 60px;padding: 10px;">
                    </div>
                    <div class="col-sm-4 ReportingElement" style="padding: 0px;min-height: 60px;">
                        <select class="form-control" ng-model="dataSourceAdd_Order" ng-change="orderDataSourceAdd()" style="height: 60px;padding: 10px;">
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                    <div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top:2px solid #dadfe2;overflow: auto;" >
                        <div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter"  ng-repeat="source in datasource | filter:searchSource |orderBy:dataSource_Add_order ">
                            <div class="fileinput-new thumbnail img-circle  imageToggle" ng-click="toggle($event,source)">
                                <img src="{{source.image}}">
                            </div>
                            <span>{{source.name}}</span>
                        </div>
                        <h5 ng-hide="(datasource|filter:searchSource).length" style="margin-top: 18%;">No Datasource</h5>
                    </div>
                    <div class="col-sm-12 textAlignCenter custHeightCard step4" style="display:none;border-top:2px solid #dadfe2;overflow: auto;" >
                        <form>
                            <div class="card-content">
                                <div class="form-group label-floating">
                                    <input class="form-control" type="file" file-model="datasourceImport.file" placeholder="Datasource File" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 step2" style="border-top:2px solid #dadfe2;display: none;padding-top: 3%;height: 68vh;overflow: auto;" >
                        <div class="loader-overlay ng-scope loadingBar" style="display: none;">
                            <div class="loader-content">
                                <div class="loader-index">
                                    <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
                            <div class="fileinput-new thumbnail img-circle selectedImage">
                                <img src="{{selectedDatasource.image}}">
                            </div>
                            <span>{{selectedDatasource.name}}</span>
                        </div>
                        <div class="col-sm-10 col-md-10 col-lg-10">
                            <div>
                                <div ng-if="loading==true || saveLoading==true " class="loaderImage"></div>
                            </div>
                            <form ng-if="(loading!=true || saveLoading!=true) && selectedDatasource.name!='Excel'" autocomplete="off" >
                                <div class="card-content">
                                    <div class="form-group label-floating">
                                        <input autocomplete="off" class="form-control" name="name" ng-model="dataSourceForm.connectionName" type="text" placeholder="Datasource Name" />
                                    </div>
                                    <div class="form-group label-floating">
                                        <input autocomplete="off" class="form-control" name="host" type="text" data-ng-model="dataSourceForm.host" placeholder="Host"/>
                                    </div>
                                    <div class="form-group label-floating">
                                        <input autocomplete="off" class="form-control" name="port" type="text" data-ng-model="dataSourceForm.port" placeholder="Port"/>
                                    </div>
                                    <div class="form-group label-floating">
                                        <input autocomplete="new-username" class="form-control" name="username" type="text" data-ng-model="dataSourceForm.username" placeholder="Username" />
                                    </div>
                                    <div class="form-group label-floating">
                                        <input autocomplete="new-password" class="form-control" name="password" type="password" data-ng-model="dataSourceForm.password" placeholder="Password" />
                                    </div>
                                    <div class="form-group label-floating" ng-show="dbListSelect==1">
                                        <select	class="form-control" ng-model="sourceDbName.name" data-plugin="selectpicker">
                                            <option value='' disabled selected>Please Select Database Name</option>
                                            <option	ng-repeat="item in databaselist" ng-value='{{item.schema_name}}'>{{item.schema_name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <form ng-if="(loading!=true || saveLoading!=true) && selectedDatasource.name=='Excel'" method="post" id="LoginValidation" autocomplete="off" enctype="multipart/form-data" >
                                <div class="card-content">
                                    <div class="form-group label-floating">
                                        <input autocomplete="off" class="form-control" name="name" ng-model="dataSourceForm.connectionName" type="text" placeholder="Datasource Name" />
                                    </div>
                                    <div class="form-group label-floating">
                                        <input type="file" class="form-control" file-model="dataSourceForm.excelFile" id="fileToUpload">
                                    </div>
                                </div>
                            </form>
                            <div ng-if="selectedDatasource.name=='Excel'">
                                <p style="color: red;">
                                    Note <br>
                                    * First Row of excel file should be Header<br>
                                    * There should be no column empty Header<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="fixed-bottom">
            <div class="col-sm-12 textAlignCenter step1" ng-if="selectedConfirm==1">
                <button class="btn btn-primary btn-fill pull-right" ng-click="confirmDatasource()">Add</button>
                <button class="btn btn-info btn-fill pull-right" ng-click="import()">Import</button>
            </div>
            <div class="col-sm-12 textAlignCenter step3" style="display: none;">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="closeDatasource()">Back</button>
                    <button type="submit" class="btn btn-info" ng-if="selectedDatasource.name!='Excel'" ng-click="testsource(dataSourceForm,selectedDatasource.name)">{{testBtn}}</button>
                    <button type="submit" class="btn btn-success" ng-disabled="saveButton!=1" ng-click="groupTypeModal(dataSourceForm,sourceDbName)">Save</button>
                </div>
            </div>
            <div class="col-sm-12 textAlignCenter step4" style="display: none;">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="closeDatasource()">Back</button>
                    <button type="submit" class="btn btn-info" ng-click="testImport(datasourceImport,selectedDatasource.name)">{{testBtn}}</button>
                    <button type="submit" class="btn btn-success" ng-disabled="saveButton!=1" ng-click="saveImportGroup(datasourceImport,selectedDatasource.name)">Save</button>
                </div>
            </div>
        </footer>
    </div>


    <div class="col-sm-2">&nbsp;</div>
</div>
<div ng-include src="'html/common/modal.html'" include-replace></div>
{% endraw %}