<style>
	.gridImage {
		background: #00bcd4;
		border: 2px solid #999;
		cursor: pointer;
	}
	.customContainer {
		padding-left: 75px;
		padding-top: 90px;
	}
	.img-circle {
		border-radius: 50%;
		max-width: 100px;
		margin: 0px auto 0;
		margin-bottom: 10px !important;
		cursor: pointer;
	}
	.img-circle img {
		width: 40px;
		height: 40px;
	}
	.thumbnail {
		padding: 20px;
		margin-bottom: 0px;
	}
	.img-circle {
		border-radius: 50%;
		max-width: 88px;
	}
	.custSearchPadding {
		padding: 20px;
	}
	.leftPadding {
		padding-left: 22px;
	}
	.img-circle:hover {
		border: 2px solid #2196f3;
		background: rgba(33, 150, 243, 0.08);
	}
	ReportingElement  .form-control {
		background-image: none;
	}
	.thumbnail {
		border: 2px solid #ddd;
	}
	.selectedImage {
		border: 2px solid green;
		background: rgba(33, 150, 243, 0.08);
	}
	.card{
		position: fixed;
		height: 100vh;
		width: 50%;
	}
	.cardMainContainer{
		position: fixed;
		height: 100vh;
		width: 65%;
	}
</style> 

<div class="row">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-8">
		<div class="card cardMainContainer">
			<div class="card-content">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2; padding: 0px; min-height: 60px;">
						<input type="text" class="form-control" placeholder="Search for any app name"  ng-model="search" style="height: 60px; padding: 10px;">
					</div>
					<div class="col-sm-4 ReportingElement" style="padding: 0px; min-height: 60px;">
						<select class="form-control" ng-model="dataSourceList_Order" ng-change="orderDataSourceList()" style="height: 60px; padding: 10px;">
							<optgroup label="Time Stamp"></optgroup>
							<option value="asc">Ascending</option>
							<option value="desc">Descending</option>
						</select>
					</div>
					<div class="col-sm-12 textAlignCenter custHeightCard step1" >
						<div class="loaderImage"></div>
						<div class="col-sm-12 textAlignCenter custHeightCard stepFolder2" >
							<div class="loaderImage"></div>
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder1" title="{{sView}}" rel="tooltip" ng-repeat="sView in groupFolder | filter:search" >
								<div class="picture-container">
									<div ng-click="toggleImage($event,sView,$index)" >
										<span>
											<img src="assets/img/demo/folder.png">
										</span>
									</div>
								</div>
								<span style="cursor: pointer;">{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
							</div>
							<div class="stepLoading">
								<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
							</div>
							<h5 ng-if="(groupFolder|filter:search).length==0" style="margin-top: 18%;" >No Datasource</h5>
						</div>

						<div class="col-sm-12 textAlignCenter custHeightCard stepFolder4" >
							<div class="loaderImage"></div>
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter " title="{{sView}}" rel="tooltip" ng-repeat="sView in groupFolderList | filter:search" >
								<div class="picture-container">
									<div ng-click="toggleGrpFolder($event,sView,$index)" >
										<span>
											<img src="assets/img/demo/folder.png">
										</span>
									</div>
								</div>
								<span style="cursor: pointer;">{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
							</div>
							<div class="stepLoading">
								<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
							</div>
							<h5 ng-if="(groupFolderList|filter:search).length==0" style="margin-top: 18%;" >No Datasource</h5>
						</div>

						<div class="col-sm-12 stepFolder3">
							<div class="loader-overlay ng-scope loadingBar" style="display: none;">
								<div class="loader-content">
									<div class="loader-index">
										<img ng-if="loadingBarDrawer == true" style="width: 70px; " class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" >
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12 textAlignCenter">
								<div class="row">
									<div class="col-sm-2  custSearchPadding textAlignCenter" ng-repeat="getSourcedata in dataSourceSelected | filter:search | orderBy:dataSource_List_order " title="{{getSourcedata.name}}" rel="tooltip">
										<div class="fileinput-new thumbnail img-circle imageToggle" ng-click="toggleImageSource($event,getSourcedata,$index)">
											<img ng-src="{{getDatasourceIconPath(getSourcedata.datasourceType)}}">
										</div>
										<span style="cursor: pointer;">{{getSourcedata.name | limitTo:10}}{{getSourcedata.name.length > 10 ? '...' : ''}}</span>
									</div>
									<h5 ng-if="(dataSourceSelected|filter:search).length==0" style="margin-top: 18%;">No Datasource</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 step2" style="display: none;">
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
							<div class="fileinput-new thumbnail img-circle selectedImage" ng-click="toggle($event)">
								<img src="{{selectedPath}}">
							</div>
							<span>{{selectedDatasource.name}}</span>
						</div>
						<div class="col-sm-10 col-md-10 col-lg-10">
							<form  autocomplete="off">
								<div class="card-content">
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="name" ng-model="view.connectionname" type="text" placeholder="Datasource Name" readonly/>
									</div>
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="host" type="text" ng-model="view.host" placeholder="Host" readonly />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="port" type="text" ng-model="view.port" placeholder="Port" readonly />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="new-username" class="form-control" name="username" type="text" ng-model="view.username" placeholder="Username" readonly />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="new-password" class="form-control" name="password" type="password" ng-model="view.password" placeholder="Password" readonly />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="password" type="text" ng-model="view.dbname" placeholder="Password" readonly />
									</div>
									<div class="form-group label-floating" ng-if="selectedDatasource.name=='Oracle'">
										<div class="row">
											<div class="col-sm-8" ng-if="dataSourceForm.serviceType">
												<input class="form-control" name="sid" type="text" data-ng-model="dataSourceForm.sid" placeholder="{{dataSourceForm.serviceType}}" readonly/>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-sm-12 step3" style=" display: none;">
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
							<div class="fileinput-new thumbnail img-circle selectedImage" ng-click="toggle($event)">
								<img src="{{selectedPath}}">
							</div>
							<span>{{selectedDatasource.name}}</span>
						</div>
						<div class="col-sm-10 col-md-10 col-lg-10">
							<form  style="padding-top: 15px;" autocomplete="off">
								<div class="card-content">
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="name" ng-model="dataSourceFormEdit.connectionName" type="text" placeholder="Datasource Name" readonly />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="host" type="text" data-ng-model="dataSourceFormEdit.host" placeholder="Host" />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="off" class="form-control" name="port" type="text" data-ng-model="dataSourceFormEdit.port" placeholder="Port" />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="new-username" class="form-control" name="username" type="text" data-ng-model="dataSourceFormEdit.username" placeholder="Username" />
									</div>
									<div class="form-group label-floating">
										<input autocomplete="new-password" class="form-control" name="password" type="password" data-ng-model="dataSourceFormEdit.password" placeholder="Password" />
									</div>
									<div class="form-group label-floating" ng-if="selectedDatasource.name!='oracle'">
										<select class="form-control" ng-model="sourceDbName.name" data-plugin="selectpicker">
											<option value='' disabled selected>{{sourceDbName.name}}</option>
											<option ng-repeat="item in databaselist" ng-value='{{item.schema_name}}'>{{item.schema_name}}</option>
										</select>
									</div>
									<div class="form-group label-floating" ng-if="selectedDatasource.name=='oracle'">
										<div class="row">
											<div class="col-sm-4">
												<input type="radio" name="serviceType" data-ng-model="dataSourceFormEdit.serviceType" value="sid"> SID
												<input type="radio" name="serviceType" data-ng-model="dataSourceFormEdit.serviceType" value="service name"> Service Name
											</div>
											<div class="col-sm-8" ng-if="dataSourceFormEdit.serviceType">
												<input class="form-control" name="sid" type="text" data-ng-model="dataSourceFormEdit.sid" placeholder="{{dataSourceFormEdit.serviceType}}" />
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="fixed-bottom">
			<div class="col-sm-12 textAlignCenter step1" >
				<button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-click="backToSharedView()" ng-if="backBtn==1" title="Back">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button data-toggle="tooltip" class="btn btn-danger btn-fill pull-right" ng-click="showSwal('warning-message-and-cancel')" ng-if="permissionCheck('datasource-delete') && selectedConfirm==1" title="Delete ">
					<i class="fa fa-trash"></i>
				</button>
				<button data-toggle="tooltip" class="btn btn-primary pull-right" ng-if="!allDataSourceData && selectedConfirm==1" ng-click="excelPrimary()" title="Append Data">
					<i class="fa fa-plus"></i>
				</button>
				<button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-if="allDataSourceData && selectedConfirm==1" ng-click="EditDatasource()" ng-if="permissionCheck('datasource-edit')" title="Edit">
					<i class="fa fa-edit"></i>
				</button>
				<button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-if="allDataSourceData && selectedConfirm==1" ng-click="viewDatasource()" ng-if="permissionCheck('datasource-view') && selectedConfirm==1" title="View">
					<i class="fa fa-eye"></i>
				</button>
				<button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-if="allDataSourceData && selectedConfirm==1" ng-click="export()" ng-if="permissionCheck('datasource-edit') && selectedConfirm==1" title="Export">
					<i class="fa fa-sign-out"></i>
				</button>
			</div>
			<div class="col-sm-12 textAlignCenter step2 " style="display:none;" >
				<div class="pull-right">
					<button type="button" class="btn btn-danger" ng-click="closeDatasource()">Close</button>
				</div>
			</div>
			<div class="col-sm-12 textAlignCenter step3 " style="display:none;" >
				<div class="pull-right">
					<button type="button" class="btn btn-danger" ng-click="closeDatasourceEdit()">Close</button>
					<button type="submit" class="btn btn-info" ng-click="testsource(dataSourceFormEdit,selectedDatasource.name)">{{testBtn}}</button>
					<button type="submit" class="btn btn-success" ng-click="update(dataSourceFormEdit,sourceDbName)" ng-if="permissionCheck('datasource-edit')">Update</button>
				</div>
			</div>
		</footer>

	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>
<div ng-include src=" 'html/datasource/modal.html'" include-replace></div>
