<div class="modal fade example-modal-lg" tabindex="-1" id="primaryKeyModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Primary Key</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation" id="upload-file" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="form-group form-material floating" data-plugin="formMaterial">
                                    <div class="col-sm-2">
                                        <label>Table Name</label>
                                    </div>
                                    <div class="col-sm-8 form-group">
                                        <select id="SelectTableSelect_Primary" class="form-control" ng-model="tablePrimaryObj.tablePrimaryName" ng-change="getPrimary(tablePrimaryObj.tablePrimaryName)">
                                            <option value="" disabled="disabled" >Select Table</option>
                                            <option ng-repeat="table in tableList" value-="{{table}}">{{table}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2"></div>
                                </div>
                            </div>

                            <div class="row" ng-show="primaryKeyDiv">
                                <div class="col-sm-8">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Choose Primary Key Column<small>*</small></label>
                                        <select id="SelectColumn_Primary" class="columnPrimarySelect" ng-model="tablePrimaryObj.column" multiple data-live-search="true" data-style="select-with-transition" title="Choose Primary Key Column" data-size="5" data-container="body">
                                            <option ng-repeat="column in tablePrimaryColumn" value="{{column.Field}}">{{column.Field}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-show="primaryKeyCheck" >
                                    <div class="form-group label-floating">
                                        <button class="btn btn-xs btn-danger" ng-click="deletePrimary(tablePrimaryObj)"><i class="fa fa-trash"></i></button>
                                    </div>
                                </div>
                                <div class="col-sm-8" ng-show="primaryKeyCheck" >
                                    <div class="form-group label-floating">
                                        <label class="control-label">Upload File <small>*</small></label>
                                        <input class="form-control" file-model="tablePrimaryObj.file" type="file" name="image">
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="errorMsg">
                                <div class="col-sm-6">
                                    <div class="required red">
                                        <span style="color: red; font-size: 16px;">{{errorMsg}}</span><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="primaryKeyCheck" >
                                <p style="color: red;">
                                    Note <br>
                                    * First Row of excel file should be Feader<br>
                                    * There should be no column empty Header <br>
                                    * There should be only one worksheet in Excel file<br>
                                    * Structure of excel files should be same as of previous uploaded file<br>
                                </p>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-show="primaryKeyCheck" class="btn btn-info" ng-click="test_Save_Excel()">Test & Save</button>
                <button type="button" ng-show="primaryKeySaveBtn" class="btn btn-info" ng-click="tablePrimaryCreate(tablePrimaryObj)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
