<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form name="user" ng-submit="save()" novalidate>
                    <div class="card-content">
                        <h4 class="card-title">Create User</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Name <small>*</small></label>
                                    <input class="form-control"  type="text" ng-model="user.name" required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label"> Email Id <small>*</small> </label>
                                    <input class="form-control" name="description" ng-model="user.email" type="email" required="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label"> Password <small>*</small> </label>
                                    <input class="form-control" name="description" ng-model="user.password" type="password" required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label"> Role <small>*</small> </label>
                                    <input type="text" class="form-control" value="Super Admin" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label"> Company {{user.company_id}} <small>*</small> </label>
                                    <select id="CompanyList" data-style="select-with-transition" data-container="body" title="Select User Group" data-size="7" ng-model="user.company" data-live-search="true" required>
                                        <option ng-repeat="list in CompanyList" value="{{list.uid}}" >{{list.name}}({{list.uid}})</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <a href="#/setting/" >
                            <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-fill btn-primary pull-right" ng-disabled="user.$invalid">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
