<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <table class="table table-striped table-no-bordered" id="company">
                        <thead>
                            <tr>
                                <th>Email Id(username)</th>
                                <th>Company</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="list in userList">
                                <td>{{list.email}}</td>
                                <td>{{list.company_id}}</td>
                                <td>
                                    <a href="#/user/edit/{{list.id}}">
                                        <button class="btn btn-primary btn-sm" title="Edit">
                                            <i class="fa fa-edit"></i>
                                            <div class="ripple-container"></div>
                                        </button>
                                    </a>
                                    <button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', list.id)" title="Delete">
                                        <i class="fa fa-trash"></i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>