<style>
.card{
	margin: 0px;
}
.card .nav-pills, .card .tab-content{
	margin-top: 0px;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
	font-size: 14px;
}
.custSize{
	width: 50px;
}
</style>
<div class="row">
	<div class="col-lg-3 col-md-12">
		<div class="card">
			<div class="card-header card-header-text">
				<ul class="nav nav-pills nav-pills-info">
	                <li class="active">
	                    <a href="javascript:void(0);#datasource" data-toggle="tab">Source</a>
	                </li>
	                <li>
	                    <a href="javascript:void(0);#column" data-toggle="tab">Column</a>
	                </li>
	                <li>
	                    <a href="javascript:void(0);#filter" data-toggle="tab">Filter</a>
	                </li>
	            </ul>
			</div>
			<div class="card-content table-responsive">
				<div class="tab-content">
                       <div class="tab-pane active" id="datasource">
                          <select class="form-control" ng-model="source.sourceoption" ng-change="sourceSelect(source.sourceoption)" disabled>
								<option ng-repeat="source in sourcedata" value="{{source}}">{{source.name}}</option>
							</select>
						  <div style="min-height: 320px;max-height: 320px;overflow: auto;">
							  <div class="checkbox" ng-repeat="tableListval in tableList">
									<label> <input type="checkbox" name="optionsCheckboxes"
									ng-model="Attributes.checkboxModelDimension[tableListval]"
									ng-click="onDrop(event,$index ,tableListval, external, type, 'itemType',Attributes.checkboxModelDimension[tableListval])">
										<span class="checkbox-material"><span class="check"></span></span>
										{{tableListval | limitTo:14}}{{ tableListval.length > 22 ? '...' : ''}}
									</label>
							  </div>
						   </div>  
                       </div>
                       <div class="tab-pane" id="column" style="min-height: 380px;max-height: 380px;overflow: auto;">
                            <!-- Measure -->
                            <h5>Measure</h5>
                            <label> 
	                                <input type="radio" name="optionsRadios" ng-click="nameTypeDimension='database_dimension'" checked> Database Name
	                            </label>
	                            <label>
	                                <input type="radio" name="optionsRadios"> Business Name
	                            </label> 
                            <div style="height: 110px;overflow: auto;">
	                            <ul class="list-unstyled example" ng-if="nameTypeMeasure=='business_measure'">
									<li class="margin-bottom-15"
										ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
										for="checkboxDimension{{$index}}" class="">{{keys.reName}}</label>
										<span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
										style="cursor: pointer;" ng-click="measureDimensionDropdown('measureDiv',$index)"><i
											class="fa fa-ellipsis-v" data-toggle="dropdown"
											aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
												<li class='m-l-5c'><a href=""
													ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
														To Dimension</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
									</li> 
								</ul>
								<ul class="list-unstyled example" ng-if="nameTypeMeasure=='database_measure'">
									<li class="margin-bottom-15"
										ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
										for="checkboxDimension{{$index}}" class="">{{keys.columnName}}</label>
										<span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
										style="cursor: pointer;"
										ng-click="measureDimensionDropdown('measureDiv',$index)"><i
											class="fa fa-ellipsis-v" data-toggle="dropdown"
											aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
												<li class='m-l-5c'><a href=""
													ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
														To Dimension</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
									</li> 
								</ul>
							</div>	
                            <!-- Dimension -->
                       		<h5>Dimension</h5>
                       		<label>
	                                <input type="radio" name="optionsRadios1" ng-click="nameTypeDimension='database_dimension'" checked> Database Name
                            </label>
                            <label>
                                <input type="radio" name="optionsRadios1" ng-click="nameTypeDimension='business_dimension'"> Business Name
                            </label>
                       		<div style="height: 110px;overflow: auto;">
	                           <ul class="list-unstyled example"  ng-if="nameTypeDimension=='business_dimension'">
									<li class="margin-bottom-15"
										ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.reName}}</label>
										<span class="pull-right dropdown buttonDropdownDimension{{$index}}"
										style="cursor: pointer;"
										ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
											class="fa fa-ellipsis-v" data-toggle="dropdown"
											aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
												<li class='m-l-5c'><a href=""
													ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="moveToDimMeasure('Measure',keys.reName)">Move
														To Measure</a></li>
												<!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
																Group</a>
												</li> -->
												<!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
												</li> --> 
												<li class='m-l-5c'><a href=""
													ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
									</li>
								</ul>
								<ul class="list-unstyled example" ng-if="nameTypeDimension=='database_dimension'">
									<li class="margin-bottom-15"
										ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.columnName}}</label>
										<span class="pull-right dropdown buttonDropdownDimension{{$index}}"
										style="cursor: pointer;"
										ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
											class="fa fa-ellipsis-v" data-toggle="dropdown"
											aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
												<li class='m-l-5c'><a href=""
													ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href=""
													ng-click="moveToDimMeasure('Measure',keys.reName)">Move
														To Measure</a></li>
												<!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
																Group</a>
												</li> -->
												<!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
												</li> --> 
												<li class='m-l-5c'><a href=""
													ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
									</li>
								</ul>
							</div>	
                       </div> 
                       <div class="tab-pane" id="filter" style="min-height: 380px;max-height: 380px;overflow: auto;">
                            <div class="card-block">
								<div class="custPanel">
									<div class="panel-heading">
										<span>
											Filter
											<button class="btn btn-primary btn-sm"  style="float: right;margin: 0px 1px;" ng-click="filter()">+</button>
										</span>
									</div>
								</div>
								<div style="min-height: 300px;max-height: 300px;overflow: auto;">
								    <span ng-if="limit=='' && whereConditionText==''"><h4>No Data</h4></span>
									<span ng-if="whereConditionText!=''"><h5>Condition:</h5>{{whereConditionText}}</span>
									<span ng-if="limit!=''">Limit:</span>{{limit}}</span>
								</div>
							</div>
                       </div>
                 </div>      
			</div>
		</div>
	</div>
	<div class="col-lg-9 col-md-12">
		<div class="card" >
			<div class="card-header card-header-text" style="width: 100%;">
				<div class="row">
					<div class="col-sm-6">
						<ul class="nav nav-pills nav-pills-info" style="display: inline-block;">
			                <li class="active">
			                    <a href="javascript:void(0);#metadata" id="metadata_btn" data-toggle="tab">Metadata</a>
			                </li>
			                <li>
			                    <a href="javascript:void(0);#datatable" id="datatable_btn" data-toggle="tab">Datatable</a>
			                </li>
			            </ul>
		            </div>
		            <div class="col-sm-4">
		            	<input type="text" class="form-control" placeholder="Metadata Name" ng-model="metadataName">
		            </div>
		            <div class="col-sm-2">
			            <button class="btn btn-success btn-round pull-right" data-ng-click="update()" style="margin-top: 0px;">Update</button>
			        </div>    
			     </div>  
			</div>
			<div class="card-content">
				<div class="tab-content" >
						
                       <div class="tab-pane active" id="metadata" style="min-height: 360px;max-height: 360px;overflow: auto;">
                           <div data-role="content" id="canvasContainer"></div>
                           
                       </div>
                       <div class="footer">
                       		<button class="btn btn-info btn-round pull-right" data-ng-click="getData(source.sourceoption)" ng-show="updateBtnOnLoad">Update</button>
                       </div>
                       <div class="tab-pane" id="datatable" style="min-height: 360px;max-height: 360px;overflow: hidden;">
                           <div class="col-sm-12">
                           		<div id="dataTableDiv"></div>
                           </div>	
                       </div>
                 </div>
			</div>
		</div>
	</div> 
</div>
<div ng-include src=" 'html/metadata/modal.html'" include-replace></div>