<style>
.gridImage{
	background: #00bcd4;
	border: 2px solid #999;
	cursor: pointer;
}
.customContainer{
	padding-left: 75px;
    padding-top: 90px;
}
.img-circle {
    border-radius: 50%;
    max-width: 100px;
    margin: 0px auto 0;
    margin-bottom: 10px !important;
	cursor: pointer;
}
.img-circle img{
	width: 40px;
    height: 40px;
}
.thumbnail {
    padding: 20px;
    margin-bottom: 0px;
}
.img-circle {
    border-radius: 50%;
    max-width: 88px;
}
.custSearchPadding{
	padding: 20px;
}
.leftPadding{ 
	padding-left: 22px;
}
.img-circle:hover{
	border: 2px solid #2196f3;
    background: rgba(33, 150, 243, 0.08);
}

.ReportingElement  .form-control{
	background-image:none;
}
.thumbnail{
	border: 2px solid #ddd;
}
.selectedImage{
	border: 2px solid green;
    background: rgba(33, 150, 243, 0.08);
}
.cardMainContainer{ 
	position: fixed; 
	height: 100vh;
	width: 65%;
}
</style>
<div class="row">
	<!-- <div class="col-sm-12 textAlignCenter">
		<h4 >Datasource</h4>
	</div> -->
	<div class="col-sm-2">&nbsp;</div> 
	<div class="col-sm-8" >
		<div class="card cardMainContainer">
			<div class="card-content">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2;padding: 0px;min-height: 60px;">
						<input type="text" class="form-control" placeholder="Search for any app name" ng-model="serachMetadata" style="height: 60px;padding: 10px;">
					</div>
					<div class="col-sm-4 ReportingElement" style="padding: 0px;min-height: 60px;">
						<select class="form-control" style="height: 60px;padding: 10px;">
							<option>Sort By:</option>
						</select>
					</div>
					 <div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top:2px solid #dadfe2;" > 
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter"  ng-repeat="meta in metaList | filter:serachMetadata" rel="tooltip" title="{{meta.name}}">
							<div class="fileinput-new thumbnail img-circle  imageToggle" ng-click="toggle($event,meta,$index)" >
			                    <img src="theme/assets/img/MySQL-Logo.png">
			                </div>
			                <span>{{meta.name | limitTo:10}}{{ meta.name.length > 10 ? '...' : ''}}</span>
						</div> 
						<h5 ng-hide="(metaList|filter:serachMetadata).length" style="margin-top: 18%;">No Metadata</h5>
					</div>
					 <div class="col-sm-12 textAlignCenter step1" style="min-height: 40px;" ng-if="selectedConfirm==1">
					 	<button class="btn btn-danger btn-fill pull-right" ng-click="metadataDelete()">Delete</button>
					 	<button class="btn btn-primary btn-fill pull-right" ng-click="metaEdit()">Edit</button>
					</div>
				</div>	
			</div>
		</div>		
	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>