<style>
.modal{
	background: rgba(51, 51, 51, 0.62);
}
ul li{
   list-style: none;
}
.operatorHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .operatorHover {
        opacity: 1;
    }
    .functionHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .functionHover {
        opacity: 1; 
    }

    .columnNameMeasure {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .columnNameMeasure {
        opacity: 1;
    } 
    .custLiWidth{
    	width: 100%;
    	text-align: left;
    }
    ul{
       padding-left: 0px;
    }
</style>
<!-- Modal -->
<div class="modal fade example-modal-lg" id="tableJoin" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select join</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body" data-plugin="scrollable"
						data-skin="scrollable-shadow"
						style="overflow: auto; height: 350px;overflow-x: hidden;" ng-show="joinConfiguration">
						<div data-role="container">
							<div data-role="content">
								<div class="row">
									<div class="col-md-2 marginBottom">
										<span class="joinSideText">Join Type</span>
									</div>
									<div class="col-md-10 marginBottom">
										<div class="row">
											<div class="col-md-3 joinHover Inner"
												ng-click="joinType('Inner')">
												<img src="assets/img/join_inner.svg" class="custSize"><br>
												<span class="joinText">Inner Join</span>
											</div>
											<div class="col-md-3 joinHover Left"
												ng-click="joinType('Left')">
												<img src="assets/img/join_left.svg" class="custSize"><br>
												<span class="joinText">Left Join</span>
											</div>
											<div class="col-md-3 joinHover Right"
												ng-click="joinType('Right')">
												<img src="assets/img/join_right.svg" class="custSize"><br>
												<span class="joinText">Right Join</span>
											</div>
											<div class="col-md-3 joinHover Outer"
												ng-click="joinType('Outer')">
												<img src="assets/img/join_outer.svg" class="custSize"><br>
												<span class="joinText">Outer Join</span>
											</div>
										</div>
									</div>

									<div class="col-md-2 marginBottom" ng-show="joinSelected">
										<span class="joinSideText">Data source</span>
									</div>
									<div class="col-md-4 marginBottom" ng-show="joinSelected">
										<!--<div pg-form-group class="form-group ">
		                                        <ui-select ng-model="Form.leftColumnTable" >
		                                            <ui-select-match placeholder="Select Source Name">{{$select.selected}}
		                                            </ui-select-match>
		                                            <ui-select-choices ng-repeat="tableName in selectedTableName">
		                                                <div ng-bind-html="trustAsHtml((tableName| highlight: $select.search))"></div>
		                                            </ui-select-choices>
		                                        </ui-select>
		                                    </div>-->
										<select class="form-control" ng-model="Form.leftColumnTable"
											ng-change="getValueVariable(Form.leftColumnTable)">
											<option ng-repeat="tableName in selectedTableName"
												ng-if="tableName!=selectTable" value="{{tableName}}">{{tableName}}</option>
										</select>
									</div>
									<div class="col-md-12" ng-show="sourceSelected">
										<table class="table grid">
											<thead>
												<tr>
													<th width="35%">{{Form.leftColumnTable}}</th>
													<th width="20%">{{selectjoin}} Join <img
														src="assets/img/join_inner.svg" class="custSize"
														ng-if="selectjoin=='Inner'"> <img
														src="assets/img/join_left.svg" class="custSize"
														ng-if="selectjoin=='Left'"> <img
														src="assets/img/join_right.svg" class="custSize"
														ng-if="selectjoin=='Right'"> <img
														src="assets/img/join_outer.svg" class="custSize"
														ng-if="selectjoin=='Outer'"></th>
													<th width="35%">{{selectTable}}</th>
													<th width="10%" style="text-align: center;">
														<button type="button"
															class="btn btn-xs btn-icon btn-primary waves-effect waves-light"
															ng-click="addRow()">
 															<i class="material-icons">add</i>
														</button></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="rows in noRow">
													<td>
														<div class="form-group" style="margin-bottom: 0px;">
															<select class="form-control" ng-model="Form.node[rows].leftColumn" required>
																<option></option>
																<option	ng-repeat="columnName in selectLeftColumnNameList" ng-value="{{columnName.Field}}">{{columnName.Field}}</option>
															</select>
														</div>
													</td>
													<td style="text-align: center;"><img
														src="assets/img/join_inner.svg" class="custSize"
														ng-if="selectjoin=='Inner'"> <img
														src="assets/img/join_left.svg" class="custSize"
														ng-if="selectjoin=='Left'"> <img
														src="assets/img/join_right.svg" class="custSize"
														ng-if="selectjoin=='Right'"> <img
														src="assets/img/join_outer.svg" class="custSize"
														ng-if="selectjoin=='Outer'">
													</td>
													<td>
														<div class="form-group" style="margin-bottom: 0px;">
															<select class="form-control" ng-model="Form.node[rows].rightColumn" required>
																<option></option>
																<option ng-repeat="columnName in selectedColumnNameList" ng-value="{{columnName.Field}}">{{columnName.Field}}</option>
															</select>
														</div>
													</td>
													<td style="text-align: center;">
														<button type="button" class="btn btn-xs btn-icon btn-danger waves-effect waves-light"
															style="text-align: center;" ng-if="rows!=0" ng-click="removeRow(rows)">
															<i class="material-icons">remove</i>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="popOverSave(Form)">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade example-modal-lg" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rename Column</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                           <div class="col-sm-12">
                           	<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Name</label>
								<input type="text" class="form-control" ng-model="metadataObjColumnName.reNameInput">
							</div>
                           </div>
                       </div>
                        <div class="row">
	                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveRename(metadataObjColumnName)">Save</button>
	                    </div>
	                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="saveRename(metadataObjColumnName)">Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div>
</div>
<!-- END Rename modal  -->
<!-- Filter  --> 
<div class="modal fade example-modal-lg" id="myModelFilter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h4 class="modal-title">Filter</h4>
             </div>
             <div class="modal-body">
                 <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-6">
                            	<h5>Column</h5>
                            	<ul class="list-unstyled example" style="height: 200px;overflow: auto;">
									<li class="margin-bottom-15" ng-repeat="keys in tableColumns">
									   <label for="checkboxDimension{{$index}}">
									   {{keys.columnName | limitTo:18}}{{ keys.columnName.length > 18 ? '...' : ''}}
									   </label>
									   <span style="float: right;"><a href="javascript:void(0)" ng-click="insertFilterColumn(keys)">Add</a></span>
									</li> 
								</ul>
                            </div>
                            <div class="col-sm-6">
                            	<h5>Conditions
                            	<span style="float: right;"><button class='btn btn-xs btn-primary' ng-click="insertFilterColumn('and')">AND</button>&nbsp; &nbsp;<button class='btn btn-xs btn-primary' ng-click="insertFilterColumn('or')">OR</button></span>
                            	</h5>
                            	
                            	<textarea rows="10" id="condition" ng-model="condition" class="form-control"></textarea>
                            </div> 
                            <div class="col-sm-6"> 
                            	<input type="checkbox" ng-model="limitCheck" ng-click="limitCheck !=limitCheck">Limit
                            </div>
                            <div class="col-sm-6" ng-show="limitCheck">
                            	 <input type="text" ng-model="limitInput" class="form-control">
                            </div>
                        </div>
                </form>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveFilter(condition,limitInput)">Save</button>
                 <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
             </div>
         </div>
     </div>
</div>
