<!-- Datasource Add model  -->
<div class="modal fade stick-up in" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
			          	<div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                        <button class="close" ng-click="notificationClose()"></button>
	                        <strong>Error: </strong>Please check your connection
	                    </div>
		               	<div class="alert alert-success" role="alert" ng-show="checkError==1">
                            <button class="close" ng-click="notificationClose()"></button>
                            <strong>Success: </strong>Connected successfully. Select your database
                         </div>
                         <!--  Error of select db name  -->
                         <div class="alert alert-danger" role="alert" ng-show="checkError==4">
	                        <button class="close" ng-click="notificationClose()"></button>
	                        <strong>Error: </strong>Please select database name
	                    </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="pg-close fs-14"></i>
                </button>
                <h5>Datasource Add</span></h5>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-12">
                            	<div class="alert alert-danger" role="alert" ng-show="checkError==6">
			                        <button class="close" ng-click="notificationClose()"></button>
			                        <strong>Error: </strong>Datasource name already exists
			                    </div>
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Datasource Name</label>
                                    <input type="text" class="form-control custText" ng-model="dataSourceForm.connectionName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Host</label>
                                    <input type="text" class="form-control" data-ng-model="dataSourceForm.hostname" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Port</label>
                                    <input type="number" class="form-control" data-ng-model="dataSourceForm.port" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Username</label>
                                    <input type="text" class="form-control" data-ng-model="dataSourceForm.userName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Password</label>
                                    <input type="password" class="form-control" data-ng-model="dataSourceForm.password" required>
                                </div>
                            </div>
                        </div>
                         <div class="row" ng-show="dbListSelect==1">
                         	<div pg-form-group class="form-group form-group-default form-group-default-select">
	                            <label class="">Database List</label>
	                                <ui-select ng-model="sourceDbName.name"  theme="bootstrap">
		                                <ui-select-match placeholder="Select database">{{$select.selected}}</ui-select-match>
		                                <ui-select-choices repeat="item in databaselist | filter: $select.search">
		                                	<div ng-bind-html="trustAsHtml((item | highlight: $select.search))"></div>
		                                </ui-select-choices>
		                            </ui-select>
                       		</div>
                         </div>

                         <div class="row">
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-complete btn-block m-t-5" ng-disabled="saveButton!=1" ng-click="save(dataSourceForm,sourceDbName)">Save</button>
		                    </div>
		                    <div class="col-sm-4 m-t-10 m-r-20 sm-m-t-10 pull-right">
		                    <!-- ng-disabled="formValidation.$invalid" -->
		                        <button type="button" title="" class="btn btn-success btn-block m-t-5"  ng-click="testsource(dataSourceForm)" >
									<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-show="loading"> {{testBtn}}
								</button>
		                    </div>
		                </div>

                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- Model view and edit -->
<div class="modal fade stick-up in" id="modelViewEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="pg-close fs-14"></i>
                </button>
                <h5>Datasource View</h5>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">

                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default">
                                	<div class="col-sm-8">
	                                	<label>Datasource Name:</label>
	                                    <label>{{view.connectionname}}</label>
	                                </div>
                                    <div class="col-sm-4">
	                                	<img check-image ng-src="{{view.image}}" class="customImage pull-right" width="60px" height="60px">
	                            	</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default">
                                	<div class="col-sm-8">
	                                	<label>Host:</label>
	                                    <label>{{view.host}}</label>
	                                </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default">
                                	<label>Port:</label>
                                    <label>{{view.port}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default">
                                	<label>Username:</label>
                                    <label>{{view.username}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default ">
                                	<label>Password:</label>
                                	<!-- {{view.password}} -->
                                    <label>**********</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                         	<div pg-form-group class="form-group form-group-default form-group-default-select">
                         		<label class="">Database Name:</label>
	                            <label class="">{{view.dbname}}</label>
                       		</div>
                         </div>
                         <div class="row">
                          	<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-complete btn-block m-t-5" ng-click="dashboardCreate(view)">Create Dashboard</button>
		                    </div>
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-complete btn-block m-t-5" ng-click="datasourceEdit()">Edit</button>
		                    </div>
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-danger btn-block m-t-5" ng-click="datasourceDelete()">Delete</button>
		                    </div>
		                </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Model view and edit end -->
<!-- Model Dashboard Table View Start-->
<div class="modal fade stick-up in" id="dashboardTableView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
            	<div class="alert alert-danger" role="alert" ng-show="checkError==7">
	                        <button class="close" ng-click="notificationClose()"></button>
	                        <strong>Error: </strong>Select table name
	            </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="pg-close fs-14"></i>
                </button>
                <div class="col-sm-1 backBtn">
                	<i class="fa fa-arrow-left backIcon" data-placement="right" aria-hidden="true" data-toggle="tooltip" data-original-title="Back" ui-jq="tooltip" ng-click="backBtnTableView()" ></i>
                </div>
                <div class="col-sm-12" style="padding: 0;">
                	<h5>Select Table</h5>
               	</div>
            </div>
            <div class="modal-body">
            	<div class="row">
            	   <div pg-form-group class="form-group form-group-default form-group-default-select">
            	   		<label>Database Name</label>
            	   		<label>{{dashboardDbname}}</label>
            	   </div>

            	   <div pg-form-group class="col-sm-8 form-group form-group-default form-group-default-select">
	            	   	<label>
	            	   		Table Name
	            	   	</label>
	            	</div>
            	   	<div pg-form-group class="col-sm-4 form-group form-group-default form-group-default-select bottomPadding">
	                      <input type="text" class="form-control" ng-model="tableSearch" placeholder="Search">
	                </div>
	                   <div class="col-sm-12">
	                   		<div class="progress-circle-indeterminate m-t-45" ng-show="loadingTableList"></div>
	                   </div>
	                   <div class="col-sm-12 scrollable"  style="height: auto;overflow:auto; margin-bottom: 0px; margin-right: 0px; max-height: 200px;padding: 0;">
	                   		<div pg-form-group class="form-group form-group-default " ng-repeat="list in tableList|filter:tableSearch">
	                   			 <div class="radio radio-success" >
	                        		<input type="radio" class="pull-right"  name="tableName" ng-model="tableNameCheck.checkbox" value="{{list.tableName}}" id="{{list.tableName}}">
	                         		<label  for="{{list.tableName}}">{{list.tableName}}</label>
	                    		</div>
	                   		</div>
	                   		<div ng-hide="loadingTableList">
	                   			<h5 ng-hide="(tableList|filter:tableSearch).length"  >No Table Found</h5>
	                   		</div>
	                   </div>
               </div>
               <div class="row">
		          <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		             <button type="button" class="btn btn-success btn-block m-t-5" ng-click="getData(tableNameCheck.checkbox)">Next</button>
		          </div>
		      	</div>
            </div>
        </div>
    </div>
</div>
<!-- Model Dashboard table view end -->
<!-- Dashboard table data start -->
<div class="modal fade stick-up in" id="dashboardTableData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="pg-close fs-14"></i>
                </button>
                <div class="col-sm-1 backBtn">
                	<i class="fa fa-arrow-left backIcon" data-placement="right" aria-hidden="true" data-toggle="tooltip" data-original-title="Back" ui-jq="tooltip" ng-click="backBtnTableData()" ></i>
                </div>
                <div class="col-sm-12" style="padding: 0;">
                	<h5>Table Details</h5>
                </div>
            </div>
            <div class="modal-body">
            	<div class="row">
            	   <div class="col-sm-12">
	                   		<div class="progress-circle-indeterminate m-t-45" ng-show="loadingTableData"></div>
	                   </div>
                   <div class="col-sm-12">
                   		<div id="dataTableDiv"></div>
                   		<!-- <div id="grid1" ui-grid="{ data: uiGridData }" class="grid" /> -->
                   </div>
               </div>
               <div class="row">
               	  <div class="col-sm-4 m-t-10 sm-m-t-10">
		             <button type="button" class="btn btn-complete btn-block m-t-5">Edit Table Data</button>
		          </div>
		          <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		             <button type="button" class="btn btn-success btn-block m-t-5">Create Dashboard</button>
		          </div>
		      	</div>
            </div>
        </div>
    </div>
</div>
<!-- Dashboard table data End -->
<!-- Datasource edit option start  -->
<div class="modal fade stick-up in" id="datasourceEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
			          	<div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                        <button class="close" ng-click="notificationClose()"></button>
	                        <strong>Error: </strong>Please check your connection
	                    </div>
		               	<div class="alert alert-success" role="alert" ng-show="checkError==1">
                            <button class="close" ng-click="notificationClose()"></button>
                            <strong>Success: </strong>Connected successfully. Select your database
                         </div>
                         <!--  Error of select db name  -->
                         <div class="alert alert-danger" role="alert" ng-show="checkError==4">
	                        <button class="close" ng-click="notificationClose()"></button>
	                        <strong>Error: </strong>Please select database name
	                    </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="pg-close fs-14"></i>
                </button>
                <h5>Datasource Edit</span></h5>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-12">
                            	<div class="alert alert-danger" role="alert" ng-show="checkError==6">
			                        <button class="close" ng-click="notificationClose()"></button>
			                        <strong>Error: </strong>Datasource name already exists
			                    </div>
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Datasource Name</label>
                                    <input type="text" class="form-control custText" ng-model="dataSourceFormEdit.connectionName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Host</label>
                                    <input type="text" class="form-control" ng-model="dataSourceFormEdit.hostname" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Port</label>
                                    <input type="number" class="form-control" ng-model="dataSourceFormEdit.port" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Username</label>
                                    <input type="text" class="form-control" ng-model="dataSourceFormEdit.userName" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div pg-form-group class="form-group form-group-default required">
                                    <label>Password</label>
                                    <input type="password" class="form-control" ng-model="dataSourceFormEdit.password" required>
                                </div>
                            </div>
                        </div>
                         <div class="row" ng-show="dbListSelectEdit==1">
                         	<div pg-form-group class="form-group form-group-default form-group-default-select">
	                            <label class="">Database List</label>
	                                <ui-select data-ng-model="sourceDbName"  theme="bootstrap">
		                                <ui-select-match placeholder="Select database">{{$select.selected}}</ui-select-match>
		                                <ui-select-choices repeat="item in databaselist | filter: $select.search">
		                                	<div ng-bind-html="trustAsHtml((item | highlight: $select.search))"></div>
		                                </ui-select-choices>
		                            </ui-select>
                       		</div>
                         </div>
                         <div class="row">
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-complete btn-block m-t-5" ng-disabled="saveButton!=1" ng-click="save(dataSourceForm,sourceDbName)">Update</button>
		                    </div>
		                    <div class="col-sm-4 m-t-10 m-r-20 sm-m-t-10 pull-right">
		                        <button type="button" title="" class="btn btn-success btn-block m-t-5" ng-disabled="formValidation.$invalid" ng-click="testsource(dataSourceFormEdit)" >
									<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-show="loading"> {{testBtn}}
								</button>
		                    </div>
		                </div>

                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- Datasource edit option end -->