<!-- START HEADER -->
<div class="header " ng-class="{'transparent': is('app.maps.vector') || is('app.maps.google') }">
    <!-- START MOBILE CONTROLS -->
    <!-- LEFT SIDE -->
    <div class="pull-left full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a href="" class="btn-link toggle-sidebar" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- RIGHT SIDE -->
    <div class="pull-right full-height visible-sm visible-xs">
        <!-- START ACTION BAR -->
        <div class="sm-action-bar">
            <a href="" class="btn-link" data-toggle="quickview" data-toggle-element="#quickview">
                <span class="icon-set menu-hambuger-plus"></span>
            </a>
        </div>
        <!-- END ACTION BAR -->
    </div>
    <!-- END MOBILE CONTROLS -->
    <div class="pull-left sm-table">
        <div class="header-inner">
            <div class="brand inline">
                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" ui-jq="unveil" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
            </div>
            <!-- b-grey b-l b-r  -->
          	<ul class="notification-list no-margin hidden-sm hidden-xs no-style p-l-30 p-r-20">
                <li class="p-r-15 p-l-15 b-grey b-l b-grey inline">
                    <a ui-sref="app.datasource" href="" tooltip-placement="right" tooltip="Sources">
						Datasource
					</a>
                    
                </li>
                <li class="p-r-15 p-l-15 inline b-l b-grey">
                	<a ui-sref="app.metadataView" tooltip-placement="right" tooltip="Metadata">
                    	Meta Data
                    </a>	
                </li>
                <li class="p-r-15 p-l-15 inline b-l b-grey">
                	<a ui-sref="app.report" tooltip-placement="right" tooltip="Report">
                    	Report
                    </a>	
                </li>
                <li class="p-r-15 p-l-15 inline b-l b-grey">
                	<a ui-sref="app.dashboardView" tooltip-placement="right" tooltip="Report">
	                    Dashboard
	                </a>    
                </li> 
            </ul>
        </div>
    </div>
    <div class=" pull-right">
        <!-- START User Info-->
        <div class="visible-lg visible-md m-t-10">
            <div class="pull-left p-r-10 p-l-15 p-t-10 fs-16 font-heading">
                <span class="semi-bold">David</span> <span class="text-master">Nest</span>
            </div>
            <div class="dropdown pull-right">
                <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <img src="assets/img/profiles/avatar.jpg" alt="" data-src="assets/img/profiles/avatar.jpg" ui-jq="unveil" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
            </span>
                </button>
                <ul class="dropdown-menu profile-dropdown" role="menu">
                    <li><a href=""><i class="pg-settings_small"></i> Settings</a>
                    </li>
                    <li><a href=""><i class="pg-outdent"></i> Feedback</a>
                    </li>
                    <li><a href=""><i class="pg-signals"></i> Help</a>
                    </li>
                    <li class="bg-master-lighter">
                        <a href="" class="clearfix">
                            <span class="pull-left">Logout</span>
                            <span class="pull-right"><i class="pg-power"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END User Info-->
    </div>
    <div class="pull-right sm-table">
         <!-- BEGIN NOTIFICATION DROPDOWN -->
         <div class="header-inner">
            <ul class="notification-list no-margin hidden-sm hidden-xs b-grey b-l b-r no-style p-l-30 p-r-20">
                <li class="p-r-15 inline">
                    <div class="dropdown">
                        <a href="javascript:;" id="notification-center" class="icon-set globe-fill" data-toggle="dropdown">
                            <span class="bubble"></span>
                        </a>
                        <div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">
                            <div class="notification-panel">
                                <!-- START Notification Body-->
                                <div class="notification-body scrollable" ui-jq="scrollbar" ui-options="{
            ignoreOverlay: false
        }">
                                    <!-- START Notification Item-->
                                    <div class="notification-item  clearfix">
                                        <div class="heading">
                                            <a href="" class="text-danger">
                                                <i class="fa fa-exclamation-triangle m-r-10"></i>
                                                <span class="bold">98% Server Load</span>
                                                <span class="fs-12 m-l-10">Take Action</span>
                                            </a>
                                            <span class="pull-right time">2 mins ago</span>
                                        </div>
                                        <div class="option">
                                            <a href="" class="mark"></a>
                                        </div>
                                    </div>
                                    <!-- END Notification Item-->
                                </div>
                                <!-- END Notification Body-->
                                <!-- START Notification Footer-->
                                <div class="notification-footer text-center">
                                    <a href="" class="">Read all notifications</a>
                                    <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="">
                                        <i class="pg-refresh_new"></i>
                                    </a>
                                </div>
                                <!-- END Notification Footer-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="p-r-15 inline">
                    <a href="" class="icon-set clip "></a>
                </li>
                <li class="p-r-15 inline">
                    <a href="" class="icon-set grid-box"></a>
                </li>
            </ul>
        </div>    
            <!-- END NOTIFICATION DROPDOWN -->
    </div>
    
</div>
<!-- END HEADER -->