<style>
.modal {
	background: rgba(51, 51, 51, 0.62);
}

ul li {
	list-style: none;
}

.operatorHover {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .operatorHover {
	opacity: 1;
}

.functionHover {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .functionHover {
	opacity: 1;
}

.columnNameMeasure {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .columnNameMeasure {
	opacity: 1;
}

.custLiWidth {
	width: 100%;
	text-align: left;
}

ul {
	padding-left: 0px;
}
</style>
<!-- Rename keys  -->
<div class="modal modal-primary fade stick-up" id="dashboardListView"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" style="max-height: 400px; overflow: auto; min-height: 400px">
				<div id="summernote" code="text"  data-plugin="summernote"></div>
             </div>
             <div class="modal-footer">
             	<button type="button" ng-click="saveText()" class="btn btn-primary">Save</button>
       			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div> 
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- Dashboard Image -->
<div class="modal modal-primary fade stick-up" id="dashboardImage"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group note-group-select-from-files">
					<label>Select from files</label>
					<input type="file" class="note-image-input form-control" ng-model="image">
					<!-- <input class="note-image-input form-control" type="file" name="files" ng-model="image"> -->
				</div>
				<!-- <div class="form-group note-group-image-url" style="overflow:auto;">
					<label>Image URL</label>
					<input class="note-image-url form-control col-md-12" type="text">
				</div> -->
			</div>	
			<div class="modal-footer">
             	<button type="button" ng-click="saveImage(image)" class="btn btn-primary">Save</button>
       			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             </div> 
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- END Rename modal  -->
<!-- measure Calculation -->
<!-- Rename keys  -->
