<style>
.male-female{
    /* width:50% !important;
    height:50% !important; */
    max-height: 260px !important;
    min-height: 135px !important; 
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
}
.dropzone .dz-message {
	font-size: 25px;
    font-weight: 400;
}
.dropzone .dz-message {
    text-align: center;
    /* margin: 2em 0; */ 
} 
.droppableFilter{
	margin-bottom: 20px;
}
.gridster{
   margin-top:0px; 
}
.droppableFilter .dz-message{
   margin-top: 2%;
}
.droppableArea{
   min-height: 300px;
}
.droppableArea .dz-message{
   margin-top: 12%;
}
ul{
   list-style: none;
}
.chart-legend ul{
	padding-left: 3px;
}
.widget .panel-heading{
   margin-top: 0px;
}
.panel-title{
	padding: 10px 0px 15px 0px;
}
.companyHeader{
	background: #FFF;
    /*height: 10%;
    padding: 18px 10px 10px 10px;*/
    margin-bottom: 10px;
}
.afterFilter{
  background: #FFF;
  border: 2px solid #ccc;
  font-size: 20px;
}
.filterLabel{
	text-transform: capitalize;
}
.site-sub-menubar{
	margin-left: 76px;
	width: 272px !important;
}
.in{
	opacity:1;
}
.page{
	margin-left: 390px;
}
@media only screen and (min-width: 120px) and (max-width: 768px) {
  .page{
		margin-left: 5px;
	}
}
.navbar-toggler-left{
	display: block !important;
}
@media only screen and (min-width: 1224px){
	.positionFixed {
	    position: fixed;
	    width: 100%;
	}
}
.page-content{
	padding-left: 1px;
	padding-top: 1px;
}
</style>
<div class="site-menubar">
	<div class="site-menubar-body">
			<div>
				<ul class="site-menu" data-plugin="menu">
					<li class="site-menu-item active" ng-click="tab=false"
						ng-class="{'active': tab === false}"><a
						class="animsition-link" href="javascript:void(0);"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-home"
							aria-hidden="true"></i> <span class="site-menu-title">Home</span>
					</a></li>
					<li class="site-menu-item has-sub" ng-click="tab=true"
						ng-class="{'active': tab === true}" ng-show="graphAxis"><a
						href="javascript:void(0)"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-filter"
							aria-hidden="true"></i> <span class="site-menu-title">Filter</span>
					</a></li>
				</ul>
			</div>
	</div>
</div>
<div class="site-menubar site-sub-menubar" style="z-index: 2 !important;">
	<div class="site-menubar-body">
			<div>
				<div class="site-menu card card-shadow text-center positionFixed" ng-hide="tab">
					<div class="card-block">
						<div class="subDrawer">
						    <div class="row">
						    	<div class="col-sm-12">
						    		<select class="form-control" ng-model="metadataSelect.name"
										ng-change="selectDataSource(querySelector)" disabled="disabled">
										<option ng-repeat="list in queryList" value="{{list.metadataId}}">{{list.name}}</option>
									</select>
						    	</div>
						    </div>
							<img class="image-responsive-height ng-hide"
								src="assets/img/demo/progress.svg" alt="Progress"
								style="width: 20%; margin-top: 30px;" ng-show="preLoad">
							<div ng-show="graphAxis">
								<h4 class="custHeader">Measure</h4>
								<ul class="list-unstyled example measurePadding">
									<li class="margin-bottom-15"
										ng-repeat="measure in tableColumns track by $index"
										ng-if="measure.dataKey=='Measure'">
										<div class="checkbox-custom checkbox-primary">
										
											<input type="checkbox" value="{{measure}}"
												id="checkboxMeasure{{$index}}"
												ng-model="Attributes.checkboxModelMeasure[measure.reName]"
												ng-true-value='{{measure}}' ng-false-value='0'
												ng-click="chartDraw(measure,'measure')" /> <label
												for="checkboxMeasure{{$index}}"><span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
												<span title="{{measure.reName}}">{{measure.reName | limitTo:16}}{{ measure.reName.length > 14 ? '...' : ''}}</span></label>
											<div class="btn-group" style="cursor: pointer; float: right;top:4px;">
												<i class="icon md-chevron-down buttonDropdownMeasure{{$index}}"
													ng-click="measureDimensionDropdown('measure',$index)"
													aria-hidden="true" data-toggle="dropdown"
													aria-expanded="false"></i>
												<ul class="dropdown-menu custDropdownMeasure"
													style="position: fixed;">
													<li class="dropdown-submenu"><a href="#">Aggregate</a>
														<ul class="dropdown-menu subdropDown"
															style="height: 160px; overflow: auto;">
															<li><a data-ng-repeat="aggregate in aggregates"
																	ng-click="onAggregateSelect(measure,aggregate); chartDraw(aggregate,'aggregate')">
																	{{aggregate.value}}
																</a>
															</li>
														</ul>
													</li>
													<li class="dropdown-submenu"><a href="#">Type Cast</a>
														<ul class="dropdown-menu subdropDown" style="height: 160px; overflow: auto;"> 
															<li ng-repeat="type in dataType('measure')" ng-click="typeCast(measure,type);" ng-if="type.type!=measure.columType">
																<a>{{type.name}}</a>
															</li>
														</ul>
													</li>
													
													<li><a href="#" ng-click="moveToDimMeasure('Dimension',measure.columnName,Attributes.checkboxModelMeasure[measure.reName])">Move to Dimension</a>
													</li>
													<li ng-if="measure.type!='custom'")><a href=""
														ng-click="columnCalculation(measure,$index)">Create
															Calculation</a></li>
													<li ng-if="measure.type=='custom'")><a href=""
													ng-click="columnCalculationEdit(measure,$index)">Edit
														Calculation</a></li>
													<li><a href="javascript:void(0)"
														ng-click="deleteColumn(measure.reName)">Delete</a>
													</li>
												</ul>
											</div>
										</div></li>
								</ul>
								<h4 class="custHeader">Dimension</h4>
								<ul class="list-unstyled example dimensionPadding">
									<li class="margin-bottom-15"
										ng-repeat="dimension in tableColumns track by $index"
										ng-if="dimension.dataKey=='Dimension'"> 
										<div class="checkbox-custom checkbox-primary">
											<input type="checkbox" value="{{dimension}}"
												id="checkboxDimension{{$index}}"
												ng-click="chartDraw(dimension,'dimension')"
												ng-model="Attributes.checkboxModelDimension[dimension.reName]"
												ng-true-value='{{dimension}}' ng-false-value='0' /> <label
												for="checkboxDimension{{$index}}"><span
												class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1)
													| uppercase}}</span>&nbsp;&nbsp; <span
												title="{{dimension.reName}}">{{dimension.reName |
													limitTo:16}}{{ dimension.reName.length > 14 ? '...' : ''}}</span>
											</label>
											<div class="btn-group" style="cursor: pointer; float: right">
												<i	class="icon md-chevron-down buttonDropdownMeasure{{$index}}"
													ng-click="measureDimensionDropdown('measure',$index)"
													aria-hidden="true" data-toggle="dropdown"
													aria-expanded="false"></i>
												<ul class="dropdown-menu custDropdownMeasure"
													style="position: fixed;">
													<li class="dropdown-submenu"><a href="#">Type Cast</a>
														<ul class="dropdown-menu subdropDown" style="height: 160px; overflow: auto;"> 
															<li ng-repeat="type in dataType('dimension')" ng-click="typeCast(dimension,type);" ng-if="type.type!=dimension.columType">
																<a>{{type.name}}</a>
															</li>
														</ul>
													</li>
													<li><a href="#"
														ng-click="moveToDimMeasure('Measure',dimension.columnName,Attributes.checkboxModelDimension[dimension.reName])">Move
															to Measure</a></li>
													<li ng-if="dimension.type!='custom'"><a href="" ng-click="createCategory(dimension)">Create
															Group</a>
													</li>
													<li ng-if="dimension.type=='custom'"><a href="" ng-click="editGroupCategory(dimension)">Edit</a>
													</li>
													<li><a href="#"
														ng-click="deleteColumn(dimension.reName)">Delete</a></li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
								<h4 class="custHeader">
									Charts 
									<span class="pull-right">
										<a	href="javascript:void(0)" data-placement="top"
											class="tooltip-primary" title="Add Report"
											data-toggle="tooltip" role="button" ng-click="addReport()">
												<i class="fa fa-plus"></i> 
										</a>
									</span>
								</h4>
								<div class="row center-margin m-b-10 chartCust">
									<div class="col-xs-3 text-center chartPadding" ng-repeat="chart in charts" data-placement="bottom"
										 data-toggle="tooltip"
										tooltip="{{chart.name}}" title="{{chart.name}}" >
										<div class="custBorderHover" id="{{chart.key}}"
											ng-click="chartSelect($index,chart);chartDraw(chart,'chart')"
											style="padding: 5px; border: 2px solid #FFF">
											<img src="{{chart.value}}" style="width: 35px; height: 35px;">
										</div>
									</div>
								</div> 																
 							</div>
						</div>
					</div>
				</div>
				<!-- End Page Widget -->
				<!-- Page Filter tab Widget -->
				<div class="card card-shadow text-center" ng-show="tab">
					<div class="card-block">
						<div class="custPanel">
							<div class="row" style="padding-top: 10px;">
								<div class="col-sm-1">
									&nbsp;
								</div>
								<div class="col-sm-7">
									<select id="filter"	class="ng-hide" multiple="multiple"
											data-ng-model="checkboxModel" ng-change="filterAdd()" >
										<option ng-repeat="column in tableColumns" value="{{column}}" >{{column.reName}}</option>											
									</select>
								</div>
								<div class="col-sm-2">
									<a href="javascript:void(0)" class="btn btn-default" data-placement="bottom"
											data-original-title="Add Rangepicker" ui-jq="tooltip"
											data-toggle="tooltip" role="button" ng-click="dateModal()">
										<i class="fa fa-plus"></i> 
									</a>
								</div>
							</div> 
						</div>
						<div class="subDrawer" style="height: 480px;overflow: auto;"> 
							<div ng-repeat="filter in filerTemp" >
								<div class="row" style="padding-top: 20px;width: 100%;">
									<div class="col-sm-3" style="text-align: left;">
										<h5>{{filter.key}}</h5>
									</div>
									<!-- <div class="col-sm-9" style="text-align: right;"> 
										<i class="fa fa-trash-o"  ng-click="custFilterRemove($index)" style="cursor: pointer;margin-top:6%;"></i> 
									</div> --> 
									<div class="col-sm-12"
										ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
										<input id="{{filter.key}}-Filter">
									</div>
									<div class="col-sm-12" ng-if="filter.value=='date'">
										<input type="text" class="daterange form-control" value=""
											ng-click="filterColumn(filter)" />
									</div>
									<div class="col-sm-8"
										ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
										<div class="form-material" style="margin-left: 14%;">
											<select class="filterSelect ng-hide" data-ng-model="test"
												multiple ng-change="filterBy(test,filter)">
												<option ng-repeat="filterData in filtersTo[filter.key]" 
													value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div ng-repeat="rangePicker in rangeObject">
								<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)">
									<div class="row">
										<div class="col-sm-9" style="text-align: left;">
							 				<h5>{{rangePicker.key.columnName}}-{{i}}</h5>
										</div>
										<div class="col-sm-3" style="text-align: right;"> 
											<i class="fa fa-trash-o" ng-click="timeLineDelete(rangePicker)" style="cursor: pointer;margin-top:30%;"></i> 
										</div>
										<div class="col-sm-12">
											<input type="text"
												class="dateTimeLine dateTimeLine{{$index}} form-control"
												value=""
												ng-click="filterRangeColumn($index,rangePicker.key.columnName)" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<div class="page">
	<div class="page-content container-fluid">
		<div class="row">
			
			<div class="col-lg-12" style="padding: 0px;z-index:1">
				<!-- Panel -->
				<div class="page-header">
					<div class="col-sm-6 form-group form-material floating">
						<input type="text" class="form-control empty page-title"
							ng-model='dashName.dashboardName' name="inputFloatingText"
							placeholder='Dashboard Name...'>
						<!-- <label class="floating-label">Text</label> -->
					</div>
					
					<div class=" col-sm6 page-header-actions">
						<a class="btn btn-md btn-primary " ng-click="updateDashboard()">
							<span class="hidden-sm-down" style='color: #fff'>Update
								Dashboard</span> 
						</a>
					</div>
				</div>
				<div class="col-sm-12" data-gridster="dashboardCommonSettings" id="dashboard-image">
					<div class="widget widget-shadow p-t-20 li_box"
						data-ng-repeat="reportContainer in dashboardPrototype.reportContainers"
						id="li_{{reportContainer.id}}"
						ng-click="addBorder(reportContainer.id)"
						data-gridster-item="reportContainer" style="background: #FFF;">
						<div class="panel-heading">
							<h5 class="panel-title " style="line-height: 0px;">
								<div class="row">
									<div class="form-group form-material col-sm-6">
										<input ng-model="reportContainer.name" class="form-control"
											style="font-weight: 500; font-size: 16px; line-height: 20px; color: #000;">
									</div>									
									<div class="col-sm-6">
										<span class="pull-right  margin-pull-right"
											style="padding-top: 10px;"> <a title="Move widget"
											class="my-class" style="font-size: 16px; cursor: move;"><i
												class="icon md-arrows" aria-hidden="true"></i> </a> </span> <span
											class="pull-right  margin-pull-rights"
											style="padding-top: 10px; padding-right: 10px;"> <a
											title="Close Report" class="my-class"
											style="font-size: 16px; cursor: pointer;"
											ng-click="deleteGraphKeys(reportContainer.id)"> <i
												class="icon md-close" aria-hidden="true"></i> </a> </span> <span
											class="pull-right  margin-pull-right"
											style="padding-top: 10px; padding-right: 10px;"> <a
											title="Setting" class="my-class"
											style="font-size: 16px; cursor: pointer;"
											ng-click="chartSetting(reportContainer.chartType)"> <i class="icon md-settings"
												aria-hidden="true"></i> </a> </span> <span
											class="pull-right  margin-pull-right"
											style="padding-top: 10px; padding-right: 10px;"
											ng-if="reportContainer.chartType!='Number Widget'"> <a
											title="Reset" class="my-class"
											style="font-size: 16px; cursor: pointer;"
											ng-click="resetChart()"> <i class="icon md-refresh"
												aria-hidden="true"></i> </a> </span>
											<span class="pull-right margin-pull-rights" style="padding-top: 10px; padding-right: 10px;" > 
												<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text'">
													    <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
													    Legends
													    <span class="caret"></span></button>
													    <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" >
													      
													    </ul>
												</div>
											</span> 	
									</div>
								</div>
							</h5>
						</div>
						<div class="col-sm-12"
							ng-show="reportLoading_{{reportContainer.id}}"
							style="position: absolute; text-align: center; top: 40%;">
							<img class="image-responsive-height demo-mw-25"
								src="assets/img/demo/progress.svg" alt="Progress"
								style="width: 70px;">
						</div>
						<div style="margin-top: 15%; text-align: center;"
							data-ng-show="showInfo[reportContainer.id]">
							<h5 style="color: #777;">
								{{chartErrorText[reportContainer.id]}}</h5>
						</div>
						<div class="row" style="height: 80%; width: 100%"
							ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Building Comparison' && reportContainer.chartType!='Map' ">
							<div class="col-sm-12"  style="overflow: hidden;padding-left: 40px;">
								<div class="widget-content" ng-class="(reportContainer.chartType=='Row Chart') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
								<!-- <div class="btn-group" role="group">
					                    <button type="button" class="btn btn-primary dropdown-toggle waves-effect waves-light" id="dropdownMenu" data-toggle="dropdown" aria-expanded="false">
					                      <i class="icon md-apps" aria-hidden="true"></i>
					                      <span class="caret"></span>
					                    </button>
					                    <ul class="" aria-labelledby="dropdownMenu" role="menu">
					                      <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
					                      <li role="presentation"><a href="javascript:void(0)" role="menuitem">Dropdown link</a></li>
					                    </ul>
					                </div> -->  
							</div>

							<!-- <div class="col-sm-2">
								<span class="label_legends{{reportContainer.id}} lable_legends_common"
									style="display: none;">Legends</span>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}"
									id="left{{reportContainer.id}}"
									style="overflow: auto; height: 300px;"></div>
							</div> -->
							
						</div>

						<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Map' ">
							<div class="col-sm-10"  style="overflow: hidden;padding-left: 40px;">
								<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
							</div>
							<div class="col-sm-2">
								<span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" 
									style="overflow: auto; height: 300px;">
									
								</div>
							</div>
						</div>


						<div style="height: 80%; width: 100%; overflow: auto;"
							ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table' || reportContainer.chartType=='X Table' || reportContainer.chartType=='Male & Female Comparison' || reportContainer.chartType=='Building Comparison'  || reportContainer.chartType=='Map' ">
							<div class="col-sm-12" style="padding-left: 40px;">
								<div class="widget-content"
									id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
								</div>
							</div>
						</div>
						<div style="height: 80%; width: 100%; overflow: auto;"
							ng-if="reportContainer.chartType=='Number Widget'">
							<div class="col-sm-12" style="padding-left: 40px;">
								<div class="widget-content"
									id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Panel -->

			</div>
		</div>
	</div>
</div>
<ul class="dropdown-menu colorPalette" style="position: absolute;">
	<li><a href="javascript:void()" ng-click="applyFilter()">Filter</a>
	</li>
	<li class="dropdown-submenu"><a href="#">Color </a>
		<ul class="dropdown-menu subdropDown"
			style="height: 130px; overflow: auto;">
			<div class="palette-menu">
				<div ng-repeat="val in rowsLength()">
					<div class="color-palette-row">
						<a href="javascript:void(0);" class="palette-item"
							ng-repeat="color in getColorPallete(val)"
							ng-click="colorChange(color)" style="background-color: {{color}}"></a>
					</div>
				</div> 
			</div>
		</ul></li>
	<!-- <li><a href="javascript:void(0)" ng-click="resetFilter();">Reset Filter</a></li> -->
	<li><a href="javascript:void(0)" ng-click="renameKeys();">Rename
			Label
		</a>
	</li>
	<li class="dropdown-submenu"><a href="#">Sort By</a>
		<ul class="dropdown-menu subdropDown"
			style="height: 80px; overflow: auto;">
			<li><a href="javascript:void(0);" ng-click="sortBy('asc');">ASC</a>
			</li>
			<li><a href="javascript:void(0);" ng-click="sortBy('desc');">DESC</a>
			</li>
		</ul></li>
</ul>
<div class="loader-overlay" style="display: none;">
	<div class="loader-content">
		<div class="loader-index">
			<img class="image-responsive-height demo-mw-25 ng-hide"
				src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading"
				style="width: 70px">
		</div>
	</div>
</div>
<div ng-include src=" 'tpl/dashboard-modal.html'" include-replace></div>
<div ng-include src="'tpl/group.html'" include-replace></div>
<div ng-include src="'tpl/calculation.html'" include-replace></div>
