<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div class="site-menu" data-plugin="menu">
                <div class="nav-tabs-vertical" data-plugin="tabs">
                    <ul class="nav nav-tabs custTabHeight" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="#exampleTabsIconLeftOne"
                                                                    aria-controls="exampleTabsIconLeftOne" role="tab"><i class="icon md-home m-0" aria-hidden="true"></i></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#exampleTabsIconLeftTwo"
                                                                    aria-controls="exampleTabsIconLeftTwo" role="tab"><i class="icon md-settings m-0" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="tab-content" style="padding: 10px 10px 10px 10px;">
                        <div class="tab-pane active" id="exampleTabsIconLeftOne" role="tabpanel">
                            Disseruerunt aiebat veterum universas politus corrigere pacto disputata, sabinum
                            officia, status latinas monet optari quid animi arbitratu,
                            inveniri caritatem adhibuit, putamus, electis parabilis nutu
                            unam claris magna locum disputatum, tenuit gymnasia scripserit
                            praetereat exedunt cyrenaicos reformidans. Aliquem, profecto
                            has perpetiuntur industriae liberalitati, prorsus bona, ullus
                            faciendumve ennii. Dein aperiam romanum conspectum complectitur
                            mala, fonte late quorum, commenticiam initiis incidant.
                        </div>
                        <div class="tab-pane" id="exampleTabsIconLeftTwo" role="tabpanel">
                            Utrumvis angore, laudatur eligendi damna tanta ultimum quidque. Data philosophis
                            efficitur. Etsi apte deorsum tradidisse. Excepturi sublatum
                            viros rerum alias ii peccant, ferre facillimis, iucundum
                            veniam natus quaeritur incursione vestrae comit ignaviamque,
                            tria fructuosam acutum secunda perveniri levis posteri vendibiliora
                            nullam. Probes cui appetendi causas, attico familiari rem
                            tempus cn torquatum. Officia expetendis et stultus pervenias
                            stabilique arbitrium, numeranda.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>