<!-- Stylesheets -->
<link href="assets/css/dashboard-view.css" rel="styleSheet">
<div class="page">
	<div class="page-header">
		<h1 class="page-title">{{dashName.dashboardName}}</h1>
		<div class="page-header-actions">
			<!-- <a class="btn btn-sm btn-primary"
			   href="javascript:void(0);" target="_blank" ng-click="addDashboard()">
				<i class="icon icon md-plus" aria-hidden="true"></i> <span
					class="hidden-sm-down">Export</span>
			</a> -->
			<a href="javascript:void(0);" class="btn btn-sm btn-primary" ng-click="resetChart()">
				Reset
			</a>
			<a href="#/dashboard/edit/{{dashboardId}}/0" class="btn btn-sm btn-primary">
				Edit 
			</a>
		</div>
	</div>
	<div class="page-content container-fluid">
		<div style="width: 100%;text-align: center;" ng-hide="loadingBar">
			<img class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" >
		</div>
		<div class="row" ng-show="loadingBarView">
			<div ng-repeat="filter in filerTemp" class="col-sm-3" ng-if="filerTemp.length>0" style="margin-bottom: 50px;">
				<label>{{filter.key}}</label>
				<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='decimal' || filter.value=='float'">
					<input id="{{filter.key}}-Filter">
				</div>
				<div class="col-sm-12" ng-if="filter.value=='date'">
					<input type="text" class="daterange form-control" value=""
						   ng-click="filterColumn(filter)" />
				</div>
				<div class="col-sm-8" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
					<div class="form-material" style="margin-left: 14%;">
						<select class="filterSelect ng-hide" data-ng-model="test"
								multiple ng-change="filterBy(test,filter)">
							<option ng-repeat="filterData in filtersTo[filter.key]"
									ng-value="{{filterData}}" selected>{{filterData}}</option>
						</select>
					</div>
				</div>
			</div>
			<div ng-repeat="rangePicker in rangeObject" class="col-sm-12" >
				<div class="row">
					<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3" >
						<lable>{{rangePicker.key.columnName}}-{{i}}</lable>
						<div  style="margin-bottom: 15%;">
							<input type="text"  class="dateTimeLine dateTimeLine{{$index}} form-control" value="" ng-click="filterRangeColumn($index,rangePicker.key.columnName)" />
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row" data-plugin="matchHeight" data-by-row="true" data-gridster="dashboardCommonSettings" style='margin-top: -40px;' ng-show="loadingBarView" >
			<div class="col-sm-12">
				<div class="widget widget-shadow p-t-20" data-gridster-item="reportContainer"  data-ng-repeat="reportContainer in dashboardPrototype.reportContainers" id="dashboardContainer_{{reportContainer.id}}">
					<div class="panel-heading">
						<h5 class="panel-title" style="padding-bottom: 20px;">
							{{reportContainer.name}}
							<span class="pull-right  margin-pull-right"
								  ng-if="reportContainer.chartType!='Number Widget'" style="display: inline;">
								<a title="Reset" class="my-class"
								   style="font-size: 20px; cursor: pointer;"
								   ng-click="resetChart()"> <i class="icon md-refresh"
														   aria-hidden="true"></i> </a>
							</span>
							<span class="pull-right margin-pull-rights" style="padding-right: 10px;display: inline;" > 
								<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text'">
									    <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
									    Legends
									    <span class="caret"></span></button>
									    <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" >
									      
									    </ul>
								</div>
							</span> 
						</h5>
					</div>
					<!-- <div class="row" style="height: 80%;">
                        <div class="col-sm-10" style="overflow: hidden;padding-left: 20px;">
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
                            </div>
                        </div>
                        <div class="col-sm-2" >
                            <span class="label_legends" id="legends{{reportContainer.id}}" style="margin-left: 25px;">Legends</span>
                            <div class="chart-legend" id="left{{reportContainer.id}}" style="overflow: auto;height: 300px;"></div>
                        </div>
                    </div> -->
					<div class="row"  style="height: 80%;width: 100%" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map'   ">
						<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
							<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
							</div>
						</div>
						<!-- <div class="col-sm-2">
							<span class="label_legends{{reportContainer.id}} lable_legends_common" >Legends</span>
							<div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="left{{reportContainer.id}}" style="overflow: auto;height: 250px;"></div>
						</div> -->
					</div>
					<div style="height: 80%;width: 100%;overflow: auto;" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table' || reportContainer.chartType=='X Table'  || reportContainer.chartType=='Male & Female Comparison'    ">
						<div class="col-sm-12" style="padding-left: 40px;"  >
							<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
							</div>
						</div>
					</div>
					<div style="height: 80%;width: 100%;overflow: auto;" ng-if="reportContainer.chartType=='Number Widget'">
						<div class="col-sm-12" style="padding-left: 40px;"  >
							<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
							</div>
						</div>
					</div>
					
					
					
					

<!-- Map --> 
                    <div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Map' ">
                            <div class="col-sm-10"  style="overflow: hidden;padding-left: 40px;">
                                <div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
                            </div>
                            <div class="col-sm-2">
                                <span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
                                <div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" 
                                    style="overflow: auto; height: 300px;">
                                    
                                </div>
                            </div>
                        </div>

					
				</div>
			</div>
		</div>
	</div>