<!-- Model box add-->
<!--<div ng-include src="'tpl/blocks/datasource-modal.html'" include-replace></div>-->
<!-- Datasource Add model  -->
<div class="modal modal-primary fade modal-fade-in-scale-up in" id="myModal" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
			    <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="pg-close fs-14"></i>
				</button>
				<h4 style="width: 100%;">Add Datasource</h4> 
				<div class='errorsucess' ng-show="addModelError">
			     {{errorMessage}}
				</div>
				<div  class='errorsucess' role="alert" ng-show="checkError==1">
					<i class="icon md-check" aria-hidden="true"></i>Connected
					successfully. Select your database
				</div>
				<div class='errorsucess' role="alert" ng-show="checkError==6">
					<i class="icon md-close" aria-hidden="true"></i> Datasource name
					already exists
				</div>
				
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" data-placement="top" data-toggle="tooltip"
					ui-jq="tooltip" data-original-title="Close">
					<span aria-hidden="true"><i class="icon md-close"
						aria-hidden="true"></i> </span>
				</button>
	        </div>

			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									ng-model="dataSourceForm.connectionName"
									name="inputFloatingText" >
								<label class="floating-label">Datasource Name</label>
							</div>
							<!-- <div pg-form-group class="form-group form-group-default required">
                                <label>Datasource Name</label>
                                <input type="text" class="form-control custText" ng-model="dataSourceForm.connectionName">
                            </div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating" data-plugin="formMaterial"> 
								<input type="text" class="form-control"
									data-ng-model="dataSourceForm.hostname"
									name="inputFloatingText">
								<label class="floating-label">Host</label>
							</div>
							<!-- <div pg-form-group class="form-group form-group-default required">
                                <label>Host</label>
                                <input type="text" class="form-control" data-ng-model="dataSourceForm.hostname" required>
                            </div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="number" class="form-control"
									data-ng-model="dataSourceForm.port" name="inputFloatingText"
									> <label
									class="floating-label">Port</label>
							</div>
							<!--  <div pg-form-group class="form-group form-group-default required">
                                <label>Port</label>
                                <input type="number" class="form-control" data-ng-model="dataSourceForm.port" required>
                            </div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									data-ng-model="dataSourceForm.userName"
									name="inputFloatingText">
								<label class="floating-label">Username</label>
							</div>
							<!--  <div pg-form-group class="form-group form-group-default required">
                                <label>Username</label>
                                <input type="text" class="form-control" data-ng-model="dataSourceForm.userName" required>
                            </div> -->
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="password" class="form-control"
									data-ng-model="dataSourceForm.password"
									name="inputFloatingText" >
								<label class="floating-label" >Password</label>
								
							</div>
						</div>
					</div>
					<div class="row" ng-show="dbListSelect==1">
						<div class="col-sm-12">
							<div class="form-group form-material">
								<label class="control-label" for="select">Select Database</label> 
								<select	class="form-control" ng-model="sourceDbName.name" data-plugin="selectpicker">
								 <option value='' disabled selected>Please Select Database Name</option>
									<option	ng-repeat="item in databaselist" ng-value='{{item}}'>{{item}}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 m-t-10 m-r-20 sm-m-t-10 pull-right">
							<!-- ng-disabled="formValidation.$invalid" -->
							<button type="button" title=""
								class="btn btn-icon btn-block btn-info waves-effect waves-light"
								ng-click="testsource(dataSourceForm)">
								<img class="image-responsive-height demo-mw-25"
									src="assets/img/demo/progress.svg" alt="Progress"
									ng-show="loading" style="width: 15px"> {{testBtn}}
							</button>
						</div>
						<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
							<button type="button"
								class="btn btn-icon btn-block btn-primary waves-effect waves-light"
								ng-disabled="saveButton!=1"
								ng-click="save(dataSourceForm,sourceDbName)">Save</button>
						</div>

					</div>

				</form>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- Model view and edit -->
<div class="modal modal-primary fade modal-fade-in-scale-up in" id="modelViewEdit" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="pg-close fs-14"></i>
				</button>
				<h4>Datasource View</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" data-placement="top" data-toggle="tooltip"
					ui-jq="tooltip" data-original-title="Close">
					<span aria-hidden="true"><i class="icon md-close"
						aria-hidden="true"></i> </span>
				</button>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									name="inputFloatingText" ng-model="view.connectionname"
									readonly> <label class="floating-label">Datasource
									Name</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									name="inputFloatingText" ng-model="view.host" readonly>
								<label class="floating-label">Host</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="number" class="form-control"
									name="inputFloatingText" ng-model="view.port" readonly>
								<label class="floating-label">Port</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									name="inputFloatingText" ng-model="view.username" readonly>
								<label class="floating-label">Username</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control"
									name="inputFloatingText" value="***********" readonly>
								<label class="floating-label">Password</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control empty"
									name="inputFloatingText" ng-model="view.dbname" readonly>
								<label class="floating-label">Database Name</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
							<button type="button"
								class="btn btn-icon btn-block btn-primary waves-effect waves-light"
								ng-click="dashboardCreate(view)">Create Dashboard</button>
						</div>
						<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
							<button type="button"
								class="btn btn-icon btn-block btn-info waves-effect waves-light"
								ng-click="datasourceEdit()">Edit</button>
						</div>
						<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
							<button type="button"
								class="btn btn-icon btn-block btn-danger waves-effect waves-light"
								ng-click="datasourceDelete()">Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- Model view and edit end -->
<!-- Model Dashboard Table View Start-->
<div class="modal modal-primary fade modal-fade-in-scale-up in" id="dashboardTableView"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="pg-close fs-14"></i>
				</button>
				<!-- <div class="col-sm-1 backBtn">
                    <i class="fa fa-arrow-left backIcon" data-placement="right" aria-hidden="true" data-toggle="tooltip" data-original-title="Back" ui-jq="tooltip" ng-click="backBtnTableView()" ></i>
                </div> -->

				<h4>Select Table</h4>
				<div class="errorsucess "
					role="alert" ng-show="checkError==7">
					<!-- <button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true"><i class="icon md-close"
							aria-hidden="true"></i> </span>
					</button> -->
					<i class="icon md-close" aria-hidden="true"></i>Select table name
				</div>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close" data-placement="top" data-toggle="tooltip"
					ui-jq="tooltip" data-original-title="Close">
					<span aria-hidden="true"><i class="icon md-close"
						aria-hidden="true"></i> </span>
				</button>
            </div>
			<div class="modal-body">
				<div class="form-group form-material floating" data-plugin="formMaterial">
					<input type="text" class="form-control"	ng-model="dashboardDbname" readonly>
					<label class="floating-label">Database Name</label>
				</div>
				 
				<div class="col-sm-12">
					<img class="image-responsive-height" src="assets/img/demo/progress.svg" ng-show="loadingTableList"  alt="Progress" style="width: 10%;margin-top: 30px;margin-left: 43%;">
				</div>
				<div class="row">
						<div class="col-sm-6">
							<h4>Table Name</h4>
						</div>
						<div class=" col-sm-6 form-group form-material floating"
							data-plugin="formMaterial" style="float: right;margin-top: 0px;">
							<input type="text" class="form-control" id="inputText"
								name="inputText" ng-model="tableSearch" placeholder="Search...">
						</div>
						<hr>
				 </div>	
				<div class="col-sm-12 scrollable"
					style="height: auto; overflow: auto; margin-bottom: 0px; margin-right: 0px; max-height: 200px; padding: 0;">					
						<div pg-form-group	class="form-group form-group-default table-m-b table-m"
							ng-repeat="list in tableList | filter:tableSearch">
							<div class="radio-custom radio-primary" style="padding: 8px 10px 5px 30px;border: 1px solid #ccc;
    						border-bottom: none;">
		                      <input type="radio" name="inputCheckboxes" ng-model="tableNameCheck.checkbox" value="{{list}}"
		                       id="{{list}}" />
		                      <label for="{{list}}" style="cursor: pointer;">{{list}}</label>
		                    </div> 
						</div>
						<div ng-hide="loadingTableList">
							<h5 ng-hide="(tableList|filter:tableSearch).length">No Table Found</h5>
						</div>
					
				</div>
				<div class="row">
					<div class='col-sm-4'></div>
					<div class=" col-sm-8 example example-buttons"
						style='margin-bottom: -15px; margin-left: -25px;'>
						<div>
							<button type="button"
								class="btn btn-round btn-primary btn-pill-left waves-effect waves-round waves-light buttonwidth"
								ng-click="backBtnTableView()">Back</button>
							<button type="button"
								class="btn btn-round btn-primary btn-pill-right waves-effect waves-round waves-light buttonwidth"
								ng-click="getData(tableNameCheck.checkbox)">Next</button>
						</div>
					</div>
					<!--  <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
                        <button type="button" class="btn btn-success btn-block m-t-5 savebutton" ng-click="getData(tableNameCheck.checkbox)">Next</button>
                    </div> -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- Model Dashboard table view end -->
<!-- Dashboard table data start -->
<div class="modal modal-primary fade modal-fade-in-scale-up in" id="dashboardTableData"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="pg-close fs-14"></i>
				</button>
				<div class="col-sm-11" style="padding: 0;">
					<h4>Table Details</h4>
				</div>
				<div class="col-sm-1" style="padding: 0;">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true"><i class="icon md-close"
							aria-hidden="true"></i> </span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="progress-circle-indeterminate m-t-45"
							ng-show="loadingTableData"></div>
					</div>
					<div class="col-sm-12">
						<div id="dataTableDiv"></div>
						<!-- <div id="grid1" ui-grid="{ data: uiGridData }" class="grid" /> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 m-t-10 sm-m-t-10">
						<button type="button" class="btn btn-icon btn-block btn-info waves-effect waves-light" ng-click="metadataCreate()">Create Metadata</button>
					</div>
					<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right ">
						<button type="button"
							class="btn btn-icon btn-block btn-primary waves-effect waves-light" ng-click="dashboardNewCreate()">Create
							Dashboard</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Dashboard table data End -->
<!-- Datasource edit option start  -->
<div class="modal modal-primary fade modal-fade-in-scale-up in" id="datasourceEdit" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="pg-close fs-14"></i>
				</button>
				<h4>
					Datasource Edit
				</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							<div class="alert alert-danger" role="alert"
								ng-show="checkError==6">
								<button class="close" ng-click="notificationClose()"></button>
								<strong>Error: </strong>Datasource name already exists
							</div>
							<div class="form-group form-material floating"
								data-plugin="formMaterial">
								<input type="text" class="form-control empty"
									ng-model="dataSourceFormEdit.connectionName"
									name="inputFloatingText"> <label class="floating-label">Datasource
									Name</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial" data-plugin="formMaterial">
								<input type="text" class="form-control empty"
									ng-model="dataSourceFormEdit.hostname" name="inputFloatingText">
								<label class="floating-label">Host</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial" data-plugin="formMaterial">
								<input type="number" class="form-control empty"
									ng-model="dataSourceFormEdit.port" name="inputFloatingText">
								<label class="floating-label">Port</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial" data-plugin="formMaterial">
								<input type="text" class="form-control empty"
									ng-model="dataSourceFormEdit.userName" name="inputFloatingText">
								<label class="floating-label">Username</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating"
								data-plugin="formMaterial" data-plugin="formMaterial">
								<input type="password" class="form-control empty"
									ng-model="dataSourceFormEdit.password" name="inputFloatingText">
								<label class="floating-label">Password</label>
							</div>
							
						</div>
					</div>
					<div class="row" ng-show="dbListSelectEdit==1">
						<div class="col-sm-12">
							<div class="form-group form-material">
								<label class="control-label" for="select">Select
									Database</label> 
									<select class="form-control" ng-model="sourceDbNameUpdate.name">
									<option	ng-repeat="item in databaselist | filter: $select.search"
										ng-value='{{item}}'>{{item}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 m-t-10 m-r-20 sm-m-t-10 pull-right">
							<button type="button" title=""
								class="btn btn-icon btn-block btn-info waves-effect waves-light"
								ng-disabled="formValidation.$invalid"
								ng-click="testsource(dataSourceFormEdit)">
								<img class="image-responsive-height demo-mw-25"
									src="assets/img/demo/progress.svg" alt="Progress"
									ng-show="loading" style='width:15px;'> {{testBtn}}
							</button>
						</div>
						<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
							<button type="button"
								class="btn btn-icon btn-block btn-primary waves-effect waves-light"
								ng-disabled="saveButton!=1"
								ng-click="update(dataSourceFormEdit,sourceDbNameUpdate.name)">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- Datasource edit option end -->
