<style>
.page-login-v2:before {
    background-image: url(assets/img/bg.jpg);
}
</style>
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
      <div class="page-brand-info">
        <div class="brand">
          <img class="brand-img" src="http://192.168.0.17/bi-project/new-ui-theme/getting_started/angular/assets/img/thinklytics-white.png" alt="...">
         </div>
        <p class="font-size-20" style="opacity: 1">Thinklytics is the modern platform for business intelligence and analytics. Empowering to build visualizations from data using machine learning and delivering predictions based on data.</p>
      </div>
      <div class="page-login-main">
        <div class="brand hidden-md-up">
          <img class="brand-img" src="../../assets/images/logo-blue@2x.png" alt="...">
          <h3 class="brand-text font-size-40">Thinklytics</h3> 
        </div>
        <h3 class="font-size-24">Sign In</h3>
        <form method="post" action="#" autocomplete="off">
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="email" class="form-control" id="inputEmail" name="email" autofocus="yes" ng-model="user.username">
            <label class="floating-label" for="inputEmail">Email</label>
          </div>
          <div class="form-group form-material floating" data-plugin="formMaterial">
            <input type="password" class="form-control" id="inputPassword" name="password" ng-model="user.password">
            <label class="floating-label" for="inputPassword">Password</label>
          </div>
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
              <input type="checkbox" id="remember" name="checkbox">
              <label for="inputCheckbox">Remember me</label>
            </div>
            <a class="float-right" href="forgot-password.html">Forgot password?</a>
          </div>
          <button type="button" class="btn btn-primary btn-block" ng-click="loginCheck(user)">Sign in</button>
        </form>
        <p>Don't have an account? <a href="javascript:void(0);" ng-click="signUpRedirect()">Sign Up</a></p>
        <footer class="page-copyright">
          <p>&copy; 2017. All Rights Reserved</p>
        </footer>
      </div>
    </div>
  </div>
  <div class="loader-overlay" style="display: none;">
	<div class="loader-content">
		<div class="loader-index">
			<img class="image-responsive-height demo-mw-25 ng-hide" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px">
		</div>
	</div>
  </div>
  