<style>
.page{
background-image: url('assets/img/bg.jpg');
background-size: cover;
background-position: center top;
margin-left:0;
}
body
{
 padding-top: 0px;
}
.float-lef{
float:left
}
.page-content
{
width:50%;
background-image: url('assets/img/dot-95.png');
margin-top:0px;

}
.horizntal{
border-right:1px solid #ddd;
padding:3%;
}
.horizntal:last { border-right: none }
.page{
height:100% !important;
}
.panel-body{
    padding: 0 !important;
}
.full-height{
	height: 100%;
}
</style>
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content vertical-align-middle">
        <div class="">
            <div class="panel-body">
                <div class="brand">
                    <h2 class="brand-text font-size-18">Thinklytics</h2>
                    <hr>
                </div>
               
                 <div class="col-md-6 horizntal">
                <form method="post" action="#" autocomplete="off">
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="email" class="form-control" name="email" ng-model="user.username"/>
                        <label class="floating-label">Username or Email</label>
                    </div>
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="password" class="form-control" name="password" ng-model="user.password"/>
                        <label class="floating-label">Password</label>
                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
                            <input type="checkbox" id="inputCheckbox" name="remember">
                            <label for="inputCheckbox">Remember me</label>
                        </div>
                        <a class="float-right" href="forgot-password.html"></a>
                    </div>
                    <button type="button" ng-click="loginCheck(user)" class="btn btn-primary btn-block btn-lg mt-40">Sign in</button>
                </form>
             
                <br>
                <p><a class="float-lef"  href="forgot-password.html">Forgot password?</a> <a class="float-right" href="register-v3.html">Sign up</a></p>
              </div>
              <div class=col-md-6>
              sdfdf
              sdfsdf
              </div>
            </div>
        </div>

    </div>
</div>
