<style>
.page,.site-footer {
	margin-left: 0px;
}
.site-nav {
	padding: 22px 13px;
}
.navbar-width {
	width: 260px !important;
}
.cust-header-width {
	width: 100%;
}
.cust-topBar-btn {
	padding-top: 16px;
	padding-left: 6px;
	padding-right: 16px;
}
.btn-info {
	color: #fff;
	background: #48b0f7;
	border-color: #48b0f7;
}
.btn-info:hover {
	color: #fff;
	background: #48b0f7;
	border-color: #48b0f7;
}
.page {
	height: 100% !important;
}
.btn-group {
	float: right !important;
	cursor: pointer;
}
.min-width {
	min-width: 100px;
}
.dropdown-menu-primary {
	border-radius: 0px;
}
.margin-all {
	margin: 0px 45px 0px 15px !important;
}
.sourceName {
	border-radius: 0px;
	height: 25px !important;
}
.atag {
	width: 135px;
	padding: 3px;
}
.boxGroup:hover {
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .11);
}
.card-title {
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 10px;
}
.overlay-figure {
	width: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.card-block{
  padding: 0px;
}
.custIcon{
    width: 0px !important;
    height: 0px !important;
    float: right;
    margin-top: -15px;
    margin-right: -1px !important;
    margin-left: 0px !important;
}
.listEditDelete{
	right:0;
	min-width: 100px;
}
.overlay{
    overflow: visible !important;
}
</style>
</head>
<!-- Page -->
<div class="page">
	<div class="page-header">
		<h1 class="page-title">Metadata</h1>
		<div class="page-header-actions">
			<a class="btn btn-sm btn-primary btn-round"
				href="javascript:void(0);" target="_blank" ng-click="addMetadata()">
				<i class="icon md-plus" aria-hidden="true"></i> <span
				class="hidden-sm-down">Metadata Add</span> </a>
		</div>
	</div>
	<div class="page-content container-fluid">
		<ul class="blocks blocks-100 blocks-xxl-6 blocks-lg-6"
			data-plugin="filterable">
			<li ng-repeat="meta in metaList">
				<div class="card card-shadow">
					<figure class="card-img-top overlay-hover overlay"
						style="background: #3f51b5;text-align:center;"> 
						<i class="fa  fa-window-maximize" 
						 style="padding-top: 30px;padding-bottom: 30px;font-size: 40px;color: #FFF;"
						 aria-hidden="true"></i>
						 <figcaption
						class="overlay-panel overlay-background overlay-fade overlay-icon">
					<div class="btn-group open">
					<a class="icon custIcon md-more-vert" id="exampleSplitDropdown2" data-toggle="dropdown" aria-expanded="true" href="javascript:void(0);"
						>
					</a>
                    <ul class="dropdown-menu listEditDelete dropdown-menu-primary" aria-labelledby="exampleSplitDropdown2" role="menu">
                      <li role="presentation"><a href="#/metadata/edit/{{meta.metadataId}}" role="menuitem" class=" waves-effect waves-light">Edit</a></li>
                      <li role="presentation"><a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="metadataDelete(meta.metadataId)">Delete</a></li>
                    </ul>
                  </div>
					 </figcaption> </figure>
					<div class="card-block">
						<h4 class="card-title">{{meta.name | limitTo:16}}{{ meta.name.length > 16 ? '...' : ''}}</h4>
					</div>
				</div></li>
		</ul>
		<h5 ng-hide="(metaList|filter:metafilter).length">No Metadata
			Found</h5>
	</div>
</div>
