<style>
.custPanel {
	margin-bottom: 0px;
}

.card-block {
	padding: 0px;
}

.panel-title {
	padding: 20px 0px 15px 0px;
}

.panel-heading {
	padding-left: 20px;
	padding-right: 20px;
}

.glyphiconCust {
	font-size: 18px;
}

.custTitlePanel {
	float: left;
}
/* Extra css*/
.joinImage {
	background: #fff;
	cursor: pointer;
	height: 30px;
	left: -41px;
	position: absolute;
	top: 22.5px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99;
}
.join-link {
	fill: none;
	stroke: #219FD7;
	stroke-width: 2px;
	/*  shape-rendering: crispEdges; */
	overflow: auto;
	transform-origin: 50% 50% 0px;
}
.join-links { /*  width: 4000px;
          height: 4000px; */
	overflow: auto;
}
.navbar-width {
	width: 260px !important;
}
.joinHover {
	text-align: center;
	border: 1px solid transparent;
}
.joinHover:hover {
	border: 1px solid #ccc;
	cursor: pointer;
}
.joinActive {
	border: 1px solid #ccc;
	background: rgba(204, 204, 204, 0.39);
}
.custSize {
	width: 40px;
}
.marginBottom {
	margin-bottom: 10px;
}
.site-menu>.site-menu-item.active {
	font-weight: bold;
}
.custDropdownMeasure {
	right: 0;
}
.custDropdownDimension {
	right: 0;
}
.m-l-5c {
	margin-left: 10px;
}
.dataTables_empty{
	text-align: left;
}
.page-content{
	padding: 15px 30px; 
}
.example {
    margin-top: 10px;
    margin-left: 10px;
}
</style>
<div class="site-menubar">
	<div class="site-menubar-body">
		<div>
			<div>
				<ul class="site-menu" data-plugin="menu">
					<li class="site-menu-item active" ng-click="tab='home'"
						ng-class="{'active': tab === 'home'}" ><a
						class="animsition-link" href="javascript:void(0);"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-home"
							aria-hidden="true"></i> <span class="site-menu-title">Home</span>
						</a>
					</li>
					<li class="site-menu-item has-sub" ng-click="tab='column'"
						ng-class="{'active': tab === 'column'}" ><a
						href="javascript:void(0)"> <i 
							class="site-menu-icon glyphiconCust glyphicon glyphicon-filter"
							aria-hidden="true"></i> <span class="site-menu-title">Column</span>
						</a>
					</li>
					<li class="site-menu-item has-sub" ng-click="tab='filter'"
						ng-class="{'active': tab === 'filter'}" ><a
						href="javascript:void(0)"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-filter"
							aria-hidden="true"></i> <span class="site-menu-title">Filter</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="page">
	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-lg-3">
				<!-- Page Widget -->
				<div class="card card-shadow text-center" ng-if="tab=='home'">
					<div class="card-block">
						<div class="custPanel">
							<div class="panel-heading">
								<h3 class="panel-title"	style="border-bottom: 1px solid #e0e0e0; text-align: left; padding-left: 10px;">Datasource</h3>
							</div>
						</div>
						<div style="padding: 10px 20px 10px 20px;">
							<select class="form-control" ng-model="source.sourceoption"
								ng-change="sourceSelect(source.sourceoption)">
								<option selected="selected" disabled="disabled" value="">Select
									Datasource</option>
								<option ng-repeat="source in sourcedata" value="{{source}}">{{source.name}}</option>
							</select>
							<div style="max-height: 420px; min-height: 420px; overflow: auto;">
								<img class="image-responsive-height"
									src="assets/img/demo/progress.svg" ng-show="loadingBarDrawer"
									alt="Progress" style="width: 20%; margin-top: 30px;">
								<ul class="list-unstyled example" style="text-align: left;"
									ng-hide="loadingBarDrawer">
									<li class="margin-bottom-15"
										ng-repeat="tableListval in tableList">
										<div class="checkbox-custom checkbox-primary">
											<input type="checkbox" name="inputCheckboxes"
												id="checkboxDimension{{$index}}"
												ng-model="Attributes.checkboxModelDimension[tableListval]"
												ng-click="onDrop(event,$index ,tableListval, external, type, 'itemType',Attributes.checkboxModelDimension[tableListval])"
												checked /> <label for="checkboxDimension{{$index}}">{{tableListval}}</label>
										</div></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- End Page Widget -->
				<!-- Page Filter tab Widget -->
				<div class="card card-shadow text-center" ng-if="tab=='column'">
					<div class="card-block">
						<div class="custPanel">
							<div class="panel-heading">
								<h3 class="panel-title"
									style="border-bottom: 1px solid #e0e0e0; text-align: left; padding-left: 10px;">Columns</h3>
							</div>
						</div>
						<div style="padding: 10px 20px 10px 10px;">
							<h4 class="panel-title">
								<a class="custTitlePanel"> Measure </a>
							</h4><br>
							<input type="radio" name="measure_type" id="measureType1" ng-click="nameTypeMeasure='database_measure'" checked>
							<label for="measureType1">Database Name</label>
							<input type="radio" name="measure_type" id="measureType2" ng-click="nameTypeMeasure='business_measure'" >
							<label for="measureType2">Business Name</label>
							<ul class="list-unstyled example"
								style="text-align: left; max-height: 120px; min-height: 120px; overflow: auto;" ng-if="nameTypeMeasure=='business_measure'">
								<li class="margin-bottom-15"
									ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
									for="checkboxDimension{{$index}}" class="">{{keys.reName}}</label>
									<span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
									style="line-height: 28px; cursor: pointer;"
									ng-click="measureDimensionDropdown('measureDiv',$index)"><i
										class="fa fa-ellipsis-v" data-toggle="dropdown"
										aria-hidden="true" style="padding-right: 10px;"></i>
										<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
											<li class='m-l-5c'><a href=""
												ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
											<li class='m-l-5c'><a href=""
												ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
													To Dimension</a></li>
											<!-- <li class='m-l-5c' ng-if="keys.type!='custom'")><a href=""
														ng-click="columnCalculation(measure,$index)">Create
															Calculation</a></li> -->
											<!-- <li class='m-l-5c' ng-if="keys.type=='custom'")><a href=""
											ng-click="columnCalculationEdit(keys,$index)">Edit
												Calculation</a></li> -->
											<li class='m-l-5c'><a href=""
												ng-click="deleteColumn(keys.reName)">Delete</a></li>
										</ul>
								</li> 
							</ul>
							<ul class="list-unstyled example"
								style="text-align: left; max-height: 120px; min-height: 120px; overflow: auto;" ng-if="nameTypeMeasure=='database_measure'">
								<li class="margin-bottom-15"
									ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
									for="checkboxDimension{{$index}}" class="">{{keys.columnName}}</label>
									<span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
									style="line-height: 28px; cursor: pointer;"
									ng-click="measureDimensionDropdown('measureDiv',$index)"><i
										class="fa fa-ellipsis-v" data-toggle="dropdown"
										aria-hidden="true" style="padding-right: 10px;"></i>
										<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
											<li class='m-l-5c'><a href=""
												ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
											<li class='m-l-5c'><a href=""
												ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
													To Dimension</a></li>
											<!-- <li class='m-l-5c' ng-if="keys.type!='custom'")><a href=""
														ng-click="columnCalculation(measure,$index)">Create
															Calculation</a></li> -->
											<!-- <li class='m-l-5c' ng-if="keys.type=='custom'")><a href=""
											ng-click="columnCalculationEdit(keys,$index)">Edit
												Calculation</a></li> -->
											<li class='m-l-5c'><a href=""
												ng-click="deleteColumn(keys.reName)">Delete</a></li>
										</ul>
								</li> 
							</ul>
							<h4 class="panel-title">
								<a class="custTitlePanel"> Dimension </a>
							</h4>
							<br>
							<input type="radio" name="dimension_type" id="dimensionType1" ng-click="nameTypeDimension='database_dimension'" checked>
							<label for="dimensionType1">Database Name</label>
							<input type="radio" name="dimension_type" id="dimensionType2" ng-click="nameTypeDimension='business_dimension'" >
							<label for="dimensionType2">Business Name</label>
							<ul class="list-unstyled example" 
								style="text-align: left; max-height: 120px; min-height: 120px; overflow: auto;" ng-if="nameTypeDimension=='business_dimension'">
								
								<li class="margin-bottom-15"
									ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.reName}}</label>
									<span class="pull-right dropdown buttonDropdownDimension{{$index}}"
									style="line-height: 28px; cursor: pointer;"
									ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
										class="fa fa-ellipsis-v" data-toggle="dropdown"
										aria-hidden="true" style="padding-right: 10px;"></i>
										<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
											<li class='m-l-5c'><a href=""
												ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
											<li class='m-l-5c'><a href=""
												ng-click="moveToDimMeasure('Measure',keys.reName)">Move
													To Measure</a></li>
											<!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
															Group</a>
											</li> -->
											<!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
											</li> --> 
											<li class='m-l-5c'><a href=""
												ng-click="deleteColumn(keys.reName)">Delete</a></li>
										</ul>
								</li>
							</ul>
							<ul class="list-unstyled example"
								style="text-align: left; max-height: 120px; min-height: 120px; overflow: auto;" ng-if="nameTypeDimension=='database_dimension'">
								<li class="margin-bottom-15"
									ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.columnName}}</label>
									<span class="pull-right dropdown buttonDropdownDimension{{$index}}"
									style="line-height: 28px; cursor: pointer;"
									ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
										class="fa fa-ellipsis-v" data-toggle="dropdown"
										aria-hidden="true" style="padding-right: 10px;"></i>
										<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
											<li class='m-l-5c'><a href=""
												ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
											<li class='m-l-5c'><a href=""
												ng-click="moveToDimMeasure('Measure',keys.reName)">Move
													To Measure</a></li>
											<!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
															Group</a>
											</li> -->
											<!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
											</li> --> 
											<li class='m-l-5c'><a href=""
												ng-click="deleteColumn(keys.reName)">Delete</a></li>
										</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- End Page Widget -->
				<!-- Page Filter tab Widget -->
				<div class="card card-shadow text-center" ng-if="tab=='filter'">
					<div class="card-block">
						<div class="custPanel">
							<div class="panel-heading">
								<h3 class="panel-title"
								style="border-bottom: 1px solid #e0e0e0; text-align: left; padding-left: 10px;">Filter
								<button class="btn btn-primary"  style="float: right;" ng-click="filter()">+</button>
								</h3>
							</div>
						</div>
						<div style="padding: 10px 20px 10px 10px;min-height: 478px;max-height: 478px;overflow: auto;">
						    <span ng-if="limit=='' && whereConditionText==''"><h4>No Data</h4></span>
							<span ng-if="whereConditionText!=''"><h5>Condition:</h5>{{whereConditionText}}</span>
							<span ng-if="limit!=''">Limit:</span>{{limit}}</span>
						</div>
					</div>
				</div>
				<!-- End Filter tab --> 
			</div>
			<div class="col-lg-9">
				<!-- Panel -->
				<div class="panel custPanel">
					<div class="panel-heading">
						<h3 class="panel-title col-sm-12" style="border-bottom: 1px solid #e0e0e0;">
							Metadata 
							<span class="col-sm-2" style="float: right;text-align: right;">
								<button type="button" ng-click="metaDataSave()" class="btn btn-primary waves-effect waves-classic">
								Save</button>
							</span>
							<span class="col-sm-3" style="float: right;text-align: right;">
								<div class="form-material">
				         		    <input type="text" class="form-control" ng-model="metadataName" placeholder="Metadata Name">
				       			 </div>
							</span>
						</h3>
					</div>
					<div class="panel-body h-200" data-plugin="scrollable" data-skin="scrollable-shadow" style="overflow: auto;">
						<div data-role="container">
							<div data-role="content" id="canvasContainer"></div>
						</div>
					</div>
				</div>
				<div class="panel custPanel">
					<div class="panel-heading">
						<h3 class="panel-title" style="border-bottom: 1px solid #e0e0e0;">Datatable</h3>
					</div>
					<div class="panel-body" data-plugin="scrollable"
						data-skin="scrollable-shadow"
						style="overflow: auto; height: 220px;" ng-hide="joinConfiguration">
						<div data-role="container">
							<div data-role="content">
								<div ui-grid="{ data: uiGridData }" class="grid">
									<!-- ng-show="updatebtn" -->
									<div id="dataTableDiv"></div>
									<img class="image-responsive-height"
										src="assets/img/demo/progress.svg" ng-show="loadingBar"
										alt="Progress" style="margin-top: 9.5%; margin-left: 43%;">
									<button class="btn btn-success btn-cons savebutton"
										data-ng-click="getData(source.sourceoption)"
										style="margin-top: 9.5%; margin-left: 44.5%;"
										ng-show="updateBtnOnLoad">Update</button>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body" data-plugin="scrollable"
						data-skin="scrollable-shadow"
						style="overflow: auto; height: 220px;" ng-show="joinConfiguration">
						<div data-role="container">
							<div data-role="content">
								<div class="row">
									<div class="col-md-2 marginBottom">
										<span class="joinSideText">Join Type</span>
									</div>
									<div class="col-md-10 marginBottom">
										<div class="row">
											<div class="col-md-3 joinHover Inner"
												ng-click="joinType('Inner')">
												<img src="assets/img/join_inner.svg" class="custSize"><br>
												<span class="joinText">Inner Join</span>
											</div>
											<div class="col-md-3 joinHover Left"
												ng-click="joinType('Left')">
												<img src="assets/img/join_left.svg" class="custSize"><br>
												<span class="joinText">Left Join</span>
											</div>
											<div class="col-md-3 joinHover Right"
												ng-click="joinType('Right')">
												<img src="assets/img/join_right.svg" class="custSize"><br>
												<span class="joinText">Right Join</span>
											</div>
											<div class="col-md-3 joinHover Outer"
												ng-click="joinType('Outer')">
												<img src="assets/img/join_outer.svg" class="custSize"><br>
												<span class="joinText">Outer Join</span>
											</div>
										</div>
									</div>

									<div class="col-md-2 marginBottom" ng-show="joinSelected">
										<span class="joinSideText">Data source</span>
									</div>
									<div class="col-md-4 marginBottom" ng-show="joinSelected">
										<!--<div pg-form-group class="form-group ">
		                                        <ui-select ng-model="Form.leftColumnTable" >
		                                            <ui-select-match placeholder="Select Source Name">{{$select.selected}}
		                                            </ui-select-match>
		                                            <ui-select-choices ng-repeat="tableName in selectedTableName">
		                                                <div ng-bind-html="trustAsHtml((tableName| highlight: $select.search))"></div>
		                                            </ui-select-choices>
		                                        </ui-select>
		                                    </div>-->
										<select class="form-control" ng-model="Form.leftColumnTable"
											ng-change="getValueVariable(Form.leftColumnTable)">
											<option ng-repeat="tableName in selectedTableName"
												ng-if="tableName!=selectTable" value="{{tableName}}">{{tableName}}</option>
										</select>
									</div>
									<div class="col-md-12" ng-show="sourceSelected">
										<table class="table grid">
											<thead>
												<tr>
													<th width="35%">{{Form.leftColumnTable}}</th>
													<th width="20%">{{selectjoin}} Join <img
														src="assets/img/join_inner.svg" class="custSize"
														ng-if="selectjoin=='Inner'"> <img
														src="assets/img/join_left.svg" class="custSize"
														ng-if="selectjoin=='Left'"> <img
														src="assets/img/join_right.svg" class="custSize"
														ng-if="selectjoin=='Right'"> <img
														src="assets/img/join_outer.svg" class="custSize"
														ng-if="selectjoin=='Outer'"></th>
													<th width="35%">{{selectTable}}</th>
													<th width="10%" style="text-align: center;">
														<button type="button"
															class="btn btn-xs btn-icon btn-primary waves-effect waves-light"
															ng-click="addRow()">
															<i class="icon md-plus" aria-hidden="true"></i>
														</button></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="rows in noRow">
													<td>
														<div class="form-group" style="margin-bottom: 0px;">
															<select class="form-control" ng-model="Form.node[rows].leftColumn" required>
																<option></option>
																<option	ng-repeat="columnName in selectLeftColumnNameList" ng-value="{{columnName.Field}}">{{columnName.Field}}</option>
															</select>
														</div></td>
													<td style="text-align: center;"><img
														src="assets/img/join_inner.svg" class="custSize"
														ng-if="selectjoin=='Inner'"> <img
														src="assets/img/join_left.svg" class="custSize"
														ng-if="selectjoin=='Left'"> <img
														src="assets/img/join_right.svg" class="custSize"
														ng-if="selectjoin=='Right'"> <img
														src="assets/img/join_outer.svg" class="custSize"
														ng-if="selectjoin=='Outer'"></td>
													<td>
														<div class="form-group" style="margin-bottom: 0px;">
															<select class="form-control" ng-model="Form.node[rows].rightColumn" required>
																<option></option>
																<option ng-repeat="columnName in selectedColumnNameList" ng-value="{{columnName.Field}}">{{columnName.Field}}</option>
															</select>
														</div></td>
													<td style="text-align: center;">
														<button type="button"
															class="btn btn-xs btn-icon btn-danger waves-effect waves-light"
															style="text-align: center;" ng-if="rows!=0"
															ng-click="removeRow(rows)">
															<i class="icon md-minus" aria-hidden="true"></i>
														</button></td>
												</tr>
											</tbody>
										</table>
										<button class="btn btn-primary btn-cons pull-right"
											ng-click="popOverSave(Form)">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- End Panel -->
			</div>
		</div>
	</div>
</div>
<div ng-include src=" 'tpl/metadata-add-modal.html'" include-replace></div>
<div ng-include src=" 'tpl/group.html'" include-replace></div>
<div ng-include src=" 'tpl/calculation.html'" include-replace></div>  