<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div class="site-menu" data-plugin="menu">
                <div class="nav-tabs-vertical" data-plugin="tabs">
                    <ul class="nav nav-tabs custTabHeight" role="tablist">
                        <li class="nav-item active" role="presentation"><a class="" data-toggle="tab" ng-href="javascript:void(0);#exampleTabsIconLeftOne"
                                                                           aria-controls="exampleTabsIconLeftOne" role="tab"><i class="icon md-home m-0 icon-setting" aria-hidden="true" style="font-size: 19px;"></i></a></li>
                        <li class="nav-item" role="presentation"><a class="" data-toggle="tab" ng-href="javascript:void(0);#exampleTabsIconLeftTwo"
                                                                    aria-controls="exampleTabsIconLeftTwo" role="tab"><i class="icon glyphicon glyphicon-filter m-0 icon-setting" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="tab-content" style="padding: 0px 10px 10px 10px;min-height: 300px;">

                        <div class="tab-pane active" id="exampleTabsIconLeftOne" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="form-group form-material floating" style="padding:0px;text-align: center;padding-top: 10px;">
                                        <div pg-form-group class="form-group ">
                                            <ui-select ng-model="source.sourceoption" on-select="sourceSelect(source.sourceoption)"
                                                       theme="bootstrap"  style="margin-top:-2px;">
                                                <ui-select-match placeholder="Select Datasource">{{$select.selected.name}}
                                                </ui-select-match>
                                                <ui-select-choices repeat="source in sourcedata | filter: $select.search">
                                                    <div ng-bind-html="trustAsHtml((source.name| highlight: $select.search))"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <span ng-if="tableList.length===undefined" ng-hide="drawerText">Select datasource</span>
                                        <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" ng-show="loadingBarDrawer" alt="Progress" style="width: 20%;">
                                    </div>
                                </div>
                                <div class="col-md-12 marginSearch">
                                    <div class="panel-group"  role="tablist" aria-multiselectable="true"  ng-show="metaListData">
                                        <div class="panel panel-default borderTop" >
                                            <div class="panel-heading " role="tab"  style='padding:5px 5px 5px 10px;'>
                                                <h4 class="panel-title">
                                                    <a style="padding-right: 10px;">Table List
                                                        <span style="float: right;cursor: pointer;" ng-click="toggleSearch = !toggleSearch"><i class="fa fa-search"></i> </span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div class="panel-collapse collapse in scroll-content auto-overflow" style="height:70vh;overflow-x: hidden !important;" role="tabpanel">
                                                <div class="form-group" ng-show="toggleSearch">
                                                    <div class="form-group form-group-default form-group-default-select selectSearch">
                                                        <input type="text" class="form-control custText" ng-model="metaDataListSearch" placeholder="search...">
                                                        <!--<i class="fa fa-search icons" aria-hidden="true"></i>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-12" data-ng-repeat="tableListval in tableList|filter:metaDataListSearch">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="{{tableListval}}" ng-true-value="1" ng-false-value="0"
                                                               id="checkboxDimension{{$index}}"
                                                               ng-model="Attributes.checkboxModelDimension[tableListval]"
                                                               ng-click="onDrop(event,$index ,tableListval, external, type, 'itemType',Attributes.checkboxModelDimension[tableListval])">
                                                        <label for="checkboxDimension{{$index}}" style="width: 100%">{{tableListval}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="exampleTabsIconLeftTwo" role="tabpanel">
                            <div class="row" style="margin-bottom: -15px;">
                                <div class="panel-group panelWidth" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default panelborder-top">
                                        <div class="panel-heading custHeading" role="tab">
                                            <h4 class="panel-title">
                                                <a>
                                                    Measure
                                                </a>
                                            </h4>
                                             <div ng-hide="metadataInfo1">
                            				 <h5 style="color:#777;">Select datasource first</h5>
                        					 </div>
                                        </div>
                                        <div class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body" style="height:203px;overflow: auto;" >
                                                <div >
                                                    <ul class="lg-icon" ng-repeat="keys in columnTypekeysArrayMeasure" style="padding:1px;">
                                                        <li class="test" style="width: 100%"><span style="word-wrap: break-word;">{{keys.reName}}</span>
                                                            <span class="pull-right dropdown buttonDropdownMeasure" style="line-height: 28px;cursor: pointer;" ng-click="measureDimensionDropdown('measureDiv',$index)"><i class="fa fa-ellipsis-v" data-toggle="dropdown" aria-hidden="true" style="padding-right: 10px;"></i>
					                                		<ul class="dropdown-menu custDropdownMeasure" role="menu">
											                    <li><a href="" ng-click="renameKeys(keys.reName,$index)">Rename</a>
											                    </li>
											                    <li><a href=""  ng-click="moveToDimMeasure('Dimension',keys.reName)">Move To Dimension</a>
											                    </li>
											                    <li><a href="" ng-click="columnCalculation(keys.reName,$index)">Create Calculation</a>
											                    </li>
											                    <li><a href="" ng-click="deleteColumn(keys.reName)">Delete</a>
											                    </li>
											                </ul>
					                                	</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="panel-group panelWidth" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default panelborder-top" style="border-bottom:none;">
                                        <div class="panel-heading custHeading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" ng-class="{collapsed:!collapseTwo}" ng-click="collapseTwo=!collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Dimension
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingTwo" ng-class="{in:collapseTwo}">
                                            <div class="panel-body panelborder" style="height:250px;overflow: auto;">
                                                <ul class="lg-icon" ng-repeat="keys in columnTypekeysArrayDimension" style="padding:1px;">
                                                    <li style="width: 100%"><span>{{keys.reName}}</span>
                                                        <span class="pull-right dropdown buttonDropdownDimension"  style="line-height: 28px;cursor: pointer;"  ng-click="measureDimensionDropdown('dimensionDiv',$index)" ><i class="fa fa-ellipsis-v" data-toggle="dropdown" aria-hidden="true"></i>
					                                		<ul class="dropdown-menu custDropdownDimension" role="menu">
											                    <li><a href="" ng-click="renameKeys(keys.reName,$index)">Rename</a>
											                    </li>
											                    <li><a href="" ng-click="moveToDimMeasure('Measure',keys.reName)">Move To Measure</a>
											                    </li>
											                    <li><a href="" ng-click="createCategory(keys)">Create Group</a>
											                    </li>
											                    <li><a href="" ng-click="deleteColumn(keys.reName)">Delete</a>
											                    </li>
											                </ul>
					                                	</span>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>