<!-- Stylesheets -->
<style>
    .site-menubar {
        width: 350px;
    }

    .page, .site-footer {
        margin-left: 350px;
    }

    .site-menubar-hide .site-menubar {
        transform: translate3d(-350px, 0, 0);
    }

    .cust-topBar-btn {
        padding-top: 16px;
        padding-left: 0px;
        padding-right: 16px;
    }

    .nav-tabs-vertical .nav-tabs .nav-link {
        border-radius: 0px;
    }

    .custTabHeight {
        height: 90vh;
    }

    .savebutton {
        background: #48b0f7;
        color: #fff;
        border-color: #48b0f7;
    }

    .savebutton:hover {
        background: #48b0f7;
        color: #fff;
        border-color: #48b0f7;
    }

    .custbutton {

        width: 120px;
        border-radius: 0;
    }

    .page {
        height: 100% !important;
    }

    .ui-select-bootstrap .ui-select-choices-row > span:hover {
        border-radius: 0;
        color: #fff;
        background-color: #3f51b5;
    }

    .margin-pull-right {
        margin: -50px -12px;
    }

    .margin-pull-rights {
        margin: -50px 20px;
    }

    .margin-pull-rightss {
        margin: -50px 40px;
    }

    .margin-pull-dropdown {
        margin: -20px 22px;
    }

    /*   .ui-select-bootstrap .ui-select-choices-row.active > span {
      border-radius:0 ;
      color: #fff !important;
      background-color: #3f51b5 !important;
    } */

    .li-box-border {
        border: 2px solid #48b0f7 !important;
         cursor: pointer;
    }

    @media (max-width: 767px) {
        .site-menubar {
            transform: translate3d(-350px, 0, 0);
        }

        .page, .site-footer {
            margin-left: 0px;
        }
    }

    .page-content {
        padding: 0px;
        padding-left: 30px;
        padding-top: 10px;
        padding-right: 30px;

    }

    .widget {
       /* position: relative;*/
        margin-bottom: 30px;
        background-color: #fff;
        cursor: pointer;
    }

    .widget-shadow {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background: #48b0f7;
        border: none;
        color: #FFF;
    }

    .nav-tabs > li > a {
        font-size: 16px;
        padding: 10px 26px;
    }

    .panel-default > .panel-heading {
        background: transparent;
    }

    .panel-group .panel-title:before {
        content: "";
    }

    .panel-group .panel-title:after {
        content: "";
    }

    .panel-group .panel-heading {
        padding: 5px 10px 5px 10px;
    }

    .panel-group .panel {
        border-radius: 0px;
        padding-bottom: 10px;
    }

    .panel-group .panel-collapse .panel-body {
        padding: 0px 0px;
    }

    .panel-body .checkbox {
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: 0px;
    }

    .panel-group .panel + .panel {
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .activeChart{
        background-color: #D3ECF7;
        border: 2px solid #219FD7 !important;
        cursor: pointer;
    }
    .custBorderHover:hover {
        background-color: #D3ECF7;
        border: 2px solid #219FD7 !important;
        cursor: pointer;
    }

    .handle-n, .handle-e, .handle-s, handle-w, .handle-ne, handle-sw, .handle-nw {
        display: none;
    }

    .form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus {
        background-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF), -webkit-linear-gradient(#FFFFFF, #FFFFFF);
    }

    /*.widget {
        top: 0px !important;
    }*/

    .widget .panel-title {
        padding-bottom: 0px;
    }

    .widget .panel-heading {
        margin-top: -18px;
    }

    .custPlaceholder::placeholder {
        color: #fff !important;
    }

    .custPlaceholder {
        color: #FFF;
    }

    .measureDimension .drop-down {
        position: fixed;
    }

   
    .dropdown-menu > li > a {
        line-height: 25px !important;
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        border-radius: 0;
        color: #fff !important;
        background-color: #3f51b5;
    }

    .subdropDown {
        top: 0px;
    }
     .navbar-width{
        width: 260px !important;
        }

    .dropdown-menu {
        border-radius: 0px;
    }
    .widget{
       
        border: 2px solid transparent;
    }
    .form-material.floating{
        margin-top: 6px;
    }
</style>
<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega"
     role="navigation">
    <div class="navbar-header navbar-width">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <span class="navbar-brand-text hidden-xs-down">Public View</span>
        </div>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle site-nav" data-toggle="gridmenu">
               <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" aria-expanded="false" data-animation="fade" role="button" style="color: #FFF;">Menu <!--<i class="icon md-chevron-down" aria-hidden="true"></i>--></a>
               <ul class="dropdown-menu dropdown-menu-primary" role="menu">
                   <li role="presentation">
                       <a href="#/datasource/" role="menuitem"><i class="icon md-account" aria-hidden="true"></i> Datasource</a>
                   </li>
                   <li role="presentation">
                       <a href="#/metadata/" role="menuitem"><i class="icon md-card" aria-hidden="true"></i> Metadata</a>
                   </li>
                    <li  role="presentation">
                       <a href="#/metadata/add" role="menuitem"><i class="icon md-plus" aria-hidden="true"></i> Add Metadata</a>
                   </li>
                   <li role="presentation">
                       <a href="#/dashboard/" role="menuitem"><i class="icon md-settings" aria-hidden="true"></i> Dashboard</a>
                   </li>
                   <li  class="active"  role="presentation">
                       <a href="#/dashboard/add" role="menuitem"><i class="icon md-plus" aria-hidden="true"></i> Add Dashboard</a>
                   </li>
               </ul>
        </div>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
          <!-- Navbar Toolbar -->
            <ul class=" btn-group nav navbar-toolbar">
                <li>
                    <a class="nav-link" aria-hidden="true" data-toggle="dropdown"  aria-expanded="true" id="exampleSizingDropdown3"><i class=" fa fa-plus" ></i></a>
                   
                      <ul class="dropdown-menu dropdown-menu-primary pull-right min-width" aria-labelledby="exampleSizingDropdown3" role="menu">
                      <li role="presentation"><a href="javascript:void(0)" class="waves-effect waves-light" role="menuitem" style="line-height: 25px !important;" ng-click="edit()">Edit Text</a></li>
                      <li role="presentation"><a href="javascript:void(0)" class="waves-effect waves-light" role="menuitem" ng-click="addReport()" style="line-height: 25px !important;">Draw chart</a></li>
                    </ul>
                    
                </li>
                <li style="width: 83px"></li>
               <!--  <li class="nav-item hidden-float" id="toggleMenubar">
                    <div class="form-group form-material" style=" width:200%; margin-bottom: 0px;margin-top: 8px;">
                        <input placeholder="Dashboard Name..." class="form-control custPlaceholder"
                               ng-model="dashName.dashboardName">
                    </div>
                </li> -->
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

               <!--  <li class="nav-item cust-topBar-btn  custbutton">
                    <button type="button" class="btn btn-block  waves-effect waves-classic savebutton"
                            ng-click="saveDashboard()">Save
                    </button>
                </li>
                <li class="nav-item cust-topBar-btn">
                    <button type="button" class="btn btn-block btn-danger waves-effect waves-classic closebutton"
                            ng-click="closedashboard()">Close
                    </button>
                </li> -->
                <!--<li class="nav-item">
                    <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                       role="button">
                        <span class="sr-only">Toggle Search</span>
                    </a>
                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="javascript:void(0)"
                       aria-expanded="false"
                       data-animation="scale-up" role="button">
                      <span class="avatar avatar-online">
                        <img src="assets/img/5.jpg" alt="...">
                        <i></i>
                      </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account"
                                                                                              aria-hidden="true"></i>
                            Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card"
                                                                                              aria-hidden="true"></i>
                            Billing</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings"
                                                                                              aria-hidden="true"></i>
                            Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power"
                                                                                              aria-hidden="true"></i>
                            Logout</a>
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->

        <!-- End Site Navbar Seach -->
    </div>
</nav>
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div class="site-menu" data-plugin="menu">
                <div class="nav-tabs-vertical" data-plugin="tabs">
                    <ul class="nav nav-tabs custTabHeight" role="tablist">
                        <li class="nav-item active" role="presentation"><a class="" data-toggle="tab"
                                                                           href="javascript:void(0);#exampleTabsIconLeftOne"
                                                                           aria-controls="exampleTabsIconLeftOne"
                                                                           role="tab"><i class="icon md-home m-0"
                                                                                         aria-hidden="true" style="font-size: 20px;"></i></a>
                        </li>
                        <li class="nav-item" role="presentation"><a class="" data-toggle="tab"
                                                                    href="javascript:void(0);#exampleTabsIconLeftTwo"
                                                                    aria-controls="exampleTabsIconLeftTwo" role="tab"><i class="icon glyphicon glyphicon-filter m-0 icon-setting" aria-hidden="true" style="font-size: 19px;"></i></a></li>
                    </ul>
                    <div class="tab-content" style="padding:0px;">
                        <div class="tab-pane active" id="exampleTabsIconLeftOne" role="tabpanel" style="min-height: 500px;">
                            <div class="form-group form-material floating" style="padding: 10px 30px 0px 30px;text-align:center;">
                                <div pg-form-group class="form-group  form-group-default-select">
                                    <ui-select ng-model="querySelector" on-select="selectDataSource($item)"
                                               theme="bootstrap">
                                        <ui-select-match placeholder="Select Metadata">{{$select.selected.name}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="list in queryList | filter: $select.search">
                                            <div ng-bind-html="trustAsHtml((list.name | highlight: $select.search))"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <h6 ng-hide ='dashboardValidation'>Please Select Metadata First</h6>
                                <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" ng-show="loadingBarDrawer" alt="Progress" style="width: 20%;">
                            </div>

                            <!--<div class="form-group form-material">
                                <input type="text" class="form-control" placeholder="Search" autocomplete="off" ng-model="columnSearch">
                            </div>-->
                            <div class="panel-group " id="accordion" role="tablist"
                                 aria-multiselectable="true" style="margin-bottom: 0px;">
                                <div class="panel panel-default borderTop borderBottom" ng-show="graphAxis">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a  ng-class="{collapsed:collapseThree}"  ng-click="collapseThree=!collapseThree" aria-expanded="true"
                                               aria-controls="collapseThree">Measure</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse scroll-content auto-overflow in"
                                         style="max-height: 100px;" role="tabpanel"
                                         aria-labelledby="headingThree" ng-class="{in:!collapseThree}">
                                        <div class="panel-body measureDimension">
                                            <div class="col-md-12" id="measure"
                                                 ng-repeat="measure in tableColumns |filter:columnSearch"
                                                 ng-if="measure.dataKey=='Measure'">
                                                <div class="col-md-10">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="{{measure}}"
                                                               id="checkboxMeasure{{$index}}"
                                                               ng-model="Attributes.checkboxModelMeasure[measure.reName]"
                                                               ng-true-value='{{measure}}' ng-false-value='0'
                                                               ng-click="chartDraw(measure,'measure')">
                                                        <label
                                                                for="checkboxMeasure{{$index}}" style="width: 100%">{{measure.reName}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="btn-group" style="cursor: pointer">
                                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}"
                                                           ng-click="measureDimensionDropdown('measure',$index)"
                                                           aria-hidden="true" data-toggle="dropdown"
                                                           aria-expanded="false"></i>
                                                        <ul class="dropdown-menu custDropdownMeasure"
                                                            style="position: fixed;">
                                                            <li class="dropdown-submenu">
                                                                <a href="#">Aggregate</a>
                                                                <ul class="dropdown-menu subdropDown"
                                                                 style="height: 160px; overflow:auto;" >
                                                                    <li><a  data-ng-repeat="aggregate in aggregates" ng-click="onAggregateSelect(measure,aggregate); chartDraw(aggregate,'aggregate')">{{aggregate.value}}</a></li>

                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Move to Dimension</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default marginTop borderTop" ng-show="graphAxis"
                                     style="border-top: 0px;">
                                    <div class="panel-heading " role="tab" id="headingThree1">
                                        <h4 class="panel-title">
                                            <a class="" ng-class="{collapsed:collapseThree1}"
                                               ng-click="collapseThree1=!collapseThree1" aria-expanded="false"
                                               aria-controls="collapseThree1">
                                                Dimension
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in scroll-content auto-overflow"
                                         style="max-height: 100px;" role="tabpanel"
                                         aria-labelledby="headingThree" ng-class="{in:!collapseThree1}">
                                        <div class="panel-body" style="padding-bottom: 15px;">
                                            <div class="col-md-12" id="dimension"
                                                 ng-repeat="dimension in tableColumns|filter:columnSearch"
                                                 ng-if="dimension.dataKey=='Dimension'">
                                                <div class="col-md-10">
                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="{{dimension}}"
                                                               id="checkboxDimension{{$index}}"
                                                               ng-click="chartDraw(dimension,'dimension')"
                                                               ng-model="Attributes.checkboxModelDimension[dimension.reName]"
                                                               ng-true-value='{{dimension}}' ng-false-value='0'>
                                                        <label for="checkboxDimension{{$index}}" style="width: 100%">{{dimension.reName}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="btn-group" style="cursor: pointer">
                                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}"
                                                           ng-click="measureDimensionDropdown('measure',$index)"
                                                           aria-hidden="true" data-toggle="dropdown"
                                                           aria-expanded="false"></i>
                                                        <ul class="dropdown-menu custDropdownMeasure"
                                                            style="position: fixed;">

                                                            <li class="dropdown-submenu">
                                                                <a href="#">Aggregate</a>
                                                                <ul class="dropdown-menu subdropDown"
                                                                    style="height: 100px;">
                                                                    <li><a href="#">Sum</a></li>
                                                                    <li><a href="#">Count</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Move to Measure</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist"
                                 aria-multiselectable="true" ng-show="graphAxis">

                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class=""> Charts</a>
                                        </h4>
                                    </div>
                                    <div class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingThree" ng-class="{in:collapseTwo}">
                                        <div class="panel-body">
                                            <div class="icon-preview m-t-10">
                                                <div class="row center-margin m-b-10">
                                                    <div class="col-xs-3 text-center m-b-15"
                                                         ng-repeat="chart in charts">
                                                        <div class="custBorderHover" id="chartIcon{{$index}}" data-placement='top' data-original-title="{{chart.name}}" ui-jq="tooltip" data-toggle="tooltip"
                                                             ng-click="chartSelect($index,chart);chartDraw(chart,'chart');"  style="padding: 5px; border: 2px solid #FFF">
                                                            <img src="{{chart.value}}"  style="width: 25px;height: 25px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="exampleTabsIconLeftTwo" role="tabpanel">
 							 <div class="form-group form-material floating col-sm-12" style="padding-bottom:100%">
                            <!--  <label class = col-sm-10>Select  Filter</label><i class="icon glyphicon glyphicon-filter m-0 icon-setting col-sm-2" aria-hidden="true"></i> -->
                            <div class="btnOption">
                                <label class = col-sm-10>Filter</label>
								<!--<ul style="padding: 0;margin: 0;list-style: none;">
									<li class="">
										<div class="dropdown dropdown-menu-primary" style="float:right;">
										<a data-target="javascript:void(0)" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true"  style="font-size: 18px;">
											<i class="fa fa-ellipsis-v"  aria-hidden="true" style="color: #000;"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-primary pull-right" style="max-height: 152px;overflow-x: scroll; padding:10px;" role="menu" ng-model="checkboxModel">
											<li  ng-repeat="measure in tableColumns |filter:columnSearch" style="padding:4px;" ><a href="javascript:void(0)" ng-click="filterAdd()">{{measure.columnName}}</a>
											</li>
										</ul>
										</div>
									</li>
								</ul>-->
                                <!--ng-if="tableColumns.length>0"-->

                                    <select id="filter" class="" multiple="multiple" data-ng-model="checkboxModel" ng-change="filterAdd()" >
                                        <option ng-repeat="column in tableColumns" value="{{column}}">{{column.reName}}</option>
                                    </select>

                                    <h6 ng-hide ='dashboardValidation1'>Please Select Metadata First</h6>
							</div>
                                 <div ng-repeat="filter in filerTemp">
                                       <label>{{filter.key}}</label>
                                       <div class="row form-material" style="margin-left: 14%;">
                                           <select class="filterSelect" data-ng-model="test" multiple ng-change="filterBy(test,filter)">
                                               <option ng-repeat="filterData in filtersTo[filter.key]">{{filterData}}</option>
                                           </select>
                                       </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page -->
<div class="page">
    <div class="page-content  container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true" >
            <div class="col-sm-12" data-gridster="dashboardCommonSettings">
                <div class="widget widget-shadow p-t-20 li_box"
                     id="li_{{reportContainer.id}}" ng-click="addBorder(reportContainer.id)"
                     data-ng-repeat="reportContainer in dashboardPrototype.reportContainers" data-gridster-item="reportContainer">
                    <div class="panel-heading">
                        <h5 class="panel-title " style="line-height: 0px;">
                            <div class="form-group form-material">
                                <input ng-model="reportContainer.name" class="form-control">
                            </div>
                            <span class="pull-right  margin-pull-right">
                                        <a title="Move widget" class="my-class"
                                           style="font-size: 20px; cursor: move;"><i
                                                class="fa fa-arrows" aria-hidden="true"></i> </a>
                                     </span>
                            <span class="pull-right  margin-pull-rights">
                              <a title="settings" style="margin-right: 4px;" ng-click="openSettings()"><i class="glyphicon glyphicon-cog"></i></a>
                               <a title="Delete Report" class="my-class" style="font-size: 20px; cursor: pointer;" ng-click="deleteGraphKeys(reportContainer.id)">
                                    <i  class="glyphicon glyphicon-trash" aria-hidden="true"></i> </a>
                            </span>
                           <!--  <span class="box-header-btns pull-right">
						     <a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						     <a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					      </span> -->
                             <!-- <span class="btnOption">
                                        <ul style="padding: 0;margin: 0;list-style: none;">
                                            <li class="">
                                                <div class="dropdown dropdown-menu-primary margin-pull-rightss"
                                                     style="float:right;">
                                                <a data-target="javascript:void(0)" class="my-class"
                                                   href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
                                                   role="button" aria-expanded="false" style="font-size: 18px;">
                                                    <i class="icon md-chevron-down" aria-hidden="true"
                                                       style="color: #000;"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-primary pull-right .margin-pull-dropdown"
                                                    role="menu">
                                                    <li><a href="javascript:void(0)">Edit</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)">Delete</a>
                                                    </li>
                                                    <li><a href="#/dashboard/view/{{dashboard.id}}">View</a>
                                                    </li>
                                                </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </span> -->
                        </h5>
                    </div>
                    <div style="margin-top:15%; text-align:center;" ng-hide="showInfo1">
                        <h5 style="color:#777;">Select Measure and Dimension From Left Side</h5>
                    </div>
                    <div style="margin-top:15%; text-align:center;" ng-hide="showInfo2">
                        <h5 style="color:#777;">Select Metadata From Left Side</h5>
                    </div>
                    <div style="margin-top:15%; text-align:center;" data-ng-show="showInfo[reportContainer.id]">
                        <h5 style="color:#777;">
                            {{chartErrorText[reportContainer.id]}}
                        </h5>
                    </div>
                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}">
                        <!--id="li_{{reportContainer.id}}"-->

                    </div>
                </div>
            </div>
        </div>
        <!--<div data-gridster="dashboardCommonSettings">
            <ul>
                <li data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportContainers"
                    style="padding: 0; margin: 0;"  class="li_box" id="{{ 'chart-' + reportContainer.id }}">
                    &lt;!&ndash;id="li_{{reportContainer.id}}"&ndash;&gt;
                    <div style="margin-top:15%; text-align:center;" data-ng-show="showInfo">
                        <h5 style="color:#777;">
                            {{chartErrorText}}
                        </h5>
                    </div>
                </li>
            </ul>
        </div>-->
    </div>
</div>
<!--<div class="page">
    <div class="page-content container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true" data-gridster="dashboardCommonSettings">
            <div class="col-sm-12" >
                <div class="widget widget-shadow p-t-20"  data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportContainers">
                    <div class="widget-content li_box"  id="{{ 'chart-' + reportContainer.id }}">
                        &lt;!&ndash;id="li_{{reportContainer.id}}"&ndash;&gt;
                        <div style="margin-top:15%; text-align:center;" data-ng-show="showInfo">
                            <h5 style="color:#777;">
                                {{chartErrorText}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            &lt;!&ndash;<div data-gridster="dashboardCommonSettings">
                <ul>
                    <li data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportContainers"
                        style="padding: 0; margin: 0;"  class="li_box" id="{{ 'chart-' + reportContainer.id }}">
                        &lt;!&ndash;id="li_{{reportContainer.id}}"&ndash;&gt;
                        <div style="margin-top:15%; text-align:center;" data-ng-show="showInfo">
                            <h5 style="color:#777;">
                                {{chartErrorText}}
                            </h5>
                        </div>
                    </li>
                </ul>
            </div>&ndash;&gt;
        </div>
    </div>
</div>-->
<!-- START MODALS -->
