<style>
.card-block{
  padding: 0px;
}
.custIcon{
    width: 0px !important;
    height: 0px !important;
    float: right;
    margin-top: -15px;
    margin-right: -1px !important;
    margin-left: 0px !important;
}
.card-title {
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 10px;
}
.listEditDelete{
	right:0;
	min-width: 100px;
}	 
.page, .site-footer {
    margin-left: 0px;
}
.cust-header-width{
    width: 100%;
}
.cust-topBar-btn {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.site-nav{
    padding: 22px 13px;
}
#widgetUserList .card-header .overlay-background{
	background-color: #fff;
	color:#000
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
#widgetUserList:hover{
         cursor:pointer;
}
.widgetUserList{
   cursor:pointer;
}
.widgetUserList:hover{
   background: #000;
   opacity:0.9;
}
.page{
   height:auto;
}
.modal-backdrop{
	display: none;
}
.btn-group {
    float: right !important;
    cursor: pointer;
 }
.overlay{
    overflow: visible !important;
}
.btn-group .dropdown-menu>li>a {
    padding: 0px 0px 0px 14px;
}		
</style>
<!-- Page -->
<div class="page">
	<div class="page-header">
		<h1 class="page-title">Public Dashboard</h1>
		<div class="page-header-actions">
			<a class="btn btn-sm btn-primary btn-round" href="javascript:void(0);" ng-click="addPublicDashboard()">
				<i class="icon icon md-plus" aria-hidden="true"></i> 
				<span class="hidden-sm-down">Add Public Dashboard</span> 
			</a>
		</div>
	</div>
	<div class="page-content container-fluid">
		<div style="width: 100%;text-align: center;">
			<img class="image-responsive-height demo-mw-25"
			src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px">
		</div>
		<ul class="blocks blocks-100 blocks-xxl-6 blocks-lg-6"
			data-plugin="filterable" ng-show="dataLoaded">
			<li ng-repeat= "dashboard in dashboardList| filter:dashboardSearch">
				<div class="card card-shadow">
					<figure class="card-img-top overlay-hover overlay"
						style="text-align:center;"> 
						<img src="{{imageUrlBaseUrl}}{{dashboard.image}}" style="width:180px;height: 120px;" onerror="this.src='http://192.168.0.17/bi-project/new-ui-theme/getting_started/angular/assets/img/graph1.jpg'">						
						 <figcaption
						class="overlay-panel overlay-background overlay-fade overlay-icon">
					<div class="btn-group open">
					<a class="icon custIcon md-more-vert" id="exampleSplitDropdown2" data-toggle="dropdown" aria-expanded="true" href="javascript:void(0);"></a>
	                   <ul class="dropdown-menu listEditDelete dropdown-menu-primary" aria-labelledby="exampleSplitDropdown2" role="menu">
	                     <li role="presentation"><a href="#/publicview/edit/{{dashboard.auth_key}}" role="menuitem" class=" waves-effect waves-light">Edit</a></li>
	                     <li role="presentation"><a href="#/publicview/show/{{dashboard.auth_key}}/1" role="menuitem" target="_blank" class=" waves-effect waves-light">Public View</a></li>
	                     <!-- <li role="presentation"><a href="#/dashboard/view/{{dashboard.id}}/1" role="menuitem" class=" waves-effect waves-light">Public Link</a></li> -->
	                     <li role="presentation"><a href="javascript:void(0);" role="menuitem" class=" waves-effect waves-light"  ng-click="delete(dashboard.id)">Delete</a></li>
	                   </ul>
	                 </div>
					 </figcaption> </figure>
					<div class="card-block">
						<h4 class="card-title" title="{{dashboard.name}}">
							{{dashboard.name | limitTo:16}}{{ dashboard.name.length > 16 ? '...' : ''}}
						</h4>
					</div>
				</div></li>
		</ul>
		<h5 ng-hide="(dashboardList|filter:dashboardSearch).length || !dataLoaded" >No Dashboard
			Found
		</h5>
	</div>
</div>