<!-- Stylesheets -->
<link href="assets/css/dashboard-view.css" rel="styleSheet">
<link href="assets/css/public-view.css" rel="styleSheet">
<style>
.filter{
	background: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.panel-title{
	padding: 10px 22px;
        font-size: 15px;
    font-weight: bold;
}
.panel-heading{
   padding-bottom: 20px;
}
.overflowAuto{
  overflow: auto;
}
.overflow{ 
  overflow: auto;
}
.dropdown-menu ul li{
	list-style: none;
}
.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    
}
.chart-legend ul li{
   font-size: 13px;
    font-weight: normal;	
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .full-height{
      padding-left:0px;
      padding-right:0px;
    } 

}
</style>
<nav class="defaultHeader">
	<h2>{{dashName.dashboardName}}</h2>
</nav>
<nav class="site-navbar navbar navbar-default navbar-inverse  navbar-mega companyHeader" role="navigation" style="margin-top: 10px;margin-bottom: 10px;">
    <div class="navbar-header" style="width: 100%;">
     <div class="col-sm-12" data-toggle="gridmenu" >
        
       <div class="row">
       		<div class="col-sm-1" style="text-align: left;padding: 12px 10px 10px 10px;">
       			<img class="navbar-brand-logo" src="{{logoPath}}" title="Logo" style="height: 60px;">
       		</div>
			<div class="col-sm-4" style="text-align: left;padding: 12px 10px 10px 10px;">
				<span style="font-size: 35px;">{{company.name}}</span>
				<span style="font-size: 12px;">{{company.description}}</span>
			</div> 
			<div class="col-sm-5"  style="padding: 22px 10px 10px 10px;">
				<span style="font-size: 24px;">{{dashName.dashboardName}}</span>
			</div>
			<div class="col-sm-2" style="padding: 12px 10px 10px 10px;margin-top: 1%;font-size: 20px;text-align: right;">
				<span style="font-size: 24px;">{{company.date | date:'dd-MM-yyyy'}}</span>
			</div> 
		</div>
     </div> 
    </div>
</nav>
<div class="container-fluid">
		<div style="width: 100%;text-align: center;" ng-hide="loadingBar">
			<img class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" >
		</div>
		<div class="row filter" ng-show="loadingBarView">
			<div ng-repeat="filter in filerTemp" class="col-sm-3" ng-if="filerTemp.length>0" style="margin-bottom: 50px;">
				<label>{{filter.key}}</label>
				<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='decimal' || filter.value=='float' || filter.value == 'double'">
					<input id="{{filter.key}}-Filter">
				</div>
				<div class="col-sm-12" ng-if="filter.value=='date'">
					<input type="text" class="daterange form-control" value=""
						   ng-click="filterColumn(filter)" />
				</div>
				<div class="col-sm-8" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
					<div class="form-material">
						<select class="filterSelect ng-hide" data-ng-model="test"
								multiple ng-change="filterBy(test,filter)">
							<option ng-repeat="filterData in filtersTo[filter.key]"
									ng-value="{{filterData}}" selected>{{filterData}}</option>
						</select>
					</div>
				</div>
			</div>
			<div ng-repeat="rangePicker in rangeObject" class="col-sm-12" >
				<div class="row">
					<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3" >
						<lable>{{rangePicker.key.columnName}}-{{i}}</lable>
						<div  style="margin-bottom: 15%;">
							<input type="text"  class="dateTimeLine dateTimeLine{{$index}} form-control" value="" ng-click="filterRangeColumn($index,rangePicker.key.columnName)" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row" data-plugin="matchHeight" data-by-row="true"> 
			<div ng-repeat="report in reportContainerPublicView" class="col-xxl-{{report.reportContainer.sizeX}} col-lg-{{report.reportContainer.sizeX}} " >
				<div class="card card-shadow li_box">
					<div class="panel-heading">
		              <h3 class="panel-title commonStyle" id="title_{{report.reportContainer.id}}">
							{{report.reportContainer.name}}
							<a class="btn btn-sm  pull-right custButton" href="javascript:void(0);" ng-click="resetChart()">
						       <span class="hidden-xs"><i class="icon md-refresh"></i></span>
						     </a>
					  </h3>
		            </div>
					<div class="card-block p-0 custPadding"> 
						<div class="row">
							<div >
								<div id="chart-{{report.reportContainer.id}}"  class="h-450" ></div>
							</div>
							<div >	
								<h5>Legends</h5>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="left{{report.reportContainer.id}}" class="h-450" ></div>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div> -->
		<!-- data-gridster="dashboardCommonSettings" --> 
		<div class="row" data-plugin="matchHeight" data-by-row="true"  data-gridster="dashboardCommonSettings">
			<div class="col-sm-12">
				<div class="widget widget-shadow p-t-20 li_box" data-gridster-item="reportContainer"  data-ng-repeat="reportContainer in reportContainerPublicView" id="dashboardContainer_{{reportContainer.id}}">
					<div class="panel-heading ">
						<h6 class="panel-title commonStyle" style="padding-bottom: 20px;">
							<span>{{reportContainer.name}}</span>  
							<span class="pull-right  margin-pull-right" ng-if="reportContainer.chartType!='Number Widget'" style="display: inline;">
								<a title="Reset" class="my-class"  style="font-size: 16px; cursor: pointer;display: inline;"
								   ng-click="resetChart()"> <i class="icon md-refresh" aria-hidden="true"></i> </a>
									<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text'">
									    <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
									    Legends
									    <span class="caret"></span></button>
									    <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" >
									      
									    </ul>
									 </div>											   
							</span>
						</h6>
					</div>
					<!-- Map --> 
					<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Map' ">
							<div class="col-sm-10"  style="overflow: hidden;padding-left: 40px;">
								<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
							</div>
							<div class="col-sm-2">
								<span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" 
									style="overflow: auto; height: 300px;">
									
								</div>
							</div>
						</div>
					<!-- Male female --> 
						<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="height: 80%;overflow: hidden;"></div>
							</div>
						</div>
						<div class="row"  style="height: 80%;width: 100%" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Male & Female Comparison'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
								<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;overflow: auto;" >
								</div>
							</div> 
							
						</div>
						<div style="width: 100%;overflow: auto;" ng-if="reportContainer.chartType=='Number Widget'">
							<div class="col-sm-12" style="padding-left: 40px;"  >
								<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;">
								</div>
							</div>
						</div>
					
				</div>
			</div>
		</div> 
	</div>