<style>
.male-female{
    /* width:50% !important;
    height:50% !important; */
    max-height: 260px !important;
    min-height: 135px !important; 
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
}
.dropzone .dz-message {
	font-size: 25px;
    font-weight: 400;
}
.dropzone .dz-message {
    text-align: center;
    /* margin: 2em 0; */ 
} 
.droppableFilter{
	margin-bottom: 20px;
}
.gridster{
   margin-top:0px; 
}
.droppableFilter .dz-message{
   margin-top: 2%;
}
.droppableArea{
   min-height: 300px;
}
.droppableArea .dz-message{
   margin-top: 12%;
}
ul{
   list-style: none;
}
.chart-legend ul{
	padding-left: 3px;
}
.widget .panel-heading{
   margin-top: 0px;
}
.panel-title{
	padding: 10px 0px 15px 0px;
}
.companyHeader{
	background: #FFF;
    /*height: 10%;
    padding: 18px 10px 10px 10px;*/
    margin-bottom: 10px;
}
.afterFilter{
  background: #FFF;
  border: 2px solid #ccc;
  font-size: 20px;
}
.filterLabel{
	text-transform: capitalize;
}
.site-sub-menubar{
	margin-left: 76px;
	width: 272px !important;
}
.in{
	opacity:0;
}
.page{
	margin-left: 390px;
}
@media only screen and (min-width: 120px) and (max-width: 768px) {
  .page{
		margin-left: 5px;
	}
}
.navbar-toggler-left{
	display: block !important;
}
@media only screen and (min-width: 1224px){
	.positionFixed {
	    position: fixed;
	    width: 100%;
	}
}
.page-content{
	padding-left: 1px;
	padding-top: 1px;
}
</style>
<div class="site-menubar">
	<div class="site-menubar-body">
			<div>
				<ul class="site-menu" data-plugin="menu">
					<li class="site-menu-item active" ng-click="tab=false"
						ng-class="{'active': tab === false}"><a
						class="animsition-link" href="javascript:void(0);"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-home"
							aria-hidden="true"></i> <span class="site-menu-title">Home</span>
					</a></li>
					<li class="site-menu-item has-sub" ng-click="tab=true"  ng-class="{'active': tab === true}"><a
						href="javascript:void(0)"> <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-filter"
							aria-hidden="true"></i> <span class="site-menu-title">Filter</span>
					</a></li>
					<li class="site-menu-item has-sub" ng-click="tab=setting" ng-class="{'active': tab === setting}" >
						<a href="javascript:void(0)" > <i
							class="site-menu-icon glyphiconCust glyphicon glyphicon-cog" aria-hidden="true"></i> 
						<span class="site-menu-title">Setting</span>
						</a>
					</li>
				</ul>
			</div>
	</div>
</div>
<div class="site-menubar site-sub-menubar">
	<div class="site-menubar-body">
		
			<div>
				<div class="site-menu card card-shadow text-center positionFixed" ng-hide="tab">
					<div class="card-block">
						<div class="subDrawer">
						    <div class="row">
						    	<div class="col-sm-12">
						    		<select class="form-control" ng-model="dashboardSelectId" ng-change="dashboardSelect(dashboardSelectId)"> 
										<option disabled="disabled" selected>Select dashboard</option>
										<option ng-repeat="dashboard in dashboardList" value="{{dashboard.id}}">{{dashboard.name}}</option>
									</select>
						    	</div>
						    </div>
							<img class="image-responsive-height ng-hide"
								src="assets/img/demo/progress.svg" alt="Progress"
								style="width: 20%; margin-top: 30px;" ng-show="preLoad">
							<div ng-if="reports.length>0">
								<div style="cursor: move;margin-top: 5%;text-align: center;color: #000;height:250px;overflow: auto;padding-left: 10px;padding-right: 10px;">
									<div ng-repeat="report in reports" style="padding-bottom: 10px;" >
										 <div style="border: 1px solid #ccc;padding: 2px 10px 2px 10px;background: #FFF;margin-bottom: 10px;" class="col-sm-12 draggableArea">
											<div class="row" title="{{report.reportContainer.name}}">
												<div class="col-sm-1">
													<i class="fa fa-bars"></i>
												</div>
												<div class="col-sm-7">
													{{report.reportContainer.name | limitTo:10}}{{ report.reportContainer.name.length > 10 ? '...' : ''}}
													<input type="hidden" value="{{report}}">
												</div>
												<div class="col-sm-1">
													<div class="vr"></div>
												</div>
												<div class="col-sm-2">
													<i class="fa fa-arrows"></i>
												</div>
											</div>
										 </div>
										 <!-- <div class="draggableArea textLeft" draggable="true" style="border: 1px solid #ccc;cursor: move;margin-top: 5%;color: #000;"><i class="fa fa-arrows"></i>{{report.reportContainer.name}}
										 <input type="hidden" value="{{report}}">
										 </div>  -->
									</div>
								</div>		
						    </div>
							<div ng-if="reports.length==0">
								<h3 style="text-align: center;">Select Dashboard</h3>
							</div>
							<hr ng-if="reports.length>0">
							<div style="border: 1px solid #ccc;cursor:move;padding: 2px 10px 2px 10px;background: #FFF;color: #000;" class="col-sm-12 draggableArea" ng-if="reports.length>0">
								<div class="row" title="Text Container / Image Drag">
									<div class="col-sm-1">
										<i class="fa fa-bars"></i>
									</div>
									<div class="col-sm-7">
										Text/Image Drag<input type="hidden" value="Text">
										<input type="hidden" value="{{report}}">
									</div>
									<div class="col-sm-1">
										<div class="vr"></div>
									</div>
									<div class="col-sm-2">
										<i class="fa fa-arrows"></i>
									</div>
								</div>
							 </div>
						</div>
					</div>
				</div>
				<!-- End Page Widget -->
				<!-- Page Filter tab Widget -->
				<div class="card card-shadow text-center" ng-show="tab">
					<div class="card-block">
						<div class="custPanel">
							<div class="panel-heading">
							    <div class="row">
							    	<div class="col-sm-6">
							    		<h3 class="panel-title pull-left">
							    			Filter
							    		</h3>
							    	</div>
							    </div>
							</div>
						</div>
						<div class="subDrawer"> 
							<div ng-repeat="filter in filerTemp" style="padding: 10px 0px 10px 0px;"> 
								<div style="border: 1px solid #ccc;cursor:move;padding: 2px 10px 2px 10px;background: #FFF;color: #000;" class="col-sm-12 droppableAddFilter" ng-if="reports.length>0">
									<div class="row" title="{{filter.key}}">
										<div class="col-sm-1">
											<i class="fa fa-bars"></i>
										</div>
										<div class="col-sm-7" style="text-align: left;">
											{{filter.key | limitTo:18}}{{ filter.key.length > 18 ? '...' : ''}}
											<input type="hidden" value="{{filter}}">
										</div>
										<div class="col-sm-1">
											<div class="vr"></div>
										</div>
										<div class="col-sm-2">
											<i class="fa fa-arrows"></i>
										</div>
									</div>
								 </div>
							</div>
							<div ng-if="filerTemp.length==0">
								<h3 style="text-align: center;">No filter</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="card card-shadow text-center" ng-show="tab==setting">
					<div class="card-block">
						<div class="custPanel">
							<div class="panel-heading">
							    <div class="row">
							    	<div class="col-sm-12">
							    		<h3 class="panel-title pull-left">
							    			Common Container Settings
							    		</h3>
							    	</div>
							    </div>
							</div>
						</div>
						<div class="subDrawer" style="height: 475px;overflow: auto;"> 
							<div class="row" >                         
                         <div class="col-sm-12" style="text-align: left;">
                         	<span style="font-weight: bold;">Report container</span>
                         	<hr>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Header</label>
                         		<br>
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="yes" >Yes									
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="no" checked="checked" >No									
							</div>
                         </div>                                                                                                
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerTextcolor" >									
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Background</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerBgcolor" >									
							</div>
                         </div> 
                         <div class="col-sm-12" style="text-align: left;">
                         	<span style="font-weight: bold;">Container Border</span>
                         	<hr>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Border</label>
                         		<br>
                         		<input type="radio" name="border" ng-model="CommonSettingObject.border" value="yes" >Yes									
                         		<input type="radio" name="border" ng-model="CommonSettingObject.border" value="no" checked="checked" >No								
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.border_color">								
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Width</label>
                         		<input type="text" class="form-control" ng-model="CommonSettingObject.border_width">								
							</div>
                         </div>
                         <!-- <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Margin</label>
                         		<div class="row">
	                         		<div class="col-sm-6"> 
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignLeft" >
	                         		</div>
	                         		<div class="col-sm-6">
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignRight" >
	                         		</div>		
	                         	</div>									
							</div>
                         </div>  -->
                         <div class="col-sm-12" style="text-align: left;">
                         	<span style="font-weight: bold;">Company Header</span>
                         	<hr>
                         </div>     
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Header </label>
                         		<br>
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="yes" >Yes									
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="no" checked="checked" >No									
							</div>
                         </div> 
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyColor">									
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Backgroud</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyBackgroud">									
							</div>
                         </div>    
                     </div>                      
						</div>
						<div class="row">
							<div class="col-sm-12" style="text-align: left;">
	                         	<hr>
                         	</div>	
	 	                    <div class="col-sm-12">
		                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="CommonSettingData(CommonSettingObject)">Save</button>	
		                    </div>
	                	</div>
					</div>
				</div>
			</div>
				
		</div>
			
		
	</div>
	
</div>
<div class="page">
	<div class="page-content container-fluid">
			<div class="col-lg-12" style="padding: 0px;z-index:1">
				<!-- Panel -->
				<div class="page-header">
					<div class="col-sm-6 form-group form-material floating">
						<input type="text" class="form-control empty page-title" 
							ng-model="dashName.dashboardName" placeholder='Public View Name...'>
						<!-- <label class="floating-label">Text</label> -->
					</div>
					<div class="col-sm6 page-header-actions">
						<a class="btn btn-sm btn-primary btn-round" href="javascript:void(0);" ng-click="save()">
							<span>Save Public View</span> 
						</a>
						<!-- <span class="pull-right  margin-pull-right"	style="margin-left: 10px; padding-right: 10px;"> 
							<a title="Common Options" class="my-class" style="font-size: 16px; cursor: pointer;" 
								ng-click="viewCommonSetting()" >
								<i class="fa fa-cog" aria-hidden="true"></i> 
							</a> 
						</span> -->
					</div>
				</div>
				<div class="row companyHeader" style="background: #3f51b5;color:#FFF;" ng-show="companyHeader=='yes'">
					<div class="col-sm-1"  style="margin-top: 1.5%;">
						<span class="logo" ng-hide="logoCheck" style="padding: 12px 10px 10px 10px;font-size: 20px;border: 1px dotted;cursor: pointer"><span >Logo</span></span>
						<img scr="{{dataimg}}" id="img" ng-show="logoCheck" style="width:{{company.logoWidth}};height: 50px;">
					</div>
					<div class="col-sm-8" style="text-align: left;padding: 12px 10px 10px 10px;">
						<span style="font-size: 35px;">{{company.name}}</span>
						<span style="font-size: 12px;">{{company.description}}</span>
					</div>
					<div class="col-sm-2" style="padding: 12px 10px 10px 10px;margin-top: 1%;font-size: 20px;">
						<span>{{company.date | date:'yyyy-MM-dd'}}</span>
					</div> 
					<div class="col-sm-1" style="margin-top: 1.3%;">
						<a href="javascript:void(0)" ng-click="companyHeaderSet()" style="float: right;">
							<i class="site-menu-icon glyphiconCust glyphicon glyphicon-cog" aria-hidden="true" style="color:white;" ></i> 
						</a> 
					</div>
				</div>
				<div class="col-sm-12 droppableFilter" ng-class="(conatinerFilter.length==0) ? 'dropzone filterHeight' : 'filterHeight afterFilter'" style="text-align: center;height: 110px;" >
					<div class="row">
						<div class="col-sm-3" ng-repeat="filter in conatinerFilter" style="text-align: left;">
							<div class="col-sm-12">
								<label class="filterLabel" ng-class="(conatinerFilter.length>0) ? 'fontStyle' : ''">{{filter.key}}</label>
							</div>	
							<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
								<input id="{{filter.key}}-Filter">
							</div>
							<div class="col-sm-12" ng-if="filter.value=='date'">
								<input type="text" class="daterange form-control" value="" ng-click="filterColumn(filter)" />
							</div>
							<div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
								<div class="form-material" >
									<select class="filterSelect ng-hide" data-ng-model="test"
										multiple ng-change="filterBy(test,filter)" style="width: 100%;">
										<option ng-repeat="filterData in conatinerFilterTo[filter.key]" 
											value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="dz-message" ng-if="conatinerFilter.length==0">Filter Droppable Zone</div>
				</div>
				<div class="col-sm-12 droppableArea" id="dashboard-image" ng-class="(dashboardPrototype.reportContainers==0) ? 'dropzone' : ''" data-gridster="dashboardCommonSettings">
					<div class="dz-message" ng-if="dashboardPrototype.reportContainers==0">Report Droppable Zone</div>
					<div class="widget widget-shadow p-t-20 li_box"
						data-ng-repeat="reportContainer in dashboardPrototype.reportContainers"
						id="li_{{reportContainer.id}}"
						ng-click="addBorder(reportContainer.id)"
						data-gridster-item="reportContainer" style="background: #FFF;">
						<div class="panel-heading Common_Head" id="Header_{{reportContainer.id}}">
							<h5 class="panel-title">
								<div class="row">
									<div class="form-group form-material col-sm-6">
										<input ng-model="reportContainer.name" class="form-control Common_Head " id="Header_Text_{{reportContainer.id}}" >
									</div> 
									
								</div> 
							</h5>
						</div>
						<div class="col-sm-6" style="float: right;margin-top: -58px;" id="Header_Setting_{{reportContainer.id}}">
							<span class="pull-right  margin-pull-right"	style="padding-top: 10px; padding-right: 10px;" > 
								<a title="Options" class="my-class" style="font-size: 16px; cursor: pointer;"
									ng-click="resetChart()">
									<i class="icon md-refresh" aria-hidden="true"></i> 
								</a>
							</span> 
							<span class="pull-right  margin-pull-right"	style="padding-top: 10px; padding-right: 10px;" > 
								<a title="Options" class="my-class" style="font-size: 16px; cursor: pointer;"
									ng-click="viewCustomSetting(reportContainer.id)"> 
									<i class="fa fa-cog" aria-hidden="true"></i> 
								</a> 
							</span>  
							<span class="pull-right  margin-pull-right"	style="padding-top: 10px; padding-right: 10px;"> 
								<a title="Move widget" class="my-class" style="font-size: 16px; cursor: move;">
									<i class="icon md-arrows" aria-hidden="true"></i> 
								</a> 
							</span> 
							<span class="pull-right  margin-pull-rights" style="padding-top: 10px; padding-right: 10px;" > 
								<a title="Close Report" class="my-class" style="font-size: 16px; cursor: pointer;"
									ng-click="deleteGraphKeys(reportContainer.id)"> 
									<i class="icon md-close" aria-hidden="true"></i> 
								</a>
							</span>
							<span class="pull-right margin-pull-rights" style="padding-top: 10px; padding-right: 10px;" > 
								<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text'">
									    <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
									    Legends
									    <span class="caret"></span></button>
									    <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" >
									      
									    </ul>
								</div>
							</span> 		
						</div> 
						<div class="col-sm-12"	ng-show="reportLoading_{{reportContainer.id}}"
							style="position: absolute; text-align: center; top: 40%;">
							<img class="image-responsive-height demo-mw-25"	src="assets/img/demo/progress.svg" alt="Progress"
								style="width: 70px;">
						</div>
						<!-- Male female --> 
						<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="height: 80%;overflow: hidden;">
								</div>
							</div>
						</div>
						<!-- Map --> 
					<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='Map' ">
							<div class="col-sm-10"  style="overflow: hidden;padding-left: 40px;">
								<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
							</div>
							<div class="col-sm-2">
								<span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" 
									style="overflow: auto; height: 300px;">
									
								</div>
							</div>
						</div>
						<!-- Datatable pivot table -->
						<div class="row" style="height: 80%; width: 100%" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="height: 80%;overflow: auto;">
								</div>
							</div>
						</div>
						<!-- Number -->
						<div style="height: 80%; width: 100%; overflow: auto;"
							ng-if="reportContainer.chartType=='Number Widget'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="height: 70%;">
								</div> 
							</div>
						</div>
						<!-- Text -->
						<div style="height: 80%; width: 100%; overflow: auto;"
							ng-if="reportContainer.chartType=='Text'">
							<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" ng-click="textModel()" style="height: 100%;overflow: auto;">
								</div> 
							</div>
						</div> 
						<!-- Charts -->
						<div class="row" style="height: 80%; width: 100%"
							ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Text' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Text' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map'">
							<div class="col-sm-12"  style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
								<div class="widget-content" ng-class="(reportContainer.chartType=='Row Chart') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"></div>
							</div>
							<!-- <div class="col-sm-2" style="padding-top:2%;padding-left: 2%;">
								<span class="label_legends{{reportContainer.id}} lable_legends_common" style="display: none;">Legends</span>
								<div class="chart-legend chart-legend-d-{{reportContainer.id}}"
									id="left{{reportContainer.id}}"
									style="overflow: auto; height: 300px;">
								</div>
							</div> -->
						</div>
					</div>
				</div>  
				<!-- End Panel -->

			</div>
		
	</div>
</div>
<div class="loader-overlay" style="display: none;">
	<div class="loader-content">
		<div class="loader-index">
			<img class="image-responsive-height demo-mw-25 ng-hide"
				src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading"
				style="width: 70px">
		</div>
	</div>
</div>

<!-- START MODALS -->
<div ng-include src="'tpl/public-view-modal.html'" include-replace></div>
<!-- END MODALS -->