<style>
.page, .site-footer{
   margin-left: 10px;
}
</style>

<div class="page">
	<div class="page-content container-fluid">
		
		<form>
			<div class="panel">
			   <div class="panel-body container-fluid">
				   <div class="row" >
				       <div class="col-lg-6"><br>
							<label>Employee Name</label><br>
							<input type="text" class="form-control" ng-model="user.employeeName" >
						</div>						
					    <div class="col-lg-6"><br>
							<label>Role</label><br>
 							<select class="form-control">
								<option></option>
								<option ng-repeat="list in departmentList" ng-model="user.role" >{{list.name}}</option>
							</select>														
						</div>	
						
                         
						
										
					    <div class="col-lg-6"><br>
							<label>UserName </label><br>
							<input type="text" class="form-control" ng-model="user.userName" >
						</div>					
					    <div class="col-lg-6"><br>
							<label>Password</label><br>
							<input type="password" class="form-control" ng-model="user.password" >
						</div>
					</div>
					<br><br>
					<div class="row">	
						<div class="col-lg-12 ">
							<button class="btn btn-primary pull-right" ng-click="assignRole(user)" style="float: right;">Save </button>
						</div>
				    </div>
			   </div>
			</div>
		</form>
				
	</div>
</div>		  	  	