<style>
.page, .site-footer{
   margin-left: 10px;
}

</style>
<div class="page">
	<div class="page-content container-fluid">
		<div class="panel">
		   <div class="panel-body container-fluid">
			   <div class="row">
				<div class="col-lg-12">
					<div class="example-wrap">
		                <div class="nav-tabs-vertical" data-plugin="tabs">
		                  <ul class="nav nav-tabs mr-25" role="tablist">
		                    <li class="nav-item" role="presentation"><a class="nav-link active" data-toggle="tab" href="javascript:void(0)"
		                      aria-controls="exampleTabsLeftOne" ng-click="type='department'" role="tab">Department</a></li>
		                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="javascript:void(0)"
		                      aria-controls="exampleTabsLeftTwo" role="tab" ng-click="type='rights'">User Rights</a></li>
		                    <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="javascript:void(0)"
		                      aria-controls="exampleTabsLeftThree" ng-click="type='assign'" role="tab">Role Assign</a></li>
		                  </ul> 
		                  <div class="tab-content py-15">
		                    <div class="tab-pane " role="tabpanel" ng-if="type=='department'" ng-class="(type=='department') ? 'active' : ''">
		                       <header class="panel-heading">
						          <div class="panel-actions"></div>
						          <h3 class="panel-title">
						          	Department
						          	<button class="btn btn-primary" ng-click="addDepartment()" style="float: right;">Add</button>
						          </h3>
						        </header>
		                        <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
						            <thead>
						              <tr>
						                <th>Name</th>
						                <th></th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat="list in departmentList">
						              	<td>{{list.name}}</td>
						              	<td><button class="btn btn-danger" ng-click="delete(list.id)">-</button></td>
						              </tr>
						              <tr ng-if="departmentList.length==0">
						              	<td colspan="2">No Data</td>
						              </tr> 
						            </tbody>
						        </table> 
		                    </div>
		                    <div class="tab-pane" role="tabpanel" ng-if="type=='rights'" ng-class="(type=='rights') ? 'active' : ''">
		                      <header class="panel-heading">
						          <div class="panel-actions"></div>
						          <h3 class="panel-title">
						          	User Rights
						          	<a href="#/setting/userrole" class="btn btn-primary"  style="float: right;">Add</a>
						          </h3>
						        </header>
						         <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
						            <thead>
						              <tr>
						                <th>Role Name</th>
						                <th>Department</th>
						                <th></th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat="list in rolesList">
						              	<td>{{list.role_name}}</td>
						              	<td>{{list.department}}</td>
						              	<td><button class="btn btn-danger" ng-click="roleDelete(list.id)">-</button></td>
						              </tr>
						              <tr ng-if="rolesList.length==0">
						              	<td colspan="3">No Data</td>
						              </tr>
						            </tbody>
						        </table>
		                    </div>
		                    <div class="tab-pane"  role="tabpanel" ng-if="type=='assign'" ng-class="(type=='assign') ? 'active' : ''">
		                         <header class="panel-heading">
							          <div class="panel-actions"></div>
							          <h3 class="panel-title">
							          	Role Assign
							          	<a href="#/setting/roleassign" class="btn btn-primary"  style="float: right;">Add</a>
							          </h3> 
						         </header> 
						         <table class="table table-hover dataTable table-striped w-full" data-plugin="dataTable">
						            <thead>
						              <tr>
						                <th>Role Name</th>
						                <th>Department</th>
						                <th></th>
						              </tr>
						            </thead>
						            <tbody>
						              <tr ng-repeat="list in rolesList">
						              	<td>{{list.role_name}}</td>
						              	<td>{{list.department}}</td>
						              	<td><button class="btn btn-danger" ng-click="roleDelete(list.id)">-</button></td>
						              </tr>
						              <tr ng-if="rolesList.length==0">
						              	<td colspan="3">No Data</td>
						              </tr>
						            </tbody>
						         </table>
		                    </div>
		                  </div>
		                </div>
	             	 </div>
	             </div>
	           </div>
	        </div>   
        </div>
     </div>  
  </div>    
 <div ng-include src="'tpl/setting-modal.html'" include-replace></div>