<style>
.page-login-v2:before {
    background-image: url(assets/img/bg.jpg);
}
.page-login-v2 .page-login-main{
  padding: 20px 60px 100px;
}
</style>
<div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
      <div class="page-brand-info">
        <div class="brand">
          <img class="brand-img" src="http://192.168.0.17/bi-project/new-ui-theme/getting_started/angular/assets/img/thinklytics-white.png" alt="...">
        </div>
        <p class="font-size-20" style="opacity: 1">Thinklytics is the modern platform for business intelligence and analytics. Empowering to build visualizations from data using machine learning and delivering predictions based on data.</p>
      </div>
      <div class="page-login-main">
        <h3 class="font-size-24">Sign Up</h3>
       <!--  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
        <form role="form" name="formValidation">
          <div class="form-group form-material floating" data-plugin="formMaterial">
         			 <input type="text" class="form-control" id="inputName" name="first" ng-model="newuser.firstname">
        			  <label class="floating-label" for="inputName">First Name</label>
       				 </div>
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="text" class="form-control" name="last" ng-model="newuser.lastname" />
                        <label class="floating-label">Last Name</label>
                    </div>
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="email" class="form-control"  name="email" ng-model="newuser.email" />
                        <label class="floating-label">Email or Username</label>
                    </div>
                    <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="password" class="form-control" name="password" ng-model="newuser.password" />
                        <label class="floating-label">Password</label>
                    </div>
                     <div class="form-group form-material floating" data-plugin="formMaterial">
                        <input type="password" class="form-control" name="password" ng-model="newuser.cpassword" />
                        <label class="floating-label">Confirm password</label> 
                    </div>
          <button type="button" class="btn btn-primary btn-block" ng-click="signUp(newuser)">Sign Up</button>
          <p>Have an account? <a href="javascript:void(0);" ng-click="signInRedirect()">Sign in</a></p>
        </form>
       <!--  <footer class="page-copyright">
          <p>&copy; 2017. All Rights Reserved</p>
          <div class="social">
            <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
              <i class="icon bd-twitter" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
              <i class="icon bd-facebook" aria-hidden="true"></i>
            </a>
            <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
              <i class="icon bd-google-plus" aria-hidden="true"></i>
            </a>
          </div>
        </footer> -->
      </div>
    </div>
  </div>