<style>
.page, .site-footer{
   margin-left: 10px;
}
</style>
<div class="page">
	<div class="page-content container-fluid">
		<div class="panel">
		   <div class="panel-body container-fluid">
			   <div class="row">
			   <div class="col-lg-4">
					<label>Role Name</label>
					<input type="text" class="form-control" ng-model="name">
				</div>
				<div class="col-lg-4">
					<label>Department</label>
					<select class="form-control" ng-model="department">
						<option></option>
						<option  ng-repeat="list in departmentList">{{list.name}}</option>
					</select>
				</div> 
				<div class="col-lg-4">
					&nbsp;&nbsp;
				</div>
			</div><br><br>
			<div class="row">	
				<div class="col-lg-12">
					<table class="table">
						<tr>
							<th>Page Name</th>
							<th>List View</th>
							<th>View</th>
							<th>Add</th>
							<th>Edit</th>
							<th>Delete</th>
							
						</tr>
						<tr>
							<td>Datasource</td>
							<td><input type="checkbox" ng-model="userRole.datasource.listView"></td>
							<td><input type="checkbox" ng-model="userRole.datasource.view"></td>
							<td><input type="checkbox" ng-model="userRole.datasource.add"></td>
							<td><input type="checkbox" ng-model="userRole.datasource.edit"></td>
							<td><input type="checkbox" ng-model="userRole.datasource.delete"></td>
						</tr>
						<tr>
							<td>Metadata</td>
							<td><input type="checkbox" ng-model="userRole.metadata.listView"></td>
							<td><input type="checkbox" ng-model="userRole.metadata.view"></td>
							<td><input type="checkbox" ng-model="userRole.metadata.add"></td>
							<td><input type="checkbox" ng-model="userRole.metadata.edit"></td>
							<td><input type="checkbox" ng-model="userRole.metadata.delete"></td>
						</tr>
						<tr>
							<td>Dashboard</td>
							<td><input type="checkbox" ng-model="userRole.dashboard.listView"></td>
							<td><input type="checkbox" ng-model="userRole.dashboard.view"></td>
							<td><input type="checkbox" ng-model="userRole.dashboard.add"></td>
							<td><input type="checkbox" ng-model="userRole.dashboard.edit"></td>
							<td><input type="checkbox" ng-model="userRole.dashboard.delete"></td>
						</tr>
						<tr>
							<td>Public View</td>
							<td><input type="checkbox" ng-model="userRole.publicDashboard.listView"></td>
							<td><input type="checkbox" ng-model="userRole.publicDashboard.view"></td>
							<td><input type="checkbox" ng-model="userRole.publicDashboard.add"></td>
							<td><input type="checkbox" ng-model="userRole.publicDashboard.edit"></td>
							<td><input type="checkbox" ng-model="userRole.publicDashboard.delete"></td>
						</tr>
					</table>
				</div>
				<div class="col-lg-12 ">
					<button class="btn btn-primary pull-right" ng-click="save(name,department,userRole)" style="float: right;">Save</button>
				</div>
		    </div>
		  </div>
		</div>
	</div>
</div>		  	  	