<div class="sidebar">
            <div class="logo">
                <a href="#" class="simple-text">
                   <!--  Thinklytics -->
                </a>
            </div>
            <div class="logo logo-mini">
                <a href="#" class="simple-text">
                    T
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav custUi" >
                    <li class="active">
                        <a href="index.html">
                            <p><i class="material-icons">dashboard</i>
                            Datasource</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right custNav"> 
					<li><a href="#pablo" class="dropdown-toggle"
						data-toggle="dropdown"> <i class="material-icons">apps</i>
							<p class="hidden-lg hidden-md">Apps</p> </a></li>
					<li><a href="#pablo" class="dropdown-toggle"
						data-toggle="dropdown"> <i class="material-icons">person</i>
							<p class="hidden-lg hidden-md">Profile</p> </a></li>
					<li><a href="#pablo" class="dropdown-toggle"
						data-toggle="dropdown"> <i class="material-icons">settings</i>
							<p class="hidden-lg hidden-md">Settings</p> </a></li>
					<li class="separator hidden-lg hidden-md"></li>
				</ul> 
            </div>
        </div>