<style>
    .gridImage {
        background: #00bcd4;
        border: 2px solid #999;
        cursor: pointer;
    }

    .customContainer {
        padding-left: 75px;
        padding-top: 90px;
    }

    .img-circle {
        border-radius: 50%;
        max-width: 100px;
        margin: 0px auto 0;
        margin-bottom: 10px !important;
        cursor: pointer;
    }

    .img-circle img {
        width: 40px;
        height: 40px;
    }

    .thumbnail {
        padding: 20px;
        margin-bottom: 0px;
    }
    .img-circle {
        border-radius: 50%;
        max-width: 88px;
    }

    .custSearchPadding {
        padding: 20px;
    }

    .leftPadding {
        padding-left: 22px;
    }

    .img-circle:hover {
        border: 2px solid #2196f3;
        background: rgba(33, 150, 243, 0.08);
    }



    .ReportingElement  .form-control {
        background-image: none;
    }

    .thumbnail {
        border: 2px solid #ddd;
    }

    .selectedImage {
        border: 2px solid green;
        background: rgba(33, 150, 243, 0.08);
    }
    .card{
        position: fixed;
        height: 100vh;
        width: 50%;
    }
    .cardMainContainer{
        position: fixed;
        height: 100vh;
        width: 65%;
    }
</style>
<div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-8">
        <div class="card cardMainContainer">
            <div class="card-content">
                <div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
                    <div class="col-sm-8 ReportingElement" style="display:block !important; border-right: 2px solid #dadfe2;padding: 0px;min-height: 60px;">
                        <input type="text" class="form-control" placeholder="Search for any app name" ng-model="search" style="height: 60px;padding: 10px;">
                    </div>
                    <div class="col-sm-4 ReportingElement" style=" display:block !important; padding: 0px;min-height: 60px;">
                        <select class="form-control" ng-model="metadataBlendList_Order" ng-change="orderMeataDataBlendList()" style="height: 60px;padding: 10px;">
                            <optgroup label="Time Stamp"></optgroup>
                            <option value="asc">Ascending</option>
                            <option value="desc">Descending</option>
                        </select>
                    </div>
                    <div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top:2px solid #dadfe2;" >
                        <div class="loaderImage"></div>
                        <!--<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter"  ng-repeat="meta in metaList | filter:serachMetadata" rel="tooltip" title="{{meta.name}}">
                            <div class="fileinput-new thumbnail img-circle  imageToggle" ng-click="toggle($event,meta,$index)" >
                                <img src="{{getDatasourceIconPath(meta.connObject.connectionObject.datasourceType)}}">
                            </div>
                            <span>{{meta.name | limitTo:10}}{{ meta.name.length > 10 ? '...' : ''}}</span>
                        </div>
                        <h5 ng-hide="(metaList|filter:serachMetadata).length" style="margin-top: 18%;">No Metadata</h5>-->
                        <!-- 									<h5 ng-if="loading != true" ng-hide="(metaList|filter:serachMetadata).length" style="margin-top: 18%;">No Metadata</h5>			 -->
                        <div class="col-sm-12 textAlignCenter custHeightCard stepFolder1">
                            <div class="loaderImage"></div>
                            <div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder" title="{{sView}}" rel="tooltip" ng-repeat="sView in groupFolder | filter:search" >
                                <div class="picture-container">
                                    <div ng-click="metadataFolder.toggleImage($event,sView,$index)" >
                                        <span>
                                            <img src="assets/img/demo/folder.png" >
                                        </span>
                                    </div>
                                </div>
                                <span>{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
                            </div>
                            <div class="stepLoading">
                                <img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
                            </div>
                            <h5  ng-hide="(groupFolder|filter:search).length" style="margin-top: 18%;" >No Metadata</h5>
                            <!--<h5 ng-if="loading != true" ng-hide="(sView|filter:searchDashboard).length" style="margin-top: 18%;" >No Shared View </h5>-->
                        </div>
                        <div class="col-sm-12 stepFolder2" style="display: none;" >
                            <div class="loader-overlay ng-scope loadingBar" style="display: none;">
                                <div class="loader-content">
                                    <div class="loader-index">
                                        <img ng-if="loadingBarDrawer == true" style="width: 70px; " class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 textAlignCenter">
                                <div class="row">
                                    <!--<div class="col-sm-2" title="{{selectedShared.name}}" ng-repeat="selectedShared in dataSourceSelected | filter:searchDashboard">
                                        <div class="picture-container">
                                            <div class="picture imageToggle" ng-click="selected_SharedView($event,selectedShared, $index)" data-toggle="popover" data-full="{{imageUrlBaseUrl}}{{selectedShared.image}}.png">
                                                <img src="{{getDatasourceIconPath(selectedShared.datasourceType)}}" class="picture-src" style="height: 105%; width: 100%" >
                                            </div>
                                        </div>
                                        <span>{{selectedShared.name | limitTo:10}}{{ selectedShared.name.length > 10 ? '...' : ''}}</span>
                                    </div>-->
                                    <div class="col-sm-2  custSearchPadding textAlignCenter" ng-repeat="getSourcedata in metadataList | filter:search | orderBy:metadataBlend_List_order " title="{{getSourcedata.name}}" rel="tooltip">
                                        <div class="fileinput-new thumbnail img-circle imageToggle" ng-click="toggle($event,getSourcedata,$index)">
                                            <img ng-src="{{getDatasourceIconPath(getSourcedata.datasourceType)}}">
                                        </div>
                                        <span>{{getSourcedata.name | limitTo:10}}{{getSourcedata.name.length > 10 ? '...' : ''}}</span>
                                    </div>
                                    <h5  ng-hide="(metadataList|filter:search).length" style="margin-top: 18%;" >No Metadata</h5>
                                    <!--<h5 ng-hide="(dataSourceSelected|filter:dataSourceSelected).length" style="margin-top: 18%;">No Datasource</h5>-->
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 textAlignCenter custHeightCard step2" style="border-top:2px solid #dadfe2;display: none;">
                        <form>
                            <div class="card-content">
                                <div class="form-group label-floating">
                                    <input class="form-control" type="file" file-model="metadataImport.file" placeholder="Metadata File" />
                                </div>
                                <div class="col-sm-12" style="text-align: left" ng-if="testsuccess && metadataOverwrite">
                                    <h5 style="color:red;">Do you want to overwrite?</h5>
                                    <div class="row">
                                        <div class="col-sm-10 checkbox-radios">
                                            <div class="checkbox" ng-if="datasourceStatus">
                                                <label>	&nbsp;&nbsp;
                                                    <input type="checkbox" ng-model="overwrite.datasource" ng-false-value='0' ng-true-value='1' checked>
                                                    <span class="checkbox-material">
                                                    <span class="check"></span>
                                                </span>
                                                    Datasource
                                                </label>
                                            </div>
                                            <div class="checkbox" ng-if="metadataStatus">
                                                <label>	&nbsp;&nbsp;
                                                    <input type="checkbox" ng-model="overwrite.metadata"  ng-false-value='0' ng-true-value='1' checked disabled>
                                                    <span class="checkbox-material">
                                                <span class="check"></span>
                                            </span>
                                                    Metadata
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="fixed-bottom">
            <div class="col-sm-12 textAlignCenter">
                <!-- For import -->
                <button class="btn btn-info btn-fill pull-right" ng-click="importBtn()"  ng-if="selectedConfirm!=1 && backBtn!=1 && import==0">Import</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="backToFolder()" ng-if="import==1">Back</button>
                <button type="submit" class="btn btn-info pull-right" ng-click="testImport(dataSourceForm,selectedDatasource.name)" ng-if="import==1">Test</button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="importSave!=1" ng-click="groupTypeModal()" ng-if="import==1">Save</button>

                <button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right step1" ng-click="metadataFolder.backToSharedView()" ng-if="backBtn==1" title="Back">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button data-toggle="tooltip" class="btn btn-danger btn-fill pull-right" ng-click="showSwal('warning-message-and-cancel')" ng-if="selectedConfirm==1" title="Delete">
                    <i class="fa fa-trash"></i>
                </button>
                <button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-click="metaEdit()" ng-if="selectedConfirm==1" title="Edit">
                    <i class="fa fa-edit"></i>
                </button>
                <button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right step1" ng-click="export()" ng-if="selectedConfirm==1" title="Export">
                    <i class="fa fa-sign-out"></i>
                </button>
                <button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-click="syncData()" ng-if="selectedConfirm==1" title="Sync Data">
                    <i class="fa fa-refresh"></i>
                </button>
                <button data-toggle="tooltip" class="btn btn-primary btn-fill pull-right" ng-click="renameColumn()" ng-if="selectedConfirm==1" title="Rename Column">
                    <i class="fa fa-pencil"></i>
                </button>
            </div>
        </footer>
    </div>
</div>
<div class="col-sm-2">&nbsp;</div>

<div ng-include src="'html/common/modal.html'" include-replace></div>
<div ng-include src="'html/metadata/blending/modal.html'" include-replace></div>