<style>

    .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{
        font-size: 14px;
    }
    .custSize{
        width: 50px;
    }
    @media (min-width: 992px) {
        .main-panel > .content {
            padding-left: 0px;
        }
    }
    .card .card-content {
        min-height: 450px;
    }
    /* Extra css*/
    .joinImage {
        background: #fff;
        cursor: pointer;
        height: 30px;
        left: -41px;
        position: absolute;
        top: 22.5px;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 99;
    }
    .join-link {
        fill: none;
        stroke: #219FD7;
        stroke-width: 2px;
        /*  shape-rendering: crispEdges; */
        overflow: auto;
        transform-origin: 50% 50% 0px;
    }
    .join-links { /*  width: 4000px;
          height: 4000px; */
        overflow: auto;
    }
    .navbar-width {
        width: 260px !important;
    }
    .joinHover {
        text-align: center;
        border: 1px solid transparent;
    }
    .joinHover:hover {
        border: 1px solid #ccc;
        cursor: pointer;
    }
    .joinActive {
        border: 1px solid #ccc;
        background: rgba(204, 204, 204, 0.39);
    }
    .marginBottom {
        margin-bottom: 10px;
    }
    @media (min-width: 1220px){
        .FilterContainer{
            position: fixed;
            width: 24.5%;
            height: 92vh;
        }
        .mainContainer{
            position: fixed;
            width: 74.5%;
            height: 92vh;
        }
        .card{
            margin: 0px;
        }
        .card .nav-pills, .card .tab-content{
            margin-top: 0px;
        }
    }



    body {
        background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
        background-size: cover;
    }

    .blur {
        background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
        filter: blur(13px);
        position: absolute;
        height: 300px;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
    }

    .widget {
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .center {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }



    body {
        background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
        background-size: cover;
    }

    .blur {
        background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed;
        background-size: cover;
        overflow: hidden;
        filter: blur(13px);
        position: absolute;
        height: 300px;
        top: -50px;
        left: -50px;
        right: -50px;
        bottom: -50px;
    }

    .widget {
        border-top: 2px solid rgba(255, 255, 255, .5);
        border-bottom: 2px solid rgba(255, 255, 255, .5);
        height: 200px;
        width: 100%;
        overflow: hidden;
    }

    .center {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .loader-overlay {
        background: rgba(255, 255, 255, 0.8);
    }

    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
    }

</style>



<!--
<div ng-if="loadingBar==true" class="loaderMetaData" style="width: 100%; height:100%; text-align: center; background-color: white; opacity: 0.9;">
	<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px;">
</div>
 -->

<!--
<div class="loader-overlay " style="display: none;" ng-if="loadingBar==true" >
    <div class="loader-content" >
        <div class="loader-index" style="width: 100%; height:100%;">
            <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px">
        </div>
    </div>
</div>
 -->



<div class="row">
    <div class="col-lg-3 col-md-12">
        <div class="card FilterContainer">
            <div class="card-header card-header-text">
                <ul class="nav nav-pills nav-pills-rose nav-pills-icons">
                    <li class="active">
                        <a href="javascript:void(0);#datasource" data-toggle="tab">
                            <i class="fa fa-database"></i>
                            Source
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);#column" data-toggle="tab">
                            <i class="fa fa-database"></i>
                            Column
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);#filter" data-toggle="tab">
                            <i class="fa fa-filter"></i>
                            Filter
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-content table-responsive">
                <div class="tab-content" >
                    <div class="tab-pane active" id="datasource" >
                        <select class="form-control" ng-model="source.sourceoption" ng-change="sourceSelect(source.sourceoption)" disabled>
                            <option ng-repeat="source in sourcedata" value="{{source}}">{{source.name}}</option>
                        </select>
                        <div style="height: 60vh;overflow: auto;">
                            <div>
                                <div>
                                    <img ng-show="loadingBarDrawer" class="image-responsive-height" src="assets/img/demo/progress.svg"
                                         alt="Progress" style=" width: 20%; margin-top: 50% !important; margin-left: 35% !important; ">
                                </div>
                                <div ng-hide="loadingBarDrawer">
                                    <div ng-repeat="tableListval in tableList | orderBy:tableListval" title="{{tableListval}}" rel="tooltip">
                                        <label> <input type="checkbox" name="optionsCheckboxes" ng-model="Attributes.checkboxModelDimension[tableListval]"
                                                       ng-click="onDrop(event,$index ,tableListval, external, type, 'itemType',Attributes.checkboxModelDimension[tableListval])">
                                            {{tableListval | limitTo:30}}{{ tableListval.length > 30 ? '...' : ''}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="column">
                        <!-- Measure -->
                        <h5>Measure</h5>
                        <label>
                            <input type="radio" name="optionsRadios" ng-click="nameTypeMeasure='database_measure'" checked> Database Name
                        </label>
                        <label>
                            <input type="radio" name="optionsRadios" ng-click="nameTypeMeasure='business_measure'" > Business Name
                        </label>
                        <div style="height: 22vh;overflow: auto;">
                            <ul class="list-unstyled example" ng-if="nameTypeMeasure=='business_measure'">
                                <li class="margin-bottom-15"
                                    ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
                                        for="checkboxDimension{{$index}}" class="">{{keys.reName}}</label>
                                    <span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
                                          style="cursor: pointer;" ng-click="measureDimensionDropdown('measureDiv',$index)"><i
                                            class="fa fa-ellipsis-v" data-toggle="dropdown"
                                            aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
														To Dimension</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
                                </li>
                            </ul>
                            <ul class="list-unstyled example" ng-if="nameTypeMeasure=='database_measure'">
                                <li class="margin-bottom-15"
                                    ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Measure'"><label
                                        for="checkboxDimension{{$index}}" class="">{{keys.columnName}}</label>
                                    <span class="pull-right dropdown buttonDropdownMeasure{{$index}}"
                                          style="cursor: pointer;"
                                          ng-click="measureDimensionDropdown('measureDiv',$index)"><i
                                            class="fa fa-ellipsis-v" data-toggle="dropdown"
                                            aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownMeasure" role="menu" style="position: fixed; width: 12% !important; " >
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="moveToDimMeasure('Dimension',keys.reName)">Move
														To Dimension</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Dimension -->
                        <h5>Dimension</h5>
                        <label>
                            <input type="radio" name="optionsRadios1" ng-click="nameTypeDimension='database_dimension'" checked> Database Name
                        </label>
                        <label>
                            <input type="radio" name="optionsRadios1" ng-click="nameTypeDimension='business_dimension'"> Business Name
                        </label>
                        <div style="height: 22vh;overflow: auto;">

                            <ul class="list-unstyled example"  ng-if="nameTypeDimension=='business_dimension'">
                                <li class="margin-bottom-15"
                                    ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.reName}}</label>
                                    <span class="pull-right dropdown buttonDropdownDimension{{$index}}"
                                          style="cursor: pointer;"
                                          ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
                                            class="fa fa-ellipsis-v" data-toggle="dropdown"
                                            aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="moveToDimMeasure('Measure',keys.reName)">Move
														To Measure</a></li>
                                                <!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
                                                                Group</a>
                                                </li> -->
                                                <!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
                                                </li> -->
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
                                </li>
                            </ul>
                            <ul class="list-unstyled example" ng-if="nameTypeDimension=='database_dimension'">
                                <li class="margin-bottom-15"
                                    ng-repeat="keys in tableColumns" ng-if="keys.dataKey=='Dimension'"><label>{{keys.columnName}}</label>
                                    <span class="pull-right dropdown buttonDropdownDimension{{$index}}"
                                          style="cursor: pointer;"
                                          ng-click="measureDimensionDropdown('dimensionDiv',$index)"><i
                                            class="fa fa-ellipsis-v" data-toggle="dropdown"
                                            aria-hidden="true" style="padding-right: 10px;"></i>
											<ul class="dropdown-menu custDropdownDimension" role="menu" style="position: fixed; width: 12% !important; ">
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="renameKeys(keys.reName,$index)">Business Name</a></li>
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="moveToDimMeasure('Measure',keys.reName)">Move
														To Measure</a></li>
                                                <!-- <li class='m-l-5c' ng-if="keys.type!='custom'"><a href="" ng-click="createCategory(keys)">Create
                                                                Group</a>
                                                </li> -->
                                                <!-- <li class='m-l-5c' ng-if="keys.type=='custom'"><a href="" ng-click="editGroupCategory(keys)">Edit Group</a>
                                                </li> -->
												<li class='m-l-5c'><a href="javascript:void(0);"
                                                                      ng-click="deleteColumn(keys.reName)">Delete</a></li>
											</ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="filter">
                        <div class="card-block">
                            <div class="custPanel">
                                <div class="panel-heading">
										<span>
											Filter
											<button class="btn btn-primary btn-sm"  style="float: right;margin: 0px 1px;" ng-click="filter()">+</button>
										</span>
                                </div>
                            </div>
                            <div style="min-height: 44vh;max-height: 44vh;overflow: auto;">
                                <span ng-if="limit=='' && whereConditionText==''"><h4>No Data</h4></span>
                                <span ng-if="whereConditionText!=''"><h5>Condition:</h5>{{whereConditionText}}</span>
                                <span ng-if="limit!=''">Limit:</span>{{limit}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12">
        <div class="card mainContainer">
            <div class="card-header card-header-text" style="width:100%;">
                <div class="row">
                    <div class="col-sm-6">
                        <ul class="nav nav-pills nav-pills-rose nav-pills-icons" style="display: inline-block;">
                            <li class="active">
                                <a href="javascript:void(0);#metadata" id="metadata_btn" data-toggle="tab">
                                    <i class="fa fa-database"></i>
                                    Metadata
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);#datatable" id="datatable_btn" data-toggle="tab">
                                    <i class="fa fa-table"></i>
                                    Result
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 form-group">
                        <input type="text" class="form-control" placeholder="Metadata Name" ng-model="metadataName">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-info pull-right" data-ng-click="groupTypeModal()" style="margin-top: 0px;">Save</button>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="tab-content">
                    <div class="tab-pane active" id="metadata" style="height: 60vh;overflow: auto;">
                        <div data-role="content" id="canvasContainer" ></div>
                    </div>
                    <div class="tab-pane" id="datatable" style="height: 60vh;overflow: auto;">
                        <div class="col-sm-12">
                            <div id="dataTableDiv"></div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-info pull-right" ng-click="excelIndex()" ng-show="indexingBtn">Indexing</button>
                    <button class="btn btn-info pull-right" data-ng-click="getData(source.sourceoption, 'update')" ng-show="updateBtnOnLoad">Update</button>
                    <button class="btn btn-info pull-right" data-ng-click="getData(source.sourceoption, 'refresh')" ng-show="!updateBtnOnLoad">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include src=" 'html/metadata/modal.html'" include-replace></div>
<div ng-include src="'html/common/modal.html'" include-replace></div>