<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form >
                    <div class="card-content">
                        <h4 class="card-title">Increment Data</h4>
                        <div class="row">
                            <div  class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Unique Keys</label>
                                    <select multiple id="keyData" data-style="select-with-transition" data-container="body" title="Select Key" data-size="7" data-ng-model="incrementObj.selected_Key" data-live-search="true" >
                                        <option selected="selected" disabled="disabled" value="">Select Key</option>
                                        <optgroup ng-repeat="(key,arr) in keyArr" label="{{key}}">
                                            <option ng-repeat="keyObj in arr | orderBy:'Field' " value="{{keyObj}}">{{keyObj.Field}}</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-repeat="table in tableNameArr">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Table Name</label>
                                        <input  ng-model="incrementObj.table[$index].name"  class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Update Date Time Key</label>
                                        <select class="form-control" data-style="select-with-transition" data-container="body" title="Select Updated" data-size="7" data-ng-model="incrementObj.table[$index].key" data-live-search="true" >
                                            <option selected="selected" disabled="disabled" value="">Select Updated</option>
                                            <option ng-repeat="key in tableWithKey[table]" value="{{key.Field}}">{{key.Field}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Permission End -->
                        <a href="#/metadata/" >
                            <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="saveIncrementedData()">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
