<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="nav-center" id="tabs">
				<ul class="nav nav-pills nav-pills-rose nav-pills-icons"  role="tablist">
					<li class="active">
						<a href="javascript:void(0);#role_assign" role="tab" data-toggle="tab">
							<i class="fa fa-user-circle"></i> User/Role Assign
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#roles" role="tab" data-toggle="tab">
							<i class="fa fa-check"></i> Roles
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#user_group" role="tab" data-toggle="tab">
							<i class="fa fa-users"></i> User Group
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#report_group" role="tab" data-toggle="tab">
							<i class="fa fa-file-text-o"></i> Report Group
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#role_security" role="tab" data-toggle="tab">
							<i class="fa fa-lock"></i> Role Security
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#cache_manager" role="tab" data-toggle="tab">
							<i class="fa fa-database"></i> Cache Management
						</a>
					</li>
					<!--<li>-->
						<!--<a href="javascript:void(0);#geo_Json" role="tab" data-toggle="tab">-->
							<!--<i class="fa fa-globe"></i> Add Geo JSON-->
						<!--</a>-->
					<!--</li>-->
					<li>
						<a href="javascript:void(0);#email_report" role="tab" data-toggle="tab">
							<i class="fa fa-envelope"></i> Email
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane " id="roles">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Roles
								<a href="#/setting/userrole/add" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
							</h4>
						</div>
						<div class="card-content">
							<table class="table table-striped table-no-bordered" id="roleList">
								<thead>
									<tr>
										<th>Role Name</th>
										<th>Role Description</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="list in roleList">
										<td>{{list.name}}</td>
										<td>{{list.description}}</td>
										<td>
											<a href="#/setting/userrole/view/{{list.id}}">
												<button class="btn btn-success btn-sm" title="View">
													<i class="fa fa-eye"></i>
													<div class="ripple-container"></div>
												</button>
											</a>
											<span ng-if="list.name!='Super Admin' && list.name!='Admin' && list.name!='Busines Designer'">
												<a href="#/setting/userrole/edit/{{list.id}}">
													<button class="btn btn-primary btn-sm" title="Edit">
														<i class="fa fa-edit"></i>
														<div class="ripple-container"></div>
													</button>
												</a>
												<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'role', list.id)" title="Delete">
													<i class="fa fa-trash"></i>
													<div class="ripple-container"></div>
												</button>
											</span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="cache_manager">
					<div class="nav-center">
						<ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
							<li class="active">
								<a href="javascript:void(0);#cache_server_restart" role="tab" data-toggle="tab">
									<i class="fa fa-power-off"></i> Server Restart
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#cache_clear" role="tab" data-toggle="tab">
									<i class="fa fa-trash"></i> Cache Clear
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#metadata_clear" role="tab" data-toggle="tab">
									<i class="fa fa-trash"></i> Metadata Clear
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="cache_server_restart">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Cache Server Restart</h4>
								</div>
								<div class="card-content">
									<div class="row">
										<div class="col-sm-6">
											<button type="button" ng-click="nodeRestart()" class="btn btn-info pull-right" style="margin-top: 0px;">Cache Server Restart</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="cache_clear">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Cache Clear</h4>
								</div>
								<div class="card-content">
									<div class="row">
										<div class="col-sm-6">
											<button type="button" ng-click="redisClear()" class="btn btn-info pull-right" style="margin-top: 0px;">Cache Clear</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="metadata_clear">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Specific Metadata Clear</h4>
								</div>
								<div class="card-content">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group label-floating">
												<label class="control-label">Select MetaData <small>*</small> </label>
												<select class="form-control" title="Select MetaData" data-size="7" data-ng-model="cacheManger.metadata" >
													<option ng-repeat="list in metadatList" value="{{list.metadataId}}">{{list.name}}</option>
												</select>
											</div>
										</div>
										<div class="col-sm-3">
											<button type="button" ng-click="ClearCache(cacheManger)" class="btn btn-info pull-right" style="margin-top: 0px;">Clear Cache</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="user_group">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">User Group
								<button type="button" ng-click="userGroupModel()" class="btn btn-info pull-right"style="margin-top: 0px;">Add</button>
							</h4>
						</div>
						<div class="card-content">
							<table class="table table-striped table-no-bordered" id="userGroupListid">
								<thead>
									<tr>
										<th>Group Name</th>
										<th>Report Group</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="list in UserGroupList">
										<td>{{list.name}}</td>
										<td>{{list.reportGroup}}</td>
										<td>
											<button class="btn btn-primary btn-sm" ng-click="userGroupModelEdit(list)" title="Edit">
												<i class="fa fa-edit"></i>
												<div class="ripple-container"></div>
											</button>
											<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'user-group', list.id)" title="Delete">
												<i class="fa fa-trash"></i>
												<div class="ripple-container"></div>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="tab-pane active" id="role_assign">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Create User & Assign Role
								<a href="#/setting/userrole/assign" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
							</h4>
						</div>
						<div class="card-content">
							<table class="table table-striped table-no-bordered" id="userRoleAssign">
								<thead>
									<tr>
										<th>User Name</th>
										<th>Email</th>
										<th>Role</th>
										<th>User Group</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="list in userList">
										<td>{{list.name}}</td>
										<td>{{list.email}}</td>
										<td>{{list.roles[0].name}}</td>
										<td>{{list.group}}</td>
										<td ng-if="userRole=='Admin' && list.roles[0].name=='Admin'">&nbsp;</td>
										<td ng-if="userRole=='Admin' && list.roles[0].name!='Admin'">
											<a href="#/setting/userrole/assign/edit/{{list.id}}">
												<button class="btn btn-primary btn-sm" title="Edit">
													<i class="fa fa-edit"></i>
													<div class="ripple-container"></div>
												</button>
											</a>
											<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'user-role', list.id)" title="Delete">
												<i class="fa fa-trash"></i>
												<div class="ripple-container"></div>
											</button>
										</td>
										<td ng-if="userRole!='Admin'">
											<a href="#/setting/userrole/assign/edit/{{list.id}}" title="Edit">
												<button class="btn btn-primary btn-sm">
													<i class="fa fa-edit"></i>
													<div class="ripple-container"></div>
												</button>
											</a>
											<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'user-role', list.id)" title="Delete">
												<i class="fa fa-trash"></i>
												<div class="ripple-container"></div>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="report_group">
					<div class="nav-center">
						<ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
							<li class="active">
								<a href="javascript:void(0);#report_group_datasource" role="tab" data-toggle="tab">
									<i class="fa fa-connectdevelop"></i> Datasource
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#report_group_metadata" role="tab" data-toggle="tab">
									<i class="fa fa-database"></i> Metadata
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#report_group_dashboard" role="tab" data-toggle="tab">
									<i class="fa fa-line-chart"></i> Dashboard
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#report_group_sharedview" role="tab" data-toggle="tab">
									<i class="fa fa-line-chart"></i> Shard View
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<!--Report level datasource -->
						<div class="tab-pane active" id="report_group_datasource">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Report Group Datasource
										<a href="#/setting/report-group/add/datasource" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
									</h4>
								</div>
								<div class="card-content">
									<table class="table table-striped table-no-bordered" id="reportGroup_datasource">
										<thead>
											<tr>
												<th>Report Group Name</th>
												<th>User Group</th>
												<th>Datasource</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="report in reportData_datasource">
												<td>{{report.name}}</td>
												<td>{{report.userGroup}}</td>
												<td>{{report.datasourceGroup}}</td>
												<td>
													<a href="#/setting/report-group/edit/{{report.id}}/datasource">
														<button class="btn btn-primary btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
															<div class="ripple-container"></div>
														</button>
													</a>
													<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'report-group', report.id, 'datasource')" title="Delete">
														<i class="fa fa-trash"></i>
														<div class="ripple-container"></div>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End report level datasource-->
						<!--Report level Metadata -->
						<div class="tab-pane" id="report_group_metadata">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Report Group Metadata
										<a href="#/setting/report-group/add/metadata" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
									</h4>
								</div>
								<div class="card-content">
									<table class="table table-striped table-no-bordered" id="reportGroup_metadata">
										<thead>
											<tr>
												<th>Report Group Name</th>
												<th>User Group</th>
												<th>Metadata</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="report in reportData_metadata">
												<td>{{report.name}}</td>
												<td>{{report.userGroup}}</td>
												<td>{{report.metadataGroup}}</td>
												<td>
													<a href="#/setting/report-group/edit/{{report.id}}/metadata">
														<button class="btn btn-primary btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
															<div class="ripple-container"></div>
														</button>
													</a>
													<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'report-group', report.id, 'metadata')" title="Delete">
														<i class="fa fa-trash"></i>
														<div class="ripple-container"></div>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End report level Metadata-->
						<!--Report level dashboard -->
						<div class="tab-pane" id="report_group_dashboard">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Report Group Dashboard
										<a href="#/setting/report-group/add/dashboard" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
									</h4>
								</div>
								<div class="card-content">
									<table class="table table-striped table-no-bordered" id="reportGroup_dashboard">
										<thead>
											<tr>
												<th>Report Group Name</th>
												<th>User Group</th>
												<th>Dashboard</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="report in reportData_dashboard">
												<td>{{report.name}}</td>
												<td>{{report.userGroup}}</td>
												<td>{{report.dashboardGroup}}</td>
												<td>
													<a href="#/setting/report-group/edit/{{report.id}}/dashboard">
														<button class="btn btn-primary btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
															<div class="ripple-container"></div>
														</button>
													</a>
													<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'report-group', report.id, 'dashboard')" title="Delete">
														<i class="fa fa-trash"></i>
														<div class="ripple-container"></div>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End report level Dashboard-->
						<!-- Report level sharedview-->
						<div class="tab-pane" id="report_group_sharedview">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">Report Group Sharedview
										<a href="#/setting/report-group/add/sharedview" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
									</h4>
								</div>
								<div class="card-content">
									<table class="table table-striped table-no-bordered" id="reportGroup_sharedview">
										<thead>
											<tr>
												<th>Report Group Name</th>
												<th>User Group</th>
												<th>Shared View</th>
												<th>Action</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="report in reportData_sharedview">
												<td>{{report.name}}</td>
												<td>{{report.userGroup}}</td>
												<td>{{report.sharedGroup}}</td>
												<td>
													<a href="#/setting/report-group/edit/{{report.id}}/sharedview">
														<button class="btn btn-primary btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
															<div class="ripple-container"></div>
														</button>
													</a>
													<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'report-group', report.id, 'sharedview')" title="Delete">
														<i class="fa fa-trash"></i>
														<div class="ripple-container"></div>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<!-- End report level datasource -->
					</div>
				</div>
				<div class="tab-pane" id="role_security">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Report Level Security
								<a href="#/setting/rolelevel/security" class="btn btn-info pull-right" style="margin-top: 0px;">Add</a>
							</h4>
						</div>
						<div class="card-content">
							<table class="table table-striped table-no-bordered" id="roleLevel">
								<thead>
									<tr>
										<th>Shared View</th>
										<th>Department / user</th>
										<th>Condition</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="list in rlsList">
										<td>{{list.sharedview_name}}</td>
										<td>{{list.department_user}}</td>
										<td>{{list.conditionStr}}</td>
										<td>
											<a href="#/setting/rolelevel/security/edit/{{list.rlsId}}">
												<button class="btn btn-primary btn-sm" title="Edit">
													<i class="fa fa-edit"></i>
													<div class="ripple-container"></div>
												</button>
											</a>
											<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'report-security', list.rlsId)" title="Delete">
												<i class="fa fa-trash"></i>
												<div class="ripple-container"></div>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="email_report">
					<div class="nav-center">
						<ul class="nav nav-pills nav-pills-rose nav-pills-icons" role="tablist">
							<li class="active">
								<a href="javascript:void(0);#shareReportEmail" role="tab" data-toggle="tab">
									<i class="fa fa-share-alt"></i> Share Report On Email
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#emailGroup" role="tab" data-toggle="tab">
									<i class="fa fa-shield"></i> Email Group
								</a>
							</li>
							<li>
								<a href="javascript:void(0);#triggerEmail" role="tab" data-toggle="tab">
									<i class="fa fa-bell"></i> Email Notification
								</a>
							</li>
						</ul>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="shareReportEmail">
							<div class="card">
								<form >
									<div class="card-content">
										<h4 class="card-title">
											Email Shared Views
											<a href="#/setting/email/schedule" class="btn btn-info pull-right">Add</a>
										</h4>
										<div class="row">
											<table class="table table-striped table-no-bordered" id="emailSchedule">
												<thead>
													<tr>
														<th>Subject</th>
														<th>Email</th>
														<th>Shared View</th>
														<th>Message</th>
														<th>Schedule Date Time</th>
														<th>Status</th>
														<th>Option</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="list in emailScheduleList">
														<td>{{list.subject}}</td>
														<td>{{list.email}}</td>
														<td>{{list.publicview_name}}</td>
														<td>{{list.message}}</td>
														<td>{{list.schedule_datetime}}</td>
														<td>{{list.status_show}}</td>
														<td>
															<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'email-list', list.id, $index)" title="Delete">
																<i class="fa fa-trash"></i>
																<div class="ripple-container"></div>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="triggerEmail">
							<div class="card">
								<form >
									<div class="card-content">
										<h4 class="card-title">Email Notification</h4>
										<div class="row">
											<table class="table table-striped table-no-bordered" id="emailNotification">
												<thead>
													<tr>
														<th>Title</th>
														<th>Threshold</th>
														<th>Dashboard Name</th>
														<th>Status</th>
														<th>Option</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="list in emailNotificationList">
														<td>{{list.notificationObj.title}}</td>
														<td>{{list.notificationObj.threshold}} {{list.notificationObj.condition}}</td>
														<td>{{list.dashboardName}}</td>
														<td><div ng-if="list.status==1">Active</div><div ng-if="list.status==0">Inactive</div></td>
														<td>
															<button class="btn btn-primary btn-sm" ng-click="emailNotificationEdit(list)" title="Edit">
																<i class="fa fa-edit"></i>
																<div class="ripple-container"></div>
															</button>
															<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'email-notification', list.id, $index)" title="Delete">
																<i class="fa fa-trash"></i>
																<div class="ripple-container"></div>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="emailGroup">
							<div class="card">
								<form >
									<div class="card-content">
										<h4 class="card-title">
											Email Group
											<a href="#/setting/email/group/add" class="btn btn-info pull-right">Add</a>
										</h4>
										<div class="row">
											<table class="table table-striped table-no-bordered" id="emailGroupTable">
												<thead>
													<tr>
														<th>Group Name</th>
														<th>Email Id</th>
														<th>Option</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="list in emailGrpList">
														<td>{{list.name}}</td>
														<td>{{list.email_id}}</td>
														<td>
															<a href="#/setting/email/group/edit/{{list.id}}">
																<button class="btn btn-primary btn-sm" title="Edit">
																	<i class="fa fa-edit"></i>
																	<div class="ripple-container"></div>
																</button>
															</a>
															<button class="btn btn-danger btn-sm" ng-click="showSwal('warning-message-and-cancel', 'email-group', list.id, $index)" title="Delete">
																<i class="fa fa-trash"></i>
																<div class="ripple-container"></div>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="geo_Json">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Add Geo JSON</h4>
						</div>
						<div class="card-content">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group label-floating">
										<label class="control-label">Upload File<small>*</small> </label>
										<input type="file" class="form-control" file-model="dataSourceForm.excelFile" id="geo_Json_File">
									</div>
								</div>
								<div class="col-sm-3">
									<button type="button" ng-click="ClearCache(cacheManger)" class="btn btn-info pull-right" style="margin-top: 0px;">Add</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'html/setting/setting-model.html'" include-replace></div>