<style>
.modal{
	background: rgba(51, 51, 51, 0.62);
}
ul li{
   list-style: none;
}
.operatorHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .operatorHover {
        opacity: 1;
    }
    .functionHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .functionHover {
        opacity: 1; 
    }

    .columnNameMeasure {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .columnNameMeasure {
        opacity: 1;
    } 
    .custLiWidth{
    	width: 100%;
    	text-align: left;
    }
    ul{
       padding-left: 0px;
    }
</style>
<!-- Modal -->
<div class="modal fade example-modal-lg" tabindex="-1" id="usergroup" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create User Group</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                           <div class="col-sm-6">
                           	<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Name</label>
								<input type="text" class="form-control" id="groupname" ng-model="groupname">
							</div>
                           </div>
                       </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="saveUserGroup(groupname)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div> 
</div> 
<!-- END Rename modal  -->
<div class="modal fade example-modal-lg" tabindex="-1" id="usergroupEdit" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit User Group</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                           <div class="col-sm-6">
                           	<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Name</label>
								<input type="text" class="form-control" ng-model="groupnameEdit">
								<input type="hidden" class="form-control" ng-model="groupnameId">
							</div>
                           </div>
                       </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="updateUserGroup(groupnameEdit,groupnameId)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div> 
    </div> 
</div>
<!-- Email Notification edit  -->
<div class="modal fade example-modal-md" tabindex="-1" id="emailNotificationEdit" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Email Notification</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="floating-label">Title</label>
                                <input type="text" class="form-control" ng-model="emailNotificataion.title">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="floating-label">Threshold</label>
                                <input type="text" class="form-control" ng-model="emailNotificataion.threshold">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="floating-label">Condition</label>
                                <select class="form-control" ng-model="emailNotificataion.condition">
                                    <option value="above">Above</option>
                                    <option value="lower">Lower</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <label class="floating-label">Status</label>
                                <select class="form-control" ng-model="emailNotificataion.status">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="emailNotificationUpdate(emailNotificataion)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
