<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">&nbsp;</div>
		<div class="col-md-8">
			<div class="card">
				<form >
					<div class="card-content">
						<h4 class="card-title">Create User & Assign Roles</h4>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label">Name <small>*</small></label> 
									<input class="form-control"  type="text" ng-model="user.name" required="true"> 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Email Id <small>*</small> </label>
									<input class="form-control" name="description" ng-model="user.email" type="text" required="true">
								</div>
							</div> 
						</div>
						<div class="row">	
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Password <small>*</small> </label>
									<input class="form-control" name="description" ng-model="user.password" type="password" required="true"> 
								</div>
							</div> 
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Role <small>*</small> </label>
									<select class="form-control" title="Select Role" data-size="7" data-ng-model="user.role" >
										<option ng-repeat="list in roleList |orderBy:'name' " value="{{list.id}}" ng-if="list.name!='Super Admin'">{{list.name}}</option>
									</select>
								</div>
							</div> 
					    </div>
					    <div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">									
									<label class="control-label"> User Group <small>*</small> </label>
									<select id="userGroupSelect" data-style="select-with-transition" data-container="body" multiple title="Select User Group" data-size="7" data-ng-model="user.group" data-live-search="true" >
										<option ng-repeat="list in UserGroupList |orderBy:'name' " value="{{list.id}}" >{{list.name}}</option>
									</select>
								</div>
							</div> 
						</div>
						<a href="#/setting/role_assign" >
	                        <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>   
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="save(user)">Save</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-2">&nbsp;</div>
	</div>
</div>
