<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<div class="card">
				<form >
					<div class="card-content">
						<h4 class="card-title">View Roles</h4>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label">Name <small>*</small></label> 
									<input disabled="disabled" class="form-control" ng-model="role.name" type="text" required="true"> 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Description <small>*</small> </label>
									<input disabled="disabled" class="form-control" name="description"  ng-model="role.description" type="text" required="true"> 
								</div>
							</div> 
						</div>						
						
						<h5>Permission </h5> 
						<div class="row">
							<div ng-repeat="(key, value) in permissionObj" style='padding-left: 2%;'>
								<div class="checkbox " >
									<label>	{{key}} &nbsp;&nbsp;&nbsp;													
										<input disabled="disabled" type="checkbox" ng-class="key+'_ALL'" ng-click="selectAllChkBox(key, value)" >
	           	    	                <span class="checkbox-material">
	                      		       		<span class="check"></span>
	                              		</span>
									</label>
								</div>								
								<div class="row">
									<div ng-repeat="data in value">
										<div class="col-sm-3">
											<div class="checkbox" >
					                           <label> 
			        	    	                   <input disabled="disabled" type="checkbox" class="{{key}} {{data.name}}" ng-checked="roleCheckStatus(data.id)" ng-click="checkObject(data.id, data.name, value, key)" >
			            	    	               <span class="checkbox-material">
			                        		       		<span class="check"></span>
 			                               		   </span> {{data.display_name}}	 
					                           </label>
						                    </div>
		        		                </div>								
									</div>
								</div>																
							</div>
						</div>	
																								
						<div class="row">		
							<div class="col-sm-6">
								<label class="control-label"> Landing Page <small>*</small> </label>
								<select disabled="disabled" class="form-control" title="Select Landing Page" data-ng-model="role.landingPage">
 									<option ng-if="landingPageObj.DataSource == true " value="datasource-list" >Datasource list </option>
									<option ng-if="landingPageObj.MetaData == true " value="metadata-list" >Metadata list </option>
									<option ng-if="landingPageObj.Dashboard == true " value="dashboard-list" >Dashboard list </option>
									<option ng-if="landingPageObj.SharedView == true " value="sharedview-list" >Sharedview list </option>									
								</select>
	                    	</div>	 
						</div>	
						 	                    
 					    <!-- Permission End -->
 					    <a href="#/setting/roles" >
	                        <button type="button" class="btn btn-danger pull-right ">Back</button>
                        </a>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</div>
