/* css*/
.navbar-absolute {
    padding-top: 0px;
}
@media (min-width: 992px){
	.navbar{
	   padding: 0px 0 0px 0;
	   position: fixed;
	}
}
@media (min-width: 992px){
	.horizontal-menu .main-panel > .content {
	    margin-top: 105px;
	}
}
@media (min-width: 992px) {
	.sidebar .nav-mobile-menu {
	    display: none !important;
	}
}
@media (min-width: 992px) {
	.main-panel > .content {
	    margin-top: 24px;
	    margin-left: 0px;
	    padding-bottom: 0px;
	}
}
.off-canvas-sidebar .nav p, .sidebar .nav p{
	color: #FFF;	
}
.horizontal-menu .sidebar .sidebar-wrapper .nav li a i{
	color:#FFF;	
}
.custUi{	
	padding: 8px 0px 8px 0px;	
}
.custNav {
	padding: 15px 15px 8px 10px;
}
@media (max-width: 991px){
	.navbar-header .navbar-toggle {
		color: #000;	
	}
}	
.textAlignCenter{
	text-align: center;	
}
.horizontal-menu .sidebar .sidebar-wrapper{
	border: none;	
}


/* @media (min-width: 992px){ */
	.horizontal-menu .main-panel .navbar {
	    position: fixed;
	    top: 55px;
	    height: 55px;
	} 
/* } */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4,p,span{
	font-family: 'Open Sans', sans-serif !important;	
}
@media (min-width: 992px) {
	.navbar-header{
		width: 18%;	
	}
}
.nav .activeli a{
	background: #1e8ae0;;
}
@media (min-width: 768px){
	.navbar-nav {
		padding-top: 7px;
	}
	.navbar .navbar-nav > li > a{
		padding-top: 8px;
		padding-bottom: 8px;
	}
}
.nav-pills:not(.nav-pills-icons) > li > a {
    border-radius: 25px;
}
.nav-pills > li > a {
    line-height: 15px;
    min-width: 85px;
}
body{
	background: #eeeeee;	
}
@media (min-width: 992px){
	.sidebar{
		top:57px;	
	}
}
ul.twocolumns {
    display: inline-block;
    
}
ul.twocolumns a{
	padding: 10px 10px;	
}

ul.twocolumns li {
    float: left;
    list-style: outside none none;
    width: 33%;
}
.off-canvas-sidebar .nav i, .sidebar .nav i{
	width: auto;
	margin-right:0px;	
}
.nav-pills.nav-pills-rose > li.active > a, .nav-pills.nav-pills-rose > li.active > a:focus, .nav-pills.nav-pills-rose > li.active > a:hover{
	background-color: #2196F3;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(33, 150, 243, 0.4);
    color: #FFF;
}
.sidebar .nav li.active > a, .sidebar .nav li.active > a i, .off-canvas-sidebar .nav li.active > a, .off-canvas-sidebar .nav li.active > a i{
		color: #FFF;
}
.panel-heading{
	padding: 0px 15px 10px;	
}
@media (min-width: 992px){
	.sidebar-mini .main-panel {
	    width: calc(100% - 0px);
	    margin-left: 0px;
	} 
}
#minimizeSidebar{
	display: none;	
}
.chart-legend ul{
	max-height: 200px;
	overflow: auto;	
	padding-left: 12px;
	font-size: 11px;
    font-weight: normal;
}	
.chart-legend ul li{
	padding-bottom: 20px;
	padding-top: 10px;
	list-style: none;
	cursor: pointer;
}
.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
.activeChart {
    background-color: #D3ECF7;
    border: 2px solid #219FD7 !important;
    cursor: pointer;
}
.custBorderHover{
	border: 2px solid #FFF;
}
.strike {
    text-decoration: line-through !important;
}
.card{
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);	
	margin: 0px;
	
}
/* .card .card-content{
	min-height: 550px;	
} */
.custHeightCard {
	overflow: auto;
	height: 68vh;
}
.main-panel > .content{
	padding: 21px 15px;
}
@media (min-width: 992px) {
	.main-panel > .content {
	    margin-top: 36px;
	}
}
.main-panel{
	width: 100%;	
}
@media (min-width: 992px){
	.sidebar {
    	width: 144px;
    	position: fixed;
	}
}
@media (min-width: 992px){
	.sidebar .nav {
	    margin-top: 10px;
	}
}
@media (min-width: 992px){
	.sidebar {
	    overflow: visible;
	    max-height: none;
	    height: auto;
	}
}
@media (min-width: 992px){
	.sidebar .nav {
	    margin-top: 10px;
	}
}
.sidebar .nav li > a,.sidebar .nav li > a {
    margin: 5px 0px;
}
@media (min-width: 992px){
	.sidebar .nav i, .compact-menu .sidebar .nav i {
	    float: none;
	}
}
.select-with-transition{
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
}
.gridster .gridster-item:hover .handle-se {
   display: none;
} 
.gridster .gridster-item:hover .handle-se-hover {
	display:block;
    border-color: transparent transparent #ccc !important;
}
.handle-w,.handle-nw,.handle-sw,.handle-ne,.handle-w,.handle-s,.handle-e,.handle-n{
	display: none;
}
.tooltip{
	position: fixed;	
}
footer {
    position: fixed;
    width:63.5%;
    bottom: 0;
    background: #FFF;
}
.cardMainContainer{
	position: fixed;
	height: 100vh;
	width: 65%;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>.dropdown-menu1 {
	top: 0;
	left: 48.5%;
	margin-top: 51px;
	margin-left: 0px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
ul.twocolumns {
    display: inline-block;
    
}
ul.twocolumnsMain a{
	padding: 10px 10px;	
}

ul.twocolumnsMain li {
    float: left;
    list-style: outside none none;
    width: 40%;
}
.sidebar{
	z-index: 4;	
}
.sideSubBar{
	z-index: 3;
}
.palette-item {
	width: 17px;
	height: 17px;
    display: inline-block;
	border: 1px solid #fff;
    border-radius: 2px;
	margin: 0;
	padding: 0;
}

.loaderImage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../assets/img/demo/progress.svg) center no-repeat #fff;
}

.ui-state-highlight{
	background:#CCC;	
}
.loader-overlay {
    	background: #e6e6e6;  
	}
	.loader-overlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 999999;
	    width: 100%;
	    height: 100%;
            background: #e6e6e6;
	}
	.loader-content {
    margin: 50vh auto 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.loader-index {
    margin-top: 20px;
}
.chartFooter{
	background: #FFF;
}
.btn-group.bootstrap-select.show-tick.open .select-with-transition {
    outline: none !important;
    background-image: none !important;
    background-size: 100% 2px, 100% 1px !important;
    box-shadow: none;
    transition-duration: 0.3s !important;
}
@media (min-width: 992px) {
	.chartFooter{
		width: 10.5%;
	}
}
.customIconColor{
	color:#2196f3 !important;
}
ul.twocolumnsMain{
	padding-left: 24px;
}
/* .modal .modal-header {
    padding: 23px 18px;
} */ 
.drawerFullSize{
	width: 100% !important;
	margin-left: -145px !important;
}
.drawerOpen{
	display: block !important;
}
.drawerClose{
	display: none !important;
}
.footer{
	padding: 0px 0px; 	
}
.off-canvas-sidebar .nav > li > a:hover, .off-canvas-sidebar .nav > li > a {
    color: #000;
}
.off-canvas-sidebar .nav p, .sidebar .nav p {
    color: #000;
}
.main-panel, .perfect-scrollbar-on .main-panel, .sidebar .sidebar-wrapper, .perfect-scrollbar-on .sidebar .sidebar-wrapper {
    overflow-y: auto !important;
}
.ui.dimmer{
	text-align: left;	
}
.modal-content{
	z-index: 9999;	
}
.form-group input[type=file] {
    opacity: 1;
    position: relative;
}
#chartjs-tooltip{
	position: fixed;	
}
.sideBarShow{
	display: block !important;	
}
.sideBarHide{
	display: none !important;	
}
.screenSize{
	width: 1366px;	
}
.mapDropDown{
	padding: 12px;	
	color:#000;
	width: 250px !important;
} 
tbody > tr > th.pvtTotalLabel, .colTotal, .pvtGrandTotal { display: none; }
thead > tr > th.pvtTotalLabel, .rowTotal, .pvtGrandTotal { display: none; }
.overflowAuto{
	overflow: auto !important;
}
.overflow{
	overflow: hidden !important;
}