/* css*/



/*  DragDrop-Area Start   */

.ptCust_Visible_Attr {
    display: none;
}



.ptCust_Label_Attr {
    color: #ccc;
    font-size: 16px;
}

.ptCust_Attr_DragDrop{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background: #5bc0de;
    border: 1px solid #5bc0de;
    padding: 2px 10px 2px 10px;
    color: white;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
}

.ptCust_Attr_Drag_Drop{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 1%;
    border-bottom: 1px solid #5bc0de !important;
}

.ptCust_Attr_Span_DragDrop{
    cursor: move;
    padding-bottom: 10px !important;
}
/*  DragDrop-Area End   */






/*  Table-Area Start   */

.ptCust_Attr_Table{
    border-radius: 15px;
    color: white;
    padding: 3px 10px 3px 10px;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
    margin-right: 5px;
    cursor: pointer;
}

.ptCust_EmptyBlockHeader_Table{
    border: 1px solid #adfbee !important;
    background-color: white !important;
}

.ptCust_Data_Table_SecondRow{
    /*display: block;*/
    max-height: 300px !important;
    max-width: 800px !important;
    overflow-x: scroll !important;
    overflow-y: scroll !important;
}

.ptCust_Header_Bg_Color{
    border: 0px solid #adfbee !important;
    background-color: #eef8fb !important;
}

.ptCust_Main_ColBlockHeader_Table{
    max-width: 500px;
    border-left: 1px solid #adfbee !important;
    border-top: 1px solid #adfbee !important;
}

.ptCust_Main_RowColBlockHeader_Table{
    overflow-x: auto !important;
    color: white !important;
}

.ptCust_Data_RowColData_Table{
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -13px;
    margin-bottom: -13px;
}

.ptCust_Data_RowColBlockHeader_Table{
    color: black !important;
    /*max-width: 100px !important;*/
    /*overflow: auto !important;*/
}

.ptCust_DataBlockHeader_Table{
    border: 1px solid #adfbee !important;
}

.ptCust_Col_DataBlockHeader_Table{
    table-layout: fixed !important;
}



.ptCust_Row_Border_Bottom_Table{
    border-bottom: 1px solid #adfbee !important;
    height: 35px !important;
}

.rowTableData_Tr{
    border-top: 1px solid #adfbee !important;
    border-bottom: 1px solid #adfbee !important;
    height: 35px !important;
    text-align: center !important;
}

.rowTableData_Td{
    padding: 10px;
    border-left: 1px solid #adfbee !important;
    border-right: 1px solid #adfbee !important;
    height: 35px !important;
    width: 300px !important;
    text-align: center !important;
    /*word-wrap: break-word;*/
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.colTableData_Tr{
    border-top: 1px solid #adfbee !important;
    border-bottom: 1px solid #adfbee !important;
    height: 35px !important;
    text-align: center !important;
}

.colTableData_Td{
    border-left: 1px solid #adfbee !important;
    border-right: 1px solid #adfbee !important;
    height: 35px !important;
    width: 100px !important;
    text-align: center !important;
}

.dataTableData_Tr{
    border-top: 1px solid #adfbee !important;
    border-bottom: 1px solid #adfbee !important;
    height: 35px !important;
    text-align: center !important;
}

.dataTableData_Td{
    padding: 10px;
    border-left: 1px solid #adfbee !important;
    border-right: 1px solid #adfbee !important;
    height: 35px !important;
    width: 100px !important;
    text-align: center !important;
    /*word-wrap: break-word;*/
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

.row_Col_GrandTotal_Header{
    font-family: cursive;
}

.row_Col_GrandTotal_Data{
    font-family: cursive;
    font-style: italic;
    background-color: #eef8fb !important;
}

.rowCol_GrandTotal_Data{
    font-weight: bold;
}

.row_Col_SubTotal_Header{
    font-family: cursive;
    font-style: italic;
}

.row_Col_SubTotal_Data{
    font-family: cursive;
    font-style: italic;
    background-color: #eef8fb !important;
}

.row_Col_Total_SubTotal_Data{
    font-weight: bold;
}


.row_Col_Filter{
    background-color: #5bc0de;
    color: white;
}

.ptCust_SortIcon{
    display: inline;
}







/*.row_margin{*/
/*margin-top: -13px;*/
/*max-height: 10px !important;*/
/*overflow-y: scroll !important;*/
/*}*/

/*.col_margin{*/
/*margin-left: -9px;*/
/*}*/




/*.ptCust_Scrollbar{*/
/*margin-left: 30px;*/
/*float: left;*/
/*!*height: 300px;*!*/
/*!*width: 65px;*!*/
/*background: #F5F5F5;*/
/*!*overflow-x: scroll;*!*/
/*overflow-y: scroll;*/
/*margin-bottom: 25px;*/
/*}*/

/*.ptCust_ForceOverflow_X {*/
/*max-width: 500px;*/
/*}*/

/*.ptCust_ForceOverflow_Y {*/
/*max-height: 200px;*/
/*}*/

/*.ptCust_Scroll::-webkit-scrollbar-track{*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
/*border-radius: 10px;*/
/*background-color: #F5F5F5;*/
/*}*/

/*.ptCust_Scroll::-webkit-scrollbar{*/
/*width: 12px;*/
/*background-color: #F5F5F5;*/
/*}*/

/*.ptCust_Scroll::-webkit-scrollbar-thumb{*/
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*background-color: #eef8fb;*/
/*}*/









/*  Table-Area End   */
