<style>
    .filterBtn{
        margin: 0px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
        margin: 10px 0;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form >
                    <div class="card-content">
                        <h4 class="card-title">Email Send Edit</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email Group Name <small>*</small></label>
                                    <input type="text" class="form-control" ng-model="mail.name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email ID<small>*</small></label>
                                    <textarea class="form-control" rows="4"  ng-model="mail.email_id"></textarea>
                                </div>
                            </div>
                        </div>
                        <a href="#/setting/email_report" class="btn btn-fill btn-danger pull-right" >Cancel</a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="send_Mail(mail)">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
