<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-content">
                    <h4 class="card-title">Edit Enquiry Details</h4>
                    <form name="enquiry" ng-submit="EnquiryDetails.update()" novalidate>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Name *</label>
                                    <input type="text" ng-model="enquiry.name" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Email ID *</label>
                                    <input type="email" ng-model="enquiry.email_id"  class="form-control" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Phone No *</label>
                                    <input type="number" ng-model="enquiry.phone" class="form-control" maxlength="12" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Description *</label>
                                    <input class="form-control" ng-model="enquiry.description" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Address *</label>
                                    <input class="form-control" ng-model="enquiry.address" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Pincode *</label>
                                    <input type="number" ng-model="enquiry.pincode" class="form-control" maxlength="10" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">City *</label>
                                    <input type="text" class="form-control" ng-model="enquiry.city" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">State *</label>
                                    <input type="text" class="form-control" ng-model="enquiry.state" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Country *</label>
                                    <input type="text" class="form-control" ng-model="enquiry.country" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group label-floating">
                                    <label class="control-label">Enquiry Date *</label>
                                    <input type="text" class="form-control date" ng-model="enquiry.enquiry_date" required>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-fill btn-primary pull-right" ng-disabled="enquiry.$invalid">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
