<style>
.listStyle{
    list-style:none;
	padding-left: 0px;
}
</style>
<div class="modal fade example-modal-lg" tabindex="-1" id="calculationMeasure" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="width: 70%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Calculation Column</h4>
            </div> 
            <div class="modal-body">
                <form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-3 borderHeightModel">
							<h5>Function List</h5>
							<div class="col-sm-12" style="height:350px;overflow: auto;">
								<ul class="lg-icon listStyle">
									 <li class="custLiWidth" ng-repeat="list in functionList |orderBy:'key' " style="cursor: pointer;">
										<div class="ext-left" style="display: inline-block;">
											<span>{{list.key}}</span>
										</div>
										<div class="ext-right" style="display: inline-block;float: right;" ng-click="insertTextToFormula(list.operator, 'functionList', '', list )" >
											<span class="functionHover" style="cursor: pointer;">Add</span>
										</div>
									 </li>
								</ul>
							</div>
						</div>
						<div class="col-sm-4 borderHeightModel">
							<h5>Column Name</h5>
							<div class="col-sm-12" style="height:350px;overflow: auto;">
								<ul class="lg-icon listStyle" ng-repeat="keys in tableColumns | orderBy:'reName'">
									 <li class="custLiWidth" ng-click="insertTextToFormula(keys.reName,'fieldName', keys, '' )"  style="cursor: pointer;">
										<div  style="display: inline-block;">
											<span title="{{keys.reName}}">{{keys.reName | limitTo:30}}{{keys.reName.length > 30 ? '...' : ''}}</span>
										</div>
										<div style="display: inline-block;float: right;">
											<span class="columnNameMeasure" >Add</span>
										</div>
									 </li>
								</ul>
							</div>
						</div>
						<div class="col-sm-5">
							<h5>Calculated Field Name</h5>
							<div class="col-sm-12">
								<div class="form-group form-material floating" data-plugin="formMaterial">
									<label class="floating-label">Field Name</label>
									<input type="text" ng-disabled="calField" class="form-control" ng-model="calObject.fieldName" required>
									<span class="help-block">Field Name is required</span>
									<span class="material-input"></span>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="required">
									<label style="width: 100%;">
										Formula
										<div style="float: right;" ng-repeat="operators in operators" title="{{operators.key}}" data-toggle="tooltip" data-placement="bottom">
											&nbsp;&nbsp;&nbsp;
											<button class="btn btn-sm btn-primary"  ng-click="insertTextToFormula(operators.value,'')">
												{{operators.iconValue}}
											</button>
										</div>
									</label>
									<textarea placeholder="Enter formula" rows="8" class="form-control" ng-model="calObject.measureFormula"></textarea>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm-2">
									<label>Type</label>
								</div>
								<div class="col-sm-10">
									<select class="form-control" ng-model="calObject.dataKey">
										<option value="Measure">Measure</option>
										<option value="Dimension">Dimension</option>
									</select>
								</div>
							 </div>
						</div>
					</div>
                </form>
            </div>


			<div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
					<div class="required red">
						<span style="color: red;">{{errorCalculation}}</span><br>
						<span style="color: red;">{{descriptionText}}</span>
					</div>
				</div>
			</div>


			<div class="modal-footer">
                <button type="button" class="btn btn-info" ng-click="saveCalculationField(calObject)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<!-- caluculation --> 
<!-- <div class="modal modal-primary fade stick-up" id="calculationMeasure" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
        	<div class="modal-header clearfix text-left">
                <h4>Calculation Column</span></h4>
            </div>
            <div class="modal-body">
                
            </div>
        </div>
        /.modal-content
    </div>
    /.modal-dialog
</div> -->
<!-- END Measure caluculation -->