<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<div class="card">
				<form >
					<div class="card-content">
						<h4 class="card-title">Change Password </h4>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label">New Password <small>*</small>
									</label> <input class="form-control" ng-model="userPassword.password" type="password" required="true"> 
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group label-floating">
									<label class="control-label"> Confirm Password <small>*</small> </label>
									</label> <input class="form-control" ng-model="userPassword.cPassword" type="password" required="true"> 
								</div>
							</div> 
						</div>						
                        <a href="#/setting/" >
	                        <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="save(userPassword)">Save</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
</div>
