<div class="modal modal-primary fade stick-up" id="reportGroup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Report Group</span></h4>
            </div>
            <div class="modal-body">
                <div class="row mainDiv">
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" checked="true" ng-click="checkView('specific_group')" ng-model="publicViewType" value="specific_group"><span class="circle"></span><span class="check"></span>Specific Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" ng-click="checkView('public_group')" ng-model="publicViewType" value="public_group"><span class="circle"></span><span class="check"></span>Public Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="min-height: 45px;">&nbsp;</div>
                </div>

                <div class="sGrp" ng-if="publicViewType == 'specific_group' ">
                    <div class="row">
                        <div class="col-sm-3" style="text-align: center;">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="grpRadios" ng-click="checkGrp(grpType)" value="selectGrp" ng-model="grpType" checked="true" ><span class="circle"></span><span class="check"></span>Select Group
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" style="text-align: center;">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="grpRadios" ng-click="checkGrp(grpType)" value="createGrp" ng-model="grpType" ><span class="circle"></span><span class="check"></span>Create Group
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3" style="text-align: center;">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="grpRadios" ng-click="checkGrp(grpType)" value="both" ng-model="grpType" ><span class="circle"></span><span class="check"></span>Both
                                </label>
                            </div>
                        </div>
                    </div>

                    <form role="form" name="formValidation" class="create" ng-if="grpType == 'createGrp' || grpType == 'both'">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" data-plugin="formMaterial">
                                    <label>Name</label>
                                    <input type="text" class="form-control" ng-model="reportGrp.name">
                                </div>
                                <div class="form-group" data-plugin="formMaterial">
                                    <select class="userGroupSelect" data-style="select-with-transition" data-container="body" multiple title="Choose User Group" data-size="5" data-ng-model="reportGrp.userGroup" data-live-search="true" data-actions-box="true">
                                        <option ng-repeat="userGroup in userGroup" value="{{userGroup.id}}">{{userGroup.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </form>
                    <form role="form" name="formValidation" class="select" ng-if="grpType == 'selectGrp' || grpType == 'both'">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" data-plugin="formMaterial">
                                    <select class="userGroupSelect" data-style="select-with-transition" data-container="body" multiple title="Choose User Group" data-size="5" data-ng-model="reportGrp.user_Group" data-live-search="true" data-actions-box="true" ng-change="userGrpAdd()">
                                        <option ng-repeat="userGroup in userGroup" value="{{userGroup.id}}">{{userGroup.name}}</option>
                                    </select>
                                </div>
                                <div ng-if="report_Grp" class="form-group" data-plugin="formMaterial">
                                    <select class="reportGroupSelect" data-style="select-with-transition" data-container="body" multiple title="Choose Report Group" data-size="5" data-ng-model="reportGrp.reportGroup" data-live-search="true" data-actions-box="true">
                                        <option ng-repeat="reportGroup in reportGroup" value="{{reportGroup}}">{{reportGroup.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

                <div class="row realtime" ng-if="realtimeExcel">
                    <div class="col-sm-6">
                        <div class="checkbox-radios">
                            <div class="checkbox">
                                <label>Real Time&nbsp;&nbsp;
                                    <input type="checkbox" ng-model="realTime.flag" value="true">
                                    <span class="checkbox-material">
										<span class="check"></span>
									</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="realTime.flag">
                        <div class="form-group" data-plugin="formMaterial">
                            <label>Time(in seconds)</label>
                            <input type="number" min="0" class="form-control" ng-model="realTime.time">
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="realTime.flag">
                        <div class="form-group" data-plugin="formMaterial">
                            <label>Previous Days Data</label><br>
                            <select ng-model="realTime.dataShow" class="form-control">
                                <option value="1">1 Days</option>
                                <option ng-repeat="n in [].constructor(10) track by $index" ng-if="$index!=0" value="{{ $index*5 }}">{{ $index*5 }} Days</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-if="realTime.flag">
                        <div class="form-group" data-plugin="formMaterial">
                            <label>Date Column</label><br>
                            <select ng-model="realTime.column" class="form-control">
                                <option ng-repeat="tableColumn in tableColumns" ng-if="tableColumn.type=='defined'" value="{{tableColumn}}">{{tableColumn.columnName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer footerDiv">
                <button ng-if="backBtnGrp" type="button" class="btn btn-info" ng-click="selectGroup('back')" >Back</button>
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="groupTypeSave(reportGrp)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- Datasource update -->
<div class="modal modal-primary fade stick-up" id="reportGroup1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Report Group</span></h4>
            </div>
            <div class="modal-body">
                <div class="row mainDiv">
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios1" checked="true" ng-click="checkViewEdit('specific_group')" ng-model="publicViewTypeEdit" value="specific_group"><span class="circle"></span><span class="check"></span>Specific Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios1" ng-click="checkViewEdit('public_group')" ng-model="publicViewTypeEdit" value="public_group"><span class="circle"></span><span class="check"></span>All Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="min-height: 45px;">&nbsp;</div>
                    <div class="subDiv">
                        <div class="col-sm-6" style="text-align: center;">
                            <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="selectGroupEdit('select')">Select Group</button>
                        </div>
                        <div class="col-sm-6" style="text-align: center;">
                            <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="selectGroupEdit('create')">Create Group</button>
                        </div>
                    </div>
                </div>
                <form role="form" name="formValidation" class="create" style="display: none;">
                    <div class="row">
                        <button class="btn btn-sm" ng-click="selectGroup('back')"><i class="zmdi zmdi-long-arrow-left"></i></button>
                        <div class="col-sm-12">
                            <div class="form-group" data-plugin="formMaterial">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="reportGrpEdit.name">
                            </div>
                            <div class="form-group" data-plugin="formMaterial">
                                <label>User group</label>
                                <select multiple="multiple" class="form-control" ng-model="reportGrpEdit.userGroup">
                                    <option></option>
                                    <option ng-repeat="userGroup in userGroup" value="{{userGroup.id}}">{{userGroup.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <form role="form" name="formValidation" class="select" style="display: none;">
                    <div class="row">
                        <button class="btn btn-sm" ng-click="selectGroup('back')"><i class="zmdi zmdi-long-arrow-left"></i></button>
                        <div class="col-sm-12">
                            <div class="form-group" data-plugin="formMaterial">
                                <label>Report group</label>
                                <select class="form-control" ng-model="reportGrpEdit.reportGroup">
                                    <option></option>
                                    <option ng-repeat="reportGroup in reportGroup" value="{{reportGroup.id}}">{{reportGroup.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer footerDiv" style="display: none;">
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="update()">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Import datasource -->
<div class="modal modal-primary fade stick-up" id="reportGroupImport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <h4>Report Group</span></h4>
            </div>
            <div class="modal-body">
                <div class="row mainDiv">
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="group" checked="true" ng-click="checkView('specific_group')" ng-model="publicViewType" value="specific_group"><span class="circle"></span><span class="check"></span>Specific Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3" style="text-align: center;">
                        <div class="radio">
                            <label>
                                <input type="radio" name="group" ng-click="checkView('public_group')" ng-model="publicViewType" value="public_group"><span class="circle"></span><span class="check"></span>Public Group
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6" style="min-height: 45px;">&nbsp;</div>
                    <div class="subDiv">
                        <div class="col-sm-6" style="text-align: center;">
                            <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="selectGroup('select')">Select Group</button>
                        </div>
                        <div class="col-sm-6" style="text-align: center;">
                            <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="selectGroup('create')">Create Group</button>
                        </div>
                    </div>
                </div>
                <form role="form" name="formValidation" class="create" style="display: none;">
                    <div class="row">
                        <button class="btn btn-sm" ng-click="selectGroup('back')"><i class="zmdi zmdi-long-arrow-left"></i></button>
                        <div class="col-sm-12">
                            <div class="form-group" data-plugin="formMaterial">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="reportGrp.name">
                            </div>
                            <div class="form-group" data-plugin="formMaterial">
                                <label>User group</label>
                                <select multiple="multiple" class="form-control" ng-model="reportGrp.userGroup">
                                    <option></option>
                                    <option ng-repeat="userGroup in userGroup" value="{{userGroup.id}}">{{userGroup.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <form role="form" name="formValidation" class="select" style="display: none;">
                    <div class="row">
                        <button class="btn btn-sm" ng-click="selectGroup('back')"><i class="zmdi zmdi-long-arrow-left"></i></button>
                        <div class="col-sm-12">
                            <div class="form-group" data-plugin="formMaterial">
                                <label>Report group</label>
                                <select class="form-control" ng-model="reportGrp.reportGroup">
                                    <option></option>
                                    <option ng-repeat="reportGroup in reportGroup" value="{{reportGroup.id}}">{{reportGroup.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer footerDiv" style="display: none;">
                <button type="button" class="btn btn-info waves-effect waves-classic" ng-click="saveImport(reportGrp)">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>