<style>
.gridImage{
	background: #00bcd4;
	border: 2px solid #999;
	cursor: pointer;
}
.customContainer{
	padding-left: 75px;
    padding-top: 90px;
}
.img-circle {
    border-radius: 50%;
    max-width: 100px;
	margin: 0px auto 0;
	margin-bottom: 10px !important;
	cursor: pointer;
}
.img-circle img{
	width: 40px;
    height: 40px;
}
.thumbnail {
    padding: 20px;
    margin-bottom: 0px;
}
.img-circle {
    border-radius: 50%;
    max-width: 88px;
}
.custSearchPadding{
	padding: 20px;
}
.leftPadding{
	padding-left: 22px;
}
.img-circle:hover{
	border: 2px solid #2196f3;
    background: rgba(33, 150, 243, 0.08);
}
.ReportingElement  .form-control{
	background-image:none;
}
.thumbnail{
	border: 2px solid #ddd;
}
.selectedImage{
	border: 2px solid green;
    background: rgba(33, 150, 243, 0.08);
} 

.cardMainContainer{
	position: fixed;
	height: 100vh;
	width: 65%;
}
</style> 
<div class="row">
	<div class="col-sm-2">&nbsp;</div> 
	<div class="col-sm-8">
		 <div class="card cardMainContainer">
			<div class="card-content ">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2;padding: 0px;min-height: 60px;">
						<input type="text" class="form-control" placeholder="Search for any app name" ng-model="searchSource" style="height: 60px;padding: 10px;">
					</div>
					<div class="col-sm-4 ReportingElement" style="padding: 0px;min-height: 60px;">
						<select class="form-control" style="height: 60px;padding: 10px;">
							<option>Sort By:</option>
						</select>
					</div>
					 <div class="col-sm-12 textAlignCenter  custHeightCard step1" style="border-top:2px solid #dadfe2;" > 
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter"  ng-repeat="source in datasource | filter:searchSource">
							<div class="fileinput-new thumbnail img-circle  imageToggle" ng-click="toggle($event,source)">
			                    <img src="{{source.image}}">
			                </div>
			                <span>{{source.name}}</span>
						</div> 
						<h5 ng-hide="(datasource|filter:searchSource).length" style="margin-top: 18%;">No Datasource</h5>
					</div>
					 <div class="col-sm-12 textAlignCenter step1" style="min-height: 40px;" ng-if="selectedConfirm==1">
						<button class="btn btn-primary btn-fill pull-right" ng-click="confirmDatasource()">Confirm</button>
					</div>
				<div class="col-sm-12 step2" style="border-top:2px solid #dadfe2;display: none;padding-top: 3%;" > 
					<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
						<div class="fileinput-new thumbnail img-circle selectedImage">
		                    <img src="{{selectedDatasource.image}}">
		                </div>
		                <span>{{selectedDatasource.name}}</span>
					</div> 
					<div class="col-sm-10 col-md-10 col-lg-10"> 
						<form id="LoginValidation" >
		                     <div class="card-content">
		                         <div class="form-group label-floating">
		                             <input class="form-control" name="name" ng-model="dataSourceForm.connectionName" type="text" placeholder="Datasource Name" />
		                         </div>
		                         <div class="form-group label-floating">
		                             <input class="form-control" name="host" type="text" data-ng-model="dataSourceForm.hostname" placeholder="Host"/>
		                         </div>
		                         <div class="form-group label-floating">
		                             <input class="form-control" name="port" type="text" data-ng-model="dataSourceForm.port" placeholder="Port"/>
		                         </div>
		                         <div class="form-group label-floating">
		                             <input class="form-control" name="username" type="text" data-ng-model="dataSourceForm.userName" placeholder="Username" />
		                         </div>
		                         <div class="form-group label-floating">
		                             <input class="form-control" name="password" type="text" data-ng-model="dataSourceForm.password" placeholder="Password" />
		                         </div>
		                         <div class="form-group label-floating" ng-show="dbListSelect==1">
									<select	class="form-control" ng-model="sourceDbName.name" data-plugin="selectpicker">
									    <option value='' disabled selected>Please Select Database Name</option>
										<option	ng-repeat="item in databaselist" ng-value='{{item}}'>{{item}}</option>
									</select>
								 </div>
								 
		                     </div>	
		                     <div class="category form-category">
			                         <div class="pull-right">
			                             <button type="button" class="btn btn-danger" ng-click="closeDatasource()">Close</button>
			                             <button type="submit" class="btn btn-info" ng-click="testsource(dataSourceForm,selectedDatasource.name)">{{testBtn}}</button>
			                             <button type="submit" class="btn btn-success" ng-disabled="saveButton!=1" ng-click="save(dataSourceForm,sourceDbName)">Save</button>
			                         </div>
		                     </div> 
		                 </form>
		             </div>    
				</div>  
			</div>
		  </div>		
		</div>
	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>