<style>
.gridImage {
	background: #00bcd4;
	border: 2px solid #999;
	cursor: pointer;
}

.customContainer {
	padding-left: 75px;
	padding-top: 90px;
}

.img-circle {
	border-radius: 50%;
	max-width: 100px;
	margin: 0px auto 0;
	margin-bottom: 10px !important;
	cursor: pointer;
}

.img-circle img {
	width: 40px;
	height: 40px;
}

.thumbnail {
	padding: 20px;
	margin-bottom: 0px;
}
.img-circle {
	border-radius: 50%;
	max-width: 88px;
}

.custSearchPadding {
	padding: 20px;
}

.leftPadding {
	padding-left: 22px;
}

.img-circle:hover {
	border: 2px solid #2196f3;
	background: rgba(33, 150, 243, 0.08);
}



.ReportingElement  .form-control {
	background-image: none;
}

.thumbnail {
	border: 2px solid #ddd;
}

.selectedImage {
	border: 2px solid green;
	background: rgba(33, 150, 243, 0.08);
}
.card{
	position: fixed;
	height: 100vh;
	width: 50%;
}
.cardMainContainer{ 
	position: fixed; 
	height: 100vh;
	width: 65%;
}
</style> 
<div class="row">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-8">
		<div class="card cardMainContainer"> 
			<div class="card-content">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement"
							style="border-right: 2px solid #dadfe2; padding: 0px; min-height: 60px;">
							<input type="text" class="form-control"
								placeholder="Search for any app name"
								ng-model="serachDatasource" style="height: 60px; padding: 10px;">
						</div>
						<div class="col-sm-4 ReportingElement"
							style="padding: 0px; min-height: 60px;">
							<select class="form-control" style="height: 60px; padding: 10px;">
								<option>Sort By:</option>
							</select>
						</div>
						<div class="col-sm-12 textAlignCenter  custHeightCard step1"
							style="border-top: 2px solid #dadfe2;">
							<div
								class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter"
								ng-repeat="getSourcedata in sourcedata | filter:serachDatasource"
								title="{{getSourcedata.name}}">
								<div class="fileinput-new thumbnail img-circle  imageToggle"
									ng-click="toggleImage($event,getSourcedata,$index)">
									<img src="theme/assets/img/MySQL-Logo.png">
								</div>
								<span>{{getSourcedata.name | limitTo:10}}{{
									getSourcedata.name.length > 10 ? '...' : ''}}</span>
							</div>
							<h5 ng-hide="(sourcedata|filter:serachDatasource).length"
								style="margin-top: 18%;">No Datasource</h5>
						</div>
						<div class="col-sm-12 textAlignCenter step1"
							style="min-height: 40px;" ng-if="selectedConfirm==1">
							<button class="btn btn-danger btn-fill pull-right"
								ng-click="datasourceDelete()">Delete</button>
							<button class="btn btn-primary btn-fill pull-right"
								ng-click="EditDatasource()">Edit</button>
							<button class="btn btn-info btn-fill pull-right"
								ng-click="viewDatasource()">View</button>
						</div>
						<div class="col-sm-12 step2"
							style="border-top: 2px solid #dadfe2; display: none;">
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
								<div class="fileinput-new thumbnail img-circle selectedImage"
									ng-click="toggle($event)">
									<img src="theme/assets/img/MySQL-Logo.png">
								</div>
								<span>{{selectedDatasource.name}}</span>
							</div>
							<div class="col-sm-10 col-md-10 col-lg-10">
								<form id="LoginValidation">
									<div class="card-content">
										<div class="form-group label-floating">
											<input class="form-control" name="name"
												ng-model="view.connectionname" type="text"
												placeholder="Datasource Name" />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="host" type="text"
												ng-model="view.host" placeholder="Host" readonly />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="port" type="text"
												ng-model="view.port" placeholder="Port" readonly />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="username" type="text"
												ng-model="view.username" placeholder="Username" readonly />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="password" type="text"
												ng-model="view.password" placeholder="Password" readonly />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="password" type="text"
												ng-model="view.dbname" placeholder="Password" readonly />
										</div>
									</div>
									<div class="category form-category">
										<div class="pull-right">
											<button type="button" class="btn btn-danger"
												ng-click="closeDatasource()">Close</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-sm-12 step3"
							style="border-top: 2px solid #dadfe2; display: none;">
							<div
								class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter">
								<div class="fileinput-new thumbnail img-circle selectedImage"
									ng-click="toggle($event)">
									<img src="theme/assets/img/MySQL-Logo.png">
								</div>
								<span>{{selectedDatasource.name}}</span>
							</div>
							<div class="col-sm-10 col-md-10 col-lg-10">
								<form id="LoginValidation" style="padding-top: 15px;">
									<div class="card-content">
										<div class="form-group label-floating">
											<input class="form-control" name="name"
												ng-model="dataSourceFormEdit.connectionName" type="text"
												placeholder="Datasource Name" readonly />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="host" type="text"
												data-ng-model="dataSourceFormEdit.hostname"
												placeholder="Host" />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="port" type="text"
												data-ng-model="dataSourceFormEdit.port" placeholder="Port" />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="username" type="text"
												data-ng-model="dataSourceFormEdit.userName"
												placeholder="Username" />
										</div>
										<div class="form-group label-floating">
											<input class="form-control" name="password" type="text"
												data-ng-model="dataSourceFormEdit.password"
												placeholder="Password" />
										</div>
										<div class="form-group label-floating">
											<select class="form-control" ng-model="sourceDbName.name"
												data-plugin="selectpicker">
												<option value='' disabled selected>{{sourceDbName.name}}</option>
												<option ng-repeat="item in databaselist" ng-value='{{item}}'>{{item}}</option>
											</select>
										</div>
										<div class="category form-category">
											<div class="pull-right">
												<button type="button" class="btn btn-danger"
													ng-click="closeDatasourceEdit()">Close</button>
												<button type="submit" class="btn btn-info"
													ng-click="testsource(dataSourceFormEdit)">{{testBtn}}</button>
												<!-- ng-disabled="saveButton!=1" -->
												<button type="submit" class="btn btn-success"
													ng-click="update(dataSourceFormEdit,sourceDbName)">Update</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">&nbsp;</div>
</div>