<style>
	.card {
		margin: 0px;
	}
	.card .nav-pills,.card .tab-content {
		margin-top: 0px;
	}
	.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
		font-size: 14px;
	}
	.custSize {
		width: 50px;
	}

	/* #minimizeSidebar {
        display: none;
    } */

	@media ( min-width : 992px) {
		.sidebar-mini .sidebar {
			width: 140px;
			position: fixed;
		}
	}
	@media ( min-width : 992px) {
		.sidebar-mini .main-panel {
			width: calc(100% -   0px);
			margin-left: 0px;
		}
	}
	.off-canvas-sidebar .nav i,.sidebar .nav i {
		margin-left: : 0px;
	}

	@media ( min-width : 992px) {
		.sideSubBar {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
			position: fixed;
			width: 23%;
			height: 95vh;
		}
		.sideSubBarWidth1 {
			width: 23%;
			padding:0px;
		}
		.sideSubBarWidth2 {
			position: fixed;
			width: 76%;
			height: 90vh;
			margin-left: 24%;
			overflow: auto;
		}
	}

	.sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a
	{
		margin: 5px 0px;
	}

	@media ( min-width : 992px) {
		.sidebar-mini .sidebar .nav {
			margin-top: 10px;
		}
	}

	.chart-legend {
		min-height: 100px;
	}

	.btn-group,.btn-group-vertical {
		position: relative;
		margin: 0px 1px;
	}

	.li_box {
		border: 2px solid #FFF;
	}

	.li-box-border {
		border: 2px solid #2196f3;
	}

	.badge {
		width: 20px;
		height: 17px;
	}

	#chartjs-tooltip {
		opacity: 1;
		position: absolute;
		background: rgba(0, 0, 0, .9);
		color: white;
		border-radius: 3px;
		-webkit-transition: all .1s ease;
		transition: all .1s ease;
		pointer-events: none;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		z-index: 9999999;
		font-family: 'Open Sans', sans-serif !important;
	}

	.modal .modal-dialog {
		margin-top: 60px;
	}

	.sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
		margin: 5px 0px;
	}

	/* svg path {
        fill: #2196f3 !important;
    }

    svg {
        width: 25px;
        height: 25px;
    } */

	.k-datepicker,.startdate,.enddate {
		width: 50%;
		display: inline;
	}

	.nav>li>a {
		padding: 10px 12px;
	}
	.handle-e,.handle-s,.handle-w,.handle-ne,.handle-se,.handle-sw,.handle-nw{
		display: none;
	}

	.dropzone {
		border: 2px dashed #0087F7;
		border-radius: 5px;
	}
	.dropzone .dz-message {
		font-size: 25px;
		font-weight: 400;
	}
	.dropzone .dz-message {
		text-align: center;
		/* margin: 2em 0; */
	}
	.droppableFilter{
		margin-bottom: 20px;
	}
	.gridster{
		margin-top:0px;
	}
	.droppableFilter .dz-message{
		margin-top: 2%;
	}
	.droppableArea{
		min-height: 300px;
	}
	.droppableArea .dz-message{
		margin-top: 12%;
	}
	ul{
		list-style: none;
	}
	.chart-legend ul{
		padding-left: 3px;
	}
	.widget .panel-heading{
		margin-top: 0px;
	}
	.panel-title{
		padding: 10px 0px 15px 0px;
	}
	.companyHeader{
		background: #FFF;
		/*height: 10%;
        padding: 18px 10px 10px 10px;*/
		margin-bottom: 10px;
	}
	.afterFilter{
		background: #FFF;
		border: 2px solid #ccc;
		font-size: 20px;
	}
	.filterLabel{
		text-transform: capitalize;
	}
	.site-sub-menubar{
		margin-left: 76px;
		width: 272px !important;
	}
	/* .in{
        opacity:0;
    } */
	.chart-legend ul li{
		padding-bottom: 0px;
	}
	body {
		overflow: hidden;
	}
	.main-panel, .perfect-scrollbar-on .main-panel, .sidebar .sidebar-wrapper, .perfect-scrollbar-on .sidebar .sidebar-wrapper {
		overflow: auto !important;
	}
	.navbar-toggle{
		display: block;
	}
	.drawerFullSize {
		margin-left: 0px !important;
	}
	.screenSize{
		width: 1350px;
	}
	.custFilter > label{
		font-size: 13px !important;
	}
	.select-with-transition, .actions-btn, .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text, .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark, .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
		font-size: 13px !important;
	}
	.panel-heading{
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
</style>
<div class="row">
	<div class="col-lg-3 col-md-12 sideSubBarWidth1 drawerOpen">
		<div class="card sideSubBar">
			<div class="card-header card-header-text" style="display: inline;" >
				<ul class="nav nav-pills nav-pills-rose nav-pills-icons">
					<li class="active" style="margin-left: 5%;">
						<a href="javascript:void(0);#dashboardTab" role="tab" data-toggle="tab">
							<i class="fa fa-line-chart"></i> Dashboard
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#filterTab" data-toggle="tab">
							<i class="fa fa-filter"></i>Filter
						</a>
					</li>
					<li>
						<a href="javascript:void(0);#settingTab" data-toggle="tab">
							<i class="fa fa-cog"></i>Setting
						</a>
					</li>
				</ul>
			</div>
			<div class="card-content">
				<div class="tab-content">
					<div class="tab-pane active" id="dashboardTab">
						<div class="labelName"><label>{{dashboardSelectName}}</label></div>
						<div ng-if="reports.length>0">
							<div style="cursor: move;margin-top: 5%;text-align: center;color: #000;height:250px;overflow: auto;padding-left: 10px;padding-right: 10px;">
								<div ng-repeat="report in reports | orderBy: 'reportContainer.name' " style="padding-bottom: 10px;" >
									<div style="border: 1px solid #ccc;padding: 2px 10px 2px 10px;background: #FFF;margin-bottom: 10px;" class="col-sm-12 draggableArea">
										<div class="row" title="{{report.reportContainer.name}}">
											<div class="col-sm-1">
												<i class="fa fa-bars"></i>
											</div>
											<div class="col-sm-9">
												{{report.reportContainer.name | limitTo:15}}{{ report.reportContainer.name.length > 15 ? '...' : ''}}
												<input type="hidden" value="{{report}}">
											</div>
											<!--<div class="col-sm-1">-->
												<!--<div class="vr"></div>-->
											<!--</div>-->
											<div class="col-sm-2">
												<i class="fa fa-arrows"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr ng-if="reports.length>0">
						<div style="border: 1px solid #ccc;cursor:move;padding: 2px 10px 2px 10px;background: #FFF;color: #000;margin-bottom: 10px;" class="col-sm-12 draggableArea" ng-if="reports.length>0">
							<div class="row" title="Text Container / Image Drag">
								<div class="col-sm-1">
									<i class="fa fa-bars"></i>
								</div>
								<div class="col-sm-9" style="text-align: center;">
									Text/Image Drag<input type="hidden" value="Text">
									<input type="hidden" value="{{report}}">
								</div>
								<!--<div class="col-sm-1">-->
									<!--<div class="vr"></div>-->
								<!--</div>-->
								<div class="col-sm-2">
									<i class="fa fa-arrows"></i>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="filterTab">
						<div class="subDrawer">
							<div ng-repeat="filter in filerTemp" ng-click="filterRangeColumn($index,filter.key)" style="padding: 10px 0px 10px 0px;">
								<div class="col-sm-12 droppableAddFilter" ng-if="reports.length>0" style="border: 1px solid #ccc;cursor:move;padding: 2px 10px 2px 10px;background: #FFF;color: #000;margin-bottom: 10px;" >
									<div class="row" title="{{filter.reName}}">
										<div class="col-sm-1">
											<i class="fa fa-bars"></i>
										</div>
										<div class="col-sm-8" style="text-align: left;" >
											{{filter.reName | limitTo:25}}{{ filter.reName.length > 25 ? '...' : ''}}
											<input type="hidden" value="{{filter}}">
										</div>
										<div class="col-sm-1">
											<div class="vr"></div>
										</div>
										<div class="col-sm-2">
											<i class="fa fa-arrows"></i>
										</div>
									</div>
								</div>
							</div>
							<div ng-if="filerTemp.length==0">
								<h3 style="text-align: center;">No filter</h3>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="settingTab">
						<div>
							<div class="subDrawer" style="height: 350px;overflow: auto;">
								<div>
									<div class="col-sm-12" style="text-align: left;">
										<span style="font-weight: bold;border-bottom: 2px solid black;">Shared/Public View</span>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Text Color</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.viewBodyTextcolor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.viewBodyBgcolor">
										</div>
									</div>
									<div class="col-sm-12" style="text-align: left;">
										<span style="font-weight: bold;border-bottom: 2px solid black;">Report Container</span>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header</label>
											<br>
											<input type="radio" name="report_Header" ng-model="CommonSettingObject.report_Header" value="yes">Yes
											<input type="radio" name="report_Header" ng-model="CommonSettingObject.report_Header" value="no" checked="checked">No
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Font Size</label>
											<input type="text" class="form-control" ng-model="CommonSettingObject.fontSize">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header Text</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.headerTextcolor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.headerBgcolor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Report Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.reportBgcolor" >
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Border</label>
											<br>
											<input type="radio" name="border" ng-model="CommonSettingObject.border" value="yes">Yes
											<input type="radio" name="border" ng-model="CommonSettingObject.border" value="no" checked="checked">No
										</div>
										<br><br>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Border Color</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.border_color">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Border Width</label>
											<input type="text" class="form-control" ng-model="CommonSettingObject.border_width">
										</div>
									</div>
								</div>
								<div>
									<div class="col-sm-12" style="text-align: left;">
										<span style="font-weight: bold;border-bottom: 2px solid black;">Company Header</span>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header</label>
											<br>
											<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="yes">Yes
											<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="no" checked="checked">No
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header Text</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.companyColor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label>Header Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.companyBackground">
										</div>
									</div>
									<div class="col-sm-12" style="text-align: left;">
										<span style="font-weight: bold;border-bottom: 2px solid black;">Tab Panel</span>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Text Color</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.tabColor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.tabBackground">
										</div>
									</div>
									<div class="col-sm-12" style="text-align: left;">
										<span style="font-weight: bold;border-bottom: 2px solid black;">Filter Panel</span>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Text Color</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.filterColor">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group" >
											<label>Background</label>
											<input type="color" class="form-control" ng-model="CommonSettingObject.filterBackground">
										</div>
									</div>
								</div>
							</div>
						</div>
						<footer class="chartFooter" style="width: 21%;">
							<button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="CommonSettingData(CommonSettingObject)">Save</button>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9 sideSubBarWidth2">
		<div class="screenSize" style="padding: 0px;">
			<div class="row col-sm-12">
				<div class="col-sm-6">
					<input class="form-control" placeholder="Shared View Name" ng-model='dashName.dashboardName' style="background: #FFF;padding: 10px;height: 40px;">
				</div>
				<div class="col-sm-6">
					<!--<button class="btn btn-info btn-md pull-right" style="margin: 0px;" ng-click="updatePublicView()">Update</button>-->
					<button class="btn btn-info btn-md" style="margin: 0px;" ng-click="updatePublicViewModal()">Update</button>
				</div>
			</div>
			<div class="col-sm-12 companyHeader" style="background: #3f51b5;color:#FFF;margin-top: 10px;min-height: 60px;"  ng-show="companyHeader=='yes'">
				<div class="col-sm-4"  style="margin-top: 1.5%;">
					<span class="logo" ng-hide="logoCheck" style="padding: 12px 10px 10px 10px;font-size: 20px;border: 1px dotted;cursor: pointer"><span >Logo</span></span>
					<img src="{{dataimg}}" id="img" ng-show="logoCheck" style="width:{{company.logoWidth}};height: 50px;">
				</div>
				<div class="col-sm-1" style="text-align: left;padding: 12px 10px 10px 10px;">
					&nbsp;
				</div>
				<div class="col-sm-6" style="text-align: right;padding: 12px 10px 10px 10px;">
					<div class="col-sm-12">
						<span style="font-size: 35px;">{{company.name}}</span>
					</div>
					<div class="col-sm-12">
						<span style="font-size: 12px;">{{company.description}}</span>
					</div>
				</div>
				<div class="col-sm-1" style="margin-top: 1.3%;">
					<a href="javascript:void(0)" ng-click="companyHeaderSet()" style="float: right;">
						<i class="material-icons" aria-hidden="true">settings</i>
					</a>
				</div>
			</div>
			<div class="col-sm-12 droppableFilter" ng-class="(conatinerFilter.length==0) ? 'dropzone filterHeight' : 'filterHeight afterFilter'" style="margin-top: 10px; overflow-y: scroll; overflow-x: hidden; text-align: center; height: 105px !important; "  >
				<div class="row" style="padding: 15px;">
					<div ng-repeat="filter in conatinerFilter" class="col-sm-3">
						<div class="col-sm-12 custFilter" style="text-align: left;">
							<label>
								<label class="filterHeading" ng-if="filter.reName!=undefined">{{filter.reName}}</label>
								<label class="filterHeading" ng-if="filter.reName==undefined">{{filter.key}}</label>
								<i class="fa fa-pencil-square-o" style="cursor: pointer" ng-click="controller.reNameFilter(filter,$index)"></i>
								<i class="fa fa-trash-o" style="cursor: pointer" ng-click="controller.showSwal('warning-message-and-cancel', 'filter', filter, $index)"></i>
							</label>
						</div>
						<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='bigint' ||  filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
							<div class="slider slider-info" id="{{filter.key}}-Filter"></div>
						</div>
						<div class="container col-sm-12" ng-if="filter.value=='date'" ng-click="filterColumn(filter, $index)" style="padding: 0px">
							<div class='col-sm-5'>
								<div class='input-group date' >
									<!--ng-model="allFilters[filter.reName]['start']"-->
									<input class="startdate form-control" type="text" id="{{filter.key}}_startdate"/>
								</div>
							</div>
							<div class='col-sm-5'>
								<div class='input-group date'  >
									<!--ng-model="allFilters[filter.reName]['end']"-->
									<input class="enddate form-control" type='text' id="{{filter.key}}_enddate" />
								</div>
							</div>
							<div class='col-sm-2'>
								<a ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
							</div>
						</div>
						<div class="container col-sm-12"  ng-if="filter.value=='datetime'" ng-click="filterColumn(filter, $index)"  style="padding: 0px">
							<div class="form-material">
								<div class='col-sm-5'>
									<div class='input-group date'>
										<!--ng-model="allFilters[filter.reName]['start']"-->
										<input class="form-control startdatetime" type='text' id="{{filter.key}}_startdateTime" />
									</div>
								</div>
								<div class='col-sm-5'>
									<div class='input-group date'>
										<!--ng-model="allFilters[filter.reName]['end']"-->
										<input class="form-control enddatetime" type='text' id="{{filter.key}}_enddateTime" />
									</div>
								</div>
								<div class='col-sm-2'>
									<a href="javascript:void(0)" ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
							<div class="form-material">
								<select id="filterSelect_{{$index}}" data-style="select-with-transition" data-container="body"  title="Choose {{filter.key}}"  data-size="7" data-ng-model="allFilters[filter.key]['filterValue']" multiple ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" data-actions-box="true" >
									<option ng-repeat="filterData in conatinerFilterTo[filter.key] | orderBy" value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
								</select>
							</div>
						</div>
					</div>
					<div ng-repeat="rangePicker in rangeObject" class="col-sm-9" style="padding-left: 16px;">
						<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3">
							<div class="row">
								<div class="col-sm-12 custRangeFilter" style="text-align: left;">
									<label>{{rangePicker.key.columnName}}-{{i}}</label>
								</div>
								<div class="container" ng-click="filterRangeColumn($index, rangePicker.key.columnName)" style="padding: 0px">
									<div class='col-sm-12'>
										<div class='col-sm-1'>
											<div class="form-group">
												<div class='input-group date' >
													<input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text' />
												</div>
											</div>
										</div>
										<div class='col-sm-1'>
											<div class="form-group">
												<div class='input-group date' >
													<input class="rangeEndFilter{{$index}} dateTimeLineEnd form-control" type='text' />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div ng-if="conatinerFilter.length>0 || setRangeObject==true">
							<button class="btn btn-info filterBtn" ng-click="allFilterApply()" style="float:right;">Filter</button>
						</div>
					</div>
				</div>
				<div class="dz-message" ng-if="conatinerFilter.length==0 && checkRangeObject==false ">Filter Droppable Zone</div>
			</div>

			<div class="col-sm-12">
				<ul class="nav nav-pills cust_menu nav-pills-rose nav-pills-icons custNav">
					<li ng-repeat="tab in tabs"  ng-click="DashboardView.activeTab(tab)">
						<a href="javascript:void(0);#tab{{tab.key}}" title="{{tab.name}}" role="tab" data-toggle="tab" id="tabBtn_{{tab.key}}">
							{{tab.name | limitTo:30}}{{tab.name.length > 30 ? '...' : ''}}
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-click="addViewTab()" title="Add Tab">
							<i class="fa fa-plus" style="cursor: pointer; font-size: 13px;padding: 0px;"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-click="editDeleteViewTab()" title="Edit/Delete">
							<i class="fa fa-pencil-square-o" style="cursor: pointer; font-size: 13px;padding: 0px;display: inline;"></i>
							&nbsp;&nbsp;
							<i class="fa fa-trash-o" style="cursor: pointer; font-size: 13px;padding: 0px;display: inline;"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" ng-click="reorderSharedViewTab()" title="Re-Order Tabs">
							<i class="fa fa-exchange" style="cursor: pointer; font-size: 13px;padding: 0px; transform: rotate(90deg);"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="card-content">
				<div class="tab-content">
					<div  ng-repeat="tab in tabs" id="tab{{tab.key}}" class="tab-pane cust-tab-pane active">
						<div class="col-sm-12 droppableArea" ng-class="(dashboardPrototype.reportWithTab[tab.key]==0) ? 'dropzone' : ''" data-gridster="dashboardCommonSettings" >
							<div class="dz-message" ng-if="dashboardPrototype.reportWithTab[tab.key]==0">Report Droppable Zone</div>
							<div class="widget widget-shadow li_box" data-ng-repeat="reportContainer in dashboardPrototype.reportWithTab[tab.key]" id="li_{{reportContainer.id}}" ng-click="addBorder(reportContainer.id)" data-gridster-item="reportContainer" style="background-color: white;">
								<div class="panel-heading Common_Head" id="Header_{{reportContainer.id}}">
									<div class="row">
										<div class="form-group form-material col-sm-6 my-class" style="cursor: move;margin-top:0px; ">
											<input ng-model="reportContainer.name" class="form-control Common_Head" id="Header_Text_{{reportContainer.id}}">
										</div>
										<div class="col-sm-6" style="float: right;" id="Header_Setting_{{reportContainer.id}}">
											<span class="pull-right  margin-pull-rights" style="padding-top: 10px; padding-right: 10px;">
												<button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
													<i class="fa fa-cog"></i>
												</button>
												<ul class="dropdown-menu dropdown-menu-right">
													<li>
														<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="viewCustomSetting(reportContainer.id)">Setting</a>
													</li>
													<li>
														<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="resetChart()">Reset</a>
													</li>
													<li>
														<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="controller.showSwal('warning-message-and-cancel', 'report', reportContainer.id)">Delete</a>
													</li>
												</ul>
											</span>
											<span class="pull-right margin-pull-rights" style="padding-top: 10px; padding-right: 10px;">
												<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized'  && reportContainer.chartType!='Text/Image' ">
													<button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
														<i class="fa fa-angle-down"></i>
													</button>
													<ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" style="color: #000;"></ul>
												</div>
												<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
													<button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
														<!-- Legends -->
														<i class="fa fa-angle-down"></i>
													</button>
													<ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}" style="color: #000;">
													</ul>
											   </div>
											</span>
										</div>
									</div>
								</div>
								<div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
									<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
								</div>
								<!-- Male female -->
								<div class="row" style="width: 100%;margin: 0" ng-if="reportContainer.chartType=='Male & Female Comparison'">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;height: 100%;">
										<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 80%;overflow: hidden;"></div>
									</div>
								</div>
								<!-- Map -->
								<div class="row" style="width: 100%;margin: 0;" ng-if="reportContainer.chartType=='Map' ">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;">
										<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
									</div>
								</div>
								<!-- Datatable pivot table -->
								<div class="row" style="width: 100%;margin: 0;" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table'">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 2%;height: 100%;">
										<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 80%;overflow: auto;"></div>
									</div>
								</div>
								<!-- Number -->
								<div style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Number Widget'">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;height: 100%;">
										<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 70%;"></div>
									</div>
								</div>
								<!-- Text -->
								<div style="width: 100%;" ng-if="reportContainer.chartType=='Text'">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:0%;">
										<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" ng-click="textModel(reportContainer.id)" style="overflow: auto;height: 41px;"></div>
									</div>
								</div>
								<!-- Charts -->
								<div class="row" style="width: 100%;margin: 0;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Text' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Text' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map'">
									<div class="col-sm-12" style="overflow: hidden;padding-left: 2%;height: 100%;">
										<div class="widget-content" ng-class="(reportContainer.chartType=='Line Chart' || reportContainer.chartType=='Area Chart' || reportContainer.chartType=='Bar Chart' || reportContainer.chartType=='Row Chart' || reportContainer.chartType=='Bubble Chart' || reportContainer.chartType=='Composite Chart' || reportContainer.chartType=='Line + Bar Chart' || reportContainer.chartType=='Dual Axis Chart' || reportContainer.chartType=='Funnel Chart') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="'html/shared_view/modal.html'" include-replace></div> 