<style>
	.gridImage {
		background: #00bcd4;
		border: 2px solid #999;
		cursor: pointer;
	}

	.customContainer {
		padding-left: 75px;
		padding-top: 90px;
	}

	.img-circle {
		border-radius: 50%;
		max-width: 100px;
		margin: 0px auto 0;
		margin-bottom: 10px !important;
		cursor: pointer;
	}

	.img-circle img {
		width: 40px;
		height: 40px;
	}

	.thumbnail {
		padding: 20px;
		margin-bottom: 0px;
	}
	.img-circle {
		border-radius: 50%;
		max-width: 88px;
	}

	.custSearchPadding {
		padding: 20px;
	}

	.leftPadding {
		padding-left: 22px;
	}

	.img-circle:hover {
		border: 2px solid #2196f3;
		background: rgba(33, 150, 243, 0.08);
	}



	.ReportingElement  .form-control {
		background-image: none;
	}

	.thumbnail {
		border: 2px solid #ddd;
	}

	.selectedImage {
		border: 2px solid green !important;
		background: rgba(33, 150, 243, 0.08);
	}
	.card{
		position: fixed;
		height: 100vh;
		width: 50%;
	}
	.cardMainContainer{
		position: fixed;
		height: 100vh;
		width: 65%;
	}
	.picture-container {
		position: relative;
		cursor: pointer;
		text-align: center;
	}
	.picture {
		width: 90px;
		height: 90px;
		background-color: #FFF;
		border: 2px solid #CCCCCC;
		color: #FFFFFF;
		border-radius: 50%;
		margin: 5px auto;
		overflow: hidden;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
	}
	.picture-src {
		width: 100%;
	}
	.picture:hover {
		border-color: #2196F3;
	}
</style>
<div class="row">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-8">
		<div class="card cardMainContainer">
			<div class="card-content">
				<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
					<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2; padding: 0px; min-height: 60px;">
						<input type="text" class="form-control" placeholder="Search for any app name" ng-model="searchDashboard" style="height: 60px; padding: 10px;">
					</div>
					<div class="col-sm-4 ReportingElement" style="padding: 0px; min-height: 60px;">
						<select class="form-control" ng-model="sharedViewList_Order" ng-change="orderSharedViewList()" style="height: 60px; padding: 10px;">
							<optgroup label="Time Stamp"></optgroup>
							<option value="asc">Ascending</option>
							<option value="desc">Descending</option>
						</select>
					</div>
					<div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top: 2px solid #dadfe2;">
						<div class="loaderImage"></div>
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder1" title="{{sView}}" rel="tooltip" ng-repeat="sView in sDeptViewList | filter:searchDashboard" >
							<div class="picture-container">
								<div ng-click="toggleImage($event,sView,$index)" >
									<span>
										<img src="assets/img/demo/folder.png">
									</span>
								</div>
							</div>
							<span>{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
						</div>
						<div class="stepLoading">
							<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
						</div>
						<h5 ng-hide="(sDeptViewList|filter:searchDashboard).length" style="margin-top: 18%;" >No Shared View </h5>
					</div>
					<div ng-if="grpFolder" class="col-sm-12 textAlignCenter custHeightCard step4" style="border-top: 2px solid #dadfe2;">
						<!--<div class="loaderImage"></div>-->
						<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder2" title="{{sView}}" rel="tooltip" ng-repeat="sView in groupFolderList | filter:searchDashboard" >
							<div class="picture-container">
								<div ng-click="toggleGrpFolder($event,sView,$index)">
									<span>
										<img src="assets/img/demo/folder.png">
									</span>
								</div>
							</div>
							<span>{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
						</div>
						<div class="stepLoading">
							<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
						</div>
						<h5 ng-hide="(groupFolderList|filter:searchDashboard).length" style="margin-top: 18%;" >No Group</h5>
					</div>
					<div class="col-sm-12 step2" style="border-top:2px solid #dadfe2;display: none;padding-top: 3%;height: 68vh;overflow: auto;" >
						<div class="loader-overlay ng-scope loadingBar" style="display: none;">
							<div class="loader-content">
								<div class="loader-index">
									<img ng-if="loadingBarDrawer == true" style="width: 70px; " class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" >
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12 textAlignCenter">
							<div class="row">
								<div class="col-sm-2" title="{{selectedShared.name}}" ng-repeat="selectedShared in sharedViewList | filter:searchDashboard | orderBy:sharedView_List_order ">
									<div class="picture-container">
										<div class="picture imageToggle" ng-click="selected_SharedView($event,selectedShared, $index)" data-toggle="popover" data-full="{{imageUrlBaseUrl}}{{selectedShared.image}}.png">
											<img ng-src="{{imageUrlBaseUrl}}{{selectedShared.image}}.png" onerror="this.src = 'assets/img/logo.jpg';" class="picture-src" style="height: 100%; width: 100%" >
										</div>
									</div>
									<span>{{selectedShared.name | limitTo:10}}{{ selectedShared.name.length > 10 ? '...' : ''}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 textAlignCenter custHeightCard step3" style="border-top:2px solid #dadfe2;display:none;">
						<form>
							<div class="card-content">
								<div class="form-group label-floating">
									<input class="form-control" type="file" file-model="metadataImport.file" placeholder="Metadata File" />
								</div>
								<div class="col-sm-12" style="text-align: left" ng-if="testsuccess && metadataOverwrite">
									<h5 style="color:red;">Do you want to overwrite?</h5>
									<div class="row">
										<div class="col-sm-10 checkbox-radios">
											<div class="checkbox" ng-if="datasourceStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.datasource" ng-false-value='0' ng-true-value='1' checked>
													<span class="checkbox-material">
														<span class="check"></span>
													</span>
													Datasource
												</label>
											</div>
											<div class="checkbox" ng-if="metadataStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.metadata"  ng-false-value='0' ng-true-value='1' checked>
													<span class="checkbox-material">
														<span class="check"></span>
													</span>
													Metadata
												</label>
											</div>
											<div class="checkbox" ng-if="dashboardStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.dashboard"  ng-false-value='0' ng-true-value='1' checked>
													<span class="checkbox-material">
														<span class="check"></span>
													</span>
													Dashboard
												</label>
											</div>
											<div class="checkbox" ng-if="sharedviewStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.sharedview"  ng-false-value='0' ng-true-value='1' checked disabled>
													<span class="checkbox-material">
														<span class="check"></span>
													</span>
													Shared view
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<footer class="fixed-bottom">
			<div class="col-sm-12">
				<div class="textAlignCenter stepBack" style="display: none;" >
					<button data-toggle="tooltip" data-placement="top" class="stepBack btn btn-primary btn-fill pull-right" ng-click="backToSharedView()" title="Back">
						<i class="fa fa-arrow-left"></i>
					</button>
				</div>
				<div class="textAlignCenter">
					<!-- step2 --->
					<button class="btn btn-info btn-fill pull-right" ng-click="exportImport.importBtn()"  ng-if="selectedConfirm!=1 && backBtn!=1 && import==0 && permissionCheck('sharedview-edit')" title="Import">Import</button>
					<button type="button" class="btn btn-danger pull-right" ng-click="exportImport.backToFolder()" ng-if="import==1" title="Back">Back</button>
					<button type="submit" class="btn btn-info pull-right" ng-click="exportImport.testImport(dataSourceForm,selectedDatasource.name)" ng-if="import==1">Test</button>
					<button type="submit" class="btn btn-success pull-right" ng-disabled="importSave!=1" ng-click="groupTypeModal()" ng-if="import==1">Save</button>
					<!-- step1 -->
					<button data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-fill pull-right" ng-if="permissionCheck('sharedview-delete') && selectedConfirm==1" ng-click="showSwal('warning-message-and-cancel')" title="Delete">
						<i class="fa fa-trash"></i>
					</button>
					<button data-toggle="tooltip" data-placement="top" class="btn btn-primary btn-fill pull-right step1" ng-click="exportImport.export()" ng-if="selectedConfirm==1 && permissionCheck('sharedview-edit')" title="Export">
						<i class="fa fa-sign-out"></i>
					</button>
					<a data-toggle="tooltip" data-placement="top" href="#/sharedView/edit/{{sharedViewID}}/1" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('sharedview-edit') && selectedConfirm==1" title="Edit">
						<i class="fa fa-edit"></i>
					</a>
					<a data-toggle="tooltip" data-placement="top" href="#/sharedView/copy/{{sharedViewID}}/1/1" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('sharedview-edit') && selectedConfirm==1" title="Copy">
						<i class="fa fa-clone"></i>
					</a>
					<a data-toggle="tooltip" data-placement="top" href="#/sharedView/show/{{auth_key}}/1" target="_blank" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('sharedview-view') && selectedConfirm==1" title="View">
						<i class="fa fa-eye"></i>
					</a>
					<button data-toggle="tooltip" data-placement="top" class="btn btn-primary btn-fill pull-right" ng-click="copyLink('#p1')" ng-if="publicViewCopyLink && selectedConfirm==1" title="Copy Link">
						<i class="fa fa-link"></i>
					</button>
					<p id="p1" style="display: none;" >{{baseUrl}}#/publicView/show/{{auth_key}}/{{companyId}}/{{userPort}}/1</p>
				</div>
			</div>
		</footer>

	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>
<div ng-include src="'html/shared_view/modal.html'" include-replace></div>