<style>
    .card {
        margin: 0px;
    }
    .card .nav-pills,.card .tab-content {
        margin-top: 0px;
    }
    .table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th
    {
        font-size: 14px;
    }
    .custSize {
        width: 50px;
    }
    #minimizeSidebar {
        display: none;
    }
    @media ( min-width : 992px) {
        .sidebar-mini .sidebar {
            width: 140px;
            position: fixed;
        }
        .navbar-header {
            width: 40%;
        }
    }
    @media ( min-width : 992px) {
        .sidebar-mini .main-panel {
            width: calc(100% -   0px);
            margin-left: 0px;
        }
    }
    #filterContainer{
        padding: 0px;
        overflow: hidden;
    }
    .collapse{
        display: none !important;
    }
    .collapse.in{
        display: block !important;
    }
    .sidebar, .off-canvas-sidebar{
        transform: none;
        width: 100%;
        height: auto;
        display: none;
    }
    .main-panel > .content{
        padding: 0px;
        padding-top: 6px;
    }
    .sidebar > ul, .off-canvas-sidebar > ul{
        height: auto;
    }
    .navbar-brand-cust{
        font-weight: 400;
        height: auto;
        color: #FFFFFF;
        padding: 0px;
        position: relative;
        line-height: 30px;
        float: left;
        font-size: 18px;
    }
    @media (max-width: 991px){
        .navbar-header .navbar-toggle {
            color: #fff;
        }
    }
    .nav-pills > li > a{
        color: #FFF;
    }
    .navbar-header .navbar-toggle{
        padding: 8px 20px;
        margin-top: 0px;
    }
    .handle-e, .handle-s, .handle-w, .handle-ne, .handle-se, .handle-sw, .handle-nw {
        display: none;
    }
    @media (max-width: 991px){
        .sidebar::before, .off-canvas-sidebar::before {
            position: relative;
        }
    }
</style>
<nav class="navbar navbar-custom navbar-fixed-top companyHeader" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <i class="btn btn-sm btn-primary fa fa-refresh pull-right" style="font-size: 30px;padding: 8px 20px;" title="Reset" ng-click="resetChart()"></i>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse" style="font-size: 30px;"><span class="sr-only">Toggle navigation</span>
                <i class="fa fa-filter"></i></button>
                <a href="javascript:void(0)"   ng-class="logoPath!='' ? 'navbar-brand-cust' : 'navbar-brand' ">
                    <span>
                        <img class="navbar-brand-logo" src="{{logoPath}}" ng-if="logoPath" title="Logo" style="height: 48px;">
                        {{dashName.dashboardName}}
                    </span>
                </a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="col-sm-12" style="background-color:white;min-height:85px;overflow:auto;padding: 13px;" ng-class="(tabPDFReportClass == true) ? 'col-md-6' : 'col-md-12'">
        <div class="row" style="width: 100%;padding-left: 16px;">
            <div ng-repeat="filter in conatinerFilter" ng-class="(filter.value=='datetime') || (filter.value=='date') ? 'col-sm-4' : 'col-sm-3'">
                <div class="col-sm-12 custFilter" style="text-align: left;">
                    <label class="filterHeading" ng-if="filter.reName!=undefined">{{filter.reName}}</label>
                    <label class="filterHeading" ng-if="filter.reName==undefined">{{filter.key}}</label>
                </div>
                <div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
                    <div class="slider slider-info" id="{{filter.key}}-Filter"></div>
                </div>
                <div class="container col-sm-12" ng-if="filter.value=='date'"  style="padding: 0px">
                    <div class='col-sm-5'>
                        <div class='input-group date' ng-click="filterColumn(filter)" >
                            <input class="startdate form-control"   type='text'  />
                        </div>
                    </div>
                    <div class='col-sm-5'>
                        <div class='input-group date' ng-click="filterColumn(filter)" >
                            <input class="enddate form-control" type='text'/>
                        </div>
                    </div>
                    <div class='col-sm-2'>
                        <a ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="container col-sm-12"  ng-if="filter.value=='datetime'" style="padding: 0px">
                    <div class="form-material">
                        <div class='col-sm-5'>
                            <div class='input-group date'>
                                <input class="form-control startdatetime" ng-model="allFilters[filter.key]['start']" type='text' ng-click="filterColumn(filter)"/>
                            </div>
                        </div>
                        <div class='col-sm-5'>
                            <div class='input-group date'>
                                <input class="form-control enddatetime" ng-model="allFilters[filter.key]['end']" type='text' ng-click="filterColumn(filter)"/>
                            </div>
                        </div>
                        <div class='col-sm-2'>
                            <a href="javascript:void(0)" ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
                    <div class="form-material">
                        <div>
                            <div ng-repeat="filterData in conatinerFilterTo[filter.value]">
                                Test {{filterData}}
                            </div>
                        </div>
                        <select id="filterSelect_{{$index}}" ng-model="allFilters[filter.key]['filterValue']" data-style="select-with-transition" data-container="body" title="Choose {{filter.reName}}" data-size="7" multiple ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" data-actions-box="true" >
                            <option ng-repeat="filterData in conatinerFilterTo[filter.key] | orderBy" value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="rangePicker in rangeObject" style="width: 100%;padding-left: 16px;" >
            <div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12 custRangeFilter">
                        <label class="filterHeading">{{rangePicker.key.columnName}}-{{i}}</label>
                    </div>
                    <div class="col-sm-9 container custRangeFilter " ng-click="filterRangeColumn($index,rangePicker.key.columnName)" style="padding: 0px">
                        <div class='col-sm-12'>
                            <div class='col-sm-6'>
                                <div class="form-group">
                                    <div class='input-group date' >
                                        <input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div ng-if="conatinerFilter.length>0 || setRangeObject==true">
                <button class="btn btn-info filterBtn" ng-click="allFilterApply()" style="float:right;">Filter</button>
            </div>
        </div>
    </div>
</div><!--/.sidebar-->
<div id="filterContainer" class="col-sm-12" style="margin-top: 1%;">
    <div class="card-content">
        <div>
            <div ng-if="conatinerFilter.length" class="accordion-header filter_Container">
                <div class="row">
                    <div class="col-sm-12">
                        <div style="font-size: 18px;">
                            <strong style="padding-left: 2%;">Filter :</strong>&nbsp;
                            <span ng-repeat="filter in conatinerFilter"> <strong>{{filter.reName}} : </strong>
                                <span ng-if="filter.value=='date' || filter.value=='datetime' ">
                                    {{allFilters[filter.key]['filterValue']['start']}} To {{allFilters[filter.key]['filterValue']['end']}} &nbsp;
                                </span>
                                <span ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
                                    {{allFilters[filter.key]['filterValue']}}&nbsp;
                                </span>
                                <span ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'" data-tooltip="{{allFilters[filter.key]['filterValue'].join()}}">
                                    {{allFilters[filter.key]['filterValue'].length>1 ? allFilters[filter.key]['filterValue'][0]+'...' : allFilters[filter.key]['filterValue'][0] }}&nbsp;
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="row tab_Container custNav" ng-show="tabs.length > 1">
            <div class="col-sm-12">
                <ul class="nav nav-pills nav-pills-rose nav-pills-icons" id="navTab" style="padding-left: 2%;">
                    <li ng-repeat="tab in tabs" ng-click="DashboardView.activeTab(tab)" id="tabBtn_{{tab.key}}" ng-hide="tabVisiable">
                        <a href="javascript:void(0);#tab_{{tab.key}}" role="tab" data-toggle="tab" title="{{tab.name}}">
                            {{tab.name | limitTo:20}}{{ tab.name.length > 20 ? '...' : ''}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane cust-tab-pane active" ng-repeat="tab in tabs" id="tab_{{tab.key}}">
                <div id="tabReportContainer_{{tab.key}}" class="col-sm-12 droppableArea" ng-class="(dashboardPrototype.reportWithTab[tab.key]==0) ? 'dropzone' : ''" data-gridster="dashboardCommonSettings">
                    <div class="widget widget-shadow li_box" data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportWithTab[tab.key]" id="li_{{reportContainer.id}}" style="background: #FFF">
                        <div class="panel-heading Common_Head" id="ReportHeader_{{reportContainer.id}}">
                            <h6 class="panel-title">
                                <span>{{reportContainer.name}}</span>
                                <span ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'" style="float: right;">
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='Map' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Text/Image' ">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Legends
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" ></ul>
										</div>
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Measure
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}"></ul>
									   </div>
									</span>
                            </h6>
                        </div>
                        <!-- Loading --->
                        <div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
                            <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
                        </div>
                        <!-- Map -->
                        <div class="row" style="width: 100%;" ng-if="reportContainer.chartType=='Map' ">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;">
                                <div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
                            </div>
                        </div>
                        <!-- Male female  -->
                        <div class="row" style="width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;">
                                <div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="overflow: hidden;"></div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%" ng-if="reportContainer.chartType =='SpeedoMeter' ">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" ></div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%" ng-if="reportContainer.chartType =='Word Cloud' ">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" ></div>
                            </div>
                        </div>
                        <div class="row"  style="width: 100%" ng-if="reportContainer.chartType=='Pivot Table'">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
                            </div>
                        </div>
                        <div class="row" style="width: 100%" ng-if="reportContainer.chartType=='DataTable'">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
                            </div>
                        </div>
                        <div class="footer" ng-if="reportContainer.chartType=='DataTable'" style="padding-top:3px;">
                            <div class="col-sm-4">
                                <div class="dataTables_info" id="{{ 'paginationEntry_' + reportContainer.id }}" ></div>
                            </div>
                            <div class="col-sm-8"  style="text-align: right">
                                <ul id="{{ 'pagination_' + reportContainer.id }}" class="pagination-lg pull-right" ></ul>
                            </div>
                        </div>
                        <div class="row"  style="width: 100%" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
                            </div>
                        </div>
                        <div ng-if="reportContainer.chartType=='Number Widget'">
                            <div class="col-sm-12" style="padding-left: 40px;padding-top: 10px;font-size: 40px;"  >
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"></div>
                            </div>
                        </div>
                        <!-- Text -->
                        <div style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Text'">
                            <div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:0%;height: 100%;">
                                <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"  ng-click="textModel()" style="height: 100%;overflow: auto;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 custFooter">
        Created at {{companyDateObj.created_at | date :  "dd.MM.y"}}
        Updated at {{companyDateObj.updated_at | date :  "dd.MM.y"}}
        <p class="pull-right" style="padding-right: 20px;">
            <span>&copy; {{company.date | date:'yyyy'}} Thinklytics, All Rights Reserved</span>
        </p>
    </div>
</div>