<style>
	.modal {
		background: rgba(51, 51, 51, 0.62);
	}
	ul li {
		list-style: none;
	}
	.operatorHover {
		opacity: 0;
		color: blue;
	}
	.custLiWidth:hover .operatorHover {
		opacity: 1;
	}
	.functionHover {
		opacity: 0;
		color: blue;
	}
	.custLiWidth:hover .functionHover {
		opacity: 1;
	}
	.columnNameMeasure {
		opacity: 0;
		color: blue;
	}
	.custLiWidth:hover .columnNameMeasure {
		opacity: 1;
	}
	.custLiWidth {
		width: 100%;
		text-align: left;
	}
	ul {
		padding-left: 0px;
	}
	.btn.btn-lg{
		font-size: 32px;
	}
	.custFilter > label{
		font-size: 36px;
	}
	/*.noUi-horizontal,.noUi-origin{
        height: 28px;
    }
    .noUi-handle {
        box-sizing: border-box;
        width: 54px;
        height: 54px;
        left: -10px;
        top: -13px;
    }*/
	/*.select-with-transition,.actions-btn,.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text,.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark,.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child){
        font-size: 36px;
    }
    .select-with-transition{
        margin-bottom: 60px;
    }
    .filterSelect{
        margin-bottom: 50px;
    }*/

</style>

<!-- Rename keys  -->
<div class="modal modal-primary fade stick-up" id="dashboardListView"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Text Editor</h4>
			</div>
			<div class="modal-body">
				<div id="summernote"></div> 
			</div>
			<div class="modal-footer">
	             <button type="button" class="btn btn-info" ng-click="saveText()">Save</button>
	             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        	</div>
		</div>
	</div>
</div>
<div class="modal modal-primary fade stick-up" id="Common_View_Setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Common Settings</h4>
			</div>
			<div class="modal-body">			
                <form role="form" name="formValidation">
                    <div class="row">
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Display Report Header </label>
                         		<br>
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="yes" >Yes									
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="no" checked="checked" >No									
							</div>
                         </div>                                                                                                
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Text Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerTextcolor" >									
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Background Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerBgcolor" >									
							</div>
                         </div> 
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Margin</label>
                         		<div class="row">
	                         		<div class="col-sm-6"> 
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignLeft" >
	                         		</div>
	                         		<div class="col-sm-6">
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignRight" >
	                         		</div>		
	                         	</div>									
							</div>
                         </div>      
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Display Main Header </label>
                         		<br>
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="yes" >Yes									
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="no" checked="checked" >No									
							</div>
                         </div> 
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Backgroud Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyBackgroud">									
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Text Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyColor">									
							</div>
                         </div>    
                     </div>                                     	
                </form> 
			</div>
			<div class="modal-footer">
	             <button type="button" class="btn btn-info" ng-click="CommonSettingData(CommonSettingObject)">Save</button>
	             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        </div>
        </div>
	</div>
</div>
<div class="modal modal-primary fade stick-up" id="Custom_View_Setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Custom Settings</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Display Report Header</label>
							<br>
							<input type="radio" name="Report_Header" ng-model="CustomSettingObject.report_Header" value="yes">Yes
							<input type="radio" name="Report_Header" ng-model="CustomSettingObject.report_Header" value="no" checked="checked">No
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Report Header Text Color</label>
							<input type="color" class="form-control" ng-model="CustomSettingObject.headerTextColor">
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Report Header Font Size</label>
							<input type="text" class="form-control" ng-model="CustomSettingObject.fontSize">
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Report Header Background Color</label>
							<input type="color" class="form-control" ng-model="CustomSettingObject.headerBgColor">
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Report Background Color</label>
							<input type="color" class="form-control" ng-model="CustomSettingObject.reportBgColor">
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Axis Label Color</label>
							<input type="color" class="form-control" ng-model="CustomSettingObject.axisLabelColor">
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group">
							<label>Axis Color</label>
							<input type="color" class="form-control" ng-model="CustomSettingObject.axisColor">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
	             <button type="button" class="btn btn-info" ng-click="CustomSettingData()">Save</button>
	             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	        </div>
        </div>
	</div>
</div>

<div class="modal modal-primary fade stick-up" id="companyHeaderSet" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Company header</h4>
			</div>
			<div class="modal-body">			
				<div class="row" >
					 <div class="col-sm-6">
						<div class="form-group" >
							<label>Company Name</label>
							<input type="text" class="form-control" ng-model="companySet.name" >
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group" >
							<label>Company Tag Line</label>
							<input type="text" class="form-control" ng-model="companySet.description" >
						</div>
					 </div>
					 <div class="col-sm-6">
						<div class="form-group" >
							<label>Company Logo</label>
							<input type="file" id="logo" class="" ng-model="companySet.logo" >
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group" >
							<label>Company Logo Width</label>
							<input type="text"  class="form-control" ng-model="companySet.logoWidth" >
						</div>
					</div>
				</div>
				<div class="modal-footer">
		             <button type="button" class="btn btn-info" ng-click="companyHeaderSave(companySet)">Save</button>
		             <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		        </div>
			</div>
		</div>
	</div>
</div>
<!-- END Rename modal  -->
<!-- measure Calculation -->
<!-- Range Datepicker -->
<div class="modal modal-primary fade stick-up" id="dateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <h4>Range Datepicker</span></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                            <div class="col-sm-12">
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Column Name</label>
									<select class="form-control" ng-model="dateColumnName">
										<option></option>
										<option ng-repeat="column in tableColumns" value="{{column}}" ng-if="column.columType=='date' || column.columType=='datetime'">{{column.reName}}</option>
									</select>
								</div>
                            </div>
                            <div class="col-sm-12"> 
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Number Of Timeline's</label>
									<input type="text" class="form-control" ng-model="numberOfColumn">
								</div>
                            </div>
                            <div class="col-sm-12">  
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Date Type</label>
									<select class="form-control" ng-model="dateType">
										<option value="month">Month</option>
										<option value="year">Year</option>
									</select>
								</div>
                            </div>
                            
                        </div>
                       
                </form>
            </div>
            <div class="modal-footer">
             	<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="saveRangedatepicker(dateColumnName,numberOfColumn,dateType)">Save</button>
		        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		   </div>     
        </div>
    </div>
</div>
<!-- FIlter -->
<div class="modal modal-primary fade stick-up" id="filterMobile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
               <h1>Filter</h1>
            </div>            
            <div class="modal-body">            	
				<div ng-repeat="filter in conatinerFilter" class="col-sm-12">
					<div class="col-sm-12 custFilter" style="text-align: left;margin-bottom: 10px;margin-top:20px; ">
						<label class="filterHeading" ng-if="filter.reName!=undefined">{{filter.reName}}</label>
						<label class="filterHeading" ng-if="filter.reName==undefined">{{filter.key}}</label>
					</div>
					<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
						<div class="slider slider-info" id="{{filter.key}}-Filter"></div>
					</div>
					<div class="container col-sm-12" ng-if="filter.value=='date'"  >
						<div class='col-sm-5'>
							<div class='input-group date' >
								<!--ng-model="allFilters[filter.reName]['start']"-->
								<input class="startdate form-control"   type='text'  ng-click="filterColumn(filter)"/>
							</div>
						</div>
						<div class='col-sm-5'>
							<div class='input-group date'  >
								<!--ng-model="allFilters[filter.reName]['end']"-->
								<input class="enddate form-control" type='text' ng-click="filterColumn(filter)"/>
							</div>
						</div>
						<div class='col-sm-2'>
							<a ng-click="cascadeFilter(allFilters[filter.key],filter)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="container col-sm-12"  ng-if="filter.value=='datetime'">
						<div class="form-material">
							<div class='col-sm-5'>
								<div class='input-group date'>
									<!--ng-model="allFilters[filter.reName]['start']"-->
									<input class="form-control startdatetime" ng-model="allFilters[filter.key]['start']" type='text' ng-click="filterColumn(filter)"/>
								</div>
							</div>
							<div class='col-sm-5'>
								<div class='input-group date'>
									<!--ng-model="allFilters[filter.reName]['end']"-->
									<input class="form-control enddatetime" ng-model="allFilters[filter.key]['end']" type='text' ng-click="filterColumn(filter)"/>
								</div>
							</div>
							<div class='col-sm-2'>
								<a href="javascript:void(0)" ng-click="cascadeFilter(allFilters[filter.key],filter)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
						<div class="form-material">
							<select class="filterSelect" ng-model="allFilters[filter.key]['filterValue']"  data-style="select-with-transition" data-container="body" title="Choose {{filter.reName}}" data-size="7" multiple ng-change="filterBy(allFilters[filter.key]['filterValue'],filter)" data-live-search="true" data-actions-box="true" >
								<option ng-repeat="filterData in conatinerFilterTo[filter.key]" value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
							</select>
						</div>
					</div>
				</div>
           </div>    
           <div class="modal-footer">
                <button type="button" class="btn btn-info btn-md waves-effect waves-classic" ng-click="allFilterApply()" data-dismiss="modal">Filter</button>
                <button type="button" class="btn btn-md btn-danger" data-dismiss="modal">Close</button>
            </div>         
      </div>
   </div>
</div>


<div class="modal modal-primary fade stick-up" id="updateSharedViewModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Update</span></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="checkbox-radios">
							<div class="checkbox">
								<label>Real Time&nbsp;&nbsp;
									<input type="checkbox" ng-model="realTime.flag" value="true">
									<span class="checkbox-material">
										<span class="check"></span>
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6" ng-if="realTime.flag">
						<div class="form-group" data-plugin="formMaterial">
							<label>Time(in seconds)</label>
							<input type="number" min="0" class="form-control" ng-model="realTime.time">
						</div>
					</div>
					<div class="col-sm-6" ng-if="realTime.flag">
						<div class="form-group" data-plugin="formMaterial">
							<label>Previous Days Data</label><br>

							<select ng-model="realTime.dataShow" class="form-control">
								<option ng-repeat="n in [].constructor(10) track by $index" ng-if="$index!=0" value="{{ $index*5 }}">{{ $index*5 }} Days</option>
							</select>
						</div>
					</div>
					<div class="col-sm-6" ng-if="realTime.flag">
						<div class="form-group" data-plugin="formMaterial">
							<label>Date Column</label><br>
							<select ng-model="realTime.column" class="form-control">
								<option ng-repeat="tableColumn in tableColumns" ng-if="tableColumn.type=='defined'" value="{{tableColumn}}">{{tableColumn.columnName}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer footerDiv">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="updatePublicView()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



<!-- Rename Filter  -->
<div class="modal modal-primary fade stick-up" id="renameFilter"
	 tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Filter Name</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" data-plugin="formMaterial">
					<input type="text" class="form-control" ng-model="filterName.name">
				</div>
				<input type="hidden" ng-model="filterIndex">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="changeFilterName(filterName.name,filterIndex)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Rename keys  -->


<!--Add Shared View Tab Start-->
<div class="modal fade" tabindex="-1" id="addSharedViewTab" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Tab</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Name</label>
								<input type="text" class="form-control" ng-model="sharedViewTabName.name">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="saveAddSharedViewTab(sharedViewTabName)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--Add Shared View Tab End-->


<!--Edit/Delete Shared View Tab Start-->
<div class="modal fade" tabindex="-1" id="EditDeleteSharedViewTab" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Edit/Delete Tab</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group row" ng-repeat="tab in tabs">
							<span class="col-sm-6" ng-if="!EditKeyName || tabKeyName != tab.name" style="word-wrap: break-word;">{{tab.name}}</span>
							<span class="col-sm-6" ng-if="EditKeyName && tabKeyName == tab.name"><input type="text" id="tabEditName_{{$index}}" class="form-control" value="{{tab.name}}"></span>
							<span class="col-sm-1" ng-click="editSharedViewTab($index, tab.name)"><i class="fa fa-pencil-square-o" style="cursor: pointer"></i></span>
							<span class="col-sm-1" ng-if="EditKeyName && EditKeyIndex == $index " ng-click="saveSharedViewTab($index, tab.name)"><i class="fa fa-check" style="cursor: pointer"></i></span>
							<span class="col-sm-1" ng-click="controller.showSwal('warning-message-and-cancel', 'tab', $index, tab.name)" ng-if="$index != 0"><i class="fa fa-trash-o" style="cursor: pointer"></i></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--Edit/Delete Shared View Tab End-->


<!--ReOrder Shared View Tab Start-->
<div class="modal fade" tabindex="-1" id="ReorderSharedViewTab" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Re-Order Tab</h4>
			</div>
			<div class="modal-body">
				<div class="row sortable" style="border: 1px solid #ccc;height: 200px;overflow: auto;padding-left: 10px;padding-right: 10px;">
					<div class="col-sm-12 reoder_li" ng-repeat="tab in tabs" id="{{tab.name}}">
						<div class="col-sm-1">
							<i class="fa fa-bars"></i>
						</div>
						<div class="col-sm-9">
							<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
							{{tab.name}}
						</div>
						<div class="col-sm-2">
							<i class="fa fa-arrows"></i>
						</div>
					</div>
					<!--<ul class="sortable">
						<li class="ui-state-default reoder_li" ng-repeat="tab in tabs" id="{{tab.name}}">
							<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
							{{tab.name}}
						</li>
					</ul>-->
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="saveReorderSharedViewTab()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--ReOrder Shared View Tab End-->














<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="styleSheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>
