<style>
	.card {
		margin: 0px;
	}
	.card .nav-pills,.card .tab-content {
		margin-top: 0px;
	}
	.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th
	{
		font-size: 14px;
	}
	.custSize {
		width: 50px;
	}
	#minimizeSidebar {
		display: none;
	}
	@media ( min-width : 992px) {
		.sidebar-mini .sidebar {
			width: 140px;
			position: fixed;
		}
		.navbar-header {
			width: 40%;
		}
	}

	@media ( min-width : 992px) {
		.sidebar-mini .main-panel {
			width: calc(100% -   0px);
			margin-left: 0px;
		}
	}

	.off-canvas-sidebar .nav i,.sidebar .nav i {
		margin-left: 0px;
	}

	@media ( min-width : 992px) {
		.sideSubBar {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
			position: fixed;
			width: 23%;
			height: 95vh;
		}
		.sideSubBarWidth1 {
			width: 23%;
			padding:0px;
		}
		.sideSubBarWidth2 {
			width: 77%;
		}
	}

	.sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a
	{
		margin: 5px 0px;
	}

	@media ( min-width : 992px) {
		.sidebar-mini .sidebar .nav {
			margin-top: 10px;
		}
	}

	.chart-legend {
		min-height: 100px;
	}

	.btn-group,.btn-group-vertical {
		position: relative;
		margin: 0px 1px;
	}

	.li_box {
		border: 2px solid #FFF;
	}

	.li-box-border {
		border: 2px solid #2196f3;
	}

	.badge {
		width: 20px;
		height: 17px;
	}

	#chartjs-tooltip {
		opacity: 1;
		position: absolute;
		background: rgba(0, 0, 0, .9);
		color: white;
		border-radius: 3px;
		-webkit-transition: all .1s ease;
		transition: all .1s ease;
		pointer-events: none;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		z-index: 9999999;
		font-family: 'Open Sans', sans-serif !important;
	}

	.modal .modal-dialog {
		margin-top: 60px;
	}

	.sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
		margin: 5px 0px;
	}
	.k-datepicker,.startdate,.enddate {
		width: 50%;
		display: inline;
	}

	.nav>li>a {
		padding: 10px 12px;
	}
	.handle-e,.handle-s,.handle-w,.handle-ne,.handle-se,.handle-sw,.handle-nw{
		display: none;
	}
	.main-panel > .content {
		margin-top: 0px;
		padding: 0px 15px;
	}
	@media (min-width: 992px){
		.navbar {
			width: 100%;
			min-height: 0px;
			margin-bottom: 0px;
		}
	}
	nav{
		z-index: 999;
	}
	.widget{
		background: #FFF;
	}
	.panel-heading {
		padding: 10px 15px 10px;
		margin-bottom: 10px;
	}
	.pagination{
		margin-top: 0;
	}
	.chart-legend ul li {
		padding-bottom: 6px;
		padding-top: 0px;
		list-style: none;
		cursor: pointer;
		color: #000;
	}
	body{
		overflow: hidden;
	}
	footer{
		position: relative;
		width: auto;
	}
	.widget{
		border-radius: 5px;
	}
	.panel-title{
		font-weight: bold;
	}
	body {
		overflow: hidden;
	}
	.main-panel, .perfect-scrollbar-on .main-panel, .sidebar .sidebar-wrapper, .perfect-scrollbar-on .sidebar .sidebar-wrapper {
		overflow: auto !important;
	}
	.dashboardName{
		font-size: 25px;
		padding: 20px;
	}
	.filterHeading{
		font-size: 13px !important;
	}
	.custFooter{
		font-size: 12px;
	}
	.bootstrap-datetimepicker-widget.dropdown-menu{
		margin: 60px 0;
	}
	.custFilter{
		margin-top:5px;
	}
	.nav-pills > li > a{
		color: #FFF;
	}
	#filterContainer{
		padding: 0px;
	}
	.accordion .accordion-header{
		padding: 5px;
		margin: 0px 0 0 0;
	}
	.accordion .accordion-content{
		padding: 0px;
	}
	.accordion .accordion-header:after,.accordion .accordion-header:before{
		display: none;
	}
	.md-bg-blue-300{
		background: #2196f3 !important;
	}
	.scrtabs-tab-container{
		height: 38px;
	}
	#filterContainer{
		overflow: hidden;
	}
	.navbar-brand-cust,.navbar-brand-cust:hover{
		font-weight: 400;
		height: auto;
		color: #FFFFFF;
		padding: 0px;
		position: relative;
		line-height: 30px;
		float: left;
		font-size: 18px;
	}
	.custNav{
		padding: 0px;
		margin-top: .3%;
	}
	.scrtabs-tabs-fixed-container{
		width: -webkit-calc(100% - 100px) !important;
		height: auto !important;
	}

	.resetBtn{
		margin: 0px !important;
		padding: 7px 21px !important;
		background-color: white !important;
		color: #2196F3 !important;
		margin-right: 15% !important;
		margin-top: 5% !important;
	}
	.dropdown-submenu.pull-left>.dropdown-menu{
		left: -119%;
	}
	.dropdown-menu{
		top:75%;
	}
	.resetMeasureBtn{
		margin: 0;
	}
</style>

<div id="sharedViewImage" class="row">
	<nav id="ViewHeader" class="site-navbar navbar navbar-default navbar-inverse navbar-mega companyHeader" role="navigation">
		<div class="collapse navbar-collapse">
			<a href="javascript:void(0)" ng-class="logoPath!='' ? 'navbar-brand-cust' : 'navbar-brand' ">
                <span>
                    <img class="navbar-brand-logo" src="{{logoPath}}" ng-if="logoPath" title="Logo" style="height: 48px;">
                    {{dashName.dashboardName}}
                </span>
			</a>
			<div class="pull-right" style="margin-top: 10px;">
				<i class="btn btn-success btn-sm fa fa-refresh pull-right" title="Reset" ng-click="resetChart()" style="background-color: white;color: #2196F3;padding: 7px 20px;"></i>
				<i class="btn btn-success btn-sm pull-right fa fa-download" data-toggle="dropdown" title="Download" style="background-color: white;color: #2196F3;padding: 7px 20px;"></i>
				<i ng-if="syncBtn" class="btn btn-success btn-sm fa fa-spinner pull-right" title="Sync Data" ng-click="showSwal('warning-message-and-cancel')" style="background-color: white;color: #2196F3;padding: 7px 20px;"></i>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-submenu pull-left" style="width: 100%;">
						<a tabindex="-1" href="javascript:void(0);">PDF</a>
						<ul class="dropdown-menu subdropDown pull-left" style="width: 180px;" ng-click="fixedDropdown($event)">
							<li>
								<div style="">
									<div class="checkbox" >
										<label style="margin-left: 5%;">
											<input type="checkbox" class="allPdfCheckBox" ng-click="pdf_AllCheckBox()" >
											<span class="checkbox-material">
                                                <span class="check"></span>
                                            </span>
											All Tabs
										</label>
									</div>
									<div data-ng-repeat="pdftab in tabs" class="checkbox">
										<label style="margin-left: 5%;" title="{{pdftab.name}}">
											<input type="checkbox" class="pdfCheckBox" id="TabViewReport_PDF_{{pdftab.key}}" ng-click="pdfCheck(pdftab)" >
											<span class="checkbox-material">
                                                <span class="check"></span>
                                            </span>
											{{pdftab.name | limitTo:15}}{{ pdftab.name.length > 15 ? '...' : ''}}
										</label>
									</div>
								</div>
								<div>
									<button type="button" ng-click="PDF_Report_Download()" style="margin-left: 5%;margin-top: 5%;" class="btn btn-fill btn-primary">Download</button>
								</div>
							</li>
						</ul>
					</li>
					<li ng-if="tab_Excel_Report.length" class="dropdown-submenu pull-left" style="width: 100%;">
						<a tabindex="-1" href="javascript:void(0);">Excel</a>
						<ul class="dropdown-menu subdropDown pull-left" style="width: 180px;" ng-click="fixedDropdown($event)">
							<li style="cursor: pointer;">
								<a ng-repeat="exceltabReport in tab_Excel_Report" ng-click="download_TabExcel(exceltabReport)" title="{{exceltabReport.name}}">
									{{exceltabReport.name | limitTo:18}}{{ exceltabReport.name.length > 18 ? '...' : ''}}
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="filterContainer" class="col-sm-12" style="margin-top: 4%;">
		<div class="card-content">
			<div class="filterDiv">
				<div ng-if="conatinerFilter.length" class="accordion-header filter_Container">
					<div class="row" style="height: 35px; padding-top: 5px;">
						<div class="col-sm-11">
							<div style="font-size: 13px;">
								<strong style="padding-left: 2%;">Filter :</strong>&nbsp;
								<span ng-repeat="filter in conatinerFilter"> <strong>{{filter.reName}} : </strong>
                                <span ng-if="filter.value=='date' || filter.value=='datetime' ">
                                    {{allFilters[filter.key]['filterValue']['start']}} To {{allFilters[filter.key]['filterValue']['end']}} &nbsp;
                                </span>
                                <span ng-if="filter.value=='int' || filter.value=='bigint' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
                                    {{allFilters[filter.key]['filterValue'].join()}}
                                </span>
                                <span ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'" title="{{allFilters[filter.key]['filterValue'].join()}}">
                                    {{allFilters[filter.key]['filterValue'].length>1 ? allFilters[filter.key]['filterValue'][0]+'...' : allFilters[filter.key]['filterValue'][0] }}&nbsp;
                                </span>
                            </span>
							</div>
						</div>
						<div class="col-sm-1">
							<i class="btn btn-sm pull-right" ng-class="(filterEdit==true || filterEdit=='true') ? 'fa fa-close' : 'fa fa-edit'" title="Edit Filter" ng-click="editFilter()" style="margin: 0px;padding: 7px 20px;margin-right: 10px;background-color: white;color: #2196F3;margin-right: 15px;"></i>
						</div>
					</div>
				</div>
				<div class="accordion-content" id="filterAccordion" data-wrapper="true" aria-expanded="false" style="display: none;">
					<div ng-if="conatinerFilter.length>0 || setRangeObject==true" >
						<div class="col-sm-12" style="background-color:white;min-height:85px;overflow:auto;padding: 13px;" ng-class="(tabPDFReportClass == true) ? 'col-md-6' : 'col-md-12'">
							<div class="row" style="width: 100%;padding-left: 16px;">
								<div ng-repeat="filter in conatinerFilter" ng-class="(filter.value=='datetime') || (filter.value=='date') ? 'col-sm-4' : 'col-sm-3'">
									<div class="col-sm-12 custFilter" style="text-align: left;">
										<label class="filterHeading" ng-if="filter.reName!=undefined">{{filter.reName}}</label>
										<label class="filterHeading" ng-if="filter.reName==undefined">{{filter.key}}</label>
									</div>
									<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
										<div class="slider slider-info" id="{{filter.key}}-Filter"></div>
									</div>
									<div class="container col-sm-12" ng-if="filter.value=='date'"  style="padding: 0px">
										<div class='col-sm-5'>
											<div class='input-group date' ng-click="filterColumn(filter)" >
												<input class="startdate form-control"   type='text' id="{{filter.key}}_startdate" />
											</div>
										</div>
										<div class='col-sm-5'>
											<div class='input-group date' ng-click="filterColumn(filter)" >
												<input class="enddate form-control" type='text' id="{{filter.key}}_enddate"/>
											</div>
										</div>
										<div class='col-sm-2'>
											<a ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
										</div>
									</div>
									<div class="container col-sm-12"  ng-if="filter.value=='datetime'" style="padding: 0px">
										<div class="form-material">
											<div class='col-sm-5'>
												<div class='input-group date'>
													<input class="form-control startdatetime" id="{{filter.key}}_startdateTime" type='text' ng-click="filterColumn(filter)"/>
												</div>
											</div>
											<div class='col-sm-5'>
												<div class='input-group date'>
													<input class="form-control enddatetime" id="{{filter.key}}_enddateTime" type='text' ng-click="filterColumn(filter)"/>
												</div>
											</div>
											<div class='col-sm-2'>
												<a href="javascript:void(0)" ng-click="cascadeFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
											</div>
										</div>
									</div>
									<div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
										<div class="form-material">
											<div>
												<div ng-repeat="filterData in conatinerFilterTo[filter.value]">
													Test {{filterData}}
												</div>
											</div>
											<select id="filterSelect_{{$index}}" ng-model="allFilters[filter.key]['filterValue']" data-style="select-with-transition" data-container="body" title="Choose {{filter.reName}}" data-size="7" multiple ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" data-actions-box="true" >
												<option ng-repeat="filterData in conatinerFilterTo[filter.key] | orderBy" value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div ng-repeat="rangePicker in rangeObject" style="width: 100%;padding-left: 16px;" >
								<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3">
									<div class="row">
										<div class="col-sm-12 custRangeFilter">
											<label class="filterHeading">{{rangePicker.key.columnName}}-{{i}}</label>
										</div>
										<div class="col-sm-9 container custRangeFilter " ng-click="filterRangeColumn($index,rangePicker.key.columnName)" style="padding: 0px">
											<div class='col-sm-12'>
												<div class='col-sm-6'>
													<div class="form-group">
														<div class='input-group date' >
															<input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text' />
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div ng-if="conatinerFilter.length>0 || setRangeObject==true">
									<button class="btn btn-info filterBtn" ng-click="allFilterApply()" style="float:right;">Filter</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="tabs.length > 1" class="custNav" style="color: #FFF;background: #2196f3;">
				<div class="row tab_Container">
					<div class="col-sm-12">
						<ul class="nav nav-pills nav-pills-rose nav-pills-icons" id="navTab" style="padding-left: 2%;">
							<li ng-repeat="tab in tabs" ng-click="DashboardView.activeTab(tab)" id="tabBtn_{{tab.key}}" ng-hide="tabVisiable">
								<a href="javascript:void(0);#tab_{{tab.key}}" role="tab" data-toggle="tab" title="{{tab.name}}">
									{{tab.name | limitTo:20}}{{ tab.name.length > 20 ? '...' : ''}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="tab-content">
				<div class="tab-pane cust-tab-pane active" ng-repeat="tab in tabs" id="tab_{{tab.key}}">
					<div id="tabReportContainer_{{tab.key}}" class="col-sm-12 droppableArea" ng-class="(dashboardPrototype.reportWithTab[tab.key]==0) ? 'dropzone' : ''" data-gridster="dashboardCommonSettings">
						<div class="widget widget-shadow li_box" data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportWithTab[tab.key]" id="li_{{reportContainer.id}}">
							<div class="panel-heading Common_Head" id="ReportHeader_{{reportContainer.id}}">
								<h6 class="panel-title">
									<span id="Header_Text_{{reportContainer.id}}" class="Common_Head">{{reportContainer.name}}</span>
									<span ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'" style="float: right;">
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='Map' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Text/Image' ">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Legends
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" style="color: #000;" ></ul>
										</div>
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Measure
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}" style="color: #000;"></ul>
									   </div>
									</span>
								</h6>
							</div>
							<!-- Loading --->
							<div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
								<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
							</div>
							<!-- Map -->
							<div class="row" style="width: 100%;" ng-if="reportContainer.chartType=='Map' ">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;">
									<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
								</div>
							</div>
							<!-- Male female  -->
							<div class="row" style="width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;">
									<div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="overflow: hidden;"></div>
								</div>
							</div>
							<div class="row" style="width: 100%;margin: 0;" ng-if="reportContainer.chartType =='SpeedoMeter' ">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 4%;" >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" ></div>
								</div>
							</div>
							<div class="row" style="width: 100%;margin: 0;" ng-if="reportContainer.chartType =='Word Cloud'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 4%;" >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" ></div>
								</div>
							</div>
							<div class="row"  style="width: 100%" ng-if="reportContainer.chartType=='Pivot Table'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
								</div>
							</div>
							<div class="row" style="width: 100%" ng-if="reportContainer.chartType=='DataTable'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
								</div>
							</div>

							<div class="footer" ng-if="reportContainer.chartType=='DataTable'" style="padding-top:3px;">
								<div class="col-sm-4">
									<div class="dataTables_info" id="{{ 'paginationEntry_' + reportContainer.id }}" ></div>
								</div>
								<div class="col-sm-8"  style="text-align: right">
									<ul id="{{ 'pagination_' + reportContainer.id }}" class="pagination-lg pull-right" ></ul>
								</div>
							</div>
							<div class="row"  style="width: 100%;margin: 0;" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 2%;" >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;" ></div>
								</div>
							</div>
							<div ng-if="reportContainer.chartType=='Number Widget'">
								<div class="col-sm-12" style="padding-left: 40px;padding-top: 10px;font-size: 40px;"  >
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"></div>
								</div>
							</div>
							<!-- Text -->
							<div style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Text'">
								<div class="col-sm-12" style="overflow: hidden;padding-left: 4%;height: 100%;">
									<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"  ng-click="textModel()" style="height: 100%;overflow: auto;"></div>
								</div>
							</div>
							<div class="footer row" ng-if="reportContainer.chartType!='DataTable'">
								<div class="col-sm-12">
									<div id="{{ 'rangeScroll_' + reportContainer.id }}"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 custFooter">
			Created at {{companyDateObj.created_at | date :  "dd.MM.y"}}
			Updated at {{companyDateObj.updated_at | date :  "dd.MM.y"}}
			<p class="pull-right" style="padding-right: 20px;">
				<span>&copy; {{company.date | date:'yyyy'}} Thinklytics, All Rights Reserved</span>
			</p>
		</div>
	</div>
</div>
