<style>
    .card {
        margin: 0px;
    }
    body{
        overflow: auto !important;
    }
    .wrapper{
        height: auto !important;
    }
    .card .nav-pills,.card .tab-content {
        margin-top: 0px;
    }

    .table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th
    {
        font-size: 14px;
    }
    .custNav >li > a{
        line-height: 22px;
        min-width: 150px;
    }
    .custSize {
        width: 50px;
    }

    #minimizeSidebar {
        display: none;
    }

    @media ( min-width : 992px) {
        .sidebar-mini .sidebar {
            width: 140px;
            position: fixed;
        }
    }

    @media ( min-width : 992px) {
        .sidebar-mini .main-panel {
            width: calc(100% -   0px);
            margin-left: 0px;
        }
    }

    .off-canvas-sidebar .nav i,.sidebar .nav i {
        margin-left: 0px;
    }

    @media ( min-width : 992px) {
        .sideSubBar {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
            position: fixed;
            width: 23%;
            height: 95vh;
        }
        .sideSubBarWidth1 {
            width: 23%;
            padding:0px;
        }
        .sideSubBarWidth2 {
            width: 77%;
        }
    }

    .sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a
    {
        margin: 5px 0px;
    }

    @media ( min-width : 992px) {
        .sidebar-mini .sidebar .nav {
            margin-top: 10px;
        }
    }

    .chart-legend {
        min-height: 100px;
    }

    .btn-group,.btn-group-vertical {
        position: relative;
        margin: 0px 1px;
    }

    .li_box {
        border: 2px solid #FFF;
    }

    .li-box-border {
        border: 2px solid #2196f3;
    }

    .badge {
        width: 20px;
        height: 17px;
    }

    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .9);
        color: white;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 9999999;
        font-family: 'Open Sans', sans-serif !important;
    }

    .modal .modal-dialog {
        margin-top: 60px;
    }

    .sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
        margin: 5px 0px;
    }

    /* svg path {
        fill: #2196f3 !important;
    }

    svg {
        width: 25px;
        height: 25px;
    } */

    .k-datepicker,.startdate,.enddate {
        width: 50%;
        display: inline;
    }

    .nav>li>a {
        padding: 10px 12px;
    }
    .handle-e,.handle-s,.handle-w,.handle-ne,.handle-se,.handle-sw,.handle-nw{
        display: none;
    }
    .main-panel > .content {
        margin-top: 0px;
        padding: 0px 15px;
    }
    @media (min-width: 992px){
        .navbar {
            width: 100%;
        }
    }
    /* .main-panel{
        overflow: auto !important;
    } */
    nav{
        z-index: 999;
    }
    .widget{
        background: #FFF;
    }
    .panel-heading {
        padding: 10px 15px 10px;
    }
    .chart-legend ul li {
        padding-bottom: 6px;
        padding-top: 0px;
        list-style: none;
        cursor: pointer;
        color: #000;
    }
    body{
        overflow: hidden;
    }
    footer{
        position: relative;
        width: auto;
    }
    .widget{
        border-radius: 5px;
    }
    .panel-title{
        font-weight: bold;
    }
    body {
        overflow: hidden;
    }
    .main-panel, .perfect-scrollbar-on .main-panel, .sidebar .sidebar-wrapper, .perfect-scrollbar-on .sidebar .sidebar-wrapper {
        overflow: auto !important;
    }
    .dashboardName{
        font-size: 25px;
        padding: 20px;
    }
    .filterHeading{
        font-size: 18px !important;
    }
    .custFooter{
        font-size: 12px;
    }
    .bootstrap-datetimepicker-widget.dropdown-menu{
        margin: 60px 0;
    }
</style>


<div id="sharedViewImage" class="row">
    <nav id="ViewHeader" class="site-navbar navbar navbar-default navbar-inverse navbar-mega" ng-if="logoPath" style="margin-top: 0px; margin-bottom: 10px;background-color: #2196F3;">
        <div class="navbar-header" style="width: 100%;">
            <div data-toggle="gridmenu">
                <div class="row">
                    <div ng-class="(tabPDFReportClass == true) ? 'col-md-3' : 'col-md-12'">
                        <h4 class="dashboardName" style="text-align: center;padding: 5px;">{{dashName.dashboardName}}
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-submenu pull-left" style="width: 100%;"><a tabindex="-1" href="javascript:void(0);">PDF </a>
                                    <ul class="dropdown-menu subdropDown pull-left" style="height: 250px;width: 200px;overflow: auto;" ng-click="fixedDropdown($event)">
                                        <li>
                                            <div>
                                                <div style="height: 180px; overflow: auto;">
                                                    <div class="checkbox" >
                                                        <label style="margin-left: 10%;">
                                                            <input type="checkbox" class="allPdfCheckBox" ng-click="pdf_AllCheckBox()" >
                                                            <span class="checkbox-material"><span class="check"></span></span>All
                                                        </label>
                                                    </div>
                                                    <div data-ng-repeat="pdftab in tabs" class="checkbox">
                                                        <label style="margin-left: 10%;">
                                                            <input type="checkbox" class="pdfCheckBox" id="TabViewReport_PDF_{{pdftab.key}}" ng-click="pdfCheck(pdftab)" >
                                                            <span class="checkbox-material"><span class="check"></span></span>{{pdftab.name}}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button type="button" ng-click="PDF_Report_Download()" style="margin-left: 10%;margin-top: 4%;" class="btn btn-fill btn-primary">Download</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav id="ViewHeader" class="site-navbar navbar navbar-default navbar-inverse navbar-mega companyHeader" ng-if="logoPath" role="navigation" style="margin-top: 0px; margin-bottom: 10px;">
        <div class="navbar-header" style="width: 100%;">
            <div class="col-sm-12" data-toggle="gridmenu">
                <div ng-class="(tabPDFReportClass == true) ? 'col-md-3' : 'col-md-8'" style="padding-top: 7px;padding-bottom: 7px;">
	       			<span style="padding: 20px;">
	       				<img class="navbar-brand-logo" src="{{logoPath}}" title="Logo" style="height: 40px;">
	       			</span>
                    <span class="dashboardName">{{dashName.dashboardName}}</span>
                </div>
                <div class="col-sm-2" style="text-align: right;padding: 10px 15px 0px 0px;">
                    <span style="font-size: 25px;">{{company.name}}</span><br>
                    <span style="font-size: 12px;">{{company.description}}</span>
                </div>
                <div class="col-sm-2" style="margin-top: 1%;">
                    <div>
                        <button class="btn btn-success pull-right exportViewBtn" type="button" data-toggle="dropdown" style="margin-top:-2px;margin-right: 15px;">Export View</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-submenu pull-left" style="width: 100%;"><a tabindex="-1" href="javascript:void(0);">PDF </a>
                                <ul class="dropdown-menu subdropDown pull-left" style="height: 250px;width: 200px;overflow: auto;" ng-click="fixedDropdown($event)">
                                    <li>
                                        <div>
                                            <div style="height: 180px; overflow: auto;">
                                                <div class="checkbox" >
                                                    <label style="margin-left: 10%;">
                                                        <input type="checkbox" class="allPdfCheckBox" ng-click="pdf_AllCheckBox()" >
                                                        <span class="checkbox-material"><span class="check"></span></span>All
                                                    </label>
                                                </div>
                                                <div data-ng-repeat="pdftab in tabs" class="checkbox">
                                                    <label style="margin-left: 10%;">
                                                        <input type="checkbox" class="pdfCheckBox" id="TabViewReport_PDF_{{pdftab.key}}" ng-click="pdfCheck(pdftab)" >
                                                        <span class="checkbox-material"><span class="check"></span></span>{{pdftab.name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div>
                                                <button type="button" ng-click="PDF_Report_Download()" style="margin-left: 10%;margin-top: 4%;" class="btn btn-fill btn-primary">Download</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="filterContainer" class="col-sm-12" style="margin-top: 4%;padding-right: 15px;padding-left: 15px;">
        <div class="row" style="margin-top: 1%;margin-left: 0px;margin-right: 0px;" ng-if="conatinerFilter.length>0 || setRangeObject==true" >
            <div class="col-sm-12" style="background-color:white;min-height:85px;overflow:auto;padding: 13px;" ng-class="(tabPDFReportClass == true) ? 'col-md-6' : 'col-md-12'">
                <div  class="row" style="width: 100%;padding-left: 16px;">
                    <div ng-repeat="filter in conatinerFilter" ng-class="(filter.value=='datetime') || (filter.value=='date') ? 'col-sm-4' : 'col-sm-2'">
                        <div class="col-sm-12 custFilter" style="text-align: left;">
                            <label class="filterHeading" ng-if="filter.reName!=undefined">{{filter.reName}}</label>
                            <label class="filterHeading" ng-if="filter.reName==undefined">{{filter.key}}</label>
                        </div>
                        <div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
                            <div class="slider slider-info" id="{{filter.key}}-Filter"></div>
                        </div>
                        <div class="container col-sm-12" ng-if="filter.value=='date'"  style="padding: 0px">
                            <div class='col-sm-5'>
                                <div class='input-group date' ng-click="filterColumn(filter)" >
                                    <!--ng-model="allFilters[filter.reName]['start']"-->
                                    <input class="startdate form-control"   type='text'  />
                                </div>
                            </div>
                            <div class='col-sm-5'>
                                <div class='input-group date' ng-click="filterColumn(filter)" >
                                    <!--ng-model="allFilters[filter.reName]['end']"-->
                                    <input class="enddate form-control" type='text'/>
                                </div>
                            </div>
                            <div class='col-sm-2'>
                                <a ng-click="cascadeFilter(allFilters[filter.key],filter)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="container col-sm-12"  ng-if="filter.value=='datetime'" style="padding: 0px">
                            <div class="form-material">
                                <div class='col-sm-5'>
                                    <div class='input-group date'>
                                        <!--ng-model="allFilters[filter.reName]['start']"-->
                                        <input class="form-control startdatetime" ng-model="allFilters[filter.key]['start']" type='text' ng-click="filterColumn(filter)"/>
                                    </div>
                                </div>
                                <div class='col-sm-5'>
                                    <div class='input-group date'>
                                        <!--ng-model="allFilters[filter.reName]['end']"-->
                                        <input class="form-control enddatetime" ng-model="allFilters[filter.key]['end']" type='text' ng-click="filterColumn(filter)"/>
                                    </div>
                                </div>
                                <div class='col-sm-2'>
                                    <a href="javascript:void(0)" ng-click="cascadeFilter(allFilters[filter.key],filter)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
                            <div class="form-material">
                                <div>
                                    <div ng-repeat="filterData in conatinerFilterTo[filter.value]">
                                        Test {{filterData}}
                                    </div>
                                </div>
                                <select id="filterSelect_{{$index}}" ng-model="allFilters[filter.key]['filterValue']" data-style="select-with-transition" data-container="body" title="Choose {{filter.reName}}" data-size="7" multiple ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" data-actions-box="true" >
                                    <option ng-repeat="filterData in conatinerFilterTo[filter.key]" value="{{filterData}}" ng-if="filterData" selected>{{filterData}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="rangePicker in rangeObject" style="width: 100%;padding-left: 16px;" >
                    <div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)" class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12 custRangeFilter">
                                <label class="filterHeading">{{rangePicker.key.columnName}}-{{i}}</label>
                            </div>
                            <div class="col-sm-9 container custRangeFilter " ng-click="filterRangeColumn($index,rangePicker.key.columnName)" style="padding: 0px">
                                <div class='col-sm-12'>
                                    <div class='col-sm-6'>
                                        <div class="form-group">
                                            <div class='input-group date' >
                                                <input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text' />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div ng-if="conatinerFilter.length>0 || setRangeObject==true">
                        <button class="btn btn-info filterBtn" ng-click="allFilterApply()" style="float:right;">Filter</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Desktop -->


        <ul class="nav nav-pills nav-pills-rose nav-pills-icons custNav">
            <li ng-repeat="tab in tabs" ng-click="DashboardView.activeTab(tab)" id="tabBtn_{{tab.key}}">
                <a href="javascript:void(0);#tab_{{tab.key}}" role="tab" data-toggle="tab">
                    {{tab.name}}
                </a>
            </li>
            <li style="float: right;">
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-submenu pull-left" style="width: 100%;">
                        <a tabindex="-1" href="javascript:void(0);">PDF</a>
                        <ul class="dropdown-menu subdropDown pull-left" style="height: 250px; width: 200px; overflow: auto;" ng-click="fixedDropdown($event)">
                            <li>
                                <div>
                                    <div style="height: 180px; overflow: auto;">
                                        <div class="checkbox">
                                            <label style="margin-left: 10%;">
                                                <input type="checkbox" class="allTabPdfCheckBox" ng-click="Tab_PDFAllCheckBox()" >
                                                <span class="checkbox-material"><span class="check"></span></span> All
                                            </label>
                                        </div>
                                        <div data-ng-repeat="pdftabReport in tab_PDF_Report" class="checkbox" >
                                            <label style="margin-left: 10%;">
                                                <input type="checkbox" class="tabPDFCheckBox" id="PDFtab_{{pdftabReport.id}}" ng-click="TabPDFCheck(pdftabReport)" >
                                                <span class="checkbox-material"><span class="check"></span></span> {{pdftabReport.name}}
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="button" ng-click="download_TabPDF(tab_Id_Report)" style="margin-left: 10%;margin-top: 4%;" class="btn btn-fill btn-primary">Download</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="tab_Excel_Report.length" class="dropdown-submenu pull-left" style="width: 100%;"><a tabindex="-1" href="javascript:void(0);">Excel</a>
                        <ul class="dropdown-menu subdropDown pull-left" style="height: 160px; width: 200px; overflow: auto;" ng-click="fixedDropdown($event)">
                            <li>
                                <a ng-repeat="exceltabReport in tab_Excel_Report" ng-click="download_TabExcel(exceltabReport)">{{exceltabReport.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane cust-tab-pane active" ng-repeat="tab in tabs" id="tab_{{tab.key}}">
                    <div id="tabReportContainer_{{tab.key}}" class="col-sm-12 droppableArea" ng-class="(dashboardPrototype.reportWithTab[tab.key]==0) ? 'dropzone' : ''" data-gridster="dashboardCommonSettings">
                        <div class="widget widget-shadow li_box" data-gridster-item="reportContainer" data-ng-repeat="reportContainer in dashboardPrototype.reportWithTab[tab.key]" id="li_{{reportContainer.id}}">
                            <div class="panel-heading Common_Head" id="ReportHeader_{{reportContainer.id}}">
                                <h6 class="panel-title">
                                    <span>{{reportContainer.name}}</span>
                                    <!--margin-top: -9px;-->
                                    <span ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'" style="float: right;">
										<a title="Reset" class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn my-class defaultColor" style="font-size: 16px; cursor: pointer;display: inline;margin-top: 0px;" ng-click="resetChart()">
											<i class="fa fa-refresh" aria-hidden="true"></i>
										</a>
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='Map' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Text/Image' ">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Legends
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" ></ul>
										</div>
										<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
											<button class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn defaultColor" type="button" data-toggle="dropdown">
												Measure
												<span class="caret"></span>
											</button>
											<ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}"></ul>
									   </div>
									</span>
                                    <span ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Male & Female Comparison' || reportContainer.chartType=='Number Widget'" style="float: right;">
										<a title="Reset" class="btn btn-xs btn-primary dropdown-toggle resetMeasureBtn my-class defaultColor"  style="font-size: 16px; cursor: pointer;display: inline;" ng-click="resetChart()"> <i class="fa fa-refresh" aria-hidden="true"></i> </a>
									</span>
                                </h6>
                            </div>
                            <!-- Loading --->
                            <div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
                                <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
                            </div>
                            <!-- Map -->
                            <div class="row" style="width: 100%;" ng-if="reportContainer.chartType=='Map' ">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;">
                                    <!-- margin-top: 4%;-->
                                    <div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
                                </div>
                                <!-- <div class="col-sm-2">
                                    <span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
                                    <div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" style="overflow: auto; height: 300px;">
                                    </div>
                                </div> -->
                            </div>

                            <!-- Male female  -->
                            <div class="row" style="width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;">
                                    <div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="overflow: hidden; margin-top: 4%;"></div>
                                </div>
                            </div>
                            <div class="row" style="width: 100%" ng-if="reportContainer.chartType =='SpeedoMeter' ">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="margin-top: 4%;" ></div>
                                </div>
                            </div>
                            <div class="row" style="width: 100%" ng-if="reportContainer.chartType =='Word Cloud' ">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="margin-top: 4%;" ></div>
                                </div>
                            </div>
                            <div class="row"  style="width: 100%" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table'">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;margin-top: 2%;" ></div>
                                </div>
                            </div>
                            <div class="row"  style="width: 100%" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Male & Female Comparison'">
                                <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;margin-top: 4%;" ></div>
                                </div>
                            </div>
                            <div style="width: 100%;height: 100%;" ng-if="reportContainer.chartType=='Number Widget'">
                                <div class="col-sm-12" style="padding-left: 40px;padding-top: 16px;font-size: 40px;"  >
                                    <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row desktopView" data-plugin="matchHeight" data-by-row="true"  data-gridster="dashboardCommonSettings" >
            <div class="col-sm-12">
                <div class="widget widget-shadow li_box" data-gridster-item="reportContainer"  data-ng-repeat="reportContainer in dashboardPrototype.reportContainers" id="li_{{reportContainer.id}}">
                    <div class="panel-heading Common_Head">
                        <h6 class="panel-title">
                            <span>{{reportContainer.name}}</span>
                            <span ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text'" style="margin-top: -9px;float: right;">
                                <a title="Reset" class="btn btn-xs btn-primary dropdown-toggle my-class defaultColor"  style="font-size: 16px; cursor: pointer;display: inline;"
                                   ng-click="resetChart()"> <i class="fa fa-refresh" aria-hidden="true"></i> </a>
                                <div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='Map' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' ">
                                    <button class="btn btn-xs btn-primary dropdown-toggle defaultColor" type="button" data-toggle="dropdown">
                                        Legends
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select" ></ul>
                                </div>
                                <div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
                                    <button class="btn btn-xs btn-primary dropdown-toggle defaultColor" type="button" data-toggle="dropdown" >
                                        Measure
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}"></ul>
                               </div>
                            </span>
                            <span ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Male & Female Comparison' || reportContainer.chartType=='Number Widget'" style="float: right;">
                                <a title="Reset" class="btn btn-xs btn-primary dropdown-toggle my-class defaultColor"  style="font-size: 16px; cursor: pointer;display: inline;"
                                   ng-click="resetChart()"> <i class="fa fa-refresh" aria-hidden="true"></i> </a>
                            </span>
                        </h6>
                    </div>
                    &lt;!&ndash; Loading -&ndash;&gt;
                    <div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
                        <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
                    </div>
                    &lt;!&ndash; Map &ndash;&gt;
                    <div class="row" style="width: 100%; height: 100%;" ng-if="reportContainer.chartType=='Map' ">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;">
                                                        &lt;!&ndash; margin-top: 4%;&ndash;&gt;
                            <div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"  style="height: 100%;"></div>
                        </div>
                        &lt;!&ndash; <div class="col-sm-2">
                            <span class="label_legends{{reportContainer.id}} lable_legends_common" >Measure</span>
                            <div class="chart-legend chart-legend-d-{{reportContainer.id}}" id="measure_{{reportContainer.id}}" style="overflow: auto; height: 300px;">
                            </div>
                        </div> &ndash;&gt;
                    </div>

                    &lt;!&ndash; Male female  &ndash;&gt;
                    <div class="row" style="width: 100%" ng-if="reportContainer.chartType=='Male & Female Comparison'">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 5%;padding-top:2%;">
                            <div class="widget-content"	id="{{ 'chart-' + reportContainer.id }}" style="overflow: hidden; margin-top: 4%;"></div>
                        </div>
                    </div>
                    <div class="row"  style="width: 100%" ng-if="reportContainer.chartType =='SpeedoMeter' ">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="margin-top: 4%;" ></div>
                        </div>
                    </div>
                    <div class="row"  style="width: 100%" ng-if="reportContainer.chartType =='Word Cloud' ">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="margin-top: 4%;" ></div>
                        </div>
                    </div>
                    <div class="row"  style="width: 100%" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table'">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;margin-top: 2%;" ></div>
                        </div>
                    </div>
                    <div class="row"  style="width: 100%" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Male & Female Comparison'">
                        <div class="col-sm-12" style="overflow: hidden;padding-left: 40px;" >
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="overflow: auto;margin-top: 4%;" ></div>
                        </div>
                    </div>
                    <div style="width: 100%;height: 100%;" ng-if="reportContainer.chartType=='Number Widget'">
                        <div class="col-sm-12" style="padding-left: 40px;padding-top: 16px;font-size: 40px;"  >
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="col-sm-12 custFooter">
            Created at {{companyDateObj.created_at | date :  "dd.MM.y"}}
            Updated at {{companyDateObj.updated_at | date :  "dd.MM.y"}}
            <p class="pull-right" style="padding-right: 20px;">
                <span>&copy; {{company.date | date:'yyyy'}} Thinklytics, All Rights Reserved</span>
            </p>
        </div>
    </div>
</div>