<!doctype html>
<html lang="en" class="perfect-scrollbar-on" data-ng-app="app" ng-controller="AppCtrl">
<head>
   	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<meta charset="utf-8" />
  	<link rel="apple-touch-icon" sizes="76x76" href="theme/assets/img/apple-icon.png" />
	<!--<link rel="shortcut icon" type="image/png"  href="https://thinklytics.io/wp-content/uploads/2017/10/thinklytics-favicon.png" />-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  	<title>{{app.name}}</title>
  	<!-- BEGIN Vendor CSS-->
  	<link id="lazyload_placeholder"> 
  	<link href='custom-css/semantic.min.css' rel="styleSheet"  />
  	<link href="theme/assets/css/bootstrap.min.css" rel="styleSheet" />
  	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="styleSheet" />
    <!--<link href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="styleSheet">-->
    <!--  Material Dashboard CSS    -->
    <link href="theme/assets/css/turbo.css" rel="styleSheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="theme/assets/css/demo.css" rel="styleSheet" /> 
    <!--     Fonts and icons     -->
	<link href="custom-css/font-awesome.min.css" rel="styleSheet">
    <!-- <link href="http://kendo.cdn.telerik.com/2015.3.1111/styles/kendo.mobile.all.min.css"> -->
    <link href="theme/assets/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="styleSheet">
	<link href="custom-css/open_sans.css" rel="styleSheet">
	<link rel="stylesheet" type="text/css" href="custom-css/material_icons.css" />
    <link href="theme/assets/vendors/dropzone/dropzone.min.css" rel="styleSheet">
    <link href="custom-css/common.css" rel="styleSheet">
    <link href="custom-css/pivotCustom.css" rel="styleSheet">
    <!-- <link href="custom-css/kendo.common-bootstrap.min.css" rel="styleSheet"> -->
    <!-- <link href="custom-css/kendo.bootstrap.min.css" rel="styleSheet"> -->
	<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.1/mapbox-gl.css" rel="styleSheet">
	<link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css" rel="styleSheet">
	<link href="assets/custom-js/leaflet.tooltip.css" rel="styleSheet">
    <link href="assets/css/mapbox.css" rel="styleSheet">
    <link href="https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css" rel="styleSheet">

	<link href="custom-css/datepicker.css" rel="styleSheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="styleSheet">
	
	<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="styleSheet">
	<link href="custom-css/jquery.scrolling-tabs.css" rel="styleSheet">
	<link href="assets/css/classic.css" rel="styleSheet">
    <style>
    ::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #FFF;
	}
	
	::-webkit-scrollbar
	{
		width: 6px;
		height: 6px;
		background-color: #2196f38c;
	}
	
	::-webkit-scrollbar-thumb
	{
		background-color: #2196f38c;
	}
	.html2canvas-container { width: 3000px !important; height: 3000px !important; }
    .overflowAuto{
        overflow: auto;
    }
    .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
        top: 15px;
        left: 0px;
        box-sizing: border-box;
        display: inline-block;
        min-width: 40px;
    }
    .noUi-horizontal .noUi-handle-upper .noUi-tooltip {
        top: 15px;
        left: 0px;
        box-sizing: border-box;
        display: inline-block;
        min-width: 40px;
    }
    .noUi-tooltip {
        display: block;
        position: absolute;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        background: #fff;
        padding: 5px;
        text-align: center;
    }
    .picture-container{
        cursor: pointer;
    }
    .dropdown-menu.bootstrap-datetimepicker-widget{
        visibility: visible !important;
        opacity: 1;
    }
    /*.bootstrap-datetimepicker-widget{
        position: fixed;
    }*/
    .bootstrap-datetimepicker-widget.dropdown-menu{
        margin: 60px 0;
    }
	.labelName{
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}
	.reoder_li{
		padding: 7px;
		cursor: move;
		border: 1px solid #ccc;
		padding: 2px 10px 2px 10px;
		background: #FFF;
		margin-top: 10px;
		text-transform: capitalize;
	}
	.dropdown-menu>.active>a {
		color: #fff !important;
		text-decoration: none;
		background-color: #337ab7 !important;
		outline: 0;
	}
	.nav-mobile-menu{
		display: none !important;
	}
	.collapse.navbar-collapse.off-canvas-sidebar{
		display: none !important;
	}
	.cke_button__simage{
		display: none !important;
	}
	canvas{position:relative; z-index:1;}
	#refrenceLineTooltip{
		background: #000c;
    	border-radius: 6px;
    	color: #FFF;
		padding: 10px;
    }
	.disabledLi {
		text-decoration: none;
		cursor: not-allowed;

		opacity:0.6;
	}
	.disabledLi a{
		pointer-events:none;
	}

	.ui-rangeSlider .ui-rangeSlider-handle{
		width: 0;
	}
	.ui-rangeSlider-bar{
		background-color: #2196f3 !important;
	}
	.ui-rangeSlider-bar{
		min-width: 1px;
	}
	</style>
</head>
<body prevent-right-click>
	<div class="wrapper" ng-if="checkFlag!=true" >
		<!-- <div class="" rm-Navigation></div> -->
		<!-- ps-container ps-theme-default ps-active-y -->
		<div class="main-panel">
			<!-- ng-show="subNavBarMenu" -->
			<div sub-Navigation ng-show="subNavBarMenu"></div>
			<div class="content" ui-view=''></div>
		</div>	
	</div>
	<div ui-view='' ng-if="checkFlag==true"></div>
	<div class="loader-overlay ng-scope loadingBar" style="display: none;">
	    <div class="loader-content"> 
	        <div class="loader-index">
	            <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" style="width: 70px">
	        </div>
	    </div>
	</div>
	<div class="tooltip" id="refrenceLineTooltip" style="display: none;">

	</div>
</body>
<script>
    L_PREFER_CANVAS = true; // experimental
</script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>-->
<script src="assets/plugins/dc/config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script src="assets/plugins/angular/angular.js" type="text/javascript"></script>
<script src="assets/plugins/angular-ui-router/angular-ui-router.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-ui-util/ui-utils.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
<script src="assets/plugins/angular-oc-lazyload/ocLazyLoad.min.js" type="text/javascript"></script>
<!--<script>
    $.getScript("assets/js/app.js");
</script>-->
<script src="assets/js/app.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript" defer></script>
<script src="assets/js/config.lazyload.js" type="text/javascript" defer></script>
<script src="assets/js/config.js" type="text/javascript" defer></script>
<script src="assets/js/controllers/NavbarCtrl.js" type="text/javascript"></script>
<script src="assets/js/directives/remark-navigation.js" type="text/javascript"></script>
<script src="assets/js/controllers/NavbarsubCtrl.js" type="text/javascript"></script>
<script src="assets/js/directives/sub-navigation.js" type="text/javascript"></script>

 <!-- Custom js -->
<script src="assets/js/directives/angular-cookies-1.0.0rc10.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<!-- common -->
<script src="theme/assets/vendors/bootstrap.min.js"></script>
<script src="theme/assets/vendors/material.min.js"></script>
<script src="theme/assets/vendors/perfect-scrollbar.jquery.min.js"></script>
<script src="theme/assets/vendors/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="theme/assets/vendors/jquery.bootstrap-wizard.js"></script>
<script src="theme/assets/vendors/bootstrap-notify.js"></script>
<!--<script src="theme/assets/vendors/bootstrap-datetimepicker.js"></script>-->
<script src="theme/assets/vendors/jquery-jvectormap.js"></script>
<script src="theme/assets/vendors/nouislider.min.js"></script>
<script src="theme/assets/vendors/jquery.select-bootstrap.js"></script>
<script src="theme/assets/vendors/jquery.datatables.js"></script>
<script src="theme/assets/vendors/sweetalert2.js"></script>
<script src="theme/assets/vendors/jasny-bootstrap.min.js"></script>
<!--<script src="theme/assets/vendors/fullcalendar.min.js"></script>-->
<script src="theme/assets/vendors/jquery.tagsinput.js"></script>
<script src="theme/assets/js/turbo.js"></script>
<script src="theme/assets/js/demo.js"></script>
<script src='assets/plugins/utility/textinsert.js'></script>
<script src='custom-js/underscore.js'></script>
<script src='custom-js/svg.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src='assets/custom-js/moment-with-locales.js'></script>
<!--<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>-->
<script src='assets/custom-js/loading-bar.js'></script>
<script src='assets/custom-js/bootstrap-datetimepicker.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.2/wNumb.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="custom-js/rainbowvis.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
<script src="custom-js/jquery.scrolling-tabs.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>-->
<!--<script>
 var socket =io.connect("http://bigdata.thinklytics.io:3002",{'sync disconnect on unload': true });
 console.log(socket);
</script>-->

</html>