<!-- Rename keys  --> 
<div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rename Column</h4>
            </div> 
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                           <div class="col-sm-12">
	                           	<div class="form-group form-material floating" data-plugin="formMaterial">
	                           		<label class="floating-label">Name</label>
									<input type="text" class="form-control" ng-model="rename.reNameInput">								
								</div>
                           </div>
                       </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="saveRename(rename.reNameInput)">Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> 
<!-- END Rename modal  -->

<div class="modal modal-primary fade stick-up" id="dateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Range Datepicker</span></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row">
                            <div class="col-sm-12">
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Column Name</label>
									<select class="form-control" ng-model="dateColumnName">
										<option></option>
										<option ng-repeat="column in tableColumns" value="{{column}}" ng-if="column.columType=='date' || column.columType=='datetime'">{{column.reName}}</option>
									</select>
								</div>
                            </div>
                            <div class="col-sm-12"> 
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Number Of Timeline's</label>
									<input type="text" class="form-control" ng-model="numberOfColumn">
								</div>
                            </div>
                            <div class="col-sm-12">  
                            	<div class="form-group" data-plugin="formMaterial">
                            		<label>Date Type</label>
									<select class="form-control" ng-model="dateType">
										<option value="month">Month</option>
										<option value="year">Year</option>
									</select>
								</div>
                            </div>
                            
                        </div>
                       
                </form>
            </div>
            <div class="modal-footer">
             	<button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveRangedatepicker(dateColumnName,numberOfColumn,dateType)">Save</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		   </div>     
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--  Chart setting model box -->
<div class="modal fade example-modal-lg" tabindex="-1" id="chartSetting" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chart Setting</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                       <div class="row" ng-if="checkChartType([],['DataTable','Number Widget'])">
                            <div class="col-sm-6">
                            	<div class="form-group" >
                            		<label>Xaxis Data Format</label>
									<select class="form-control" ng-model="chartSettingObject.xAxisDataFormate">
										<option value="" selected>Select Data Format</option>
										<option value="MMM-D">DD MM</option>
										<option value="MMMM">M</option>
										<option value="MMM">m</option>
										<option value="YYYY">Y</option>
										<option value="Do MMMM YYYY">D-M-Y</option>
										<option value="D-MM-YYYY">D-m-Y</option>
										<option value="MMMM Do YYYY">M-D-Y</option>
										<option value="dddd">D</option>
										<option value="MMM Do YY">M-D-y</option>
										<option value="MMM YY">M-y</option>
										<option value="MMM YYYY">M-Y</option>
									</select>
								</div>
                            </div>
                            <div class="col-sm-6">
                            	<div class="form-group" >
                            		<label>Yaxis Data Format</label>
                            		<input type="text" class="form-control" ng-model="chartSettingObject.yAxisDataFormate" placeholder="">
									<!-- <select class="form-control" ng-model="xAxisDataFormate">
										<option></option>
										<option>$</option>
										<option>INR</option>
										<option></option>
									</select> -->
								</div>
                            </div>
                           <div ng-class="(checkChartType(['Line + Bar Chart','Row Chart'])==true) ? 'col-sm-6' : 'col-sm-12'">
                            	<div class="form-group" >
                            		<label>Tooltip Format</label>
                            		<div class="btn-group pull-right">
					                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
					                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="exampleSplitDropdown2" data-toggle="dropdown" aria-expanded="false">
					                      <span class="caret"></span>
					                      <span class="sr-only">Toggle Dropdown</span>
					                    </button>
					                    <ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;margin-left: -125%; ">
					                      
					                      <li role="presentation" ng-repeat="columnName in tableColumns"><a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="inertTooltipText(columnName)">{{columnName.reName}}</a></li>
					                    </ul>
					                </div>
					                <textarea class="form-control" id="tooltip" rows="8" ng-model="chartSettingObject.toolTipFormate"></textarea>
								</div>
                           </div>
                           <div class="col-sm-6" ng-if="checkChartType(['Row Chart'])">
						 	   <div class="form-group">
								   <label>Canvas size</label>
								   <div class="row">
								   	   <!-- <div class="col-sm-6" >
										   Width
										   <input type="text" class="form-control" ng-model="chartSettingObject.canvas.width" value="651px">
									   </div> -->
									   <div class="col-sm-6" >
										   Height
										   <input type="text" class="form-control" ng-model="chartSettingObject.canvas.height" value="329px">
									   </div>									 
								   </div>
							   </div>
						   </div>
                           <div class="col-sm-6" ng-if="checkChartType(['Line + Bar Chart'])" >
		 				 	   <div class="form-group">
								   <label>Type</label> 
								   <div class="row selected_Measure ">
								   	   <div class="col-sm-12 " >
										   <div ng-repeat="measure in tableSettingCheckbox" ng-if="measure.dataKey=='Measure'"   >	
   									   		   <label style="width:83%;">{{measure.reName}}</label>
											   <select class="margin_top_bottom_five" ng-model="chartTypeLineBar[measure.reName]">
													<option value="line">Line</option>
													<option value="bar">Bar</option>
											   </select>
										   </div>
									   </div>									 
								   </div>
							   </div>
						   </div>				   
						   <div class="col-sm-6">
							   <div class="form-group">
								   <label>Group Color</label>
					   		   	  	<select class="form-control" data-plugin="select2" ng-model="chartSettingObject.groupColor"
					                  data-allow-clear="true">
					                    <option></option>
					                    <optgroup label="Measure">
					                      <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure.reName}}">
											{{measure.reName}}
										  </option>
					                    </optgroup>
					                    <optgroup label="Dimension">
					                      <option ng-repeat="dimension in tableColumns" ng-if="dimension.dataKey=='Dimension'" value="{{dimension.reName}}">
											{{dimension.reName}}
										  </option>
					                    </optgroup>
					                  </select>
							   </div>
						   </div> 
                            <div class="col-sm-6">
                            	<div class="form-group" >
                            		<label>Font Size</label>
                            		<input type="text" class="form-control" ng-model="chartSettingObject.fontSize" placeholder="" value="">
								</div>
                            </div>
                        </div>
                        <div class="row" ng-if="checkChartType(['DataTable'])">
                            <div class="col-sm-12">
                            	
								<div class="row">
									<div class="col-sm-12">
										Table Header Reorder
									</div>
									<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;"> 
										<ul class="sortable">
									        <li class="ui-state-default" ng-repeat="tableColumn in Attributes.tableColumnOrder" id="{{tableColumn}}"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
									        	{{tableColumn.columnName}}
									        </li>
									    </ul>
									</div>
								</div>
                            </div>
                        </div>
	                	<div class="row" ng-if="checkChartType(['Number Widget'])">
                            <div class="col-sm-12">
								 <div class="row col-md-12" style="padding: 5%;padding-left: 0px;" >
                            		<div class="col-sm-3">
                            			<label>Font Size</label>
                            		</div>
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-12">
												<input type="text" class="form-control" ng-model="numberStyle.fontSize">
											</div>
										</div> 
									</div>
								</div>
								<div class="row col-md-12" style="padding: 5%;padding-left: 0px;" >
                            		<div class="col-sm-3">
                            			<label>Font Color</label>
                            		</div>
									<div class="col-sm-9">
										<div class="row">
											<div class="col-sm-12">
									            <!-- <input type="text" class="colorPicker" value="#79d1c9" ng-model="numberStyle.fontColor"> -->
									            <div class="example">
								                  <input type="text" class="asColorpicker form-control" data-plugin="asColorPicker"
								                  data-mode="gradient" value="#79d1c9" ng-model="numberStyle.fontColor"/>
								                </div>
											</div>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer" ng-if="checkChartType([],['DataTable','Number Widget'])">
                <button type="button" class="btn btn-default" ng-click="saveDataFormate(tableSetting,subCategory)">Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-footer" ng-if="checkChartType(['Number Widget'])">
                <button type="button" class="btn btn-default" ng-click="numberSetting(numberStyle)">Save</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  Chart setting model box -->
<div class="modal modal-primary fade stick-up" id="pivot-table" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Pivot Table</span></h4>
            </div>
            <div class="modal-body">
            	<div id="output" style="margin: 30px;overflow: auto;max-height: 350px;"></div>
            	<div class="row">
                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right"> 
                        <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="pivotTableSave()">Save</button>
                    </div>
               	</div> 
            </div>
      </div>
   </div>
</div>


<!--  Building Comparison model box -->
<div class="modal modal-primary fade stick-up" id="Building-Comparison" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Building Comparison</h4>
            </div>            
            <div class="modal-body">            	
                <form role="form" name="formValidation">
                    <div class="row" ng-if="checkChartType([],['DataTable','Number Widget'])">
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Number of Rows</label>
                         		<input type="text" class="form-control" ng-model="BuildingObject.row" >									
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Number of Columns</label>
                         		<input type="text" class="form-control" ng-model="BuildingObject.column" >									
							</div>
                         </div>                           
                     </div>                                        	
                    <div class="row">
	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="BuildingData(BuildingObject)">Save</button>
	                    </div>
                	</div>
                </form> 
           </div>           
      </div>
   </div>
</div>



<!--  Male-Female Comparison model box -->
<div class="modal modal-primary fade stick-up" id="Male_Female-Comparison" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button>
                <h4>Male-Female Comparison</h4>
            </div>
            <div class="modal-body">            	
                <form role="form" name="formValidation">
                    <div class="row" ng-if="checkChartType([],['DataTable','Number Widget'])">
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Dimension For Gender</label>
								<select class="form-control" data-plugin="select2" ng-model="genderObject.dim_gender" data-allow-clear="true">
				                    <option ng-repeat="dimension in tableColumns" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
										{{dimension.reName}}
									</option>					                    
				                 </select>
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Measure For Gender</label>
								<select class="form-control" data-plugin="select2" ng-model="genderObject.mea_gender" data-allow-clear="true">
					                <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">
										{{measure.reName}}
								    </option>
				                 </select>
							</div>
                         </div>


<!--                          
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Male Format</label>
								<select class="form-control" ng-model="genderObject.male">
									<option value="" selected>Select Male Format</option>
									<option value="MALE">MALE</option>
									<option value="Male">Male</option>
									<option value="M">M</option>
									<option value="m">m</option>
								</select>
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Female Format</label>
								<select class="form-control" ng-model="genderObject.female">
									<option value="" selected>Select Female Format</option>
									<option value="FEMALE">FEMALE</option>
									<option value="Female">Female</option>
									<option value="F">F</option>
									<option value="f">f</option>
								</select>
							</div>
                         </div>  
 -->                         

 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="PopulateGenderData(genderObject)">Populate Gender Format</button>	
	                    </div>
                         <div class="col-sm-6" style="height: 60px;" >
                         	<div class="form-group" >
                         		<label class="display_Label" style="display: none" >Male Format </label>
								<select class="ng-hide" id="male_MultiSelect" ng-model="genderObject.male" multiple="multiple" >
					                <option ng-repeat="maleFormat in bind_gender_data" value="{{maleFormat}}">
										{{maleFormat}}
								    </option>
				                </select>
							</div>
                         </div>
                         <div class="col-sm-6" style="height: 60px;" >
                         	<div class="form-group" >
                         		<label class="display_Label" style="display: none" >Female Format </label>
								<select class="ng-hide" id="female_MultiSelect" ng-model="genderObject.female" multiple="multiple" >
					                <option ng-repeat="femaleFormat in bind_gender_data" value="{{femaleFormat}}">
										{{femaleFormat}}
								    </option>
				                </select>
							</div>
                         </div>                                                                        
                     </div> 
                     
                     <br><br>                                       	
                    <div class="row">
 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="GenderData(genderObject)">Save</button>	
	                    </div>
                	</div>
                	
                	
                </form> 
           </div>           
      </div>
   </div>
</div>




<!--  Map Comparison model box -->
<div class="modal modal-primary fade stick-up" id="Map-Comparison" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button>
                <h4>Map Layering</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                    <div class="row" >
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Select Latitude </label>
								<select class="form-control" data-plugin="select2" ng-model="mapObject.lat_map" data-allow-clear="true">
				                    <option ng-repeat="dimension in tableColumns" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
										{{dimension.reName}}
									</option>
			                        <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
										{{measure.reName}}
								    </option>
				                 </select>
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Select Longitude </label>
								<select class="form-control" data-plugin="select2" ng-model="mapObject.long_map" data-allow-clear="true">
				                    <option ng-repeat="dimension in tableColumns" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
										{{dimension.reName}}
									</option>
			                        <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
										{{measure.reName}}
								    </option>
				                 </select>
							</div>
                         </div> 
                                             
                       
                       
					<div class="row col-lg-12 col-sm-12 " ng-repeat="arr in Multi_Arr" >
						<div class="row col-lg-12 col-sm-12 ">
	                         <div class="col-sm-5" >
	                         	<div class="form-group" >
	                         		<label>Select Measure </label>
									<select class="form-control" data-plugin="select2" ng-model="mapObject.radius_map[arr]" >
					                    <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
											{{measure.reName}}
									    </option>
					                 </select>
								</div>
	                         </div> 
							<div class="col-sm-5" >
	                         	<div class="form-group"  >
	                         		<label >Select Radius </label>
									<select class="form-control" data-plugin="select2" ng-model="mapObject.measure_map[arr]" >
					                    <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
											{{measure.reName}}
									    </option>
					                </select>
								</div>
	                         </div>					
							<div class="col-sm-2" style=" margin-top: 4%" >
	                       		<span>
									<i class="fa fa-plus" ng-click="addRadius()" style="cursor: pointer;"></i>
								</span> 
	                         </div>                         
							<div class="col-sm-5" >
	                         	<div class="form-group"  >
	                         		<label >Group Color </label>
									<select class="form-control" data-plugin="select2" ng-model="mapObject.multiGroupColor_map[arr]" >
										<option></option>
					                    <option ng-repeat="dimension in tableColumns" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
											{{dimension.reName}}
										</option>
					                </select>
								</div>
	                         </div>					
							<div class="col-sm-5" >
                            	<div class="form-group" >
                            		<label>Tooltip </label>
                            		<div class="btn-group pull-right">
					                    <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
					                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="toggleDropdown" data-toggle="dropdown" aria-expanded="false">
					                      <span class="caret"></span>
					                      <span class="sr-only">Toggle Dropdown</span>
					                    </button>
					                    <ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;">
					                      	<li role="presentation" ng-repeat="columnName in tableColumns">
					                      		<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="insertTooltipTextMap(columnName, arr)">{{columnName.reName}}</a>	

<!-- 				                      		<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="insertTooltipTextMap(columnName, $index)">{{columnName.reName}}</a>	-->					                      	</li>
					                    </ul>
					                </div>
					                <textarea class="form-control" id="tooltipMap" rows="2" ng-model="mapObject.multipleTooltip[arr]"></textarea>	
<!-- 					                <textarea class="form-control" id="tooltipMap" rows="2" ng-model="mapObject.multipleTooltip[$index]"></textarea>	 -->
								</div>	                         	
	                         </div>					
						</div>
					</div>
					
					
<!-- 
					<div class="row col-lg-12 col-sm-12 ">
                         <div class="col-sm-5">
                         	<div class="form-group" >
                         		<label>Select Measure </label>
								<select class="form-control" data-plugin="select2" id="radius_map_1" ng-model="mapObject.radius_map" data-allow-clear="true">
				                    <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
										{{measure.reName}}
								    </option>
				                 </select>
							</div>
                         </div> 
						<div class="col-sm-5"  >
                         	<div class="form-group" >
                         		<label >Select Radius </label>
								<select class="ng-hide" id="layer_MultiSelect" id="measure_map_1" ng-model="mapObject.measure_map" multiple="multiple" >
				                    <option ng-repeat="measure in tableColumns" ng-if="measure.dataKey=='Measure'" value="{{measure}}">		
										{{measure.reName}}
								    </option>
				                </select>
							</div>
                         </div>					
						<div class="col-sm-2" style="height: 60px; margin-top: 4%" >
                       		<span>
								<i class="fa fa-plus" ng-click="addRadius()" style="cursor: pointer;" id="RemoveMultipleRadius"></i>
							</span> 
                         </div>                         
					</div>
 -->					
					
					

<!--                          
						<div class="col-sm-2" style="height: 60px; margin-top: 4%" >
                       		<span class="pull-right" ng-click="removeRadius()" style="cursor: pointer;" id="AddMultipleRadius" >
								<i class="fa fa-minus"></i> 
							</span> &nbsp;&nbsp;&nbsp;
                       		<span class="pull-right" ng-click="addRadius()" style="cursor: pointer;" id="RemoveMultipleRadius" >
								<i class="fa fa-plus"></i> 
							</span> 
                         </div>
 -->

                         
                                                                                               
                     </div>                      
                     <br><br>                                       	
                    <div class="row">
 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="MapData(mapObject)">Save</button>	
	                    </div>
                	</div>                	
                </form> 
           </div>           
      </div>
   </div>
</div>




<!--  Role Assign box -->
<div class="modal modal-primary fade stick-up" id="RoleAssign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">  
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Role Assign</h4>
            </div>            
            <div class="modal-body">            	
                <form role="form" name="formValidation">
                
					<div class="row" >	
						<div class="col-lg-12">
							<table class="table">
								<tr>
									<th>Page Name</th>
									<th>View</th>
									<th>Add</th>
									<th>Edit</th>
									<th>Delete</th>
									
								</tr>
								<tr>
									<td>Datasource</td>
									<td><input type="checkbox" ng-model="userRole.datasource.view"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.add"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.edit"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.delete"></td>
								</tr>
								<tr>
									<td>Metadata</td>
									<td><input type="checkbox" ng-model="userRole.metadata.view"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.add"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.edit"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.delete"></td>
								</tr>
								<tr>
									<td>Dashboard</td>
									<td><input type="checkbox" ng-model="userRole.dashboard.view"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.add"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.edit"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.delete"></td>
								</tr>
								<tr>
									<td>Public View</td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.view"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.add"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.edit"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.delete"></td>
								</tr>
							</table>
						</div>
						<div class="col-lg-12 ">
							<button class="btn btn-primary pull-right" ng-click="assignRoleData(userRole)" style="float: right;">Save</button>
						</div>
				    </div>
                                	                	
                </form> 
           </div>           
      </div>
   </div>
</div>