<style>
    .card {
        margin: 0px;
    }

    .card .nav-pills, .card .tab-content {
        margin-top: 0px;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        font-size: 14px;
    }

    .activeAggregates {
        background-color: #2196F3;
        color: #FFFFFF !important;
    }

    .custSize {
        width: 50px;
    }

    #minimizeSidebar {
        display: none;
    }

    @media ( min-width: 992px) {
        .sidebar-mini .sidebar {
            width: 140px;
            position: fixed;
        }
    }

    @media ( min-width: 992px) {
        .sidebar-mini .main-panel {
            width: calc(100% - 0px);
            margin-left: 0px;
        }
    }

    .off-canvas-sidebar .nav i, .sidebar .nav i {
        margin-left: 0px;
    }

    @media ( min-width: 992px) {
        .sideSubBar {
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
            position: fixed;
            width: 24%;
            height: 95vh;
        }

        .sideSubBarWidth1 {
            width: 26%;
        }

        .sideSubBarWidth2 {
            position: fixed;
            width: 64%;
            height: 90vh;
            margin-left: 25%;
        }
    }

    .sidebar .nav li:first-child > a, .off-canvas-sidebar .nav li:first-child > a {
        margin: 5px 0px;
    }

    @media ( min-width: 992px) {
        .sidebar-mini .sidebar .nav {
            margin-top: 10px;
        }
    }

    .chart-legend {
        min-height: 100px;
    }

    .btn-group, .btn-group-vertical {
        position: relative;
        margin: 0px 1px;
    }

    .li_box {
        border: 2px solid #FFF;
    }

    .li-box-border {
        border: 2px solid #2196f3;
    }

    .badge {
        width: 20px;
        height: 17px;
    }

    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .9);
        color: white;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 9999999;
        font-family: 'Open Sans', sans-serif !important;
    }

    .modal .modal-dialog {
        margin-top: 60px;
    }

    @media ( min-width: 992px) {
        .main-panel > .content {
            margin-left: 145px;
        }
    }

    .sidebar-mini .sidebar .nav li > a, .compact-menu .sidebar .nav li > a {
        margin: 5px 0px;
    }

    .icon svg path {
        fill: #2196f3 !important;
    }

    .icon svg {
        width: 25px;
        height: 25px;
    }

    .k-datepicker, .startdate, .enddate {
        width: 50%;
        display: inline;
    }

    .nav > li > a {
        padding: 10px 12px;
    }

    .navbar-toggle {
        display: block;
    }

    body {
        overflow: hidden;
    }
</style>

<div class="sidebar sideBarShow">
    <div class="sidebar-wrapper">
        <ul class="nav nav-pills nav-pills-rose nav-pills-icons" style="padding: 0px 15px 15px 15px;">
            <li class="active" style="width: 108px;">
                <a href="javascript:void(0);" role="tab" data-toggle="tab">
                    <i class="fa fa-line-chart "></i> Charts
                </a>
            </li>
        </ul>
        <ul class="nav twocolumns" data-columns="3" style="height: 58vh; overflow: auto;">
            <li ng-repeat="chart in charts" rel="tooltip" title="{{chart.name}}">
                <a href="javascript:void(0);" ng-click="chartSelect($index,chart);chartDraw(chart,'chart')" class="custBorderHover icon" id="{{chart.key}}">
                    <img ng-src="{{chart.value}}" style="width: 25px; height: 25px;" class="svg">
                </a>
            </li>
        </ul>
        <footer class="chartFooter">
            <ul class="nav twocolumnsMain" data-columns="3" style="width: 100%;">
                <li rel="tooltip" title="Create Calculation">
                    <a href="javascript:void(0);" ng-click="columnCalculation(measure,$index)">
                        <i class="fa fa-calculator customIconColor" aria-hidden="true"></i>
                    </a>
                </li>
                <li rel="tooltip" title="Create Group">
                    <a href="javascript:void(0);" ng-click="createCategoryModel()">
                        <i class="fa fa-object-group customIconColor" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-12 sideSubBarWidth1 drawerOpen">
        <div class="card sideSubBar">
            <div class="card-header card-header-text">
                <ul class="nav nav-pills nav-pills-rose nav-pills-icons">
                    <li class="active">
                        <a href="javascript:void(0);#metadata" role="tab" data-toggle="tab">
                            <i class="fa fa-database"></i>Metadata
                        </a>
                    </li>
                    <li ng-show="filterTab">
                        <a href="javascript:void(0);#filterTab" data-toggle="tab">
                            <i class="fa fa-filter"></i>Filter
                        </a>
                    </li>
                    <li ng-show="filterTab">
                        <a href="javascript:void(0)" toggle="tab" ng-click="addReport()">
                            <i class="fa fa-plus"></i>Add Chart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-content table-responsive">
                <div class="tab-content">
                    <div class="tab-pane active" id="metadata" style="min-height: 400px;">
                        <!--<select class="form-control" data-container="body" ng-model="metadataSelect.name" data-container="body"
                                ng-change="selectDataSource(querySelector)" disabled="disabled">
                            <option ng-repeat="list in queryList" value="{{list.metadataId}}">{{list.name}}</option>
                        </select>-->
                        <input type="text" ng-model="SelectedNameShow" class="form-control" disabled>
                        <div ng-show="graphAxis">
                            <h4 class="custHeader">Measure</h4>
                            <ul class="list-unstyled example measurePadding" style="height: 23vh; overflow: auto;">
                                <li class="margin-bottom-15" data-ng-repeat="measure in tableColumns | orderBy:'reName'" ng-if="measure.dataKey=='Measure'">
                                    <div style="display: inline;" id="reBind_{{measure.reName}}">
                                        <label title="{{measure.reName}}({{measure.columType}})">
                                            <input type="checkbox" value="{{measure}}" ng-model="Attributes.checkboxModelMeasure[measure.reName]" ng-false-value='0' ng-true-value='{{measure}}' ng-click="chartDraw(measure,'measure')" name="optionsCheckboxes" class="chkBoxMeaDim" ng-disabled="checkChart" >
                                            <span class="badge badge-info" title="{{measure.columType}}">{{measure.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{measure.reName | limitTo:25}}{{measure.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                    <div class="btn-group" style="float: right; display: inline; padding-right: 10px;">
                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}" data-toggle="dropdown" ng-click="measureDimensionDropdown('measure',$index)" aria-hidden="true" aria-expanded="false"></i>
                                        <ul class="dropdown-menu custDropdownMeasure" style="position: fixed;">
                                            <li class="dropdown-submenu"><a href="javascript:void(0);">Aggregate</a>
                                                <ul class="dropdown-menu subdropDown" style="height:125px; overflow: auto;">
                                                    <li ng-class="((measure.formula!=undefined) && ((measure.formula.indexOf('dcount(')!=-1) || (measure.formula.indexOf('min(')!=-1) || (measure.formula.indexOf('max(')!=-1) || (measure.formula.indexOf('AGGR(')!=-1))) ? 'disabledLi' : ''">
                                                        <a data-ng-repeat="aggregate in aggregates" ng-class="(Attributes.aggregateModel[measure.reName].key==aggregate.key) ? 'activeAggregates' : ''" ng-click="onAggregateSelect(measure,aggregate); chartDraw(aggregate,'aggregate')">
                                                            {{aggregate.value}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="javascript:void(0);">Running Total</a>
                                                <ul class="dropdown-menu subdropDown" style=" overflow: auto;">
                                                    <li ng-click="applyRunningTotal(measure,true);">
                                                        <a href="javascript:void(0);" ng-class="(Attributes.dataFormat.runningTotal[measure.reName]==true) ? 'activeAggregates' : ''" >Yes</a>
                                                    </li>
                                                    <li ng-click="applyRunningTotal(measure,false);" ng-if="Attributes.dataFormat.runningTotal!=undefined">
                                                        <a href="javascript:void(0);" ng-class="(Attributes.dataFormat.runningTotal[measure.reName]==false || Attributes.dataFormat.runningTotal=='') ? 'activeAggregates' : ''" >No</a>
                                                    </li>
                                                    <li ng-click="applyRunningTotal(measure,false);" ng-if="Attributes.dataFormat.runningTotal==undefined">
                                                        <a href="javascript:void(0);" class="activeAggregates" >No</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="javascript:void(0);">Type Cast</a>
                                                <ul class="dropdown-menu subdropDown" style="height: 125px; overflow: auto;">
                                                    <li ng-repeat="type in dataType('measure')" ng-click="typeCast(measure,type);" ng-if="type.type!=measure.columType"><a>{{type.name}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="moveToDimMeasure('Dimension',measure.columnName,Attributes.checkboxModelMeasure[measure.reName])">Move to Dimension</a>
                                            </li>
                                            <li class='m-l-5c' >
                                                <a href="javascript:void(0);" ng-click="renameKeys(measure,$index)" >Rename</a>
                                            </li>
                                            <!-- <li ng-if="measure.type!='custom'")><a href="javascript:void(0);" ng-click="columnCalculation(measure,$index)">Create Calculation</a></li> -->
                                            <li ng-if="measure.type=='custom'">
                                                <a href="javascript:void(0);"ng-click="columnCalculationEdit(measure,$index)">Edit Calculation</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="showSwal('warning-message-and-cancel', 'column', measure.reName)">Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <h4 class="custHeader">
                                Dimension
                                <!-- <a href="javascript:void(0)" data-placement="top" class="tooltip-primary pull-right" title="Add Report" data-toggle="tooltip" role="button" ng-click="addReport()">
                                        <i class="fa fa-plus"></i>
                                    </a> -->
                            </h4>
                            <ul class="list-unstyled example dimensionPadding" style="height: 24vh; overflow: auto;">
                                <li class="margin-bottom-15" ng-repeat="dimension in tableColumns | orderBy:'reName'" ng-if="dimension.dataKey=='Dimension'">
                                    <div style="display: inline;" id="reBind_{{dimension.reName}}">
                                        <label title="{{dimension.reName}}({{dimension.columType}})">
                                            <input type="checkbox" value="{{dimension}}" ng-model="Attributes.checkboxModelDimension[dimension.reName]" ng-true-value='{{dimension}}' ng-false-value='0' ng-click="chartDraw(dimension,'dimension')" name="optionsCheckboxes" class="chkBoxMeaDim" ng-disabled="checkChart">
                                            <span class="badge badge-info" title="{{dimension.columType}}">{{dimension.columType.substring(0,1) | uppercase}}</span>&nbsp;&nbsp;
                                            {{dimension.reName | limitTo:25}}{{ dimension.reName.length > 25 ? '...' : ''}}
                                        </label>
                                    </div>
                                    <div class="btn-group" style="float: right; display: inline; padding-right: 10px;">
                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}" ng-click="measureDimensionDropdown('measure',$index)" aria-hidden="true" data-toggle="dropdown" aria-expanded="false" style="cursor: pointer;"></i>
                                        <ul class="dropdown-menu custDropdownMeasure" style="position: fixed;">
                                            <li class="dropdown-submenu"><a href="javascript:void(0);">Type Cast</a>
                                                <ul class="dropdown-menu subdropDown" style="height: 125px; overflow: auto;">
                                                    <li ng-repeat="type in dataType('dimension')" ng-click="typeCast(dimension,type);" ng-if="type.type!=dimension.columType">
                                                        <a>{{type.name}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" ng-click="moveToDimMeasure('Measure',dimension.columnName,Attributes.checkboxModelDimension[dimension.reName])">MoveTo Measure</a>
                                            </li>
                                            <li class='m-l-5c' ng-if="dimension.createdby==undefined">
                                                <a href="javascript:void(0);" ng-click="renameKeys(dimension,$index)">Rename</a>
                                                <!--<a href="javascript:void(0);" ng-click="renameKeys(dimension,$index)" ng-if="dimension.type=='custom' && dimension.formula==undefined">Rename</a>-->
                                            </li>
                                            <!-- <li ng-if="dimension.type!='custom'"><a href="" ng-click="createCategory(dimension)">Create Group</a></li> -->
                                            <li ng-if="dimension.type=='custom' && dimension.formula==undefined">
                                                <a href="javascript:void(0);" ng-click="editGroupCategory(dimension)">Edit</a>
                                            </li>
                                            <li ng-if="dimension.type=='custom' && dimension.formula!=undefined">
                                                <a href="javascript:void(0);" ng-click="columnCalculationEdit(dimension,$index)">Edit Calculation</a>
                                            </li>
                                            <li><a href="javascript:void(0);" ng-click="showSwal('warning-message-and-cancel', 'column', dimension.reName)">Delete</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane" id="filterTab">
                        <div class="card-block">
                            <div class="custPanel">
                                <div>
									<span> Filter
										<a href="javascript:void(0);" class="btn btn-primary btn-sm pull-right" data-placement="bottom" data-original-title="Order Cascade Filter" ui-jq="tooltip" data-toggle="tooltip" role="button" ng-click="OrderCascadeFilter()"><i style="transform: rotate(90deg);" class="fa fa-exchange"></i></a>
                                        <!--<a href="javascript:void(0);" class="btn btn-primary btn-sm pull-right" data-placement="bottom" data-original-title="Add Rangepicker" ui-jq="tooltip" data-toggle="tooltip" role="button" ng-click="dateModal()">-->
                                            <!--<i class="fa fa-calendar"></i>-->
                                        <!--</a>-->
										<select id="filter" data-style="select-with-transition" multiple title="Choose Filter" data-size="7" data-container="body" data-ng-model="checkboxModel" data-live-search="true" ng-change="filterAdd()">
											<option disabled>Choose Filter</option>
											<option ng-repeat="column in tableColumns | orderBy:'reName' " value="{{column}}">{{column.reName}}</option>
									    </select>
                                    </span>
                                </div>
                                <!--<div style="min-height: 310px; max-height: 310px; overflow: auto; overflow-x: hidden;">-->
                                <div style="height: 310px; overflow-x: hidden; overflow-y: auto;">
                                    <div ng-repeat="filter in filerTemp" class="row" style="padding-top: 20px; width: 100%; padding-left: 16px;">
                                        <div class="col-sm-8" style="text-align: left;" title="{{filter.reName}}">
                                            <h5>{{filter.reName | limitTo:16}}{{ filter.reName.length > 16 ? '...' : ''}}</h5>
                                        </div>
                                        <div class="col-sm-4">
                                            <label>
                                                <input type="checkbox" id="{{filter.key}}" ng-click="checkCascadeFilter(filter.key)" value="{{filter.cascade}}" ng-checked="{{filter.cascade}}">Cascade
                                            </label>
                                        </div>
                                        <!-- <div class="col-sm-9" style="text-align: right;">
                                                <i class="fa fa-trash-o"  ng-click="custFilterRemove($index)" style="cursor: pointer;margin-top:6%;"></i>
                                            </div> -->
                                        <div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='bigint' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
                                            <div class="slider slider-info" id="{{filter.key}}-Filter" ></div>
                                        </div>
                                        <!--
                                            <div class="col-sm-12" ng-if="filter.value=='date'" ng-click="filterColumn(filter)" style="padding: 0px">
                                                <div class="col-sm-12 col-md-6" style="padding: 0px">
                                                    <input class="startdate" />
                                                </div>
                                                <div class="col-sm-12 col-md-6" style="padding: 0px">
                                                    <input class="enddate" />
                                                </div>
                                            </div>
                                         -->
                                        <div class="container" ng-if="filter.value=='date'" ng-click="filterColumn(filter,$index)" style="padding: 0px">
                                            <div class='col-sm-12'>
                                                <div class='col-sm-1'>
                                                    <div class="form-group">
                                                        <div class='input-group date'>
                                                            <input class="startdate form-control" type='text'/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-1'>
                                                    <div class="form-group">
                                                        <div class='input-group date'>
                                                            <input class="enddate form-control" type='text'/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-1'>
                                                    <a href="javascript:void(0)" ng-click="cascadeDateFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="filter.value=='datetime'" ng-click="filterColumn(filter,$index)" style="padding: 0px">
                                            <div class='col-sm-12'>
                                                <div class='col-sm-12'>
                                                    <div class="form-group">
                                                        <div class='input-group date'>
                                                            <input class="startdatetime form-control" type='text'/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-10'>
                                                <div class="form-group">
                                                    <div class='input-group date'>
                                                        <input class="enddatetime form-control" type='text'/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='col-sm-2'>
                                                <a href="javascript:void(0)" ng-click="cascadeDateFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
                                            <div class="form-material">
                                                <select id="filterSelect_{{$index}}" data-container="body" data-style="select-with-transition" title="Select Filter" data-size="7" ng-model="allFilters[filter.key]['filterValue']" ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" multiple data-actions-box="true">
                                                    <option ng-repeat="filterData in filtersTo[filter.key] | orderBy"  value="{{filterData}}" ng-if="filterData" selected>
                                                        {{filterData}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-repeat="rangePicker in rangeObject" style="padding-top: 20px; width: 100%; padding-left: 16px;">
                                        <div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)">
                                            <div class="row">
                                                <div class="col-sm-9" style="text-align: left;">
                                                    <h5>{{rangePicker.key.columnName}}-{{i}}</h5>
                                                </div>
                                                <div class="col-sm-3" style="text-align: left;">
                                                    <i class="fa fa-trash-o" ng-click="timeLineDelete(rangePicker)" style="cursor: pointer; margin-top: 30%;"></i>
                                                </div>
                                                <div class="container" ng-click="filterRangeColumn($index, rangePicker.key.columnName)" style="padding: 0px">
                                                    <div class='col-sm-12'>
                                                        <div class='col-sm-1'>
                                                            <div class="form-group">
                                                                <div class='input-group date'>
                                                                    <input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text'/>
                                                                    <!--<input class="rangeStartFilter dateTimeLine{{$index}} form-control" type='text' /> 	 -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='col-sm-1'>
                                                            <div class="form-group">
                                                                <div class='input-group date'>
                                                                    <input class="rangeEndFilter{{$index}} dateTimeLineEnd form-control" type='text'/>
                                                                    <!--<input class="rangeEndFilter dateTimeLine{{$index+1}} form-control" type='text' />                       -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="filerTemp.length>0" style="float: right;">
                                    <button class="btn btn-primary right" ng-click="allFilterApply()">Filter</button>
                                </div>
                                <!--<footer class="chartFooter" ng-if="filerTemp.length>0" style="width: 21%;">-->
                                    <!--<button class="btn btn-primary right" style="float: right" ng-click="allFilterApply()">Filter</button>-->
                                <!--</footer>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-12 sideSubBarWidth2" style="overflow: auto;padding: 0px;">
        <div class="col-sm-12" ng-if="dashboardPrototype.reportContainers.length==0" style="margin-top: -11px;padding: 0px;">
            <div class="widget widget-shadow" style="background: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 10px; top: 20px; margin: 11px; left: 20px; width: 866px; height: 90vh;">
                <div style="text-align: center;">
                    <h5 style="color: #777; padding-top: 28%;">
                        <i class="fa fa-database"></i> Select Metadata
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 screenSize" ng-if="dashboardPrototype.reportContainers.length>0" style="padding: 0px;">
            <div class="col-md-6 col-sm-6">
                <input class="form-control" placeholder="Dashboard Name" ng-model='dashName.dashboardName' style="background: #FFF; padding: 10px; height: 40px;">
            </div>
            <div class="col-md-6 col-sm-6">
                <!--<button class="btn btn-info btn-md" style="margin: 0px;" ng-click="updateMetadata()">Metadata Edit</button>-->
                <button class="btn btn-info btn-md" style="margin: 0px;" ng-click="updateDashboard()">Update</button>
            </div>
        </div>
        <div class="screenSize" style="padding: 0px;">
            <div class="col-sm-12" data-gridster="dashboardCommonSettings" id="dashboard-image">
                <div class="widget widget-shadow li_box" data-ng-repeat="reportContainer in dashboardPrototype.reportContainers" id="li_{{reportContainer.id}}" ng-click="addBorder(reportContainer.id)" data-gridster-item="reportContainer" style="background: #FFF; top: 0px; z-index: auto;">
                    <div class="panel-heading">
                        <h5 class="panel-title" style="line-height: 0px; padding-top: 0px;">
                            <div class="row">
                                <div class="form-group form-material col-sm-5 my-class" style="font-size: 30px; cursor: move;">
                                    <input ng-model="reportContainer.name" class="form-control" style="font-weight: 500; font-size: 16px; line-height: 20px; color: #000;">
                                </div>
                                <!-- <div class="col-sm-2 " style="text-align: center;">
                                                     <i class="fa fa-arrows-alt my-class" style="font-size: 30px;cursor: move;"></i>
                                                </div> -->
                                <div class="col-sm-7">
                                    <span class="pull-right margin-pull-rights" style="padding-top: 16px; padding-right: 10px;">
                                        <div class="dropdown" style="display: inline;">
                                            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
												<li ng-if="reportContainer.chartType != 'Pivot Table Customized' && reportContainer.chartType != 'Number Widget' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Text/Image'">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="excludeIncludeKey.addRemove()">Exclude/Include</a>
												</li>
                                                <li ng-if="reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='Bubble Chart' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text/Image'">
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="chartSetting(reportContainer.chartType)">Setting</a>
                                                </li>
												<li ng-if="reportContainer.chartType=='Text/Image' ">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="TextImageChartSetting()">Setting</a>
												</li>
												<li ng-if="reportContainer.chartType=='Map' ">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="MapChartSetting()">Setting</a>
												</li>
												<li ng-if="reportContainer.chartType=='Bubble Chart' ">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="BubbleChartSetting()">Setting</a>
												</li>
												<li ng-if="reportContainer.chartType=='Male & Female Comparison' ">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="GenderChartSetting()">Setting</a>
												</li>
												<li ng-if="reportContainer.chartType=='Pivot Table Customized' ">
													<a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="PivotSetting()">Setting</a>
												</li>
                                                <li ng-if="reportContainer.chartType!='X Table' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Text'">
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="resetChart()"> Reset </a>
                                                </li>
                                                <li ng-if="reportContainer.chartType=='Number Widget'">
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="notificationEmail.modal()">Notification/Email</a>
                                                </li>
                                                <li ng-if="reportContainer.chartType == 'Pivot Table Customized'">
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="pivotCust_ShowTable(reportContainer.id)">Show</a>
                                                </li>
                                                <li ng-if="reportContainer.chartType == 'Pivot Table Customized'">
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="pivotCust_EditDragDrop(reportContainer.id)">Edit</a>
                                                </li>
                                                <li>
                                                    <a class="my-class" style="font-size: 16px; cursor: pointer;" ng-click="showSwal('warning-message-and-cancel', 'report', reportContainer.id)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </span>
                                    <span class="pull-right margin-pull-rights" style="padding-top: 16px; padding-right: 10px;">
                                        <div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Text/Image' ">
                                            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                <!-- Legends -->
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select"></ul>
                                        </div>
                                        <div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
                                            <button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                                <!-- Legends -->
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}"></ul>
                                       </div>
                                    </span>
                                </div>
                            </div>
                        </h5>
                    </div>


                    <div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
                        <img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
                    </div>
                    <div style="margin-top: 15%; text-align: center;" data-ng-show="showInfo[reportContainer.id]" ng-if="reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Bubble Chart' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Map' ">
                        <h5 style="color: #777;">{{chartErrorText[reportContainer.id]}}</h5>
                    </div>
                    <div class="col-sm-12" id="error_{{reportContainer.id}}" style="display: none;margin-top: 20%;text-align: center;" ng-if="reportContainer.chartType!='Number Widget'">
                        <h5 class="text-danger"></h5>
                    </div>
                    <div class="row" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Building Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text/Image' ">
                        <div class="col-sm-12" style="overflow: hidden; margin-left: 30px;">
                            <div class="widget-content" ng-class="(reportContainer.chartType=='Line Chart' || reportContainer.chartType=='Area Chart' || reportContainer.chartType=='Bar Chart' || reportContainer.chartType=='Row Chart' || reportContainer.chartType=='Bubble Chart' || reportContainer.chartType=='Composite Chart' || reportContainer.chartType=='Line + Bar Chart' || reportContainer.chartType=='Dual Axis Chart' || reportContainer.chartType=='Funnel Chart') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"></div>
                        </div>
                    </div>


                    <div class="row" ng-if="reportContainer.chartType=='Map' || reportContainer.chartType=='Pivot Table Customized'" style="overflow: auto; height: auto;">
                        <div class="col-sm-12" style="overflow: hidden; padding-left: 4%; ">
                            <!-- Pivot table-->
                            <!--Pivot drag and drop area for pivot table-->
                            <div class="col-sm-12" ng-if="reportContainer.chartType=='Pivot Table Customized'" style="overflow: auto;">
                                <div class="container" id="pivot_DragDrop_Attr_Area_{{reportContainer.id}}" style="overflow: hidden;width: auto;">
                                    <div class="fbox">
                                        <div class="row ptCust_Attr_Drag_Drop">
                                            <div class="col-sm-1"><p class="ptCust_Label_Attr">Fields</p></div>
                                            <div class="col-sm-11" id="origin_{{reportContainer.id}}" style="min-height: 20px;"></div>
                                        </div>
                                        <div class="row ptCust_Attr_Drag_Drop ptCust_Attr_Container_DragDrop_{{reportContainer.id}}" id="drop_Column_{{reportContainer.id}}">
                                            <div class="col-sm-1"><p class="ptCust_Label_Attr">Column</p></div>
                                            <div class="col-sm-11" id="drop_C_PT_{{reportContainer.id}}" style="min-height: 20px;"></div>
                                        </div>
                                        <div class="row ptCust_Attr_Drag_Drop ptCust_Attr_Container_DragDrop_{{reportContainer.id}}" id="drop_Row_{{reportContainer.id}}">
                                            <div class="col-sm-1"><p class="ptCust_Label_Attr">Row</p></div>
                                            <div class="col-sm-11" id="drop_R_PT_{{reportContainer.id}}" style="min-height: 20px;"></div>
                                        </div>
                                        <div class="row ptCust_Attr_Drag_Drop ptCust_Attr_Container_DragDrop_{{reportContainer.id}}" id="drop_Data_{{reportContainer.id}}">
                                            <div class="col-sm-1"><p class="ptCust_Label_Attr">Data</p></div>
                                            <div class="col-sm-11" id="drop_D_PT_{{reportContainer.id}}" style="min-height: 20px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!-- End drag and drop area for pivot table -->
<!-- End Pivot table -->
                            <div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflow' : 'overflowAuto'" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
                        </div>
                        <!-- <div class="col-sm-2">
                            <span
                                class="label_legends{{reportContainer.id}} lable_legends_common">Measure</span>
                            <div class="chart-legend chart-legend-d-{{reportContainer.id}}"
                                id="measure_{{reportContainer.id}}"
                                style="overflow: auto; height: 300px;"></div>
                        </div> -->
                    </div>
                    <div class="row" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Pivot Table' || reportContainer.chartType=='X Table' || reportContainer.chartType=='Building Comparison' || reportContainer.chartType=='Text/Image' "  style="width: 100%;">
                        <div class="col-sm-12" style="margin-left: 30px;">
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;overflow: auto;"></div>
                        </div>
                    </div>

                    <div class="row" ng-if=" reportContainer.chartType=='Male & Female Comparison' " style="width: 100%;margin: 0;">
                        <div class="col-sm-12">
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%; "></div>
                        </div>
                    </div>

                    <div class="row" ng-if="reportContainer.chartType=='Number Widget'">
                        <div class="col-sm-12" style="margin-left: 40px;">
                            <div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul class="dropdown-menu colorPalette" style="position: absolute;">
            <li><a href="javascript:void(0);" ng-click="applyFilter()">Filter</a></li>
            <li class="dropdown-submenu"><a href="javascript:void(0);">Color</a>
                <ul class="dropdown-menu subdropDown" style="height: 165px; overflow: auto;">
                    <div class="palette-menu">
                        <div ng-repeat="val in rowsLength()" style="width: auto;">
                            <div class="color-palette-row" style="line-height: 0;padding-left: 3px;">
                                <a href="javascript:void(0);" class="palette-item" ng-repeat="color in getColorPallete(val)" ng-click="colorChange(color)" style="background-color:{{color}}"></a>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
            <!-- <li><a href="javascript:void(0)" ng-click="resetFilter();">Reset Filter</a></li> -->
            <!--<li><a href="javascript:void(0);" ng-click="renameKeys();">Rename Label</a></li>-->
            <li class="dropdown-submenu" ng-if="selectedChart.key!='_pieChartJs' && selectedChart.key!='_bubbleChartJs'">
                <a href="javascript:void(0);">Sort By</a>
                <ul class="dropdown-menu subdropDown" style="height: 90px; overflow: auto;" >
                    <li><a href="javascript:void(0);" ng-click="sortBy('asc');">ASC</a></li>
                    <li><a href="javascript:void(0);" ng-click="sortBy('desc');">DESC</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-include src="'html/dashboard/modal.html'" include-replace></div>
    <div ng-include src="'html/common/group.html'" include-replace></div>
    <div ng-include src="'html/common/calculation.html'" include-replace></div>
    <!-- <script src="theme/assets/js/turbo.js"></script> -->