<style>

.gridImage {
	background: #00bcd4;
	border: 2px solid #999;
	cursor: pointer;
}

.customContainer {
	padding-left: 75px;
	padding-top: 90px;
}

.img-circle {
	border-radius: 50%;
	max-width: 100px;
	margin: 0px auto 0;
	margin-bottom: 10px !important;
	cursor: pointer;
}

.img-circle img {
	width: 40px;
	height: 40px;
}

.thumbnail {
	padding: 20px;
	margin-bottom: 0px;
}
.img-circle {
	border-radius: 50%;
	max-width: 88px;
}

.custSearchPadding {
	padding: 20px;
}

.leftPadding {
	padding-left: 22px;
}

.img-circle:hover {
	border: 2px solid #2196f3;
	background: rgba(33, 150, 243, 0.08);
}



.ReportingElement  .form-control {
	background-image: none;
}

.thumbnail {
	border: 2px solid #ddd;
}

.selectedImage {
	border: 2px solid green !important;
	background: rgba(33, 150, 243, 0.08);
}
.card{
	position: fixed;
	height: 100vh;
	width: 50%;
}
.cardMainContainer{ 
	position: fixed; 
	height: 100vh;
	width: 65%;
}
.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}
.picture {
    width: 90px;
    height: 90px;
    background-color: #FFF;
    border: 2px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.picture-src {
    width: 100%;
}
.picture:hover {
    border-color: #2196F3;
}
	.picture-src{

	}
</style> 


<div class="row">
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-8">
	<div class="card cardMainContainer">
		<div class="card-content">
			<div class="col-sm-12" style="border: 2px solid #dadfe2; padding: 0px; border-radius: 5px;margin-bottom: 20px;">
				<div class="col-sm-8 ReportingElement" style="border-right: 2px solid #dadfe2; padding: 0px; min-height: 60px;">
					<input type="text" class="form-control" placeholder="Search for any app name" ng-model="search" style="height: 60px; padding: 10px;">
				</div>
				<div class="col-sm-4 ReportingElement" style="padding: 0px; min-height: 60px;">
					<select class="form-control" ng-model="dashboardList_Order" ng-change="orderDashboardList()" style="height: 60px; padding: 10px;">
						<optgroup label="Time Stamp"></optgroup>
						<option value="asc">Ascending</option>
						<option value="desc">Descending</option>
					</select>
				</div>
				<!--<div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top: 2px solid #dadfe2;">
					<div class="loaderImage"></div>
					<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter" title="{{dashboard.name}}"
						 ng-repeat="dashboard in dashboardList | filter:searchDashboard" rel="tooltip">
						&lt;!&ndash; <div class="fileinput-new thumbnail img-circle  imageToggle"
							ng-click="toggleImage($event,dashboard,$index)">
							<img src="{{imageUrlBaseUrl}}{{dashboard.image}}">
						</div> &ndash;&gt;
						<div class="picture-container">
							<div class="picture imageToggle" ng-click="toggleImage($event,dashboard,$index)"
								 data-toggle="popover" data-full="{{imageUrlBaseUrl}}{{dashboard.image}}.png">
								<img src="{{imageUrlBaseUrl}}{{dashboard.image}}.png" class="picture-src" title="" style=" height: 105%; width: 100%" >
							</div>
						</div>
						<span>{{dashboard.name | limitTo:10}}{{ dashboard.name.length > 10 ? '...' : ''}}</span>
					</div>
					<h5 ng-if="loading != true" ng-hide="(dashboard|filter:searchDashboard).length" style="margin-top: 18%;" >No Dashboard </h5>
				</div>-->
					<div class="col-sm-12 textAlignCenter custHeightCard step1" style="border-top: 2px solid #dadfe2;">
						<div class="loaderImage"></div>
						<div class="col-sm-12 textAlignCenter custHeightCard stepFolder1">
							<div class="loaderImage"></div>
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder" title="{{sView}}" rel="tooltip" ng-repeat="sView in departmentFolder|filter:search" >
								<div class="picture-container">
									<div ng-click="Folder.toggleImage($event,sView,$index)" >
										<span>
											<img src="assets/img/demo/folder.png" >
										</span>
									</div>
								</div>
								<span>{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
							</div>
							<div class="stepLoading">
								<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
							</div>
							<h5  ng-hide="(departmentFolder|filter:search).length" style="margin-top: 18%;" >No Dashboard</h5>
						</div>
						<div class="col-sm-12 textAlignCenter custHeightCard stepFolder2" ng-if="grpFolder">
							<div class="col-sm-2 col-md-2 col-lg-2 custSearchPadding textAlignCenter stepFolder" title="{{sView}}" rel="tooltip" ng-repeat="sView in groupFolderList|filter:search" >
								<div class="picture-container">
									<div ng-click="toggleGrpFolder($event,sView,$index)" >
										<span>
											<img src="assets/img/demo/folder.png" >
										</span>
									</div>
								</div>
								<span>{{sView | limitTo:16}}{{ sView.length > 16 ? '...' : ''}}</span>
							</div>
							<div class="stepLoading">
								<img ng-if="loadingBarDrawer == true" ng-hide="sViewLoading" class="image-responsive-height " src="assets/img/demo/progress.svg" alt="Progress" style=" width: 10%; margin-left: 10%; margin-top: 20%; " >
							</div>
							<h5  ng-hide="(groupFolderList|filter:search).length" style="margin-top: 18%;" >No Dashboard</h5>
						</div>
						<div class="col-sm-12 stepFolder3" style="display: none;">
							<div class="loader-overlay ng-scope loadingBar" style="display: none;">
								<div class="loader-content">
									<div class="loader-index">
										<img ng-if="loadingBarDrawer == true" style="width: 70px; " class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" ng-hide="loading" >
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12 textAlignCenter">
								<div class="row">
									<div class="col-sm-2" title="{{dashboardObj.name}}" ng-repeat="dashboardObj in dashboardSelectedFromList | filter:search | orderBy:dashboard_List_order ">
										<div class="picture-container">
											<div class="picture imageToggle" ng-click="toggle($event,dashboardObj, $index)" data-toggle="popover" data-full="{{imageUrlBaseUrl}}{{dashboardObj.image}}.png">
												<img src="{{imageUrlBaseUrl}}{{dashboardObj.image}}.png" onerror="this.src = 'assets/img/logo.jpg';" class="picture-src" style="height:100%;width:100%;">
											</div>
										</div>
										<span>{{dashboardObj.name | limitTo:10}}{{ dashboardObj.name.length > 10 ? '...' : ''}}</span>
									</div>
									<h5  ng-hide="(dashboardSelectedFromList|filter:search).length" style="margin-top: 18%;" >No Dashboard</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 textAlignCenter custHeightCard step2" style="border-top:2px solid #dadfe2;display: none;">
						<form>
							<div class="card-content">
								<div class="form-group label-floating">
									<input class="form-control" type="file" file-model="metadataImport.file" placeholder="Metadata File" />
								</div>
								<div class="col-sm-12" style="text-align: left" ng-if="testsuccess && metadataOverwrite">
									<h5 style="color:red;">Do you want to overwrite?</h5>
									<div class="row">
										<div class="col-sm-10 checkbox-radios">
											<div class="checkbox" ng-if="datasourceStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.datasource" ng-false-value='0' ng-true-value='1' checked>
													<span class="checkbox-material">
														<span class="check"></span>
													</span>
													Datasource
												</label>
											</div>
											<div class="checkbox" ng-if="metadataStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.metadata"  ng-false-value='0' ng-true-value='1' checked>
													<span class="checkbox-material">
													<span class="check"></span>
												</span>
													Metadata
												</label>
											</div>
											<div class="checkbox" ng-if="dashboardStatus">
												<label>	&nbsp;&nbsp;
													<input type="checkbox" ng-model="overwrite.dashboard"  ng-false-value='0' ng-true-value='1' checked disabled>
													<span class="checkbox-material">
													<span class="check"></span>
												</span>
													Dashboard
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer class="fixed-bottom">
			<div class="col-sm-12 textAlignCenter " style="min-height: 40px;">
				<!-- step2 --->
				<button class="btn btn-info btn-fill pull-right" ng-click="exportImport.importBtn()"  ng-if="selectedConfirm!=1 && backBtn!=1 && import==0 && permissionCheck('dashboard-edit')" title="Import">Import</button>
				<button type="button" class="btn btn-danger pull-right" ng-click="exportImport.backToFolder()" ng-if="import==1" title="Back">Back</button>
				<button type="submit" class="btn btn-info pull-right" ng-click="exportImport.testImport(dataSourceForm,selectedDatasource.name)" ng-if="import==1" title="Test">Test</button>
				<button type="submit" class="btn btn-success pull-right" ng-disabled="importSave!=1" ng-click="groupTypeModal()" ng-if="import==1" title="Save">Save</button>
				<!-- step1 -->
				<button data-toggle="tooltip" data-placement="top" class="btn btn-primary btn-fill pull-right step1" ng-click="Folder.backToFolderView()" ng-if="backBtn==1" title="Back">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button data-toggle="tooltip" data-placement="top" class="btn btn-danger btn-fill pull-right" ng-click="showSwal('warning-message-and-cancel')" ng-if="permissionCheck('dashboard-delete') && selectedConfirm==1" title="Delete">
					<i class="fa fa-trash"></i>
				</button>
				<a data-toggle="tooltip" data-placement="top" href="#/dashboard/copy/{{dashboardId}}/1/0" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('dashboard-edit') && selectedConfirm==1" title="Copy">
					<i class="fa fa-clone"></i>
				</a>
				<button data-toggle="tooltip" data-placement="top" class="btn btn-primary btn-fill pull-right step1" ng-click="exportImport.export()" ng-if="selectedConfirm==1 && permissionCheck('dashboard-edit')" title="Export">
					<i class="fa fa-sign-out"></i>
				</button>
				<a data-toggle="tooltip" data-placement="top" href="#/dashboard/edit/{{dashboardId}}/0" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('dashboard-edit') && selectedConfirm==1" title="Edit">
					<i class="fa fa-edit"></i>
				</a>
				<a data-toggle="tooltip" data-placement="top" href="#/dashboard/view/{{dashboardId}}/1" class="btn btn-primary btn-fill pull-right" ng-if="permissionCheck('dashboard-view') && selectedConfirm==1" title="View">
					<i class="fa fa-eye"></i>
				</a>
			</div>
		</footer>
	</div>
	<div class="col-sm-2">&nbsp;</div>
</div>
<div ng-include src="'html/common/modal.html'" include-replace></div>
