<style>
	.checkBoxBottom{
		margin-bottom: 19px !important;
	}
	.exclude_Select{
		width: 400px !important;
	}
</style>

<!-- Start Rename keys  -->
<div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Rename Column</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Name</label>
								<input type="text" class="form-control" ng-model="rename.reNameInput">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="saveRename(rename.reNameInput)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- END Rename modal  -->





<!--Range Datepicker Start-->
<div class="modal modal-primary fade stick-up" id="dateModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Range Datepicker</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group" data-plugin="formMaterial">
								<label>Column Name</label>
								<select class="form-control" ng-model="dateColumnName">
									<option></option>
									<option ng-repeat="column in tableColumns" value="{{column}}" ng-if="column.columType=='date' || column.columType=='datetime'">{{column.reName}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group" data-plugin="formMaterial">
								<label>Number Of Timeline's</label>
								<input type="text" class="form-control" ng-model="numberOfColumn">
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group" data-plugin="formMaterial">
								<label>Date Type</label>
								<select class="form-control" ng-model="dateType">
									<option value="month">Month</option>
									<option value="year">Year</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="saveRangedatepicker(dateColumnName,numberOfColumn,dateType)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--Range Datepicker End-->






<!--  Chart setting model box -->
<div class="modal fade example-modal-lg" tabindex="-1" id="chartSetting" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chart Setting</h4>
			</div>
			<div class="modal-body">
				<div role="tabpanel">
					<div>
						<ul class="nav nav-tabs"  role="tablist">
							<li role="presentation" id="settingTab" class="active">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#general" aria-controls="general">General</a>
							</li>
							<li role="presentation" ng-if="checkChartType([],['Number Widget','DataTable','Pie Chart','Funnel Chart'])">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#yaxis" aria-controls="yaxis">
									<span ng-if="checkChartType(['Row Chart'],[])">X Axis</span>
									<span ng-if="checkChartType([],['Row Chart'])">Y Axis</span>
								</a>
							</li>
							<li role="presentation" ng-if="checkChartType(['Dual Axis Chart'],[])">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#y2axis" aria-controls="y2axis">Y-2 Axis</a>
							</li>
							<li role="presentation" ng-if="checkChartType([],['Number Widget','DataTable','Pie Chart','Funnel Chart'])">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#xaxis" aria-controls="xaxis">
									<span ng-if="checkChartType(['Row Chart'],[])">Y Axis</span>
									<span ng-if="checkChartType([],['Row Chart'])">X Axis</span>
								</a>
							</li>
							<li role="presentation" ng-if="checkChartType([],['Number Widget','DataTable','Pie Chart','Funnel Chart'])">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#referenceLine" aria-controls="referenceLine">Reference Line</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" style="height: 300px;overflow-x: hidden;">
						<div role="tabpanel" class="tab-pane active" id="general">
							<div ng-if="checkChartType([],['Number Widget','Pivot Table Customized'])">
								<div ng-if="checkChartType([],['Number Widget','DataTable'])" ng-class="(checkChartType(['Line + Bar Chart','Row Chart','Dual Axis Chart'])==true) ? 'col-sm-6' : 'col-sm-12'">
									<div class="form-group" >
										<div class="btn-group pull-right">
											<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
											<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;width: 275px !important;">
												<li class="dropdown-submenu dropdownList{{$index}}" ng-mouseover="getListDetail($index)" role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName'">
													<a href="javascript:void(0)" role="menuitem" class="waves-effect waves-light">{{columnName.reName}}</a>
													<ul ng-if="columnName.dataKey == 'Measure'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
														<li style="cursor: pointer;">
															<a data-ng-repeat="aggr in leftSideModel.aggrMesaureDataTooltip" ng-click="inertTooltipText(columnName,aggr.key)">{{aggr.value}}</a>
														</li>
													</ul>
													<ul ng-if="columnName.dataKey == 'Dimension'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
														<li style="cursor: pointer;">
															<a  ng-click="inertTooltipText(columnName)">All</a>
														</li>
													</ul>
												</li>
											</ul>
										</div>
										<!--<div class="btn-group pull-right">
											<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
											<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="exampleSplitDropdown2" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;margin-left: -125%; ">
												<li role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName' ">
													<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="inertTooltipText(columnName)">{{columnName.reName}}</a>
												</li>
											</ul>
										</div>-->
										<textarea class="form-control" id="tooltip" rows="4" ng-model="chartSettingObject.tooltip"></textarea>
									</div>
								</div>
								<div class="col-sm-6" ng-if="checkChartType([],['Pie Chart', 'DataTable' ])">
									<div class="form-group">
										<label>Canvas size</label>
										<div class="row">
											<div class="col-sm-6 form-group">
												Width
												<input type="text" class="form-control" ng-model="chartSettingObject.canvas.width" value="651px">
											</div>
											<div class="col-sm-6 form-group">
												Height
												<input type="text" class="form-control" ng-model="chartSettingObject.canvas.height" value="329px">
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6" ng-if="checkChartType(['Line + Bar Chart','Dual Axis Chart'])" >
									<div class="form-group">
										<div class="row selected_Measure ">
											<div class="col-sm-12 ">
												<table style="width: 100%;">
													<tr>
														<th>Label</th>
														<th>Type</th>
														<!--<th>Sort</th>-->
													</tr>
													<tr ng-repeat="measure in tableSettingCheckbox" ng-if="measure.dataKey=='Measure'">
														<td><label style="width:83%;">{{measure.reName}}</label></td>
														<td><select class="margin_top_bottom_five" ng-model="chartTypeLineBar[measure.reName]['type']">
															<option value="line">Line</option>
															<option value="bar">Bar</option>
														</select>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="col-sm-6" ng-if="checkChartType(['Line + Bar Chart','Dual Axis Chart'])" >
									<div class="form-group">
										<div class="row selected_Measure ">
											<div class="col-sm-12 " >
												<table style="width: 100%;">
													<tr>
														<th>Label</th>
														<th>Sort</th>
													</tr>
													<tr >
														<td>
															<select class="margin_top_bottom_five form-control" ng-model="measureSortSelected">
																<option ng-repeat="measure in tableSettingCheckbox" value="{{measure.reName}}">{{measure.reName}}</option>
															</select>
														</td>
														<td>
															<select class="margin_top_bottom_five" ng-model="chartTypeLineBar[measureSortSelected]['sort']">
																<option value="asc">ASC</option>
																<option value="desc">DESC</option>
															</select>
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								</div>-->
								<div class="col-sm-4" ng-if="checkChartType([],['Pie Chart', 'Funnel Chart', 'Bubble Chart', 'Number Widget','DataTable'])">
									<div class="form-group">
										<label>Group Color</label>
										<select class="form-control" data-plugin="select2" ng-model="chartSettingObject.groupColor" data-allow-clear="true">
											<option value=""></option>
											<option ng-repeat="dimension in tableColumns | orderBy:'reName'" ng-selected="tempGrpSelected.columnName==dimension.columnName" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
												{{dimension.reName}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-sm-2" ng-if="checkChartType([],['DataTable'])">
									<div class="form-group">
										<label>Top N</label>
										<input type="number" class="form-control" ng-model="chartSettingObject.topN" min="1">
									</div>
								</div>
								<div class="col-sm-2" ng-if="chartSettingObject.topN>0 && checkChartType([],['DataTable'])">
									<div class="form-group">
										<label>TopN With Other</label><br>
										<input type="checkbox" ng-model="chartSettingObject.topNOther">
									</div>
								</div>
								<div class="col-sm-4" ng-if="chartSettingObject.topN>0 && checkChartType([],['DataTable'])">
									<div class="form-group">
										<label>TopN Measure</label>
										<select class="form-control" data-plugin="select2" ng-model="chartSettingObject.topnMeasure" data-allow-clear="true">
											<option ng-selected="chartSettingObject.topnMeasure==key" ng-repeat="(key,value) in Attributes.checkboxModelMeasure" value="{{key}}">
												{{key}}
											</option>
										</select>
									</div>
								</div>
								<!-- For pie chart -->
								<div ng-if="checkChartType(['Pie Chart', 'Funnel Chart'],[])">
									<div class="col-sm-2">
										<div class="form-group">
											<label>Mark Labels</label><br>
											<input type="checkbox" class="checkBoxBottom" value="true" ng-model="chartSettingObject.yaxis.markLabels">
										</div>
									</div>
									<div class="col-sm-3" ng-if="chartSettingObject.yaxis.markLabels">
										<div class="form-group">
											<label>Mark Labels Color</label><br>
											<input type="color" class="form-control" value="true" ng-model="chartSettingObject.yaxis.markLabelsColor">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>Prefix</label>
											<input type="text" class="form-control" ng-model="chartSettingObject.yaxis.prefix">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>Suffix</label>
											<input type="text" class="form-control" ng-model="chartSettingObject.yaxis.suffix">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label>Decimal places</label>
											<input type="number" class="form-control" ng-model="chartSettingObject.yaxis.decimal">
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label>Display Units</label>
											<select class="form-control" ng-model="chartSettingObject.yaxis.units">
												<option value="no">No</option>
												<option value="yes" selected>Yes</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="form-group">
											<label>Include Thousand Separators</label>
											<input type="checkbox" value="1"  ng-model="chartSettingObject.yaxis.separator">
										</div>
									</div>
								</div>
							</div>
							<div class="" ng-if="checkChartType(['DataTable'])">
								<div class="col-sm-2">
									<h6>Grand Total </h6>
									<div class="radio">
										<label>
											<input type="radio" name="grand_Total" ng-model="chartSettingObject.grandTotal" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="grand_Total" ng-model="chartSettingObject.grandTotal" checked="checked" value="no">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
								<div class="col-sm-10" ng-if="chartSettingObject.grandTotal == 'yes'" style="height: 150px;overflow: auto;">
									<table class="table">
										<tr>
											<th>Selected Data</th>
											<th>Select Data Type</th>
										</tr>
										<tr ng-repeat="arr in Attributes.checkboxModelMeasure">
											<td>{{arr.reName}}</td>
											<td class="form-group">
												<select class="form-control" ng-model="Attributes.dataTypeOrder[arr.columnName]">
													<option value="avgIndex">Average</option>
													<option value="count">Count</option>
													<option value="sumIndex">Sum</option>
												</select>
											</td>
										</tr>
									</table>
								</div>
								<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;margin-top: 10px;">
									<ul class="sortable">
										<li class="ui-state-default" ng-repeat="tableColumn in Attributes.tableColumnOrder" id="{{tableColumn}}">
											<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
											{{tableColumn.reName}}
										</li>
									</ul>
								</div>
							</div>
							<div class="row" ng-if="checkChartType(['Number Widget'])">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Font Size</label>
										<input type="number" class="form-control" ng-model="numberStyle.fontSize">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Font Color</label>
										<input type="color" class="asColorpicker form-control" data-plugin="asColorPicker" data-mode="gradient" ng-model="numberStyle.fontColor"/>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Prefix</label>
										<input type="text" class="form-control" ng-model="numberStyle.prefix">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Suffix</label>
										<input type="text" class="form-control" ng-model="numberStyle.suffix">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Decimal places</label>
										<input type="number" class="form-control" ng-model="numberStyle.decimal">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label>Display Units</label>
										<select class="form-control" ng-model="numberStyle.units">
											<option value="no">No</option>
											<option value="yes" selected>Yes</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label>Include Thousand Separators</label>
										<input type="checkbox" value="1" class="checkBoxBottom" ng-model="numberStyle.separator">
									</div>
								</div>
							</div>
							<div class="row col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-if="chartSettingError">
								<p style="color: red;float: right;">{{chartSettingError_Msg}}</p>
							</div>
						</div>
						
						<div role="tabpanel" class="tab-pane" id="yaxis">
							<div class="col-sm-4">
								<div class="form-group">
									<label>Prefix</label>
									<input type="text" class="form-control" ng-model="chartSettingObject.yaxis.prefix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Suffix</label>
									<input type="text" class="form-control" ng-model="chartSettingObject.yaxis.suffix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Decimal places</label>
									<input type="number" class="form-control" ng-model="chartSettingObject.yaxis.decimal">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Display Units</label>
									<select class="form-control" ng-model="chartSettingObject.yaxis.units">
										<option value="no">No</option>
										<option value="yes" selected>Yes</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3" ng-if="checkChartType([],['Pie Chart','Funnel Chart'])">
								<div class="form-group">
									<label>Font Size</label>
									<input type="number" class="form-control" ng-model="chartSettingObject.yaxis.fontSize">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Axis Name</label><br>
									<input type="checkbox" value="1" class="checkBoxBottom" ng-model="chartSettingObject.yaxis.axisLabel">
								</div>
							</div>
							<div class="col-sm-3" ng-if="checkChartType([],['Pie Chart','Funnel Chart'])">
								<div class="form-group">
									<label>Include Thousand Separators</label>
									<input type="checkbox" value="1" class="checkBoxBottom" ng-model="chartSettingObject.yaxis.separator">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Show Axis Header</label><br>
									<input type="checkbox" class="checkBoxBottom" value="true" ng-model="chartSettingObject.yaxis.axisHeader">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Mark Labels</label><br>
									<input type="checkbox" class="checkBoxBottom" value="true" ng-model="chartSettingObject.yaxis.markLabels">
								</div>
							</div>
							<div class="col-sm-3" ng-if="chartSettingObject.yaxis.markLabels">
								<div class="form-group">
									<label>Mark Labels Color</label><br>
									<input type="color" class="form-control" value="true" ng-model="chartSettingObject.yaxis.markLabelsColor">
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="y2axis">
							<div class="col-sm-4">
								<div class="form-group">
									<label>Prefix</label>
									<input type="text" class="form-control" ng-model="chartSettingObject.y2axis.prefix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Suffix</label>
									<input type="text" class="form-control" ng-model="chartSettingObject.y2axis.suffix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Decimal places</label>
									<input type="number" class="form-control" ng-model="chartSettingObject.y2axis.decimal">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Display Units</label>
									<select class="form-control" ng-model="chartSettingObject.y2axis.units">
										<option value="no">No</option>
										<option value="yes" selected>Yes</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Axis Name</label><br>
									<input type="checkbox" value="1" ng-model="chartSettingObject.y2axis.axisLabel">
								</div>
							</div>
							<div class="col-sm-3" ng-if="checkChartType([],['Pie Chart','Funnel Chart'])">
								<div class="form-group">
									<label>Font Size</label>
									<input type="number" class="form-control" ng-model="chartSettingObject.y2axis.fontSize">
								</div>
							</div>
							<div class="col-sm-3" ng-if="checkChartType([],['Pie Chart','Funnel Chart'])">
								<div class="form-group">
									<label>Include Thousand Separators</label>
									<input type="checkbox" value="1" ng-model="chartSettingObject.y2axis.separator">
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="xaxis">
							<div class="col-sm-4">
								<div class="form-group">
									<label>Data Format</label>
									<select class="form-control" ng-model="chartSettingObject.xaxis.format" ng-change="dateFormatCheck()">
										<option value="" selected>Select Data Format</option>
										<option value="MMM-D">DD MM</option>
										<option value="MMMM">M</option>
										<option value="MMM">m</option>
										<option value="YYYY">Y</option>
										<option value="Do MMMM YYYY">D-M-Y</option>
										<option value="D-MM-YYYY">D-m-Y</option>
										<option value="MMMM Do YYYY">M-D-Y</option>
										<option value="dddd">D</option>
										<option value="MMM Do YY">M-D-y</option>
										<option value="MMM YY">M-y</option>
										<option value="MMM YYYY">M-Y</option>
										<option value="custom">Custom(YYYY-MM-DD HH:mm:ss)</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4" ng-show="customDate">
								<div class="form-group">
									<label>Data Format</label>
									<input type="text" class="form-control" placeholder="2018-07-16 02:29:18" ng-model="chartSettingObject.xaxis.customFormat">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Axis Name</label><br>
									<input type="checkbox" value="1" ng-model="chartSettingObject.xaxis.axisLabel">
								</div>
							</div>
							<div class="col-sm-4" ng-if="checkChartType([],['Pie Chart','Funnel Chart'])">
								<div class="form-group">
									<label>Font Size</label>
									<input type="number" class="form-control" ng-model="chartSettingObject.xaxis.fontSize">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Dual axis</label>
									<select class="form-control" ng-model="chartSettingObject.xaxis.dualX">
										<option value="yes">Yes</option>
										<option value="no">No</option>
									</select>
								</div>
							</div>
							<div ng-if="chartSettingObject.xaxis.dualX=='yes'">
								<div class="col-sm-4">
									<div class="form-group">
										<label>Dual axis Dimension</label>
										<select class="form-control" data-plugin="select2" ng-model="chartSettingObject.xaxis.dualXDimension" data-allow-clear="true">
											<option value=""></option>
											<option ng-selected="chartHtmlObject.xAxis.dualXDimension == dimension.reName" ng-repeat="dimension in tableColumns | orderBy:'columnName'" ng-if="dimension.dataKey=='Dimension'" value="{{dimension}}">
												{{dimension.reName}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Dual axis Date Format</label>
										<select class="form-control" ng-model="chartSettingObject.xaxis.dualXformat">
											<option value="" selected>Select Date Format</option>
											<option value="MMM-D">DD MM</option>
											<option value="MMMM">M</option>
											<option value="MMM">m</option>
											<option value="YYYY">Y</option>
											<option value="Do MMMM YYYY">D-M-Y</option>
											<option value="D-MM-YYYY">D-m-Y</option>
											<option value="MMMM Do YYYY">M-D-Y</option>
											<option value="dddd">D</option>
											<option value="MMM Do YY">M-D-y</option>
											<option value="MMM YY">M-y</option>
											<option value="MMM YYYY">M-Y</option>
											<option value="custom">Custom(YYYY-MM-DD HH:mm:ss)</option>
										</select>
									</div>
								</div>
								<div class="col-sm-4" ng-if="chartSettingObject.xaxis.dualXformat=='custom'">
									<div class="form-group">
										<label>Dual axis Date Format</label>
										<input type="text" class="form-control" placeholder="2018-07-16 02:29:18" ng-model="chartSettingObject.xaxis.dualXcustomFormat">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label>Dual Axis Name</label><br>
										<input type="checkbox" value="1" ng-model="chartSettingObject.xaxis.dualXaxisLabel">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Show Axis Header</label><br>
									<input type="checkbox" class="checkBoxBottom" value="true" ng-model="chartSettingObject.xaxis.axisHeader">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Show All Axis Header</label><br>
									<input type="checkbox" class="checkBoxBottom" value="true" ng-model="chartSettingObject.xaxis.allAxisHeader">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<label>Axis Header Rotate</label><br>
									<input type="number" class="form-control" ng-model="chartSettingObject.xaxis.axisHeaderRotate">
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="referenceLine">
							<div class="col-sm-3">
								<div class="form-group">
									<label>Reference Line</label><br>
									<input type="checkbox" value="1" class="checkBoxBottom" ng-model="chartSettingObject.yaxis.referenceLine">
								</div>
							</div>
							<div class="col-sm-9" style="text-align: right" ng-if="chartSettingObject.yaxis.referenceLine">
								<button type="button" class="btn btn-sm btn-primary" ng-click="referenceLineRowAdd()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
							<div class="col-sm-12" ng-if="chartSettingObject.yaxis.referenceLine" style="max-height: 200px;overflow: auto">
								<div ng-repeat="(keyRow,row) in referenceLineRow">
									<div ng-class="checkChartType(['Dual Axis Chart'],[]) ? 'col-sm-3' : 'col-sm-5'">
										<div class="form-group">
											<label>Aggregate {{$index +1}}</label>
											<select class="form-control" ng-model="chartSettingObject.yaxis.referenceLineArr[$index].aggregate">
												<option value="Average">Average</option>
												<option value="Minimum">Minimum</option>
												<option value="Maximum">Maximum</option>
												<option value="Sum">Sum</option>
											</select>
										</div>
									</div>
									<div class="col-sm-2" ng-if="checkChartType(['Dual Axis Chart'],[])">
										<div class="form-group">
											<label>Y-Axis {{$index +1}}</label>
											<select class="form-control" ng-change="setReferenceMesaure($index, chartSettingObject.yaxis.referenceLineArr[$index].yaxis)" ng-model="chartSettingObject.yaxis.referenceLineArr[$index].yaxis">
												<option value="yaxis1">Y-Axis 1</option>
												<option value="yaxis2">Y-Axis 2</option>
											</select>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="form-group">
											<label>Measure {{$index +1}}</label>
											<select class="form-control" ng-model="chartSettingObject.yaxis.referenceLineArr[$index].measure">
												<option ng-repeat="(key,value) in Attributes.checkboxModelMeasure" value="{{key}}" ng-selected="chartSettingObject.yaxis.referenceLineArr[keyRow].measure==key">
													{{key}}
												</option>
											</select>
										</div>
									</div>
									<div class="col-sm-2" ng-if="$index!=0">
										<button type="button" class="btn btn-sm btn-danger" style="margin-top: 30%;float: right" ng-click="referenceLineDelete($index)">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" ng-if="checkChartType([],['DataTable','Number Widget'])">
					<button type="button" class="btn btn-info" ng-click="saveDataFormat(chartSettingObject)">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
				<div class="modal-footer" ng-if="checkChartType(['Number Widget'])">
					<button type="button" class="btn btn-info" ng-click="numberSetting(numberStyle)">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
				<div class="modal-footer" ng-if="checkChartType(['DataTable'])">
					<button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="tableSettingFun(tableSetting)">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Chart setting model box -->





<!--  Building Comparison Start -->
<div class="modal modal-primary fade stick-up" id="Building-Comparison" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Building Comparison</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row" ng-if="checkChartType([],['DataTable','Number Widget'])">
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Number of Rows</label>
								<input type="text" class="form-control" ng-model="BuildingObject.row">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Number of Columns</label>
								<input type="text" class="form-control" ng-model="BuildingObject.column">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" ng-if="checkChartType(['Number Widget'])">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="BuildingData(BuildingObject)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  Building Comparison End -->





<!--  Role Assign box Start-->
<div class="modal modal-primary fade stick-up" id="RoleAssign" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Role Assign</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row" >
						<div class="col-lg-12">
							<table class="table">
								<tr>
									<th>Page Name</th>
									<th>View</th>
									<th>Add</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
								<tr>
									<td>Datasource</td>
									<td><input type="checkbox" ng-model="userRole.datasource.view"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.add"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.edit"></td>
									<td><input type="checkbox" ng-model="userRole.datasource.delete"></td>
								</tr>
								<tr>
									<td>Metadata</td>
									<td><input type="checkbox" ng-model="userRole.metadata.view"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.add"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.edit"></td>
									<td><input type="checkbox" ng-model="userRole.metadata.delete"></td>
								</tr>
								<tr>
									<td>Dashboard</td>
									<td><input type="checkbox" ng-model="userRole.dashboard.view"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.add"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.edit"></td>
									<td><input type="checkbox" ng-model="userRole.dashboard.delete"></td>
								</tr>
								<tr>
									<td>Public View</td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.view"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.add"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.edit"></td>
									<td><input type="checkbox" ng-model="userRole.publicDashboard.delete"></td>
								</tr>
							</table>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" ng-if="checkChartType(['Number Widget'])">
				<button class="btn btn-info" ng-click="assignRoleData(userRole)" style="float: right;">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  Role Assign box End-->





<!--  Floor Plan Start -->
<div class="modal modal-primary fade stick-up " id="FloorPlanSetting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Floor Plan Setting </h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row" ng-if="checkChartType([],['DataTable','Number Widget'])">
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Select Dimension Name </label>
								<select class="form-control" data-plugin="select2" ng-model="FloorPlanSettingObject.dimension" data-allow-clear="true">
									<option ng-repeat="dimension in DimensionFloorArr" value="{{dimension}}">
										{{dimension}}
									</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="FloorPlanSettingData(FloorPlanSettingObject)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  Floor Plan End -->





<!-- CommonModal for Gender, Map, Floor -->
<div class="modal modal-primary fade stick-up" id="commonModals" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header clearfix text-left">
				<h4>
					{{chartName}}
					<div class="btn-group pull-right" ng-if="chartName == 'Text/Image'">
						<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
						<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
							<span class="caret"></span>
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;width: 275px !important;">
							<li class="dropdown-submenu dropdownList{{$index}}" ng-mouseover="getListDetail($index)" role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName'">
								<a href="javascript:void(0)" role="menuitem" class="waves-effect waves-light">{{columnName.reName}}</a>
								<ul ng-if="columnName.dataKey == 'Measure'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
									<li style="cursor: pointer;">
										<a data-ng-repeat="aggr in aggregateMesaureObj" ng-click="insertTooltipImageText(columnName,aggr.key)">{{aggr.value}}</a>
									</li>
								</ul>
								<ul ng-if="columnName.dataKey == 'Dimension'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
									<li style="cursor: pointer;">
										<a data-ng-repeat="aggr in aggregateDimensionObj" ng-click="insertTooltipImageText(columnName,aggr.key)">{{aggr.value}}</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</h4>
			</div>

			<!-- Modal Body Start For Bubble Chart  -->
			<div ng-if="chartName == 'Bubble Chart'" class="modal-body" style="max-height: 410px; overflow: auto;">
				<div role="tabpanel">
					<div>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#generalTab" aria-controls="generalTab">General</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#yAxisTab" aria-controls="yAxisTab">Y Axis</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#xAxisTab" aria-controls="xAxisTab">X Axis</a>
							</li>
						</ul>
					</div>
					<br>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="generalTab">
							<div class="col-sm-4">
								<div class="form-group">
									<label>Select X-Axis Measure *</label>
									<select class="form-control" ng-change="selectRenameData('Bubble', 'XAxis', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.xAxis)" ng-model="bubbleHtmlObject.xAxis">
										<option ng-selected="bubbleHtmlObject.xAxis == data.reName" ng-repeat="data in tableColumns | orderBy:'columnName'" ng-if="data.dataKey=='Measure'" value="{{data.reName}}">
											{{data.reName}}
										</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Select Y-Axis Measure *</label>
									<select class="form-control" ng-change="selectRenameData('Bubble', 'YAxis', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.yAxis)" ng-model="bubbleHtmlObject.yAxis">
										<option ng-selected="bubbleHtmlObject.yAxis == data.reName" ng-repeat="data in tableColumns | orderBy:'columnName'" ng-if="data.dataKey=='Measure'" value="{{data.reName}}">
											{{data.reName}}
										</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Select Radius</label>
									<select class="form-control" ng-change="selectRenameData('Bubble', 'Radius', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.radius)" ng-model="bubbleHtmlObject.radius">
										<option></option>
										<option ng-selected="bubbleHtmlObject.radius == data.reName" ng-repeat="data in tableColumns | orderBy:'columnName'" ng-if="data.dataKey=='Measure'" value="{{data.reName}}">
											{{data.reName}}
										</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Select Dimension *</label>
									<select class="form-control" ng-change="selectRenameData('Bubble', 'Dimension', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.dimension)" ng-model="bubbleHtmlObject.dimension">
										<option ng-selected="bubbleHtmlObject.dimension == data.reName" ng-repeat="data in tableColumns | orderBy:'columnName'" ng-if="data.dataKey=='Dimension'" value="{{data.reName}}">
											{{data.reName}}
										</option>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Select Group Color</label>
									<select class="form-control" disabled="disabled" ng-change="selectRenameData('Bubble', 'GroupColor', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.groupColor)" ng-model="bubbleHtmlObject.groupColor">
										<option></option>
										<option ng-selected="bubbleHtmlObject.groupColor == data.reName" ng-repeat="data in tableColumns | orderBy:'reName'" ng-if="data.dataKey=='Dimension'" value="{{data.reName}}">
											{{data.reName}}
										</option>
									</select>
								</div>
							</div>

							<div class="col-sm-2">
								<div class="form-group">
									<label>Canvas Width</label>
									<input type="text" class="form-control" min="1" ng-model="bubbleHtmlObject.dataFormat.canvas.width"  value="651px">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label>Canvas Height</label>
									<input type="text" class="form-control" min="1" ng-model="bubbleHtmlObject.dataFormat.canvas.height"  value="651px">
								</div>
							</div>

							<div class="col-sm-2">
								<div class="form-group">
									<label>Top N</label>
									<input type="number" class="form-control" min="1" ng-model="bubbleHtmlObject.topN" ng-change="topnBubble(bubbleHtmlObject.topN);">
								</div>
							</div>
							<div class="col-sm-2" ng-if="topnBubbleFlag">
								<div class="form-group">
									<label>TopN With Other</label><br>
									<input type="checkbox" ng-model="bubbleHtmlObject.topNOther">
								</div>
							</div>
							<div class="col-sm-4" ng-if="topnBubbleFlag">
								<div class="form-group">
									<label>Select Top N Measure *</label>
									<select class="form-control" ng-change="selectRenameData('Bubble', 'topnMeasure', DashboardModel.Dashboard.activeReport.reportContainer.id, bubbleHtmlObject.topnMeasure)" ng-model="bubbleHtmlObject.topnMeasure">
										<option ng-selected="bubbleHtmlObject.topnMeasure == data.value" ng-repeat="data in topnMeasureList | orderBy:'value'" value="{{data.value}}">
											{{data.value}}
										</option>
									</select>
								</div>
							</div>
							<div ng-class="(topnBubbleFlag==true) ? 'col-sm-4' : 'col-sm-10'">
								<div class="form-group">
									<label>Tooltip Format</label>
									<div class="btn-group pull-right">
										<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
										<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="toggleBubbleDropdown" data-toggle="dropdown" aria-expanded="false">
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;margin-left: -125%; ">
											<li role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName' ">
												<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="insertTooltipTextBubble(columnName)">{{columnName.reName}}</a>
											</li>
										</ul>
									</div>
									<textarea class="form-control" id="tooltipBubble" rows="3" ng-model="bubbleObject[DashboardModel.Dashboard.activeReport.reportContainer.id].tooltip">
										{{bubbleObject[DashboardModel.Dashboard.activeReport.reportContainer.id].tooltip}}
									</textarea>
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="yAxisTab">
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Prefix</label>
									<input type="text" class="form-control" ng-model="bubbleHtmlObject.dataFormat.yaxis.prefix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Suffix</label>
									<input type="text" class="form-control" ng-model="bubbleHtmlObject.dataFormat.yaxis.suffix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Decimal places</label>
									<input type="number" class="form-control" ng-model="bubbleHtmlObject.dataFormat.yaxis.decimal">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group" >
									<label>Display Units</label>
									<select class="form-control" ng-model="bubbleHtmlObject.dataFormat.yaxis.units">
										<option value="no">No</option>
										<option value="yes" selected>Yes</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group" >
									<label>Font Size</label>
									<input type="number" class="form-control" ng-model="bubbleHtmlObject.dataFormat.yaxis.fontSize">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Axis Name</label><br>
									<input type="checkbox" class="checkBoxBottom" value="1" ng-model="bubbleHtmlObject.dataFormat.yaxis.axisLabel">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Include Thousand Separators</label>
									<input type="checkbox" class="checkBoxBottom" value="1" ng-model="bubbleHtmlObject.dataFormat.yaxis.separator">
								</div>
							</div>
							<div class="col-sm-2">
								<div class="form-group">
									<label>Mark Labels</label><br>
									<input type="checkbox" class="checkBoxBottom" class="checkBoxBottom" value="true" ng-model="bubbleHtmlObject.dataFormat.yaxis.markLabels">
								</div>
							</div>
							<div class="col-sm-3" ng-if="bubbleHtmlObject.dataFormat.yaxis.markLabels">
								<div class="form-group">
									<label>Mark Labels Color</label><br>
										<input type="color" class="form-control" value="true" ng-model="bubbleHtmlObject.dataFormat.yaxis.markLabelsColor">
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="xAxisTab">
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Prefix</label>
									<input type="text" class="form-control" ng-model="bubbleHtmlObject.dataFormat.xaxis.prefix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Suffix</label>
									<input type="text" class="form-control" ng-model="bubbleHtmlObject.dataFormat.xaxis.suffix">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group" >
									<label>Decimal places</label>
									<input type="number" class="form-control" ng-model="bubbleHtmlObject.dataFormat.xaxis.decimal">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group" >
									<label>Display Units</label>
									<select class="form-control" ng-model="bubbleHtmlObject.dataFormat.xaxis.units">
										<option value="no">No</option>
										<option value="yes" selected>Yes</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group" >
									<label>Font Size</label>
									<input type="number" class="form-control" ng-model="bubbleHtmlObject.dataFormat.xaxis.fontSize">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Axis Name</label><br>
									<input type="checkbox" value="1" ng-model="bubbleHtmlObject.dataFormat.xaxis.axisLabel">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label>Include Thousand Separators</label>
									<input type="checkbox" value="1" ng-model="bubbleHtmlObject.dataFormat.xaxis.separator">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal Body End For Bubble Chart  -->

			<!-- Modal Body Start For Male-Female  -->
			<div ng-if="chartName == 'Male & Female Comparison' " class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label>Measure For Gender *</label>
								<select class="form-control" ng-change="selectRenameData('Gender', 'Measure', DashboardModel.Dashboard.activeReport.reportContainer.id, genderHtmlObject.mea_gender)" ng-model="genderHtmlObject.mea_gender">
									<option ng-selected="genderHtmlObject.mea_gender == measure.reName" ng-repeat="measure in tableColumns | orderBy:'columnName' " ng-if="measure.dataKey=='Measure'" value="{{measure.reName}}">
										{{measure.reName}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label>Dimension For Gender *</label>
								<select class="form-control" ng-change="selectRenameData('Gender', 'Dimension', DashboardModel.Dashboard.activeReport.reportContainer.id, genderHtmlObject.dim_gender)" ng-model="genderHtmlObject.dim_gender" >
									<option ng-selected="genderHtmlObject.dim_gender == dimension.reName" ng-repeat="dimension in tableColumns | orderBy:'columnName' " ng-if="dimension.dataKey=='Dimension'" value="{{dimension.reName}}">
										{{dimension.reName}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12">
							<button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="PopulateGenderData()">Populate Gender Format</button>
						</div>
						<div class="col-sm-6" ng-if="MaleFemaleForamt">
							<div class="form-group">
								<label>Select Male Format *</label>
								<select class="form-control" ng-change="selectRenameData('Gender', 'Male', DashboardModel.Dashboard.activeReport.reportContainer.id, genderHtmlObject.male)" ng-model="genderHtmlObject.male">
									<option ng-selected="genderHtmlObject.male == maleFormat" ng-repeat="maleFormat in bind_gender_data | orderBy " value="{{maleFormat}}">
										{{maleFormat}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6" ng-if="MaleFemaleForamt">
							<div class="form-group">
								<label>Select Female Format *</label>
								<select class="form-control" ng-change="selectRenameData('Gender', 'Female', DashboardModel.Dashboard.activeReport.reportContainer.id, genderHtmlObject.female)" ng-model="genderHtmlObject.female">
									<option ng-selected="genderHtmlObject.female == femaleFormat" ng-repeat="femaleFormat in bind_gender_data | orderBy " value="{{femaleFormat}}">
										{{femaleFormat}}
									</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal Body End For Male-Female  -->


			<!-- Modal Body Start For Text/Image  -->
			<div ng-if="chartName == 'Text/Image'" class="modal-body">
				<div id="editorDiv"></div>
			</div>
			<!-- Modal Body End For Text/Image  -->


			<!-- Modal Body Start For Map  -->
			<div ng-if="chartName == 'Map' " class="modal-body" style="max-height: 400px; overflow: auto;" >
				<form role="form" name="formValidation">
					<div class="row" >
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Select Latitude *</label>
								<select class="form-control" ng-change="selectRenameData('Map', 'Lat', DashboardModel.Dashboard.activeReport.reportContainer.id, mapHtmlObject.lat_map)" ng-model="mapHtmlObject.lat_map">
									<option ng-selected="mapHtmlObject.lat_map == dimension.reName" ng-repeat="dimension in tableColumns | orderBy:'reName'" value="{{dimension.reName}}">
										{{dimension.reName}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Select Longitude *</label>
								<select class="form-control" ng-change="selectRenameData('Map', 'Lng', DashboardModel.Dashboard.activeReport.reportContainer.id, mapHtmlObject.long_map)" ng-model="mapHtmlObject.long_map">
									<option ng-selected="mapHtmlObject.long_map == dimension.reName" ng-repeat="dimension in tableColumns | orderBy:'columnName'" value="{{dimension.reName}}">
										{{dimension.reName}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-lg-12 col-sm-12" ng-repeat="arr in Multi_Arr">
							<div class="row col-lg-12 col-sm-12 ">
								<div class="col-sm-5">
									<div class="form-group">
										<label >Select Radius *</label>
										<select class="form-control" ng-change="selectRenameData('Map', 'Radius', DashboardModel.Dashboard.activeReport.reportContainer.id, mapHtmlObject.measure_map[arr], arr)" ng-model="mapHtmlObject.measure_map[arr]" >
											<option ng-selected="mapHtmlObject.measure_map[arr] == measure.reName" ng-repeat="measure in tableColumns | orderBy:'columnName' " ng-if="measure.dataKey=='Measure'" value="{{measure.reName}}">
												{{measure.reName}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group">
										<label>Group Color</label>
										<select class="form-control" ng-change="selectRenameData('Map', 'GroupColor', DashboardModel.Dashboard.activeReport.reportContainer.id, mapHtmlObject.multiGroupColor_map[arr], arr)" ng-model="mapHtmlObject.multiGroupColor_map[arr]">
											<option value=""></option>
											<option ng-selected="mapHtmlObject.multiGroupColor_map[arr] == dimension.reName" ng-repeat="dimension in tableColumns | orderBy:'reName' " ng-if="dimension.dataKey=='Dimension'" value="{{dimension.reName}}">
												{{dimension.reName}}
											</option>
										</select>
									</div>
								</div>
								<div class="col-sm-1" style="margin-top: 4%">
									<span><i class="fa fa-plus" ng-click="addRadius()" style="cursor: pointer;"></i></span>
								</div>
								<div class="col-sm-1" style="margin-top: 4%">
									<span><i class="fa fa-minus" ng-click="removeRadius(arr)" style="cursor: pointer;"></i></span>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>Tooltip</label>
										<!--<div class="btn-group pull-right">
											<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
											<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="toggleDropdown" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;">
												<li role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName'">
													<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="insertTooltipTextMap(columnName, arr)">{{columnName.reName}}</a>
												</li>
											</ul>
										</div>-->
										<div class="btn-group pull-right">
											<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
											<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
												<span class="caret"></span>
												<span class="sr-only">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;width: 275px !important;">
												<li class="dropdown-submenu dropdownList{{$index}}" ng-mouseover="getListDetail($index)" role="presentation" ng-repeat="columnName in tableColumns | orderBy:'columnName'">
													<a href="javascript:void(0)" role="menuitem" class="waves-effect waves-light">{{columnName.reName}}</a>
													<ul ng-if="columnName.dataKey == 'Measure'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
														<li style="cursor: pointer;">
															<a data-ng-repeat="aggr in leftSideModel.aggrMesaureDataTooltip" ng-click="insertTooltipTextMap(columnName, arr,aggr.key)">{{aggr.value}}</a>
														</li>
													</ul>
													<ul ng-if="columnName.dataKey == 'Dimension'" class="dropdown-menu dropdown-menu1 subdropDown pull-left" style="height: 125px; overflow: auto;position: fixed;">
														<li style="cursor: pointer;">
															<a ng-click="insertTooltipTextMap(columnName, arr)">All</a>
														</li>
													</ul>
												</li>
											</ul>
										</div>
										<textarea class="form-control" id="tooltipMap" rows="3" ng-model="mapObject[DashboardModel.Dashboard.activeReport.reportContainer.id].multipleTooltip[arr]"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Modal Body End For Map  -->


			<!-- Modal Body Start For Floor Plan -->
			<div ng-if="chartName == 'Floor Plan' " class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Height</label>
								<input type="number" min="200" class="form-control" ng-model="FloorPlanObject.height" >
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Width</label>
								<input type="number" min="200" class="form-control" ng-model="FloorPlanObject.width" >
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Upload SVG Image</label>
								<input type="file" accept=".svg" id="svgFloorImage" ng-model="FloorPlanObject.image" >
							</div>
						</div>
						<div class="col-sm-6" >
							<div class="form-group" >
								<label>Tooltip</label>
								<div class="btn-group pull-right">
									<button type="button" class="btn btn-primary btn-xs waves-effect waves-light">Insert</button>
									<button type="button" class="btn btn-primary btn-xs dropdown-toggle waves-effect waves-light" id="toggleDropdown" data-toggle="dropdown" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu dropdown-menu-primary" style="max-height:200px;overflow: auto;">
										<li role="presentation" ng-repeat="columnName in tableColumns">
											<a href="javascript:void(0)" role="menuitem" class=" waves-effect waves-light" ng-click="insertTooltipTextFloorMap(columnName)">{{columnName.reName}}</a>
										</li>
									</ul>
								</div>
								<textarea class="form-control" id="tooltipFloor" rows="2" ng-model="FloorPlanObject.tooltip"></textarea>
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- Modal Body End For Floor Plan  -->


			<!-- Modal Footer Start   -->
			<div ng-if="chartName == 'Bubble Chart'" class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="BubbleChartData(bubbleObject)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" >Close</button>
			</div>
			<div ng-if="chartName == 'Male & Female Comparison'" class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="GenderData()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="GenderData()">Close</button>
			</div>
			<div ng-if="chartName == 'Map'" class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="MapData()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="MapData()" >Close</button>
			</div>
			<div ng-if="chartName == 'Floor Plan'" class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="FloorPlanData(FloorPlanObject)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
			<div ng-if="chartName == 'Text/Image'" class="modal-footer">
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="TextImageData()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
			<!-- Modal Footer End   -->


		</div>
	</div>
</div>
<!-- Common Modal for Gender, Map, Floor End -->






<!--  Gauge Range Setting -->
<div class="modal modal-primary fade stick-up" id="gaugeSetting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<h4>Gauge Setting</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row" >
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Max Value for Low sector</label>
								<input type="number" class="form-control" ng-model="speedoMeterSettingObj.lowRange" >
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Max Value for Medium Sector</label>
								<input type="number" class="form-control" ng-model="speedoMeterSettingObj.midRange" >
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group" >
								<label>Max Value for High Sector</label>
								<input type="number" class="form-control" ng-model="speedoMeterSettingObj.highRange" >
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-info waves-effect waves-classic" ng-click="speedoMeterSettingData(speedoMeterSettingObj)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  Gauge Range Setting -->





<!-- Notification email  -->
<div class="modal fade" tabindex="-1" id="notificationEmail" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Notification Email</h4>
			</div>
			<div class="modal-body">
				<form role="form" name="formValidation">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Alert Title</label>
								<input type="text" class="form-control" ng-model="nEmail.title">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Set Alert Rule For</label>
								<input type="text" class="form-control" ng-model="nEmail.rule">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Condition</label>
								<select class="form-control" ng-model="nEmail.condition">
									<option></option>
									<option value="above">Above</option>
									<option value="lower">Lower</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Threshold</label>
								<input type="text" class="form-control" ng-model="nEmail.threshold">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Email Notification</label><br>

								<input type="radio" name="emailInterval" value="once" ng-click="notificationEmail.emailInterval(nEmail.emailInterval)" ng-model="nEmail.emailInterval"  checked>
								<label class="floating-label">Send one time</label>

								<input type="radio" name="emailInterval" value="timeInterval" ng-click="notificationEmail.emailInterval(nEmail.emailInterval)" ng-model="nEmail.emailInterval" >
								<label class="floating-label">Set time interval</label>
							</div>
						</div>
						<div class="col-sm-6" ng-show="emailInterval">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Minutes(Every)</label>
								<input type="number" class="form-control" ng-model="nEmail.emailIntervalMinutes">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Notification Frequency</label><br>

								<input type="radio" name="frequency" value="24hours" ng-click="notificationEmail.frequency(nEmail.frequency)" ng-model="nEmail.frequency">
								<label class="floating-label">Once every 24 hours</label>

								<input type="radio" name="frequency" value="everyhours" ng-click="notificationEmail.frequency(nEmail.frequency)" ng-model="nEmail.frequency" checked>
								<label class="floating-label">Once in hours</label>

								<input type="radio" name="frequency" value="minutes" ng-click="notificationEmail.frequency(nEmail.frequency)" ng-model="nEmail.frequency" checked>
								<label class="floating-label">Minutes</label>
							</div>
						</div>
						<div class="col-sm-6" ng-hide="frequencyTime">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Time</label>
								<input type="text" id="timepicker" class="form-control" ng-model="nEmail.time">
							</div>
						</div>
						<div class="col-sm-6" ng-hide="frequencyMin">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Minutes(Every)</label>
								<input type="number" class="form-control" ng-model="nEmail.minutes">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group form-material floating" data-plugin="formMaterial">
								<label class="floating-label">Send Email To</label>
								<select class="form-control" ng-model="nEmail.emailType" ng-change="notificationEmail.emailSelectType(nEmail.emailType)">
									<option></option>
									<option value="group">Report Group</option>
									<option value="specific">Specific Email</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6" ng-show="emailTypeSelect">
							<div class="form-group form-material floating" data-plugin="formMaterial" >
								<label class="floating-label">Email Id</label>
								<select id="emailId" ng-model="nEmail.emailId" multiple data-style="select-with-transition" data-live-search="true" data-container="body">
									<option ng-repeat="user in usersEmailList">{{user.email}}</option>
								</select>
							</div>
						</div>
						<div class="col-sm-6" ng-show="emailTypeGrp">
							<div class="form-group form-material floating" data-plugin="formMaterial" >
								<label class="floating-label">Email Id</label>
								<select id="emailIdGrp" ng-model="nEmail.emailIdGrp" >
									<option ng-repeat="emailGrp in emailGrpList" value="{{emailGrp.id}}">{{emailGrp.name}}</option>
								</select>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="notificationEmail.save(nEmail)">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Notification email  -->





<!-- Order Cascade filter Start-->
<div class="modal fade" tabindex="-1" id="orderCascade" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Order Cascade Filters</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						Cascade Filters Reorder
					</div>
					<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;">
						<ul class="sortable">
							<li class="ui-state-default" ng-repeat="cFilter in cascadeFilterArray" id="{{cFilter}}">
								<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
								{{cFilter}}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="SaveOrderCascadeFilter()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Order Cascade filter End-->





<!-- Include Keys for Start-->
<div class="modal modal-primary fade stick-up" id="Exclude_Include_Key" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Exclude/Include Data</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;">
								<div class="col-sm-12" ng-repeat="data in Exclude_Key_Data" ng-if="data != 'other'" >
									<input type="checkbox" id="{{data}}_key" name="{{data}}"  style="cursor: pointer;">
									{{data}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="excludeIncludeKey.save()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Include Keys for End-->





<!--  Pivot Table Setting start-->
<div class="modal fade " id="customPT_Setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" style="width: 70%;">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Pivot Table Setting</h4>
			</div>
			<div class="modal-body" style="height: 400px;">
				<div role="tabpanel">
					<div>
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#dataTypeTab" aria-controls="dataTypeTab">Data Type</a>
							</li>
							<li role="presentation" ng-if="pivotSubTotal">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#subTotalTab" aria-controls="subTotalTab">Sub Total</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#grandTotalTab" aria-controls="grandTotalTab">Grand Total</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#runTotalTab" aria-controls="runTotalTab">Running Total</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#excludeIncludeTab" aria-controls="excludeIncludeTab">Exclude/Include</a>
							</li>
							<li role="presentation">
								<a role="tab" data-toggle="tab" href="javascript:void(0);#reorderHeaderTab" aria-controls="reorderHeaderTab">Re-Order Headers</a>
							</li>
						</ul>
					</div>
					<br>

					<div class="tab-content">

						<div role="tabpanel" class="tab-pane active" id="dataTypeTab">
							<table class="table">
								<tr>
									<th>Selected Data</th>
									<th>Select Data Type</th>
								</tr>
								<tr ng-repeat="arr in pt_Selected_Data_Attr">
									<td>{{arr}}</td>
									<td class="form-group">
										<select class="form-control" ng-model="ptCust_DataObj[pivotContainerID].data[arr]">
											<option value="average">Average</option>
											<option value="count">Count</option>
											<option value="sum">Sum</option>
										</select>
									</td>
								</tr>
							</table>
						</div>

						<div role="tabpanel" class="tab-pane" id="subTotalTab">
							<div class="col-sm-12">
								<div class="col-sm-6">
									<h6>Column</h6>
									<div class="radio">
										<label>
											<input type="radio" name="subTotal_Column" ng-model="ptCust_SubTotalObj[pivotContainerID].subTotal.column" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="subTotal_Column" ng-model="ptCust_SubTotalObj[pivotContainerID].subTotal.column" checked="checked" value="no">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<h6>Row</h6>
									<div class="radio">
										<label>
											<input type="radio" name="subTotal_Row" ng-model="ptCust_SubTotalObj[pivotContainerID].subTotal.row" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="subTotal_Row" ng-model="ptCust_SubTotalObj[pivotContainerID].subTotal.row" checked="checked" value="no">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="grandTotalTab">
							<div class="col-sm-12">
								<div class="col-sm-6">
									<h6>Column</h6>
									<div class="radio">
										<label>
											<input type="radio" name="grandTotal_Column" ng-model="ptCust_GrandTotalObj[pivotContainerID].grandTotal.column" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="grandTotal_Column" ng-model="ptCust_GrandTotalObj[pivotContainerID].grandTotal.column" checked="checked" value="no">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
								<div class="col-sm-6">
									<h6>Row</h6>
									<div class="radio">
										<label>
											<input type="radio" name="grandTotal_Row" ng-model="ptCust_GrandTotalObj[pivotContainerID].grandTotal.row" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="grandTotal_Row" ng-model="ptCust_GrandTotalObj[pivotContainerID].grandTotal.row" checked="checked" value="no">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="runTotalTab">
							<div class="col-sm-12">
								<div class="col-sm-6">
									<div class="radio">
										<label>
											<input type="radio" name="runTotal_Pivot" ng-click="pivotCust_RunningTotalOption()" value="yes">
											<span class="circle"></span><span class="check"></span>Yes
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="runTotal_Pivot" ng-click="pivotCust_RunningTotalOption()" value="no" checked="checked">
											<span class="circle"></span><span class="check"></span>No
										</label>
									</div>
								</div>
								<div ng-if="PtCust_Running_Total" class="col-sm-6">
									<div class="radio">
										<label>
											<input type="radio" name="runTotal_RowColumn" value="row" checked="checked">
											<span class="circle"></span><span class="check"></span>Row
										</label>&nbsp;&nbsp;&nbsp;&nbsp;
										<label>
											<input type="radio" name="runTotal_RowColumn" value="column">
											<span class="circle"></span><span class="check"></span>Column
										</label>
									</div>
								</div>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="excludeIncludeTab">
							<div class="col-sm-12">
								<div class="radio">
									<label>
										<input type="radio" ng-click="pivotExcludeHeader()" name="Display_Table_Header" value="Row" checked="checked">
										<span class="circle"></span><span class="check"></span>Row
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label>
										<input type="radio" ng-click="pivotExcludeHeader()" name="Display_Table_Header" value="Column">
										<span class="circle"></span><span class="check"></span>Column
									</label>
								</div>
							</div>
							<div class="col-sm-12" ng-show="PtCust_Exclude_Row" style="height: 280px;overflow: auto;">
								<table class="table">
									<tr>
										<th>Selected Row Attribute</th>
										<th>Select Data</th>
									</tr>
									<tr ng-repeat="arr in pt_Selected_Row_Attr">
										<td>{{arr.reName}}</td>
										<td style="width: 50% !important;">
											<div class="exclude_Select">
												<select id="rowExclude_{{$index}}" name="{{arr.columnName}}" ng-model="ptCust_ExcludeObj[pivotContainerID]['row'][arr.columnName]" data-style="select-with-transition" title="Choose Data" multiple data-size="5" data-container="body" data-live-search="true" data-actions-box="true">
													<option ng-repeat="data in pt_Selected_RowAttr_Data[arr.columnName] | orderBy " value="{{data}}">{{data}}</option>
												</select>
											</div>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-sm-12" ng-show="PtCust_Exclude_Col" style="height: 280px;overflow: auto;">
								<table class="table">
									<tr>
										<th>Selected Column Attribute</th>
										<th>Select Data</th>
									</tr>
									<tr ng-repeat="arr in pt_Selected_Col_Attr">
										<td>{{arr.reName}}</td>
										<td style="width: 50% !important;">
											<div class="exclude_Select">
												<select id="colExclude_{{$index}}" name="{{arr.columnName}}" ng-model="ptCust_ExcludeObj[pivotContainerID]['col'][arr.columnName]" data-style="select-with-transition" title="Choose Data" multiple data-size="5" data-container="body" data-live-search="true" data-actions-box="true">
													<option ng-repeat="data in pt_Selected_ColAttr_Data[arr.columnName] | orderBy " value="{{data}}">{{data}}</option>
												</select>
											</div>
										</td>
									</tr>
								</table>
							</div>
						</div>

						<div role="tabpanel" class="tab-pane" id="reorderHeaderTab">
							<div class="col-sm-12">
								<div class="radio">
									<label>
										<input type="radio" name="ReOrder_Column_Header" ng-click="pivotReOrderHeader()" value="Row" checked="checked">
										<span class="circle"></span><span class="check"></span>Row
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label>
										<input type="radio" name="ReOrder_Column_Header" ng-click="pivotReOrderHeader()" value="Column">
										<span class="circle"></span><span class="check"></span>Column
									</label>
								</div>
							</div>
							<div class="col-sm-12" ng-show="PtCust_ReOrder_Row" style="height: 280px;overflow: auto;">
								<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;">
									<ul class="row_sortable">
										<li class="ui-state-default" ng-repeat="rowData in pt_ReOrder_Row_Data" id="{{rowData}}">
											<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
											{{rowData}}
										</li>
									</ul>
								</div>
							</div>
							<div class="col-sm-12" ng-show="PtCust_ReOrder_Col" style="height: 280px;overflow: auto;">
								<div class="col-sm-12" style="border: 1px solid #ccc;height: 200px;overflow: auto;">
									<ul class="col_sortable">
										<li class="ui-state-default" ng-repeat="colData in pt_ReOrder_Col_Data" id="{{colData}}">
											<span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
											{{colData}}
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="PivotSaveSetting()">Save</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!--  Pivot Table Setting end-->




<!--<script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>-->
<script src="/assets/custom-js/ckeditor/ckeditor.js"></script>
