<style>
	.card {
		margin: 0px;
	}

	.card .nav-pills,.card .tab-content {
		margin-top: 0px;
	}

	.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
		font-size: 14px;
	}

	.custSize {
		width: 50px;
	}

	#minimizeSidebar {
		display: none;
	}

	@media ( min-width : 992px) {
		.sidebar-mini .sidebar {
			width: 140px;
			position: fixed;
		}
	}

	@media ( min-width : 992px) {
		.sidebar-mini .main-panel {
			width: calc(100% -     0px);
			margin-left: 0px;
		}
	}

	.off-canvas-sidebar .nav i,.sidebar .nav i {
		margin-left: 0px;
	}

	@media ( min-width : 992px) {
		.sideSubBar {
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
			position: fixed;
			width: 23%;
			height: 95vh;
		}
		.sideSubBarWidth1 {
			width: 22%;
			padding: 0px;
		}
		.sideSubBarWidth2 {
			width: 78%;
			padding-right: 0px;
		}
	}

	.sidebar .nav li:first-child>a,.off-canvas-sidebar .nav li:first-child>a{
		margin: 5px 0px;
	}

	@media ( min-width : 992px) {
		.sidebar-mini .sidebar .nav {
			margin-top: 10px;
		}
	}

	.chart-legend {
		min-height: 100px;
	}

	.btn-group,.btn-group-vertical {
		position: relative;
		margin: 0px 1px;
	}

	.li_box {
		border: 2px solid #FFF;
	}

	.li-box-border {
		border: 2px solid #2196f3;
	}

	.badge {
		width: 20px;
		height: 17px;
	}

	#chartjs-tooltip {
		opacity: 1;
		position: absolute;
		background: rgba(0, 0, 0, .9);
		color: white;
		border-radius: 3px;
		-webkit-transition: all .1s ease;
		transition: all .1s ease;
		pointer-events: none;
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		z-index: 9999999;
		font-family: 'Open Sans', sans-serif !important;
	}

	.modal .modal-dialog {
		margin-top: 60px;
	}

	.sidebar-mini .sidebar .nav li>a,.compact-menu .sidebar .nav li>a {
		margin: 5px 0px;
	}
	.k-datepicker,.startdate,.enddate {
		width: 50%;
		display: inline;
	}

	.nav>li>a {
		padding: 10px 12px;
	}

	.handle-e,.handle-s,.handle-w,.handle-ne,.handle-se,.handle-sw,.handle-nw
	{
		display: none;
	}

	.reportTitle {
		white-space: nowrap;
	}
	body {
		overflow: hidden;
	}

</style>

<div class="row">
	<div class="col-lg-3 col-md-12 sideSubBarWidth1" ng-if="filerTemp.length>0 || rangeObject">
		<div class="card sideSubBar">
			<div class="card-header card-header-text">
				<ul class="nav nav-pills nav-pills-rose nav-pills-icons">
					<li class="active"><a href="javascript:void(0);#filterTab" data-toggle="tab"> <i class="fa fa-filter"></i>Filter </a></li>
				</ul>
			</div>
			<div class="card-content table-responsive">
				<div class="tab-content">
					<div class="tab-pane active" id="filterTab">
						<div class="card-block">
							<div class="custPanel">
								<div style="overflow: auto; overflow-x: hidden; height: 400px;">
									<div ng-repeat="filter in filerTemp" class="row" style="padding-top: 20px; width: 100%; padding-left: 16px;">
										<div class="col-sm-12" style="text-align: left;">
											<h5 title="{{filter.reName}}">
												{{filter.reName | limitTo:25}}{{filter.reName.length > 25 ? '...' : ''}}
											</h5>
										</div>
										<div class="col-sm-12" ng-if="filter.value=='int' || filter.value=='bigint' || filter.value=='double' || filter.value=='decimal' || filter.value=='float'">
											<div class="slider slider-info" id="{{filter.key}}-Filter"></div>
										</div>
										<div  ng-if="filter.value=='date'" style="padding: 0px;">
											<div class='col-sm-12'>
												<div class='col-sm-5'>
													<div class="form-group" ng-click="filterColumn(filter)">
														<div class='input-group date'>
															<input class="startdate form-control" type='text' />
														</div>
													</div>
												</div>
												<div class='col-sm-5'>
													<div class="form-group" ng-click="filterColumn(filter)">
														<div class='input-group date'>
															<input class="enddate form-control" type='text' />
														</div>
													</div>
												</div>
												<div class='col-sm-2'>
													<a href="javascript:void(0)" ng-click="cascadeDateFilter(allFilters[filter.key],filter,$index)" style="margin-top:20px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
												</div>
											</div>
										</div> 
										<div ng-if="filter.value=='datetime'" style="padding: 0px">
											<div class='col-sm-12'>
												<div class="form-group" ng-click="filterColumn(filter)">
													<div class='input-group date'>
														<input class="startdatetime form-control" type='text'  />
													</div>
												</div>
											</div>
											<div class='col-sm-10'>
												<div class="form-group" ng-click="filterColumn(filter)">
													<div class='input-group date'>
														<input class="enddatetime form-control" type='text'  />
													</div>
												</div>
											</div>
											<div class='col-sm-2'>
												<a href="javascript:void(0)" ng-click="cascadeDateFilter(allFilters[filter.key],filter,$index)"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
											</div>
										</div> 
										<div class="col-sm-12" ng-if="filter.value=='varchar' || filter.value=='char' || filter.value=='text'">
											<div class="form-material">
												<select id="filterSelect_{{$index}}" data-style="select-with-transition" title="Choose Filter" multiple data-size="7" data-container="body" data-ng-model="allFilters[filter.key]['filterValue']" ng-change="filterBy(allFilters[filter.key]['filterValue'],filter,$index)" data-live-search="true" data-actions-box="true">
													<option ng-repeat="filterData in filtersTo[filter.key] | orderBy" value="{{filterData}}" ng-if="filterData" selected>
														{{filterData}}
													</option>
												</select>
											</div>
										</div>
									</div>
									<div ng-repeat="rangePicker in rangeObject" style="width: 100%; padding-left: 16px;">
										<div ng-repeat="i in getArrayList(rangePicker.numberOfColumn)">
											<div class="row">
												<div class="col-sm-12" style="text-align: left;">
													<h5>{{rangePicker.key.columnName}}-{{i}}</h5>
												</div>
												<div class="container"  style="padding: 0px">
													<div class='col-sm-12'>
														<div class='col-sm-1'>
															<div class="form-group">
																<div class='input-group date' >
																	<input class="rangeStartFilter{{$index}} dateTimeLineStart form-control" type='text' ng-click="filterRangeColumn($index, rangePicker.key.columnName)" />
                                                                    <!--<input class="rangeStartFilter dateTimeLine{{$index}} form-control" type='text' /> 	 -->
																</div>
															</div>
														</div>
														<div class='col-sm-1'>
															<div class="form-group">
																<div class='input-group date' >
																	<input class="rangeEndFilter{{$index}} dateTimeLineEnd form-control" type='text' ng-click="filterRangeColumn($index, rangePicker.key.columnName)" />
                                                                    <!--<input class="rangeEndFilter dateTimeLine{{$index+1}} form-control" type='text' />                       -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-12" style="text-align: right" ng-if="filerTemp.length>0">
									<button class="btn btn-primary" ng-click="allFilterApply()">Filter</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12" ng-class="(filerTemp.length==0 && rangeObject==undefined) ? 'col-md-12' : 'col-md-9 sideSubBarWidth2'">
		<div style="padding-left: 20px; padding-right: 20px;margin-bottom: 4%;">
			<h4>
				{{dashName.dashboardName}}
				<a href="#/dashboard/edit/{{dashboardId}}/0" class="btn btn-primary pull-right" style="margin-top: 0px;">Edit</a>
			</h4>
		</div>
		<div class="col-sm-12" data-gridster="dashboardCommonSettings" id="dashboard-image" style="margin-top: -25px;margin-left: 10px;">
			<div class="widget widget-shadow li_box" data-ng-repeat="reportContainer in dashboardPrototype.reportContainers" data-gridster-item="reportContainer" id="li_{{reportContainer.id}}" style="background: #FFF; top: 0px;">
				<div class="panel-heading">
					<h5 class="panel-title " style="line-height: 0px; padding-top: 0px;">
						<div class="row">
							<div class="form-group form-material col-sm-7 reportTitle">{{reportContainer.name}}</div>
							<div class="col-sm-5">
								<span class="pull-right margin-pull-rights" style="padding-right: 10px;">
									<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType!='Map' && reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Text' && reportContainer.chartType!='Word Cloud' && reportContainer.chartType!='SpeedoMeter' && reportContainer.chartType!='Pivot Table Customized' && reportContainer.chartType!='Text/Image' ">
										<button class="btn btn-xs btn-primary dropdown-toggle" type="button" rel="tooltip"  data-toggle="dropdown">
											<!-- Legends -->
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu dropdown-menu-right chart-legend" id="left{{reportContainer.id}}select"></ul>
									</div>
									<div class="dropdown" style="display: inline;" ng-if="reportContainer.chartType=='Map'">
										<button class="btn btn-xs btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
											<!-- Legends -->
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu dropdown-menu-right chart-legend mapDropDown" id="measure_{{reportContainer.id}}"></ul>
								   </div>
									<button ng-click="resetChart()" type="button" rel="tooltip" title="Reset" class="btn btn-xs btn-primary" style="cursor: pointer;">
										<i class="fa fa-refresh"></i>
									</button>
								</span>
							</div>
						</div>
					</h5>
				</div>
				<div class="col-sm-12" ng-show="reportLoading_{{reportContainer.id}}" style="position: absolute; text-align: center; top: 40%;">
					<img class="image-responsive-height demo-mw-25" src="assets/img/demo/progress.svg" alt="Progress" style="width: 70px;">
				</div>
				<div style="margin-top: 15%; text-align: center;" data-ng-show="showInfo[reportContainer.id]">
					<h5 style="color: #777;">{{chartErrorText[reportContainer.id]}}</h5>
				</div>
				<div class="row" style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Map' || reportContainer.chartType=='Pivot Table Customized' ">
					<div class="col-sm-12" style=" padding-left: 30px; overflow: hidden;">
						<div class="widget-content" ng-class="(reportContainer.chartType=='Map') ? 'overflow' : 'overflowAuto'" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
					</div>
				</div>
				<div class="row" ng-if="reportContainer.chartType!='DataTable' && reportContainer.chartType!='X Table' && reportContainer.chartType!='Number Widget' && reportContainer.chartType!='Pivot Table' && reportContainer.chartType!='Male & Female Comparison' && reportContainer.chartType!='Building Comparison' && reportContainer.chartType!='Map' && reportContainer.chartType!='Text/Image'">
					<div class="col-sm-12" style="overflow: hidden; padding-left: 30px;">
						<div class="widget-content" ng-class="(reportContainer.chartType=='Line Chart' || reportContainer.chartType=='Area Chart' || reportContainer.chartType=='Bar Chart' || reportContainer.chartType=='Row Chart' || reportContainer.chartType=='Bubble Chart' || reportContainer.chartType=='Composite Chart' || reportContainer.chartType=='Line + Bar Chart' || reportContainer.chartType=='Dual Axis Chart' || reportContainer.chartType=='Funnel Chart') ? 'overflowAuto' : 'overflow'" id="{{ 'chart-' + reportContainer.id }}"></div>
					</div>
				</div>
				<div style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Pivot Table' || reportContainer.chartType=='X Table' || reportContainer.chartType=='Male & Female Comparison' || reportContainer.chartType=='Building Comparison' || reportContainer.chartType=='Map' ">
					<div class="col-sm-12" style="padding-left: 30px;">
						<div class="widget-content"id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
					</div>
				</div>
				<div class="TA" style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='DataTable' || reportContainer.chartType=='Text/Image'">
					<div class="col-sm-12" style="padding-left: 30px;">
						<div class="widget-content"id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
					</div>
				</div>
				<div class="footer" ng-if="reportContainer.chartType!='DataTable'">
					<div class="col-sm-12">
					   <div id="{{ 'rangeScroll_' + reportContainer.id }}"></div>
					</div>
				</div>
				<div class="footer" ng-if="reportContainer.chartType=='DataTable'">
					<div class="col-sm-4">
						<div class="dataTables_info" id="{{ 'paginationEntry_' + reportContainer.id }}" style="margin:4px;"></div>
					</div>
					<div class="col-sm-8"  style="text-align: right">
						<ul id="{{ 'pagination_' + reportContainer.id }}" class="pagination-lg pull-right" style="margin-top: 1px;"></ul>
					</div>
				</div>
				<div style="width: 100%; overflow: auto;" ng-if="reportContainer.chartType=='Number Widget'">
					<div class="col-sm-12" style="padding-left: 40px;">
						<div class="widget-content" id="{{ 'chart-' + reportContainer.id }}" style="height: 100%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
