<style>
    .filterBtn{
        margin: 0px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form >
                    <div class="card-content">
                        <h4 class="card-title">Role Level Security</h4>
                        <div class="row">
                            <div class="col-sm-4">

                                <label class="control-label">User Group/Department<small>*</small></label>
                                <select class="userGroup form-control" data-style="select-with-transition" title="Select" data-size="5" ng-model="rlsObj.userGrp" ng-change="setUser(rlsObj.userGrp)" disabled>
                                    <option selected="selected" disabled="disabled" ng-value="" value="">Select User Group/Department</option>
                                    <option ng-repeat="user in userGroup" value="{{user.id}}">{{user.name}}</option>
                                </select>
                            </div>
                            <div ng-if="rlsObj.userGrp">
                                <div class="col-sm-4">
                                    <label class="control-label">Users<small>*</small></label>
                                    <select class="userList" multiple data-style="select-with-transition" title="Select" data-size="5"  data-actions-box="true" ng-model="rlsObj.usersObj">
                                        <option ng-repeat="user in userList" value="{{user.id}}">{{user.name}}({{user.email}})</option>
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label class="control-label">Shared View <small>*</small></label>
                                    <select class="sharedviewList form-control" data-style="select-with-transition" title="Select" data-size="5"  data-live-search="true" disabled>
                                        <option>{{tempSharedviewName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="tableFilterCondition==1">
                            <div class="col-sm-6">
                                <h5>Tables</h5><br>
                            </div>
                            <div class="col-sm-6">
                                <h5>
                                    Table Filter Expresion
                                    <span class="pull-right" ng-if="filterBtn">
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="tableFilter('','and')">AND</button>
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="tableFilter('','or')">OR</button>
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="tableFilter('','=')">=</button>
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="tableFilter('','<')"><</button>
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="tableFilter('','>')">></button>
                                        <button type="button" class="btn btn-sm btn-danger  filterBtn" ng-click="filterClose()"><i class="fa fa-close"></i></button>
                                        <button type="button" class="btn btn-sm btn-primary  filterBtn" ng-click="filterSave()"><i class="fa fa-check"></i></button>
                                    </span>
                                </h5>
                            </div>
                        </div>
                        <div class="row" ng-show="tableFilterCondition==1">
                            <div class="col-sm-6" style="min-height: 300px;max-height: 300px;border: 1px solid #CCC;overflow: auto">
                                <table class="table table-hover">
                                    <tr ng-repeat="(key,value) in tableColObj" id="{{key}}" class="filterCls" ng-if="sharedview.name!='publicview'" ng-click="tableSelect(key)" style="cursor: pointer;">
                                        <td>{{key}}</td>
                                        <td style="text-align: right;">
                                            <i  class="fa fa-filter" aria-expanded="true" ng-if="filterObj[key]!=undefined && filterObj[key]!=''"></i>&nbsp;&nbsp;&nbsp;
                                            <div class="dropdown pull-right" style="cursor: pointer">
                                                <i  class="fa fa-ellipsis-v" data-toggle="dropdown" aria-expanded="true">
                                                </i>
                                                <ul class="dropdown-menu dropdown-menu-right" role="menu" style="max-height: 150px;overflow: auto">
                                                    <li ng-repeat="arr in value">
                                                        <a href="javascript:void(0);" ng-click="tableFilter(key,arr.Field)">{{arr.Field}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-6" style="min-height: 300px;max-height: 300px;border: 1px solid #CCC;padding: 0;">
                                <textarea rows="14" cols="58" ng-model="formula"></textarea>
                            </div>
                        </div>
                        <!-- Permission End ng-if="filterObj.length"-->
                        <div >
                            <a href="#/setting/role_security" >
                                <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                            </a>
                            <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="updateRoleLevel()" ng-if="filterObj">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>
