<style>
    .filterBtn{
        margin: 0px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="card">
                <form >
                    <div class="card-content">
                        <h4 class="card-title">Role Level Security User</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">Role Level Security Name<small>*</small></label>
                                    <select class="commonSelect"  data-style="select-with-transition" title="Role Level Security Name" data-size="7" ng-model="rlsObj.sharedviewid">
                                        <option ng-repeat="rls in rlsList" value="{{rls.id}}">{{rls.name}}({{rls.shared_view.name}})</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group label-floating">
                                    <label class="control-label">User<small>*</small></label>
                                    <select class="commonSelect" multiple  data-style="select-with-transition" title="User" data-size="7" ng-model="rlsObj.userid">
                                        <option ng-repeat="user in userList" value="{{user.id}}">{{user.name}}({{user.email}})</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Permission End -->
                        <a href="#/setting/role_security" >
                            <button type="button" class="btn btn-danger pull-right ">Cancel</button>
                        </a>
                        <button type="button" class="btn btn-fill btn-primary pull-right" ng-click="save(rlsObj)">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</div>