/*-- Chart --*/
.dc svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent; }

.dc path, .dc line {
  fill: none;
  stroke: #000; }

.dc text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.dc-legend-item-tile,
.dc-xgrid-focus,
.dc-ygrid,
.dc-event-rect,
.dc-bars path {
  shape-rendering: crispEdges; }

.dc-chart-arc path {
  stroke: #fff; }

.dc-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.dc-grid line {
  stroke: #aaa; }

.dc-grid text {
  fill: #aaa; }

.dc-xgrid, .dc-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.dc-text.dc-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.dc-line {
  stroke-width: 1px; }

/*-- Point --*/
.dc-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.dc-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.dc-bar {
  stroke-width: 0; }

.dc-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.dc-target.dc-focused {
  opacity: 1; }

.dc-target.dc-focused path.dc-line, .dc-target.dc-focused path.dc-step {
  stroke-width: 2px; }

.dc-target.dc-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.dc-region {
  fill: steelblue;
  fill-opacity: .1; }

/*-- Brush --*/
.dc-brush .extent {
  fill-opacity: .1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.dc-legend-item {
  font-size: 12px; }

.dc-legend-item-hidden {
  opacity: 0.15; }

.dc-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Title --*/
.dc-title {
  font: 14px sans-serif; }

/*-- Tooltip --*/
.dc-tooltip-container {
  z-index: 10; }

.dc-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.dc-tooltip tr {
  border: 1px solid #CCC; }

.dc-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.dc-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.dc-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.dc-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.dc-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.dc-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.dc-chart-arcs .dc-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.dc-chart-arcs .dc-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.dc-chart-arcs .dc-chart-arcs-gauge-max {
  fill: #777; }

.dc-chart-arcs .dc-chart-arcs-gauge-min {
  fill: #777; }

.dc-chart-arc .dc-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }/*-- Chart --*/
.dc svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent; }

.dc path, .dc line {
  fill: none;
  stroke: #000; }

.dc text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.dc-legend-item-tile,
.dc-xgrid-focus,
.dc-ygrid,
.dc-event-rect,
.dc-bars path {
  shape-rendering: crispEdges; }

.dc-chart-arc path {
  stroke: #fff; }

.dc-chart-arc text {
  fill: #fff;
  font-size: 13px; }

/*-- Axis --*/
/*-- Grid --*/
.dc-grid line {
  stroke: #aaa; }

.dc-grid text {
  fill: #aaa; }

.dc-xgrid, .dc-ygrid {
  stroke-dasharray: 3 3; }

/*-- Text on Chart --*/
.dc-text.dc-empty {
  fill: #808080;
  font-size: 2em; }

/*-- Line --*/
.dc-line {
  stroke-width: 1px; }

/*-- Point --*/
.dc-circle._expanded_ {
  stroke-width: 1px;
  stroke: white; }

.dc-selected-circle {
  fill: white;
  stroke-width: 2px; }

/*-- Bar --*/
.dc-bar {
  stroke-width: 0; }

.dc-bar._expanded_ {
  fill-opacity: 0.75; }

/*-- Focus --*/
.dc-target.dc-focused {
  opacity: 1; }

.dc-target.dc-focused path.dc-line, .dc-target.dc-focused path.dc-step {
  stroke-width: 2px; }

.dc-target.dc-defocused {
  opacity: 0.3 !important; }

/*-- Region --*/
.dc-region {
  fill: steelblue;
  fill-opacity: .1; }

/*-- Brush --*/
.dc-brush .extent {
  fill-opacity: .1; }

/*-- Select - Drag --*/
/*-- Legend --*/
.dc-legend-item {
  font-size: 12px; }

.dc-legend-item-hidden {
  opacity: 0.15; }

.dc-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1; }

/*-- Title --*/
.dc-title {
  font: 14px sans-serif; }

/*-- Tooltip --*/
.dc-tooltip-container {
  z-index: 10; }

.dc-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9; }

.dc-tooltip tr {
  border: 1px solid #CCC; }

.dc-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF; }

.dc-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999; }

.dc-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px; }

.dc-tooltip td.value {
  text-align: right; }

/*-- Area --*/
.dc-area {
  stroke-width: 0;
  opacity: 0.2; }

/*-- Arc --*/
.dc-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em; }

.dc-chart-arcs .dc-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none; }

.dc-chart-arcs .dc-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px; }

.dc-chart-arcs .dc-chart-arcs-gauge-max {
  fill: #777; }

.dc-chart-arcs .dc-chart-arcs-gauge-min {
  fill: #777; }

.dc-chart-arc .dc-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/ }