.site-menubar {
    width: 75px !important;
} 
.page, .site-footer{
	margin-left: 75px;
}

.subDrawer{
	padding: 10px 20px 10px 20px; 
	height: 100vh;
}
table th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;
	background: #fff;
}
