.page, .site-footer {
	margin-left: 0px;
	padding-left: 20px;
	padding-right: 20px;
}
.page-content{
	padding: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.widget {
	position: relative;
	margin-bottom: 30px;
	background-color: #fff;
}
.widget-shadow {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
.panel-default>.panel-heading{
	background: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border: 0px;
}
.panel-group .panel+.panel{
	margin-bottom: 0px;
	margin-top: 0px;
}
.custBorderHover:hover{
	background-color: #D3ECF7 ;
	border: 2px solid #219FD7 !important;
	cursor: pointer;
}
.handle-n,.handle-e,.handle-s,handle-w,.handle-ne,handle-sw,.handle-nw{
	display: none;
}
.form-material .form-control, .form-material .form-control.focus, .form-material .form-control:focus{
	background-image: -webkit-linear-gradient(#FFFFFF,#FFFFFF),-webkit-linear-gradient(#FFFFFF,#FFFFFF);
}
/*.widget{
       top: 0px !important;
   }*/
.widget .panel-title{
	padding-bottom: 0px;
}
.custPlaceholder::placeholder {
	color: #fff !important;
}
.custPlaceholder{
	color: #FFF !important;
}
.measureDimension .drop-down{
	position: fixed;
}
.dropdown-menu > li > a {
	line-height: 25px !important;
}
.navbar-width{
	width: 270px !important;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	border-radius:0 ;
	color: #fff;
	background-color: #3f51b5;
}
.subdropDown{
	top: 0px;
}
.dropdown-menu{
	border-radius:0px ;
}
.page{
	height: auto !important;
}
.filterSelect{
	display: none !important;
}
.page-header{
	margin-bottom: 20px;
	padding: 40px 40px !important;
}
.handle-se,.handle-w{
	display:none;
}
.number-display{
	font-size: 26px;
	padding-left: 18px;
}
.chart-legend li span{
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.chart-legend ul li{
	list-style: none;
}
.1-legend ul li{
	  padding-top: 8px;
  }
.chart-legend ul{
	padding-left: 0px;
}
.chart-legend ul li{
	font-size:13px;
	padding: 10px 10px 0px 10px;
	cursor: pointer;
}
.lable_legends{
	font-size: 13px;
}
.chart-legend{
	margin-top: 10px;
}
.strike {
	text-decoration: line-through !important;
}
.table th{
	font-weight: bold;
}
.orb-blue.fltr-cntnr{
	z-index: 999;
}