.secondary-sidebar {
    background: #fffefe;
    width: 333px;
    float: left;
    padding-left: 47px;
    height: 100%;
    position: fixed;
}
.panel .panel-body {
    padding: 0px;
    height: 100%;
    width: 100%;
}
.custScroll{
	overflow: auto;
	z-index: 9999;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}
.custAccordion{
	max-height:150px;
	overflow: auto;
}
.custScrollFirst{
	height:100%;
	overflow:none;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
	
}
.custUl{
	width: 55px;
	height: 100%;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}
.nav-tabs > li > a{
	min-width: 55px;
}
.nav-tabs.nav-tabs-left ~ .tab-content{
	border-left: none;
}
.tab-content{
	height: 90%;
	overflow: auto;
}
.inner-content{
	margin-left: 330px;
}
@media (max-width: 991px) {
.inner-content {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.inner-content {
    margin-left: 0;
}
}
.gridster-item{
	background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 3px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 6px 0px;
    border: 2px solid transparent;
}
.handle-e,.handle-w,.handle-ne,.handle-sw,.handle-nw,.handle-s,.handle-n{
	display: none;
}
.panel-group .panel-heading {
    padding: 0px 0px 0px 16px;
}
.custBorderHover:hover{
	background-color: #D3ECF7 ;
   border: 2px solid #219FD7 !important;
   cursor: pointer;
}
.activeChart{
	background-color: #D3ECF7 ;
   border: 2px solid #219FD7 !important;
   cursor: pointer;
}
.fontSizeChartIcon{
	font-size: 18px;
}
.customBorder
{
	padding-bottom:0px; 
	margin-bottom:0px; 
	border-bottom:0px;	
}
.borderTop{
	border-top:0px !important;
}
.borderBottom{
	border-bottom :0px !important;
}
.marginTop{
	margin-top: 0px !important;
	 
}
.page-container .page-content-wrapper{
	background: #FFF;
}
.dc-chart .axis text{
	    font: 13px "Segoe UI", Arial, sans-serif !important;
}
.x-axis-label{
	 font: 13px "Segoe UI", Arial, sans-serif !important;
}
.y-axis-label{
	 font: 13px "Segoe UI", Arial, sans-serif !important;
}
.checkbox{
	margin: 0px;
}
.box-content {
	padding: 0px;
	/*padding-left: 10px;*/
	cursor: pointer;
}

.custom-title>.btn {
	line-height: 35px;
}

.cust_btn_hide a {
	opacity: 0;
	color: #FFF;
}

.edit_hover_show:hover .cust_btn_hide a {
	opacity: 1;
	color: #CCC;
}

.toggleNav {
	margin-left: 160px;
}

.box {
	box-shadow: none;
}

.box-border {
	border: 1px solid #ccc !important;
}

.hiddenBorder {
	border: 1px solid #FFF;
}
/* table {
   width: 100%;
   display:block;
}
thead {
   display: inline-block;
   width: 100%;
   height: 20px;
}
tbody {
   height: 200px;
   display: inline-block;
   width: 100%;
   overflow: auto;
} */
/* .handle-se{
 border: #FFF;
} */
.x-axis-label, .y-axis-label {
	text-transform: capitalize;
}

li.source-listing-ng-scope :hover {
	background: #000;
}

.li-box-border .handle-nw {
	font-size: 0px;
	line-height: 0%;
	width: 12px;
	/* border-top: 20px solid red;
border-right: 20px solid #FFF; */
	transform: rotate(270deg);
	background: url("../images/corner.png");
	left: -1px;
	top: -1px;
	cursor: nw-resize;
}

.li-box-border .handle-sw {
	/* border-bottom: 20px solid red;
    border-right: 20px solid #f6f6f6; */
	font-size: 0px;
	line-height: 0%;
	width: 12px;
	transform: rotate(180deg);
	background: url("../images/corner.png");
	left: -1px;
	bottom: -1px;
	cursor: sw-resize;
}

.li-box-border .handle-se {
	/* border-bottom: 20px solid red;
    border-left: 20px solid #f6f6f6; */
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	background: url("../images/corner.png");
	transform: rotate(90deg);
	right: -1px;
	bottom: -1px;
	cursor: se-resize;
}

.gridster .gridster-item:hover .handle-se {
	border-color: transparent;
}

.li-box-border .handle-ne {
	/* border-top: 20px solid red;
    border-left: 3px solid red; */
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	padding: 0px;
	border-width: 0px 0px 0px 12px;
	right: -1px;
	top: -1px;
	background: url("../images/corner.png");
	cursor: ne-resize;
}

.li-box-border .handle-s, .li-box-border .handle-n {
	width: 13px;
	height: 3px;
	margin-left: 50%;
	background: #bdbdbd;
}

.li-box-border .handle-e, .li-box-border .handle-w {
	height: 13px;
	width: 3px;
	top: 49%;
	transform: translateY(-49%);
	background: #bdbdbd;
}

.li-box-border .handle-e {
	right: -1px;
	cursor: e-resize;
}

.li-box-border .handle-w {
	left: -1px;
	cursor: w-resize;
}

.li-box-border .handle-s {
	bottom: -1px;
	cursor: s-resize;
}

.li-box-border .handle-n {
	top: -1px;
	cursor: n-resize;
}

.handle-n, .handle-w, .handle-s, .handle-e, .handle-ne, .handle-se,
	.handle-sw, .handle-nw {
	cursor: pointer;
}

.editable-input {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	background: transparent;
}

.editable-buttons {
	display: none;
}

.select2-selection {
	margin-bottom: 0px !important;
}

.advChartSettingsModal .drawer-nav {
	right: -50.25rem
}
.box_contentCustom {
	overflow: auto;
}
.active{background: #FFF !important;} 
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus{
 color: #000;
}
.outerContainer
{
	height:100%;
	padding:2%;
	
	
	
}
.tip {
    border: 2px solid #FFF;
    background: #FFF;
    color: #000;
    border-radius: 5px;
    padding: 1em;
    z-index: 100000;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .25);
}
/* DropDown*/
.dropdown-menu{
	background:#FFF;
	 
}
.dropdown-submenu {
    position: relative !important;
    
}

.dropdown-submenu>.dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px !important;
    margin-left: -1px !important;
    -webkit-border-radius: 0 6px 6px 6px !important;
    -moz-border-radius: 0 6px 6px !important;
    border-radius: 0 6px 6px 6px !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block !important;
}

.dropdown-submenu>a:after {
    display: block !important;
    content: " " !important;
    float: right !important;
    width: 0 !important;
    height: 0 !important;
    border-color: transparent !important;
    border-style: solid !important;
    border-width: 5px 0 5px 5px !important;
    border-left-color: #ccc !important;
    margin-top: 5px !important;
    margin-right: -10px !important;
    
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff !important;
}

.dropdown-submenu.pull-left {
    float: none !important;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: auto !important;/*-100%*/
    margin-left: 10px !important;
    -webkit-border-radius: 6px 0 6px 6px !important;
    -moz-border-radius: 6px 0 6px 6px !important;
    border-radius: 6px 0 6px 6px !important;
   
}
#menu { 
    margin-top: 0px;
    float: left;
    line-height: 10px; 
    left: 200px;}
#menu a { 
    display: block; 
    text-decoration: none; 
    color: #3B5330;}
#menu a:hover { background: #B0BD97;}
#menu ul li ul li a:hover { 
    background: #ECF1E7; 
    padding-left:9px;
    border-left: solid 1px #000;}
#menu ul li ul li {
    width: 140px; 
    border: none; 
    color: #B0BD97;  
    padding-top: 3px; 
    padding-bottom:3px; 
    padding-left: 3px; 
    padding-right: 3px; 
    background: #B0BD97;
    z-index:1;
}
#menu ul li ul li a { 
    font: 11px arial; 
    font-weight:normal; 
    font-variant: small-caps; 
    padding-top:3px; 
    padding-bottom:3px;}

#menu ul li a { 
    font-weight: bold;
    padding: 15px 10px;}
#menu li{ 
    position:relative; 
    float:left;}
#menu ul li ul, #menu:hover ul li ul, #menu:hover ul li:hover ul li ul{ 
    display:none;
    list-style-type:none; 
    width: 140px;}
#menu:hover ul, #menu:hover ul li:hover ul, #menu:hover ul li:hover ul li:hover ul { 
    display:block;}
#menu:hover ul li:hover ul { 
    position: absolute;
    margin-top: 1px;
    font: 10px;
}
#menu>ul>li:hover>ul { 
    bottom:100%;
    border-bottom: 1px solid transparent
}
.dc-legend-item{
	    font: 400 12px "Segoe UI", Arial, sans-serif;
}
.box-content{
	text-transform: capitalize;
}
.box-footer{
	text-transform: capitalize;
}
#accordion{
	text-transform: capitalize;
}