.widget-item .btnOption {
    position: absolute;
    top: 2%;
    left: 92%;
    right: 0;
    margin: auto;
}
.bg-master-lightest {
    background-color: #FFF;
}
.widget-item{
	height: 220px  !important;
}