.customPortlet{
	cursor: pointer;
	box-shadow: 0 0 20px #CCC;
	/* box-shadow: 2px 2px 5px #CCC; */
		
}
.customPortlet:hover{
	
	border: 1px solid #CCC;
} 
.customImage{
	width: 55px;
	height: 55px;
}
.demo-mw-25{
	max-width: 25px;
}
.textCenter{
	text-align: center;
}
label{
	font-family: "Segoe UI", Arial, sans-serif;
	color:#626262;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 0.01em;
    -webkit-font-smoothing: antialiased;
}
.custText{
	text-transform: capitalize;
}
.backBtn{
	padding: 0;
}
.backIcon{
	cursor: pointer;
	
}
#displayTable{
	margin-left: 0xp !important;
}
.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #ddd;
} 
.bottomPadding{
	padding-bottom: 5px;
}