.ldBar {
	position:relative;
}

.ldBar.label-center > .ldBar-label {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	text-shadow:0 0 3px #fff;
}

.ldBar-label:after {
	content:"%";
	display:inline;
}

.ldBar.no-percent .ldBar-label:after {
	content:""
}
	
.ldBar-label {
    color: black;
    font-family: arial;
    font-size: 1.2em;
    font-weight: 600;
	width: 100%;
	text-align: center;
}
  