.secondary-sidebar {
    background: #fffefe;
    width: 333px;
    float: left;
    padding-left: 47px;
    height: 100%;
    position: fixed;
}
.custScroll{
	overflow: auto;
	z-index: 9999;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}
.custAccordion{
	max-height:150px;
	overflow: auto;
}
.custScrollFirst{
	height:100%;
	overflow:none;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}
.custUl{
	width: 55px;
	height: 100%;
	border-right: 1px solid rgba(230, 230, 230, 0.7);
}
.nav-tabs > li > a{
	min-width: 55px;
}
.nav-tabs.nav-tabs-left ~ .tab-content{
	border-left: none;
}
.tab-content{
	height: 100%;
	overflow: auto;
}
.inner-content{
	margin-left: 302px;
}
@media (max-width: 991px) {
.inner-content {
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.inner-content {
    margin-left: 0;
   }
}
.joinImage{
	background: #fff;
   cursor: pointer;
   height: 30px;
   left: -41px;
   position: absolute;
   top: 22.5px;
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   z-index:99;
}
.panel .panel-body{
	padding: 0px 0px 0px 14px;
}



.html-back{
  background : #CCC;

}
.css-back{
  background : #CCC;

}
.js-back{
  background : #CCC;
}
.container-fluid{
	padding-right: 15px;
}
.panel{
	margin-bottom: 0px;
}
.custBorderSidebar{
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
}
.borderTop{
	border-top: 0px !important;
}
.join-link {
   fill: none;
   stroke: #219FD7 ;
   stroke-width: 2px;
  /*  shape-rendering: crispEdges; */
  overflow: auto;
  transform-origin: 50% 50% 0px;
}
.join-links{
 /*  width: 4000px;
   height: 4000px; */
   overflow: auto;
}
.join-preview{
	transform: translate(0px,20px);
}
.gridStyle{
	font-family:font-family: "Segoe UI", Arial, sans-serif !important;
	font-size: 13px !important;
}
.joinHover{
	text-align: center;
}
.joinHover:hover{
	border: 1px solid #ccc;
	cursor: pointer;
}
.joinActive{
	border: 1px solid #ccc;
	background: rgba(204, 204, 204, 0.39);
}
body{
	background: #FFF;
}
.borderHeightModel{
	border-right:1px solid rgba(230, 230, 230, 0.7);
	height: 380px;
	overflow: auto;
} 
.custLiWidth{
	width: 90%;
	cursor: pointer;
}
.operatorHover{
	opacity:0;
	color: blue;
}
.custLiWidth:hover .operatorHover{
	opacity:1;
}
.functionHover{
	opacity:0;
	color:blue;
}
.custLiWidth:hover .functionHover{
	opacity:1;
}
.columnNameMeasure{
	opacity:0;
	color:blue;
}
.custLiWidth:hover .columnNameMeasure{
	opacity:1;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-color: rgb(230, 230, 230);
    background-image: none;
    box-shadow: none;
    color: inherit;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 8px;
    margin: 8px -5px 7px 10px;
    padding: 4px 8px 4px 21px;
}
.select2-search-choice-close::before {
    font-family: FontAwesome;
    content: "";
    font-size: 12px;
    color: rgb(98, 98, 98);
}
textarea {
    resize: none;
}