.page-header { /* background-color: #fff;
    border-radius: 3px; */
	padding: 0px 8px !important;
	margin: 0px 12px;
}

.form-material.floating {
	font-size: 18px;
	margin-top: 0px;
	background-color: #fff;
	padding: 7px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.custPanel {
	margin-bottom: 0px;
}

.card-block {
	padding: 0px;
}

.panel-title {
	padding: 20px 0px 15px 0px;
}

.panel-heading {
	padding-left: 20px;
	padding-right: 20px;
}

.glyphiconCust {
	font-size: 18px;
}

.custTitlePanel {
	float: left;
}
/* Extra css*/
.joinImage {
	background: #fff;
	cursor: pointer;
	height: 30px;
	left: -41px;
	position: absolute;
	top: 22.5px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99;
}

.join-link {
	fill: none;
	stroke: #219FD7;
	stroke-width: 2px;
	/*  shape-rendering: crispEdges; */
	overflow: auto;
	transform-origin: 50% 50% 0px;
}

.join-links { /*  width: 4000px;
          height: 4000px; */
	overflow: auto;
}

.navbar-width {
	width: 260px !important;
}

.joinHover {
	text-align: center;
	border: 1px solid transparent;
}

.joinHover:hover {
	border: 1px solid #ccc;
	cursor: pointer;
}

.joinActive {
	border: 1px solid #ccc;
	background: rgba(204, 204, 204, 0.39);
}

.custSize {
	width: 40px;
}

.marginBottom {
	margin-bottom: 10px;
}

.custHeader {
	text-align: left;
	width: 100%;
}

.li-box-border {
	border: 2px solid #48b0f7 !important;
	cursor: pointer;
}

@media ( max-width : 767px) {
	.site-menubar {
		transform: translate3d(-350px, 0, 0);
	}
	.page,.site-footer {
		margin-left: 0px;
	}
}

.widget { /* position: relative;*/
	margin-bottom: 30px;
	background-color: #fff;
	cursor: pointer;
}

.widget-shadow {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	background: #48b0f7;
	border: none;
	color: #FFF;
}

.nav-tabs>li>a {
	font-size: 16px;
	padding: 5px 26px;
}


.panel-group .panel-title:before {
	content: "";
}

.panel-group .panel-title:after {
	content: "";
}

.panel-group .panel-heading {
	padding: 5px 10px 5px 10px;
}

.panel-group .panel {
	border-radius: 0px;
	padding-bottom: 10px;
}

.panel-group .panel-collapse .panel-body {
	padding: 0px 0px;
}

.panel-body .checkbox {
	margin-bottom: 2px;
	margin-top: 2px;
}


.panel-group .panel+.panel {
	margin-bottom: 0px;
	margin-top: 0px;
}

.activeChart {
	background-color: #D3ECF7;
	border: 2px solid #219FD7 !important;
	cursor: pointer;
}

.custBorderHover:hover {
	background-color: #D3ECF7;
	border: 2px solid #219FD7 !important;
	cursor: pointer;
}

.handle-n,.handle-e,.handle-s,handle-w,.handle-ne,handle-sw,.handle-nw {
	display: none;
}

.form-material .form-control,.form-material .form-control.focus,.form-material .form-control:focus
	{
	background-image: -webkit-linear-gradient(#FFFFFF, #FFFFFF),
		-webkit-linear-gradient(#FFFFFF, #FFFFFF);
}

/*.widget {
        top: 0px !important;
    }*/
.widget .panel-title {
	padding-bottom: 0px;
}


.custPlaceholder::placeholder {
	color: #000 !important;
}

.custPlaceholder {
	color: #000;
	font-size: 17px;
}

.measureDimension .drop-down {
	position: fixed;
}

.dropdown-menu>li>a {
	line-height: 25px !important;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
	border-radius: 0;
	color: #fff !important;
	background-color: #3f51b5;
}

.subContainersBorder {
	border: 2px solid #48b0f7 !important;
	cursor: pointer;
}

.subContainersPreBorder {
	border: 2px dashed #d1d2d3 !important;
	cursor: pointer;
}

.subdropDown {
	top: 0px;
}

.navbar-width {
	width: 260px !important;
}

.dropdown-menu {
	border-radius: 0px;
}

.widget {
	border: 2px solid transparent;
}

.form-material.floating {
	margin-top: 0px;
}

.example {
	margin-bottom: 0px;
}

h4 {
	margin-top: 20px;
	margin-bottom: 0px;
	text-shadow: none;
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
}

.site-menu>.site-menu-item.active {
	font-weight: bold;
}
.site-menubar{
	width: 250px;
}
.page, .site-footer{
	margin-left: 250px;
}
.page-content{
	padding: 32px 30px;
}
.container-customize{
	border: 1px dotted black; 
	cursor: move; 
	text-align: center;
}
.nav-padding{
	padding-left: 14% !important;
}
.tab-padding{
	padding: 5px 5px 5px 5px;
}
.marginTop10{
  margin-top: 10px;
}
.textLeft{
	text-align: left;
}
</style>
<style>
.page-header { /* background-color: #fff;
    border-radius: 3px; */
	padding: 0px 8px !important;
	margin: 0px 12px;
}

.form-material.floating {
	font-size: 18px;
	margin-top: 0px;
	background-color: #fff;
	padding: 7px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.custPanel {
	margin-bottom: 0px;
}

.card-block {
	padding: 0px;
}

.panel-title {
	padding: 20px 0px 15px 0px;
}

.panel-heading {
	padding-left: 20px;
	padding-right: 20px;
}

.glyphiconCust {
	font-size: 18px;
}

.custTitlePanel {
	float: left;
}

.navbar-width {
	width: 260px !important;
}

.joinHover {
	text-align: center;
	border: 1px solid transparent;
}

.joinHover:hover {
	border: 1px solid #ccc;
	cursor: pointer;
}

.joinActive {
	border: 1px solid #ccc;
	background: rgba(204, 204, 204, 0.39);
}

.custSize {
	width: 40px;
}

.marginBottom {
	margin-bottom: 10px;
}
.custHeader {
	text-align: left;
	width: 100%;
}
.li-box-border {
	border: 2px solid #48b0f7 !important;
	cursor: pointer;
}
@media ( max-width : 767px) {
	.site-menubar {
		transform: translate3d(-350px, 0, 0);
	}
	.page,.site-footer {
		margin-left: 0px;
	}
}
.widget { /* position: relative;*/
	margin-bottom: 30px;
	background-color: #fff;
	cursor: pointer;
}
.widget-shadow {
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus
	{
	background: #48b0f7;
	border: none;
	color: #FFF;
}
.nav-tabs>li>a {
	font-size: 16px;
	padding: 10px 26px;
}
.in{
  opacity:0;
}
.overflow{
  overflow: hidden;
}
.overflowAuto{
  overflow: auto;
}
.modal-backdrop.show{
opacity: 0;
}
.chart-legend li span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;
}

.1-legend ul li {
	padding-top: 8px;
}

.strike {
	text-decoration: line-through !important;
}

.chart-legend ul li {
	font-size: 13px;
	padding-bottom: 8px;
	
} 
.tab-content>.tab-pane{
  display: block;
}
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    /* background: white; */
    min-height: 300px; 
    /* border: 2px solid rgba(0, 0, 0, 0.3);
    background: white; */
    padding: 54px 54px;
}
.dropzone .dz-message {
	font-size: 25px;
    font-weight: 400;
}
.dropzone .dz-message {
    text-align: center;
    /* margin: 2em 0; */ 
}
.filterHeight{
	min-height: 100px;
	padding: 20px 54px;
	margin-bottom: 1%;
}
.afterFilter{
  background: #FFF;
  border: 2px solid #ccc;
  font-size: 20px;
}
.fontStyle{
	text-align: center;
}
.vr
{
  display:inline;
  height:100%;
  width:1px;
  border:1px inset;
  margin:5px
}