.card-block{
  padding: 0px;
}
.custIcon{
    width: 0px !important;
    height: 0px !important;
    float: right;
    margin-top: -15px;
    margin-right: -1px !important;
    margin-left: 0px !important;
}
.card-title {
	margin-top: 0px;
	padding-left: 10px;
	padding-top: 10px;
}
.listEditDelete{
	right:0;
	min-width: 100px;
}	 
.page, .site-footer {
    margin-left: 0px;
}
.cust-header-width{
    width: 100%;
}
.cust-topBar-btn {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}
.site-nav{
    padding: 22px 13px;
}
#widgetUserList .card-header .overlay-background{
	background-color: #fff;
	color:#000
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
#widgetUserList:hover{
         cursor:pointer;
}
.widgetUserList{
   cursor:pointer;
}
.widgetUserList:hover{
   background: #000;
   opacity:0.9;
}
.page{
   height:auto;
}
.modal-backdrop{
	display: none;
}
.btn-group {
    float: right !important;
    cursor: pointer;
 }
.overlay{
    overflow: visible !important;
}
.btn-group .dropdown-menu>li>a {
    padding: 0px 0px 0px 14px;
}		