.chart-legend li span {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 5px;	
}
.chart-legend ul{
	list-style: none;
	padding: 0;
}
.chart-legend ul li{
	padding-bottom:10px;
	cursor: pointer;
}
.strike {
	text-decoration: line-through !important;
}
.1-legend ul li {
	padding-top: 8px;
}
.chart-legend {
    padding: 20px 10px 10px 10px;
}
.custPadding{
	padding: 15px 15px 15px 15px !important;
}
body {
	padding: 0px;
}
/* .panel-title{
    background: #76b7b2;
    color: #FFF;
} */
.full-height{
	padding-left:30px;
	padding-right:30px;
}
.custButton{
	background: #FFF;
	color:#000 !important;	
}