<!-- BEGIN SIDEBAR -->
<!-- <div ng-include src=" 'tpl/blocks/sidebar.html' " include-replace>
</div> -->
<!-- END SIDEBAR -->
<!-- START PAGE-CONTAINER -->
<!-- <div ng-include src=" 'tpl/blocks/top.html' " include-replace>
</div> -->

<div class="page-container">
    <!-- START PAGE HEADER WRAPPER -->
    	 <div ng-include=" 'tpl/blocks/header.html' "></div>
   <!--  <div class="horizontal-menu" style="margin-top: 4%;">
    		<div ng-include src=" 'tpl/layouts_horizontal.html'"></div>
    </div>  -->
    <!-- END PAGE HEADER WRAPPER -->
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper">
        <!-- START PAGE CONTENT -->
        <div class="content">
            <div class="full-height full-width" ui-view>
            </div>
        </div>
        <!-- END PAGE CONTENT -->
        <!-- <div ng-include=" 'tpl/blocks/footer.html'">
        </div> -->
    </div>
    <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<!--START QUICKVIEW -->
<!-- <div ng-include src=" 'tpl/blocks/quick_view.html' " include-replace>
</div> -->
<!-- END QUICKVIEW-->
<!-- START OVERLAY -->
<!-- <div ng-include src=" 'tpl/blocks/quick_search.html' " include-replace>
</div> -->
<!-- END OVERLAY -->
