<!-- caluculation --> 
<div class="modal modal-primary fade stick-up" id="calculationMeasure" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip">
                	<i class="fa fa-close"></i>
                </button> 
                <h4>Calculation Column</span></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-3 borderHeightModel">
                                <h5>Function List</h5>
                                <div class="col-sm-12" style="height:350px;overflow: auto;">
                                	<ul class="lg-icon"> 
						                 <li class="custLiWidth" ng-repeat="list in functionList" style="cursor: pointer;">
						                 	<div class="ext-left" style="display: inline-block;"> 
									            <span>{{list.key}}</span>
									        </div>
									        <div class="ext-right" style="display: inline-block;float: right;" ng-click="insertTextToFormula(list.operator,'functionList',list)">
									     		<span class="functionHover" style="cursor: pointer;">Add</span>       
									        </div>
						                 </li>
						            </ul>
                                </div> 
                            </div>
                            <div class="col-sm-3 borderHeightModel">
                                <h5>Column Name</h5>
                                <div class="col-sm-12" style="height:350px;overflow: auto;">
	                                <ul class="lg-icon" ng-repeat="keys in tableColumns"> 
						                 <li class="custLiWidth" ng-click="insertTextToFormula(keys.columnName,'fieldName')" style="cursor: pointer;">
						                 	<div  style="display: inline-block;"> 
									            <span>{{keys.reName}}</span>
									        </div>
									        <div  style="display: inline-block;float: right;">
									     		<span class="columnNameMeasure" >Add</span>        
									        </div>
						                 </li>
						            </ul>     
						        </div>    
                            </div>
                            <div class="col-sm-6">
                                <h5>Calculated Field Name</h5>
                                <div class="col-sm-12">
                                	<div class="form-group form-material floating"
										data-plugin="formMaterial">
											<input type="text" class="form-control" ng-model="calObject.fieldName">
											<label class="floating-label">Field Name</label>
									</div>
                           		</div>
                           		<div class="col-sm-12">
	                                <div  class="required">
	                                    <label style="width: 100%;">
	                                    	Formula 
			                                <div style="float: right;" ng-repeat="operators in operators" title="{{operators.key}}" data-toggle="tooltip" data-placement="bottom">
			                                    &nbsp;&nbsp;&nbsp;
			                                    <button class="btn btn-sm btn-primary"  ng-click="insertTextToFormula(operators.value,'')"><i class="{{operators.icon}}"></i></button>
			                                </div>
	                                    </label>
	                                    <textarea placeholder="Enter formula" rows="8" class="form-control" ng-model="calObject.measureFormula"></textarea>
	                                </div>
                           		</div>
                           		<div class="col-sm-12">
                           			<div class="required red">
                           				<span style="color: red;">{{errorCalculation}}</span><br>
										<span>{{descriptionText}}</span>
                           			</div>		 
                           		</div>	
                           		<div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
			                        <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveCalculationField(calObject)">Save</button>
			                    </div>
                            </div>
                        </div>
                </form>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END Measure caluculation -->