<nav class="secondary-sidebar padding-0 full-height custScrollFirst">

	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-left custUl"
		pg-tab-dropdownfx>
		<li class="active"><a data-toggle="tab" pg-tab href="#home"><span><i
					class="pg-home"></i></span></a></li>
		<li><a data-toggle="tab" pg-tab href="#profile"><span><i
					class="pg-home"></i></span></a></li>
		<li><a data-toggle="tab" pg-tab href="#messages"><span><i
					class="pg-home"></i></span></a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content scrollable"  ui-jq="scrollbar" ui-options="{ignoreOverlay: true}">
		<div class="tab-pane active" id="home">
			<div class="row">
				<div class="col-md-12">
					<div pg-form-group	class="form-group form-group-default form-group-default-select">
						<label class="">Metadata List</label>
						<div pg-form-group	class="form-group form-group-default form-group-default-select">
							<ui-select ng-model="querySelector" on-select="selectDataSource($item)" theme="bootstrap">
							<ui-select-match placeholder="Select Metadata">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices	repeat="list in queryList | filter: $select.search">
								<div ng-bind-html="trustAsHtml((list.name | highlight: $select.search))"></div>
							</ui-select-choices>
							</ui-select>
						</div>
					</div>
				</div>
				<div class="col-md-12 text-center" data-ng-show="preLoad">
					<div class="progress-circle-indeterminate m-t-45"></div>
				</div>
				<div class="col-md-12">
					<div class="form-group form-group-default form-group-default-select customBorder" ng-show="graphAxis">
						<label class="">Search</label>
						<div pg-form-group
							class="form-group form-group-default form-group-default-select">
							<input type="text"
								class="form-control custText ng-pristine ng-valid ng-touched"
								ng-model="columnSearch">
						</div>
					</div>
					<div class="panel-group " id="accordion" role="tablist"
						aria-multiselectable="true">
						<div class="panel panel-default borderTop borderBottom" ng-show="graphAxis">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="" ng-class="{collapsed:collapseThree}"
										ng-click="collapseThree=!collapseThree" aria-expanded="false"
										aria-controls="collapseThree"> Measure </a>
								</h4>
							</div>
							<div class="panel-collapse collapse in scroll-content  auto-overflow"
								style="max-height: 100px;" role="tabpanel"
								aria-labelledby="headingThree" ng-class="{in:collapseThree}">
								<div class="panel-body ">
									<div class="col-md-12"
										ng-repeat="measure in tableColumns |filter:columnSearch"
										 ng-if="measure.dataKey=='Measure'">
										<div class="col-md-10">
											<div class="checkbox check-success">
												<input type="checkbox" value="{{measure}}"
													id="checkboxMeasure{{$index}}"
													ng-model="Attributes.checkboxModelMeasure[measure.reName]"
													ng-true-value='{{measure}}' ng-false-value='0'
													ng-click="chartDraw(measure,'measure')"> <label
													for="checkboxMeasure{{$index}}" style="width: 100%">{{measure.reName}}</label>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
								</div>
							</div>

						</div>
						<div class="panel panel-default marginTop borderTop" ng-show="graphAxis">
							<div class="panel-heading " role="tab" id="headingThree1">
								<h4 class="panel-title">
									<a class="" ng-class="{collapsed:collapseThree1}"
										ng-click="collapseThree1=!collapseThree1"
										aria-expanded="false" aria-controls="collapseThree1">
										Dimension </a>
								</h4>
							</div>
							<div
								class="panel-collapse collapse in scroll-content auto-overflow"
								style="max-height: 100px;" role="tabpanel"
								aria-labelledby="headingThree" ng-class="{in:collapseThree1}">
								<div class="panel-body" style="padding-bottom: 15px;">
									<div class="col-md-12"
										ng-repeat="dimension in tableColumns|filter:columnSearch"
										ng-if="dimension.dataKey=='Dimension'">
										<div class="col-md-10">
											<div class="checkbox check-success">
												<input type="checkbox" value="{{dimension}}"
													id="checkboxDimension{{$index}}"
													ng-click="chartDraw(dimension,'dimension')"
													ng-model="Attributes.checkboxModelDimension[dimension.reName]"
													ng-true-value='{{dimension}}' ng-false-value='0'>
												<label for="checkboxDimension{{$index}}" style="width: 100%">{{dimension.reName}}</label>
											</div>
										</div>
										<div class="col-md-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-group" id="accordion" role="tablist"
						aria-multiselectable="true">

						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class=""> Charts</a>
								</h4>
							</div>
							<div class="panel-collapse collapse in" role="tabpanel"
								aria-labelledby="headingThree" ng-class="{in:collapseTwo}">
								<div class="panel-body">
									<div class="icon-preview m-t-10">
										<div class="row center-margin m-b-10">
											<div class="col-xs-3 text-center m-b-15"
												ng-repeat="chart in charts">
												<div class="custBorderHover" id="{{$index}}"
													ng-click="chartSelect($index,chart);chartDraw(chart,'chart')"
													style="padding: 5px; border: 2px solid #FFF">
													<i class="fa {{chart.value}} fontSizeChartIcon"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
</nav>