<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg" style="background: #FFF;">
	<!-- CONTENT GOES HERE-->
	<div class="row">
		<div class="col-md-12">
			<h4>
				Dashboard
				<div pg-form-group class="form-group form-group-default pull-right">
					
					<label>Search</label> <input type="text" class="form-control"
						ng-model="dashboardSearch" required>
				</div>&nbsp;&nbsp;&nbsp;&nbsp;
				<div class="pull-right">
					<a href="#/app/createDashboard" title="" class="btn btn-success btn-block m-t-5 ng-binding" style="margin-left:-10%;">New
							Dashboard 
					</a>
				</div>
			</h4>
		</div>
	</div>
	<div class="row" >
		<div class="container-fluid col-sm-12">
			<div class="widgets-container">
					<div class="widget-item category-Visualization b-a b-grey bg-master-lightest col-sm-4" 	data-title="Map Sales" ng-repeat="dashboard in dashboardList|filter:dashboardSearch"	style="background-image: url(&quot;http://bi.thinklayer.com/api/newbi/data/cdn/{{dashboard.image}}&quot;);margin-left: 40px;    background-size: 250px 168px;
   					 background-repeat: no-repeat; box-shadow: 0 0 20px #CCC;    background-position: top center;"  >
					<!-- START ITEM OVERLAY DESCRIPTION -->
						<div class="overlayer widget-detail bottom-left full-width" style="height:65%;">
							<!-- <img src="assets/img/wm-logo.svg" class=""> -->
							<div class="btnOption">
								<ul style="padding: 0;margin: 0;list-style: none;">
									<li class="">
										<div class="dropdown">
										<a data-target="#" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"  style="font-size: 18px;">
											<i class="fa fa-ellipsis-v"  aria-hidden="true" style="color: #FFF;"></i>
										</a>
										<ul class="dropdown-menu pull-right" role="menu">
											<li><a href="#">Edit</a>
											</li>
											<li><a href="#">Delete</a>
											</li>
											<li><a href="#">Public View</a>
											</li>
										</ul>
										</div>
									</li>
								</ul>
							</div>
							<div class="wm-logo">
								<div class="p-l-20 p-r-20 p-t-0 p-b-5">
									<div class="item-footer">
										<h5 class="text-center text-white semi-bold m-b-0">{{dashboard.name}}</h5>
										<p class="fs-12 text-white text-center">
											<span class="hint-text">Added on </span>{{dashboard.creatDate}}
										</p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					<!-- END PRODUCT OVERLAY DESCRIPTION -->
					
					<div class="footer" style="height:35%;border-top: 1px solid #CCC;background-color: #FFF;">
						<div class="row">
							<div class="col-md-12" style="margin-left:10px;margin-top: 20px;"> 
								<div class="title" style="font-weight: bold;">{{dashboard.name}}</div>
								<div class="title">Dashboard Description</div>
							</div>
						</div>	
					</div>
			</div>	
		  </div>
		</div>
	</div>
</div>