<!-- START PAGE COVER --> 
<div class="container-fluid container-fixed-lg">
	<!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
	<!-- CONTENT GOES HERE-->
	<h4>Create Datasource
	<div pg-form-group class="form-group form-group-default pull-right">
            <label>Search</label>
        	<input type="text" class="form-control" ng-model="test"  required>
		</div>
	</h4> 
	<h5>New Datasource</h5>
		<div class="row">
			<div class="col-md-12">
				<div class="col-sm-3 m-b-10" ng-repeat="source in datasource | filter:test">
					<div class="ar-3-1 ">
						<!-- START WIDGET -->
						<div class="widget-4 panel  no-margin widget-loader-bar customPortlet"
							pg-portlet progress="bar" ng-click="modalCall(source)" >
							<div class="container-sm-height full-height">
								<div class="panel-body">
									<div class="col-sm-height col-top">
										<div class="col-sm-4">
											<img check-image ng-src="{{source.image}}" class="customImage">
										</div>
										<div class="col-sm-8">
											<div class="text-black b-grey b-l p-l-10 m-t-15">
												<span class="font-montserrat fs-11 ">
													<label>{{source.name}}</label>
													
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END WIDGET -->
					</div>
				</div>
				<h5 ng-hide="(datasource|filter:test).length" >No Datasource Found</h5>
			</div>
		</div>
		<hr>
		<h5>
		Existing Datasource
		</h5>
		<div class="row">
			<div class="col-md-12">
				<div class="col-sm-3 m-b-10" ng-repeat="getSourcedata in sourcedata | filter:test">
					<div class="ar-3-1 ">
						<!-- START WIDGET -->
						<div class="widget-4 panel  no-margin widget-loader-bar customPortlet"
							pg-portlet progress="bar"  ng-click="modalEditView(getSourcedata)">
							<!-- ng-click="modalCall(source)" -->
							<div class="container-sm-height full-height">
								<div class="panel-body">
									<div class="col-sm-height col-top">
										<div class="col-sm-4">
											<img check-image ng-src="assets/img/mysql.png" class="customImage">
										</div>
										<div class="col-sm-8">
											<div class="text-black b-grey b-l p-l-10 m-t-15">
												<span class="font-montserrat fs-11 ">
													<label>{{getSourcedata.name}}</label>
												</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END WIDGET -->
					</div>
				</div>
				<h5 ng-hide="(sourcedata|filter:test).length">No Datasource Found</h5>
			</div>
		</div>
		<!-- START MODALS -->
		<div ng-include src=" 'tpl/blocks/datasource-modal.html' "
			include-replace></div>
		<!-- END MODALS -->