<style>
.ms-container .ms-selectable, .ms-container .ms-selection{
	width: 100%;	
}
.ms-selection{
	margin-top:8%;
}
.ms-container{
  width: 100%;
}
</style>
<div class="modal modal-primary fade stick-up" id="category" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog"> 
        <div class="modal-content">
        	<div class="modal-header clearfix text-left">
        		<!-- <div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                <button class="close" ng-click="notificationClose()"></button>
	                <strong>Error: </strong><span ng-bind="categoryError"></span>
	            </div>  -->
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip">
        			<i class="fa fa-close"></i>
                </button> 
                <h4>Create New Category</h4>
            </div> 
            <div class="modal-body">
            	<div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                <button class="close" ng-click="notificationClose()"></button>
	                <strong>Error: </strong><span ng-bind="categoryError"></span>
	            </div>
            	<div class="row">
					<div class="col-sm-12">
						<div class="form-group" data-plugin="formMaterial">
							<div class="row">
								<div class="col-sm-3">	
									<label class="floating-label">Category Name</label>
								</div>	
								<div class="col-sm-9">	
									<input type="text" class="form-control" ng-model="categoryGroupObj.categoryName">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<select multiple="multiple" id="my-select" ng-model="categorySelected" name="my-select[]">
					       <option ng-repeat="test in categorySelectColumnData" >{{test}}</option>
					    </select>
					</div>
					<div class="col-sm-1" style="margin-top: 34%;">
						<button ng-click="addSubCategory()" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>
					</div>
					<div class="col-sm-5">
						<div  style="height: 350px;overflow: auto;border: 1px solid #ccc; margin-top: 10%;">
						    <ul>
						        <li ng-repeat="(key,value) in selectedGroup">
						        	  <input type="text" value="{{key}}" ng-model="subCategory[$index]" style="border: 0px;margin-left: 10px;width: 50%;">
						        	  <i class="fa fa-trash" style="cursor: pointer;" ng-click="deleteGroup(key)"></i>
						        	  <i class="fa fa-plus" style="cursor: pointer;" ng-click="clicked($event)"></i>
						        	  <!--  <input type="text" ng-model="subCategory[$index]">--> 
						              <ul class="insideUl" >
						                  <li style="width:80%" ng-repeat="dimension in value">
						                  	<span>{{dimension}}</span>
						                  	<i class="fa fa-minus" style="cursor: pointer;" ng-click="deleteGroupValue(key,$index,dimension)"></i>
						                  </li> 
						              </ul>
						        </li>
						    </ul>
						</div>
					</div>
				</div>	
				<div class="row"> 
					<div class="col-sm-12">
			            <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="createCateogrySave(selectedGroup,categoryGroupObj.categoryName,subCategory)">Save</button>
			        </div>
				</div>	
			</div>
        </div>
     </div>
</div>           
<!-- -----------Edit Category-------------- -->
<div class="modal modal-primary fade stick-up" id="categoryEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header clearfix text-left">
        		<!-- <div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                <button class="close" ng-click="notificationClose()"></button>
	                <strong>Error: </strong><span ng-bind="categoryError"></span>
	            </div>  -->
        		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip">
        			<i class="fa fa-close"></i>
                </button> 
                <h4>Category Edit</h4>
            </div> 
            <div class="modal-body">
            	<div class="alert alert-danger" role="alert" ng-show="checkError==0">
	                <button class="close" ng-click="notificationClose()"></button>
	                <strong>Error: </strong><span ng-bind="categoryError"></span>
	            </div>
            	<div class="row">
					<div class="col-sm-12">
						<div class="form-group" data-plugin="formMaterial">
							<div class="row">
								<div class="col-sm-3">	
									<label class="floating-label">Category Name</label>
								</div>	
								<div class="col-sm-9">	
									<input type="text" class="form-control" ng-model="categoryEdit.categoryName">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<select multiple="multiple" id="groupEditCategory" ng-model="categorySelected" name="my-select[]">
					       <option ng-repeat="test in categorySelectColumnData" >{{test}}</option>
					    </select>
					</div>
					<div class="col-sm-1" style="margin-top: 34%;">
						<button ng-click="addSubCategory()" class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>
					</div>
					<div class="col-sm-5">
						<div  style="height: 350px;overflow: auto;border: 1px solid #ccc; margin-top: 10%;">
						    <ul>
						        <li ng-repeat="(key,value) in selectedGroup">
						        	  <input type="text" value="{{key}}" ng-model="subCategory[$index]" style="border: 0px;margin-left: 10px;width: 50%;">
						        	  <i class="fa fa-trash" style="cursor: pointer;" ng-click="deleteGroup(key)"></i>
						        	  <i class="fa fa-plus" style="cursor: pointer;" ng-click="clicked($event)"></i>
						        	  <!--  <input type="text" ng-model="subCategory[$index]">--> 
						              <ul class="insideUl" >
						                  <li style="width:80%" ng-repeat="dimension in value">
						                  	<span>{{dimension}}</span>
						                  	<i class="fa fa-minus" style="cursor: pointer;" ng-click="deleteGroupValue(key,$index,dimension)"></i>
						                  </li> 
						              </ul>
						        </li>
						    </ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
			            <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="cateogryUpdate(selectedGroup,categoryEdit.categoryName,subCategory)">Save</button>
			        </div>
				</div>	
			</div>
        </div>
     </div>
</div>         