<div class="bar" pg-horizontal-menu>
    <div class="pull-right">
        <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" pg-horizontal-menu-toggle>
            <i class=" pg-close_line"></i>
        </a>
    </div>
    <div class="bar-inner">
        <ul>
            <li>
                <a href="javascript:;">
                    Whats <span class="semi-bold">new </span>
                </a>
            </li>
            <li class="classic">
                <a href="javascript:;">
                    Classic <span class="semi-bold">Menu</span> <span class="arrow"></span>
                </a>
                <ul class="classic">
                    <li>
                        <a href="#">UI Elements
                            <span class="description">
                                Find which UI elements suits you the 
                                most.
                            </spam>
                        </a>
                    </li>
                    <li>
                        <a href="#">Message & Notifications
                            <span class="description">
                                Alerts help to gain user attention and 
                                give...
                            </spam>
                        </a>
                    </li>
                    <li>
                        <a href="#">Buttons
                            <span class="description">
                                Basic buttons are traditional buttons 
                                ...
                            </spam>
                        </a>
                    </li>
                    <li>
                        <a href="#">Sliders
                            <span class="description">
                            Basic slider with different options use 
                            of ...
                            </spam>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="horizontal">
                <a href="javascript:;">
                    Horizontal <span class="semi-bold">Menu</span> <span class="arrow"></span>
                </a>
                <ul class="horizontal">
                    <li>
                        <a href="#">UI Elements</a>
                    </li>
                    <li>
                        <a href="#">Message & Notifications</a>
                    </li>
                    <li>
                        <a href="#">Buttons</a>
                    </li>
                    <li>
                        <a href="#">Sliders</a>
                    </li>
                </ul>
            </li>
            <li class="mega">
                <a href="javascript:;">
                    Mega <span class="semi-bold">Menu </span><span class="arrow"></span>
                </a>
                <ul class="mega">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="sub-menu-heading bold">Features UI</div>
                                <img src="assets/img/demo/pages_icon.png" alt="" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" width="60">
                            </div>
                            <div class="col-sm-3">
                                <div class="sub-menu-heading bold"> UI Elements</div>
                                <ul class="sub-menu">
                                    <li> <a href="#"> Typography </a> </li>
                                    <li> <a href="#"> Messages & Notifications </a> </li>
                                    <li> <a href="#"> Notifications </a> </li>
                                    <li> <a href="#">Icons</a> </li>
                                    <li> <a href="#">Buttons</a> </li>
                                    <li> <a href="#"> Tabs & Accordions </a> </li>
                                    <li> <a href="#">Sliders</a> </li>
                                    <li class="active"> <a href="#">Group list </a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <div class="sub-menu-heading bold">Apps</div>
                                <ul class="sub-menu">
                                    <li> <a href="#">Social </a> </li>
                                    <li> <a href="#">Email </a> </li>
                                    <li> <a href="#">Calendar </a> </li>
                                </ul>
                                <div class="sub-menu-heading bold"> Forms</div>
                                <ul class="sub-menu">
                                    <li> <a href="#">Form Elements </a> </li>
                                    <li> <a href="#">Form Layouts</a> </li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <div class="sub-menu-heading bold">Extra</div>
                                <ul class="sub-menu">
                                    <li> <a href="#"> Invoice </a> </li>
                                    <li> <a href="#">Login </a> </li>
                                    <li> <a href="#">Register </a> </li>
                                    <li> <a href="#">Gallery</a> </li>
                                    <li> <a href="#">Timeline</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</div>