<style>
.modal{
	background: rgba(51, 51, 51, 0.62);
}
ul li{
   list-style: none;
}
.operatorHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .operatorHover {
        opacity: 1;
    }
    .functionHover {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .functionHover {
        opacity: 1; 
    }

    .columnNameMeasure {
        opacity: 0;
        color: blue;
    }

    .custLiWidth:hover .columnNameMeasure {
        opacity: 1;
    } 
    .custLiWidth{
    	width: 100%;
    	text-align: left;
    }
    ul{
       padding-left: 0px;
    }
</style>
<!-- Rename keys  --> 
<div class="modal modal-primary fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Rename Column</span></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-12">
                            	<div class="form-group form-material floating" data-plugin="formMaterial">
								
									<input type="text" class="form-control" ng-model="metadataObjColumnName.reNameInput">
									<label class="floating-label">Name</label>
								</div>
                            </div>
                        </div>
                         <div class="row">
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveRename(metadataObjColumnName)">Save</button>
		                    </div>
		                </div>
		                
                </form>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END Rename modal  -->
<!-- Filter  --> 
<div class="modal modal-primary fade stick-up" id="myModelFilter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Filter</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-6">
                            	<h5>Column</h5>
                            	<ul class="list-unstyled example" style="height: 200px;overflow: auto;">
									<li class="margin-bottom-15" ng-repeat="keys in tableColumns">
									   <label for="checkboxDimension{{$index}}">
									   {{keys.columnName | limitTo:18}}{{ keys.columnName.length > 18 ? '...' : ''}}
									   </label>
									   <span style="float: right;"><a href="javascript:void(0)" ng-click="insertFilterColumn(keys)">Add</a></span>
									</li> 
								</ul>
                            </div>
                            <div class="col-sm-6">
                            	<h5>Conditions
                            	<span style="float: right;"><button class='btn btn-xs btn-primary' ng-click="insertFilterColumn('and')">AND</button>&nbsp; &nbsp;<button class='btn btn-xs btn-primary' ng-click="insertFilterColumn('or')">OR</button></span>
                            	</h5>
                            	
                            	<textarea rows="10" id="condition" ng-model="condition" class="form-control"></textarea>
                            </div> 
                            <div class="col-sm-6"> 
                            	<input type="checkbox" ng-model="limitCheck" ng-click="limitCheck !=limitCheck">Limit
                            </div>
                            <div class="col-sm-6" ng-show="limitCheck">
                            	 <input type="text" ng-model="limitInput" class="form-control">
                            </div>
                        </div>
                         <div class="row">
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-primary waves-effect waves-classic" ng-click="saveFilter(condition,limitInput)">Save</button>
		                    </div>
		                </div>
		                
                </form>
                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END Rename modal  -->
<!-- measure Calculation -->
<!-- Rename keys  -->
         