<!-- START PAGE COVER -->
<div class="container-fluid container-fixed-lg">
	<!-- YOU CAN REMOVE .container-fixed-lg TO DISABLE THE FEATURE WHERE THE CONTENT
                 ALIGNS TO THE CENTER WITHOUT STRECTHING UNGLY ON 1800PX(1080P & 4/5K MONITORS) UP WORDS SCREEN
                  -->
	<!-- CONTENT GOES HERE-->
	<div class="row">
		<div class="col-md-12">
			<h4>
				Metadata
				<div pg-form-group class="form-group form-group-default pull-right">
					<label>Search</label> <input type="text" class="form-control"
						ng-model="metafilter" required>
				</div>
			</h4>
		</div>
		<div class="col-md-12">
			<h5>
				<div class="col-md-6">
					<!-- <ui-select ng-model="sourceFilter" theme="bootstrap">
						<ui-select-match placeholder="Select Datasource">{{$select.selected.connectionName}}</ui-select-match>
						<ui-select-choices repeat="source in sourcedata track by $index | filter: $select.search.connectionName" value="{{source.connectionId}}">
							<div ng-bind-html="trustAsHtml((source.connectionName| highlight: $select.search))"></div>
						</ui-select-choices> 
					</ui-select> -->
					<select class="form-control" ng-model="sourceFilter">
						<option selected="selected" value="">All</option>
						<option ng-repeat="source in sourcedata" value="{{source.id}}">{{source.connectionName}}</option>
					</select>
				</div>
				<div class="pull-right">
					<a href="#/app/createMetadata" title="" 
						class="btn btn-success btn-block m-t-5 ng-binding">New
						Metadata
					</a>
				</div>
			</h5>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12 m-t-15">
			<div class="col-sm-3 m-b-10" ng-repeat="meta in metaList | filter:sourceFilter | filter:metafilter">
				<div class="ar-3-1 ">
					<!-- START WIDGET -->
					<div
						class="widget-4 panel  no-margin widget-loader-bar customPortlet"
						pg-portlet progress="bar" ng-click="metaEdit(meta)">
						<div class="container-sm-height full-height">
							<div class="panel-body">
								<div class="col-sm-height col-top">
									<div class="col-sm-4">
										<img src="../assets/img/wm-logo.svg" class="customImage mw-logo">
									</div>
									<div class="col-sm-8">
										<div class="text-black b-grey b-l p-l-10 m-t-15">
											<span class="font-montserrat fs-11 "> <label>{{meta.name}}</label>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END WIDGET -->
				</div>
			</div>
			<h5 ng-hide="(metaList|filter:metafilter).length" >No Datasource Found</h5>
		</div>
	</div>
</div>