<!-- START SECONDARY SIDEBAR MENU-->
<div ng-include src=" 'tpl/metadataEdit-drawer.html' " include-replace></div>
<!-- END SECONDARY SIDEBAR MENU -->
<div class="inner-content full-height" > 
	<div class="container-fluid container-fixed-lg">
		<div class="col-md-12" style="padding: 0px;">
			<div class="panel panel-transparent" style="padding: 0px;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" style="padding: 0px;">
                            <div pg-portlet class="panel panel-default scroll-over" id="custHeightFirstdiv" style="border:0px;">
                                <div class="panel-heading">
                                    <div class="panel-title">Portlet Title</div>
                                    <div class="panel-controls">
			                           <ul>
			                              <li> 
						                      <button type="button" class="btn btn-complete btn-block m-t-5" ng-click="saveMetadata()" ng-show="metadataSaveShow==1">Save</button>
			                              </li>
			                           </ul>
			                         </div>
                                </div> 
                                <div style="transform: translate(0px,40px);">
	                                <div class="panel-body " id="queryLayout">
	                                    <div class="row-sm-height" id="dash-border" dnd-list="model" dnd-drop="onDrop(event, index, item, external, type, 'itemType')" >
										<div gridster="gridsterOptions" style="height: 900px !important;width: 900px !important;">
												<ul style="list-style: none;">
													<li gridster-item="widget"	ng-repeat="widget in dashboard.widgets" id="parent-{{$index}}" class="mygrid parent parent-0" style="border: 2px solid #ccc;;margin-bottom: 60px;margin-right: 100px;position: absolute;z-index: 99;">
														<img src="../assets/img/join.svg" width="50px" height="50px;" id="image{{$index}}" ng-if="$index!=0" ng-click="popup($index,widget)" class="joinImage">
														<!-- ng-controller="CustomWidgetCtrl" -->
														<div class="box">
															<div class="box-header">
																<h5 style="font-size:14px;text-align: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
																	<input type="hidden" class="selecttable"
																		value="{{widget.dbTab}}"> {{ widget.name }}	
																</h5>
															</div>
														</div>
													</li>
												</ul>
											</div>		
			                            </div>
	                                </div> 
	                             </div>   
                            </div>
                        </div>                         
                    </div>
                </div>
            </div>
		</div>
		<div style="position: absolute;left: 0;right: 0;bottom: 0;margin-left: 24.4%;top:48%;" ng-hide="joinConfiguration">
			<div pg-portlet class="panel panel-default" id="custHeightSeconddiv" on-refresh="refreshTest('#portlet-basic')" style="height: 100%;">
			                                <div class="panel-heading ">
			                                    <div class="panel-title">Table
			                                    </div>
			                                </div>
			                                <div class="panel-body">
			                                   <div class="row">
                       							  <div class="col-md-12">
                       							  	<div ui-grid="{ data: uiGridData }" class="grid" style="height: 280px;overflow: auto;">
											             <!-- ng-show="updatebtn" -->
											             <div id="dataTableDiv"></div>
											             <div style="margin-top: 9.5%;margin-left: 43%;" class="progress-circle-indeterminate" ng-show="loadingBar"></div>
											             <button class="btn btn-success btn-cons" data-ng-click="getData(source.sourceoption)"  style="margin-top: 9.5%;margin-left: 44.5%;" ng-show="updateBtnOnLoad">Update</button>
                       							  	</div>
                       							  </div>
                       						  </div>
                       					  </div>	  	  
										 </div>                                
									</div>
									<div style="position: absolute;left: 0;right: 0;bottom: 0;margin-left: 24.3%;top:48%" ng-show="joinConfiguration">
	                            		<div pg-portlet class="panel panel-default" id="custHeightSeconddiv" on-refresh="refreshTest('#portlet-basic')" style="height: 100%;">
			                                <div class="panel-heading ">
			                                    <div class="panel-title">Configure Join
			                                    </div>
			                                    <div class="panel-controls">
			                                        <ul>
			                                            <li><a href="" class="portlet-close" ng-click="closePopup()"><i class="portlet-icon portlet-icon-close"></i></a>
			                                            </li>
			                                        </ul>
			                                    </div>
			                                </div>
			                                <div class="panel-body">
			                                   <div class="row">
                       							  <div class="col-md-8">
                       							  	<div class="panel-title">Data source</div>
                       							  	
                       							  	 	<table class="table table-striped grid"  ui-grid="{ data: uiGridData }" class="grid">
                       							  	 		<tr>
                       							  	 			<th><select ng-model="Form.leftColumnTable" ng-change="getValueVariable(Form.leftColumnTable)">
                       							  	 			<option ng-repeat="tableName in selectedTableName"  ng-if="tableName!=selectTable" >{{tableName}}</option>
                       							  	 			</select></th> 
                       							  	 			<th><label>{{selectjoin}}</label></th>
                       							  	 			<th><label>{{selectTable}}</label></th>
                       							  	 		</tr>
                       							  	 		<tr>
                       							  	 			<td>
																	<div class="form-group m-b-10">
									                                    <select ng-model="Form.node[0].leftColumn" required>
																			<option></option>
																			<option ng-repeat="columnName in selectLeftColumnNameList">{{columnName}}</option>
																		</select>
									                                </div>
																</td>
                       							  	 			<td></td>
                       							  	 			<td>
																	<div class="form-group m-b-10">
									                                    <select ng-model="Form.node[0].rightColumn" required>
																		<option></option>
																		<option ng-repeat="columnName in selectedColumnNameList">{{columnName}}</option>
																	</select>
									                                </div>
																</td>
                       							  	 		</tr>
                       							  	 	</table>
                       							  	 	<button class="btn btn-primary btn-cons pull-right" ng-click="popOverSave(Form)">Save</button>
                       							  </div>
                       							  <div class="col-md-4">
                       							  	<div class="panel-title">Join Type</div>	
                       							  	<div class="col-md-3 joinHover Inner" ng-click="joinType('Inner')">
                       							  		<img src="../assets/img/join_inner.svg">
                       							  		Inner 
                       							  	</div>
                       							  	<div class="col-md-3 joinHover Left" ng-click="joinType('Left')">
                       							  		<img src="../assets/img/join_left.svg">
                       							  		Left
                       							  	</div>
                       							  	<div class="col-md-3 joinHover Right" ng-click="joinType('Right')">
                       							  		<img src="../assets/img/join_right.svg">
                       							  		Right
                       							  	</div>
                       							  	<div class="col-md-3 joinHover Outer" ng-click="joinType('Outer')">
                       							  		<img src="../assets/img/join_outer.svg">
                       							  		Outer 
                       							  	</div>
                       							  </div>
                       							</div>  
			                                </div>
			                            </div> 
	    </div>
	</div>
</div>
<!-- START MODALS -->
<div ng-include src=" 'tpl/metadata-add-modal.html' "	include-replace></div>
<!-- END MODALS -->