<nav class="secondary-sidebar padding-0 full-height custScrollFirst">
	
		<!-- Nav tabs -->
		<ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-left custUl"
			pg-tab-dropdownfx>
			<li class="active"><a data-toggle="tab" pg-tab href="#home"><span
					><i class="pg-home"></i></span></a></li>
			<li><a data-toggle="tab" pg-tab href="#profile"><span
					><i class="pg-home"></i></span></a>
			</li>
		</ul> 
		<!-- Tab panes -->
		<div class="tab-content" style="padding: 0px;">
			<div class="tab-pane active" id="home" >
				<div class="row">
					<div class="col-md-12">
						<div pg-form-group
							class="form-group form-group-default form-group-default-select">
							<label class="">Datasource List</label>
							<div pg-form-group
								class="form-group form-group-default form-group-default-select">
								<ui-select ng-model="source.sourceoption" ng-change="sourceSelect(source.sourceoption)" ng-disabled="true" theme="bootstrap">
								<ui-select-match placeholder="Select Datasource">{{$select.selected.connectionName}}</ui-select-match>
								<ui-select-choices repeat="source in sourcedata track by $index | filter: $select.search.connectionName">
								<div ng-bind-html="trustAsHtml((source.connectionName| highlight: $select.search))"></div>
								</ui-select-choices> 
								</ui-select>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group form-group-default form-group-default-select custBorderSidebar">
							<label class="">Search</label> 
							<div pg-form-group class="form-group form-group-default form-group-default-select">
								<input type="text" class="form-control custText" ng-model="metaDataListSearch">
							</div>
						</div>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default borderTop" >
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" ng-class="{collapsed:!collapseThree}"
														ng-click="collapseThree=!collapseThree" aria-expanded="false"
														aria-controls="collapseThree">Table List</a>
												</h4>
											</div>
											<div class="panel-collapse collapse in scroll-content auto-overflow" style="max-height:350px;" role="tabpanel"	aria-labelledby="headingThree" ng-class="{in:collapseThree}">
													     <div class="col-md-12" data-ng-repeat="tableListval in tableList | filter:metaDataListSearch">
														     <div class="checkbox check-primary">
														      <input type="checkbox"  ng-true="{{tableListval.tableName}}" ng-false="0" id="table{{$index}}" ng-model="Attributes.checboxValue[tableListval.tableName]" ng-click="onDrop(event,$index ,tableListval.tableName, external, type, 'itemType',Attributes.checboxValue[tableListval.tableName])">
														      <label for="table{{$index}}" style="width:100%">{{tableListval.tableName}}</label>
														      </div>
                                                         </div>
                        					</div>
										</div>
							</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="profile">
				 <div class="row scroll" ui-jq="scrollbar" ui-options="{ignoreOverlay: false}">
			        <div class="col-md-12" >
			            <div class="sm-m-l-5 sm-m-r-5">
			                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			                    <div class="panel panel-default">
			                        <div class="panel-heading" role="tab" id="headingOne">
			                            <h4 class="panel-title">
			                            <a>
			                             Measure
			                            </a>
			                          </h4>
			                        </div>
			                        <div class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingOne" ng-class="{in:collapseOne}">
			                            <div class="panel-body" style="height:180px;overflow: auto;" >
			                                <div >
			                                	<ul class="lg-icon" ng-repeat="keys in columnTypekeysArrayMeasure">
					                                <li style="width: 80%"><span style="word-wrap: break-word;">{{keys.reName}}</span>
					                                	<span class="pull-right dropdown" style="line-height: 28px;cursor: pointer;"  ><i class="fa fa-ellipsis-v" data-toggle="dropdown" aria-hidden="true"></i>
					                                		<ul class="dropdown-menu" role="menu">
											                    <li><a href="" ng-click="renameKeys(keys.reName,$index)">Rename</a>
											                    </li>
											                    <li><a href=""  ng-click="moveToDimMeasure('Dimension',keys.reName)">Move To Dimension</a>
											                    </li>
											                    <li><a href="" ng-click="columnCalculation(keys.reName,$index)">Create Calculation</a>
											                    </li>
											                    <li><a href="" ng-click="deleteColumn(keys.reName)">Delete</a>
											                    </li>
											                </ul>
					                                	</span>
					                                </li>
					                            </ul>
											 </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				                 <div class="panel panel-default">
			                        <div class="panel-heading" role="tab" id="headingTwo">
			                            <h4 class="panel-title">
			                            <a class="collapsed" ng-class="{collapsed:!collapseTwo}" ng-click="collapseTwo=!collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			                            Dimension
			                            </a>
			                          </h4>
			                        </div>
			                        <div id="collapseTwo" class="panel-collapse in collapse" role="tabpanel" aria-labelledby="headingTwo" ng-class="{in:collapseTwo}">
			                            <div class="panel-body" style="height:180px;overflow: auto;">
			                            	<ul class="lg-icon" ng-repeat="keys in columnTypekeysArrayDimension">
					                                <li style="width: 80%"><span>{{keys.reName}}</span>
					                                	<span class="pull-right dropdown" style="line-height: 28px;cursor: pointer;"  ><i class="fa fa-ellipsis-v" data-toggle="dropdown" aria-hidden="true"></i>
					                                		<ul class="dropdown-menu" role="menu">
											                    <li><a href="" ng-click="renameKeys(keys.reName,$index)">Rename</a>
											                    </li>
											                    <li><a href="" ng-click="moveToDimMeasure('Measure',keys.reName)">Move To Measure</a>
											                    </li>
											                    <li><a href="" ng-click="createCategory(keys)">Create Group</a>
											                    </li>
											                    <li><a href="" ng-click="deleteColumn(keys.reName)">Delete</a>
											                    </li>
											                </ul>
					                                	</span>
					                                	
					                                </li>
					                        </ul>
			                            </div>
			                        </div>
			                    </div>
		                  </div>  
			            </div>
			        </div>
			    </div>
			</div>
			
		</div>
</nav>


