<style>
.modal {
	background: rgba(51, 51, 51, 0.62);
}

ul li {
	list-style: none;
}

.operatorHover {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .operatorHover {
	opacity: 1;
}

.functionHover {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .functionHover {
	opacity: 1;
}

.columnNameMeasure {
	opacity: 0;
	color: blue;
}

.custLiWidth:hover .columnNameMeasure {
	opacity: 1;
}

.custLiWidth {
	width: 100%;
	text-align: left;
}

ul {
	padding-left: 0px;
}
</style>

<!-- Rename keys  -->
<div class="modal modal-primary fade stick-up" id="dashboardListView"
	tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="icon md-close"></i>
				</button>
				<h4>Select Dashboard To View Reports</h4>
			</div>
			<div class="modal-body">
				<textarea id="summernote"></textarea> 
				<button class="btn btn-primary" ng-click="saveText()">save</button>
			</div>
		</div>
	</div>
</div>






<div class="modal modal-primary fade stick-up" id="Common_View_Setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="icon md-close"></i>
				</button>
				<h4>Common Settings  </h4>
			</div>
			<div class="modal-body">			
                <form role="form" name="formValidation">
                    <div class="row" >                         
                         
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Display Report Header </label>
                         		<br>
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="yes" >Yes									
                         		<input type="radio" name="Report_Header" ng-model="CommonSettingObject.report_Header" value="no" checked="checked" >No									
							</div>
                         </div>                                                                                                
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Text Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerTextcolor" >									
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Background Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.headerBgcolor" >									
							</div>
                         </div> 
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Margin</label>
                         		<div class="row">
	                         		<div class="col-sm-6"> 
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignLeft" >
	                         		</div>
	                         		<div class="col-sm-6">
	                         			<input type="text" class="form-control" ng-model="CommonSettingObject.marignRight" >
	                         		</div>		
	                         	</div>									
							</div>
                         </div>      
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Display Main Header </label>
                         		<br>
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="yes" >Yes									
                         		<input type="radio" name="Main_Header" ng-model="CommonSettingObject.main_Header" value="no" checked="checked" >No									
							</div>
                         </div> 
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Backgroud Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyBackgroud">									
							</div>
                         </div>
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Text Color</label>
                         		<input type="color" class="form-control" ng-model="CommonSettingObject.companyColor">									
							</div>
                         </div>    
                     </div>                      
                    <div class="row">
 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="CommonSettingData(CommonSettingObject)">Save</button>	
	                    </div>
                	</div>                	
                </form> 

			</div>
		</div>
	</div>
</div>



<div class="modal modal-primary fade stick-up" id="Custom_View_Setting" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="icon md-close"></i>
				</button>
				<h4>Custom Settings </h4>
			</div>
			<div class="modal-body">			
                <form role="form" name="formValidation">
                    <div class="row" >                         
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Display Report Header </label>
                         		<br>
                         		<input type="radio" name="Report_Header" ng-model="CustomSettingObject.report_Header" value="yes" >Yes									
                         		<input type="radio" name="Report_Header" ng-model="CustomSettingObject.report_Header" value="no" checked="checked" >No									
							</div>
                         </div>                                                                                                
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Text Color </label>
                         		<input type="color" class="form-control" ng-model="CustomSettingObject.headerTextColor" >									
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Report Header Background Color </label>
                         		<input type="color" class="form-control" ng-model="CustomSettingObject.headerBgColor" >									
                         	</div>                           
                     	</div>                      
                    </div>                      
                    <div class="row">
 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="CustomSettingData(CustomSettingObject)">Save</button>	
	                    </div>
                	</div>                	
                </form> 

			</div>
		</div>
	</div>
</div>

<div class="modal modal-primary fade stick-up" id="companyHeaderSet" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header clearfix text-left">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right"
					data-original-title="Close" ui-jq="tooltip">
					<i class="icon md-close"></i>
				</button>
				<h4>Company header</h4>
			</div>
			<div class="modal-body">			
                <form role="form" name="formValidation">
                    <div class="row" >                         
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Name</label>
                         		<input type="text" class="form-control" ng-model="companySet.name" >										
							</div>
                         </div>                                                                                                
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Tag Line</label>
                         		<input type="text" class="form-control" ng-model="companySet.description" >										
							</div>
                         </div>                           
                         <div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Logo</label>
                         		<input type="file" id="logo" class="form-control" ng-model="companySet.logo" >									
                         	</div>                           
                     	</div>  
                     	<div class="col-sm-6">
                         	<div class="form-group" >
                         		<label>Company Logo Width</label>
                         		<input type="text"  class="form-control" ng-model="companySet.logoWidth" >									
                         	</div>                           
                     	</div>                      
                    </div>                      
                    <div class="row">
 	                    <div class="col-sm-12">
	                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="companyHeaderSave(companySet)" >Save</button>	
	                    </div>
                	</div>                	
                </form> 

			</div>
		</div>
	</div>
</div>
<!-- END Rename modal  -->
<!-- measure Calculation -->
<!-- Rename keys  -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>