<!-- START SECONDARY SIDEBAR MENU-->
<!-- END SECONDARY SIDEBAR MENU -->
<div ng-include src=" 'tpl/dashboard-drawer.html'" include-replace></div>

<div class="inner-content full-height" style="overflow: hidden;">
<button ng-click="addReport()" value="add report"></button>
   <div data-gridster="dashboardCommonSettings">
		<ul>
			<li data-gridster-item="reportContainer"
				data-ng-repeat="reportContainer in dashboardPrototype.reportContainers"
				style="padding: 0; margin: 0;"
				class="li_box" id="{{ 'chart-' + reportContainer.id }}">
				<!--id="li_{{reportContainer.id}}"-->
				<div  style="margin-top:15%; text-align:center;" data-ng-show="showInfo[reportContainer.id]">
					<h5 style="color:#777;">
						{{chartErrorText}}
					</h5>
				</div>
			</li>
		</ul>
	</div>
</div>