<div class="modal modal-primary fade stick-up" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" data-placement="right" data-original-title="Close" ui-jq="tooltip"><i class="icon md-close"></i>
                </button> 
                <h4>Department</span></h4>
            </div>
            <div class="modal-body">
                <form role="form" name="formValidation">
                        <div class="row">
                            <div class="col-sm-12">
                            	<div class="form-group form-material floating"
								data-plugin="formMaterial">
									<input type="text" class="form-control"
										ng-model="name">
									<label class="floating-label">Name</label>
								</div>
                            </div>
                        </div>
                         <div class="row">
		                    <div class="col-sm-4 m-t-10 sm-m-t-10 pull-right">
		                        <button type="button" class="btn btn-primary waves-effect waves-classic pull-right" ng-click="save(name)">Save</button>
		                    </div>
		                </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>