<nav class="site-navbar navbar navbar-default navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header navbar-width">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <span class="navbar-brand-text hidden-xs-down">Dashboard</span>
        </div>

    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" href="javascript:void(0)" data-placement='bottom' data-original-title="Add Report" ui-jq="tooltip" data-toggle="tooltip" role="button" ng-click="addReport()">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
                <li style="width: 83px"></li>
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <div class="form-group form-material" style=" width:200%; margin-bottom: 0px;margin-top: 8px;">
                        <input placeholder="Dashboard Name..." class="form-control custPlaceholder"
                               ng-model="dashName.dashboardName">
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

                <li class="nav-item cust-topBar-btn  custbutton">
                    <button type="button" class="btn btn-block  waves-effect waves-classic savebutton"
                            ng-click="saveDashboard()">Save
                    </button>
                </li>
                <li class="nav-item cust-topBar-btn">
                    <button type="button" class="btn btn-block btn-danger waves-effect waves-classic closebutton"
                            ng-click="closedashboard()">Close
                    </button>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link icon md-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                       role="button">
                        <span class="sr-only">Toggle Search</span>
                    </a>
                </li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="javascript:void(0)"
                       aria-expanded="false"
                       data-animation="scale-up" role="button">
                      <span class="avatar avatar-online">
                        <img src="assets/img/5.jpg" alt="...">
                        <i></i>
                      </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-account"
                                                                                              aria-hidden="true"></i>
                            Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-card"
                                                                                              aria-hidden="true"></i>
                            Billing</a>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-settings"
                                                                                              aria-hidden="true"></i>
                            Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon md-power"
                                                                                              aria-hidden="true"></i>
                            Logout</a>
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->

        <!-- End Site Navbar Seach -->
    </div>
</nav>
<div class="site-menubar">
    <div class="site-menubar-body">
    <div class="nav-tabs-vertical nav-tabs-inverse">

            <div class="site-menu" data-plugin="menu">
                <div class="nav-tabs-vertical" data-plugin="tabs">
                <ul class="nav nav-tabs nav-tabs-solid" data-plugin="nav-tabs" role="tablist" style="height: 216px;">
	                <li class="active" role="presentation">
	                  <a data-toggle="tab" href="javascript:void(0);" data-target="#exampleTabsIconLeftOne" aria-controls="exampleTabsIconLeftOne" role="tab">
	                    <i class="icon md-home m-0" aria-hidden="true"></i>
	                  </a>
	                </li>
	                <li role="presentation">
	                  <a data-toggle="tab" href="javascript:void(0);" data-target="#exampleTabsIconLeftTwo" aria-controls="exampleTabsIconLeftTwo" role="tab">
	                    <i class="icon md-settings margin-0" aria-hidden="true"></i>
	                  </a>
	                </li>

              </ul>
                    <div class="tab-content" style="padding:0px;">
                        <div class="tab-pane active" id="exampleTabsIconLeftOne" role="tabpanel" style="min-height: 500px;">

                            <select ng-model="querySelector" ng-change="selectDataSource(querySelector)" class="form-control">
                                 <option ng-repeat="list in queryList" value="{{list}}">{{list.name}}</option>
                            </select>
                            <!--<div class="form-group form-material">
                                <input type="text" class="form-control" placeholder="Search" autocomplete="off" ng-model="columnSearch">
                            </div>-->
                            <div class="panel-group " id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 0px;">
                                <div class="panel panel-default borderTop borderBottom" ng-show="graphAxis">
	                                <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
				                      <a href="javascript:void(0)" class="panel-title" data-toggle="collapse" data-target="#exampleCollapseDefaultOne" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultOne">
				                         Measure
				                    	 </a>
				                    </div>
				                    <div class="panel-collapse collapse show" id="exampleCollapseDefaultOne" aria-labelledby="exampleHeadingDefaultOne" role="tabpanel" aria-expanded="true" style="height: 0px;">
				                      <div class="panel-body accordionsCust" style="height: 150px;overflow: auto;">
				                        	 <div class="col-md-12" id="measure"
                                                 ng-repeat="measure in tableColumns |filter:columnSearch"
                                                 ng-if="measure.dataKey=='Measure'">
                                                <div class="col-md-10">

                                                    <div class="checkbox check-success">
                                                        <input type="checkbox" value="{{measure}}"
                                                               id="checkboxMeasure{{$index}}"
                                                               ng-model="Attributes.checkboxModelMeasure[measure.reName]"
                                                               ng-true-value='{{measure}}' ng-false-value='0'
                                                               ng-click="chartDraw(measure,'measure')">
                                                        <label for="checkboxMeasure{{$index}}" >{{measure.reName}}</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <div class="btn-group" style="cursor: pointer">
                                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}"
                                                           ng-click="measureDimensionDropdown('measure',$index)"
                                                           aria-hidden="true" data-toggle="dropdown"
                                                           aria-expanded="false"></i>
                                                        <ul class="dropdown-menu custDropdownMeasure"
                                                            style="position: fixed;">
                                                            <li class="dropdown-submenu">
                                                                <a href="#">Aggregate</a>
                                                                <ul class="dropdown-menu subdropDown"
                                                                 style="height: 160px; overflow:auto;" >
                                                                    <li><a  data-ng-repeat="aggregate in aggregates" ng-click="onAggregateSelect(measure,aggregate); chartDraw(aggregate,'aggregate')">{{aggregate.value}}</a></li>

                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Move to Dimension</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
				                      </div>
				                    </div>
                                </div>
                                <div class="panel panel-default marginTop borderTop" ng-show="graphAxis"
                                     style="border-top: 0px;">
                                     <div class="panel-heading" id="exampleHeadingDefaultOne" role="tab">
				                      <a href="javascript:void(0)" class="panel-title" data-toggle="collapse" data-target="#exampleCollapseDefaultTwo" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultTwo">
				                         Dimension
				                    	 </a>
				                    </div>
                                    <div class="panel-collapse collapse show" id="exampleCollapseDefaultTwo" aria-labelledby="exampleHeadingDefaultTwo" role="tabpanel" aria-expanded="true" style="height: 0px;">
				                      <div class="panel-body accordionsCust" style="height: 150px;overflow: auto;">
				                        	 <div class="col-md-12" id="dimension"
                                                 ng-repeat="dimension in tableColumns|filter:columnSearch"
                                                 ng-if="dimension.dataKey=='Dimension'">
                                                <div class="col-md-10">
                                                    <div class="checkbox check-success">
                                                        <input
                                                        class="icheckbox-primary"
                                                         type="checkbox" value="{{dimension}}"
                                                               id="checkboxDimension{{$index}}"
                                                               ng-click="chartDraw(dimension,'dimension')"
                                                               ng-model="Attributes.checkboxModelDimension[dimension.reName]"
                                                               ng-true-value='{{dimension}}' ng-false-value='0' data-plugin="iCheck">
                                                        <label for="checkboxDimension{{$index}}" style="width: 100%">{{dimension.reName}}</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="btn-group" style="cursor: pointer">
                                                        <i class="fa fa-ellipsis-v buttonDropdownMeasure{{$index}}"
                                                           ng-click="measureDimensionDropdown('measure',$index)"
                                                           aria-hidden="true" data-toggle="dropdown"
                                                           aria-expanded="false"></i>
                                                        <ul class="dropdown-menu custDropdownMeasure"
                                                            style="position: fixed;">

                                                            <li class="dropdown-submenu">
                                                                <a href="#">Aggregate</a>
                                                                <ul class="dropdown-menu subdropDown"
                                                                    style="height: 100px;">
                                                                    <li><a href="#">Sum</a></li>
                                                                    <li><a href="#">Count</a></li>
                                                                </ul>
                                                            </li>
                                                            <li><a href="#">Move to Measure</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
				                      </div>
				                    </div>
                                </div>
                            </div>
                            <div class="panel-group" id="accordion" role="tablist"
                                 aria-multiselectable="true" ng-show="graphAxis">

                                <div class="panel panel-default">
                                    <div class="panel-heading" id="exampleHeadingDefaultThree" role="tab">
				                      <a href="javascript:void(0)" class="panel-title" data-toggle="collapse" data-target="#exampleCollapseDefaultThree" data-parent="#exampleAccordionDefault" aria-expanded="true" aria-controls="exampleCollapseDefaultThree">
				                         Charts
				                    	 </a>
				                    </div>
                                    <div class="panel-collapse collapse show" id="exampleCollapseDefaultThree" aria-labelledby="exampleHeadingDefaultThree" role="tabpanel" aria-expanded="true" style="height: 0px;">
                                        <div class="panel-body">
                                            <div class="icon-preview m-t-10">
                                                <div class="row center-margin m-b-10">
                                                    <div class="col-xs-3 text-center m-b-15"
                                                         ng-repeat="chart in charts">
                                                        <div class="custBorderHover" id="{{chart.key}}" data-placement='top' data-original-title="{{chart.name}}" ui-jq="tooltip" data-toggle="tooltip"
                                                             ng-click="chartSelect($index,chart);chartDraw(chart,'chart');"  style="padding: 5px; border: 2px solid #FFF">
                                                            <img src="{{chart.value}}"  style="width: 25px;height: 25px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="exampleTabsIconLeftTwo" role="tabpanel">
 							 <div class="form-group form-material floating col-sm-12" style="padding-bottom:100%">
                            <!--  <label class = col-sm-10>Select  Filter</label><i class="icon glyphicon glyphicon-filter m-0 icon-setting col-sm-2" aria-hidden="true"></i> -->
                            <div class="btnOption">
                                <label class = col-sm-10>Filter</label>
								<!--<ul style="padding: 0;margin: 0;list-style: none;">
									<li class="">
										<div class="dropdown dropdown-menu-primary" style="float:right;">
										<a data-target="javascript:void(0)" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true"  style="font-size: 18px;">
											<i class="fa fa-ellipsis-v"  aria-hidden="true" style="color: #000;"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-primary pull-right" style="max-height: 152px;overflow-x: scroll; padding:10px;" role="menu" ng-model="checkboxModel">
											<li  ng-repeat="measure in tableColumns |filter:columnSearch" style="padding:4px;" ><a href="javascript:void(0)" ng-click="filterAdd()">{{measure.columnName}}</a>
											</li>
										</ul>
										</div>
									</li>
								</ul>-->
                                <!--ng-if="tableColumns.length>0"-->

                                    <select id="filter" class="" multiple="multiple" data-ng-model="checkboxModel" ng-change="filterAdd()" >
                                        <option ng-repeat="column in tableColumns" value="{{column}}">{{column.reName}}</option>
                                    </select>

                                    <h6 ng-hide ='dashboardValidation1'>Please Select Metadata First</h6>
							</div>
                                 <div ng-repeat="filter in filerTemp">
                                       <label>{{filter.key}}</label>
                                       <div class="row form-material" style="margin-left: 14%;">
                                           <select class="filterSelect" data-ng-model="test" multiple ng-change="filterBy(test,filter)">
                                               <option ng-repeat="filterData in filtersTo[filter.key]">{{filterData}}</option>
                                           </select>
                                       </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page -->
