<style>
.card .card-content{
  min-height: auto !important;
} 
body{
  background-image: url("assets/img/bg.jpg");
  background-size: cover;
}
</style> 
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page"  data-color="blue">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
                    <div class="row" style="margin-top: -60px !important;">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form method="#" action="#">
                                <div class="card card-login">
                                    <div class="card-header text-center">
                                        <h4 class="card-title">Sign UP </h4>
                                    </div>
                                    <div class="card-content">                              
                                        <div class="input-group">
                                            <span class="input-group-addon"> 
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Name</label>
							         			<input type="text" class="form-control" autofocus="yes" name="first" ng-model="newuser.firstname">
                                            </div>
                                        </div>
                                        <!-- <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">face</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Last Name</label>
						                        <input type="text" class="form-control" autofocus="yes" name="last" ng-model="newuser.lastname" />
                                            </div>
                                        </div> -->
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">email</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email</label>
						                        <input type="email" class="form-control" autofocus="yes" name="email" ng-model="newuser.email" />
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
						                        <input type="password" class="form-control" autofocus="yes" name="password" ng-model="newuser.password" />
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" style="padding: 6px 20px 0px;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Confirm Password</label>
						                        <input type="password" class="form-control" autofocus="yes" name="password" ng-model="newuser.cpassword" />		
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="text-center">
                                        <button type="button" class="btn btn-lg" ng-click="signUp(newuser)" >Sign UP</button>
								        <p>Have an account? <a href="javascript:void(0);" ng-click="signInRedirect()">Sign in</a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
                        
        </div>
    </div>

